Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

Improved config handling
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
Labels: none

Added comments
  transport/session/src/balancer/controller.rs
Labels: none

Added new metrics to METRICS.md
  METRICS.md
  transport/session/src/balancer/controller.rs
Labels: none

Add comments
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/lib.rs
Labels: none

add back gas oracle. make http requestor implemented on surf client
  chain/rpc/src/client.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/transport.rs
Labels: crate:hopr-chain-rpc

Small code refactor
  transport/session/src/lib.rs
  transport/session/src/manager.rs
Labels: none

migrate core functions of rpc crate
  chain/rpc/src/client.rs
  chain/rpc/src/errors.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
Labels: crate:hopr-chain-rpc

use Url in GasOracleFiller
  chain/rpc/src/client.rs
  chain/rpc/src/rpc.rs
Labels: crate:hopr-chain-rpc

migrate all the tests
  chain/rpc/src/rpc.rs
Labels: crate:hopr-chain-rpc

make GasOracleFiller also query for gas limit
  chain/rpc/src/client.rs
Labels: crate:hopr-chain-rpc

remove resolve some warning
  chain/rpc/src/transport.rs
Labels: crate:hopr-chain-rpc

migrate chain-actions/index
  chain/rpc/src/errors.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
Labels: crate:hopr-chain-rpc

migrate tests in indexer of chain-rpc crate
  chain/rpc/src/indexer.rs
Labels: crate:hopr-chain-rpc

remove ethers imports
  Cargo.lock
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
  chain/rpc/src/lib.rs
Labels: dependencies, crate:hopr-chain-rpc

make Surf compulsory for both runtimes
  Cargo.lock
  chain/rpc/Cargo.toml
Labels: dependencies, crate:hopr-chain-rpc

add alloy in chain-indexer toml file, and migrate constants
  chain/indexer/Cargo.toml
  chain/indexer/src/constants.rs
  chain/indexer/src/lib.rs
Labels: dependencies, crate:hopr-chain-indexer

move errors and traits
  chain/indexer/src/errors.rs
  chain/indexer/src/traits.rs
Labels: crate:hopr-chain-indexer

Update API
  METRICS.md
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/session.rs
  transport/api/src/lib.rs
  transport/session/src/manager.rs
Labels: dependencies, crate:hopr-lib, crate:hopr-transport, crate:hoprd-api

Rebased code
  Cargo.lock
  db/api/src/protocol.rs
  hoprd/rest-api/src/session.rs
  transport/protocol/src/lib.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-transport-protocol, crate:hoprd-api

Simplified code
  db/sql/src/protocol.rs
Labels: none

migrate handler
  chain/indexer/src/errors.rs
  chain/indexer/src/handlers.rs
  chain/indexer/src/lib.rs
  chain/rpc/src/lib.rs
Labels: crate:hopr-chain-indexer, crate:hopr-chain-rpc

adjust unit test because the condition will not be met on chain
  chain/indexer/src/handlers.rs
Labels: crate:hopr-chain-indexer

migrate chain-indexer crate
  chain/indexer/src/block.rs
  chain/indexer/src/lib.rs
Labels: crate:hopr-chain-indexer

remove ethers-rs from chain-indexer
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/errors.rs
  chain/indexer/src/traits.rs
Labels: dependencies, crate:hopr-chain-indexer

remove unused imports in rpc
  chain/rpc/src/client.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
Labels: crate:hopr-chain-rpc

Updated RateLimitedStream to support 0 rates
  Cargo.lock
  hoprd/rest-api/src/session.rs
  transport/session/Cargo.toml
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/initiation.rs
  transport/session/src/manager.rs
Labels: dependencies, crate:hoprd-api

add alloy-rs and migrate chain-action/payload from ethers
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/payload.rs
Labels: dependencies, crate:hopr-chain-actions

remove unused code and ethers-rs code
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/payload.rs
Labels: dependencies, crate:hopr-chain-actions

migrate executor. migrate tranpsort to reqwest and surf based on runtime
  Cargo.lock
  chain/actions/Cargo.toml
  chain/api/Cargo.toml
  chain/api/src/executors.rs
  chain/api/src/lib.rs
  chain/rpc/src/client.rs
  chain/rpc/src/errors.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  chain/rpc/src/transport.rs
Labels: dependencies, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-rpc

fix
  flake.nix
Labels: toolchain

fmt
  sdk/python/localcluster/pyproject.toml
Labels: none

missing deps
  flake.nix
  sdk/python/localcluster/pyproject.toml
  uv.lock
Labels: toolchain

fix uv usage
  Makefile
Labels: none

fix uv usage
  Makefile
Labels: none

Improve RateLimitedStream
  hoprd/rest-api/src/session.rs
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/manager.rs
Labels: crate:hoprd-api

Improve RateLimitedStream vol. 2
  transport/session/src/balancer/rate_limiting.rs
Labels: none

Fix tests
  hopr/hopr-lib/tests/session_integration_tests.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-lib, crate:hopr-transport-protocol

operations, tags, validation warnings
  hoprd/rest-api/src/account.rs
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/checks.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/network.rs
  hoprd/rest-api/src/node.rs
  hoprd/rest-api/src/peers.rs
  hoprd/rest-api/src/session.rs
  hoprd/rest-api/src/tickets.rs
Labels: crate:hoprd-api

ci: Show build logs
  .github/workflows/tests.yaml
Labels: toolchain

ci: Fix smoke test name
  .github/workflows/tests.yaml
Labels: toolchain

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
