Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

Without features
  nix/cargo-bench.nix
Labels: none

Nix develop
  .github/workflows/bencher.yaml
  nix/cargo-bench.nix
Labels: toolchain

audit: Fix issues by bumping relevant dependencies (#7016)
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  flake.nix
Labels: toolchain, dependencies

Rename test cases
  .github/workflows/bencher.yaml
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/benches/session.rs
  crypto/packet/benches/packet_crypto.rs
  transport/mixer/benches/mixer_throughput.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: toolchain, dependencies, crate:hopr-crypto-packet, crate:hopr-transport-protocol

Change Zulip channel
  .github/workflows/merge.yaml
Labels: toolchain

deps: Update dependencies 20250409 (#7017)
  Cargo.lock
  Cargo.toml
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
  transport/api/Cargo.toml
  transport/protocol/Cargo.toml
Labels: dependencies, crate:hopr-transport, crate:hopr-transport-protocol, crate:hoprd

ci: Update renovate configuration
  .github/renovate.json
Labels: toolchain

Change Zulip channel (#7020)
  .github/workflows/merge.yaml
Labels: toolchain

ci: Update renovate configuration (#7021)
  .github/renovate.json
Labels: toolchain

Add `get_hash` method to SURB
  crypto/sphinx/src/surb.rs
  transport/network/src/messaging.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-transport-network

deps: Update newest versions
  Cargo.lock
  Cargo.toml
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
Labels: dependencies

deps: Update the deprecated serde_yaml and add ignore for renovate
  .github/renovate.json
  Cargo.toml
Labels: toolchain, dependencies

deps: gerandom update
  Cargo.toml
Labels: dependencies

Add conditional benchmark export
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/lib.rs
Labels: dependencies, crate:hopr-crypto-sphinx

deps: Improve comments
  Cargo.toml
  common/network-types/Cargo.toml
Labels: dependencies

Change Zulip notification
  .github/workflows/merge.yaml
Labels: toolchain

Change Zulip notification (#7030)
  .github/workflows/merge.yaml
Labels: toolchain

deps: Update most packages
  .github/renovate.json
  Cargo.toml
Labels: toolchain, dependencies

deps: Update the sql dependencies
  Cargo.lock
  Cargo.toml
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
Labels: dependencies

deps: Update ethers
  Cargo.toml
Labels: dependencies

Update Rust to 1.86
  .cargo/audit.toml
  Cargo.toml
  chain/indexer/src/block.rs
  chain/types/src/utils.rs
  common/network-types/Cargo.toml
  rust-toolchain.toml
Labels: toolchain, dependencies, crate:hopr-chain-indexer, crate:hopr-chain-types

move unset SOURCE_DATE_EPOCH to shell hook
  nix/shell.nix
Labels: none

remove python package related parameters
  nix/shell.nix
Labels: none

format
  .cargo/audit.toml
  nix/shell.nix
Labels: none

deps: Update newest versions (20250414) (#7024)
  .cargo/audit.toml
  .github/renovate.json
  Cargo.lock
  Cargo.toml
  chain/indexer/src/block.rs
  chain/types/src/utils.rs
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
  rust-toolchain.toml
Labels: toolchain, dependencies, crate:hopr-chain-indexer, crate:hopr-chain-types

Extend usage of `uv` (#6997)
  .github/workflows/k8s.yaml
  .github/workflows/tests.yaml
  flake.nix
  nix/shell.nix
  pyproject.toml
  scripts/run-local-cluster.sh
  sdk/python/api/pyproject.toml
  sdk/python/localcluster/pyproject.toml
  tests/pyproject.toml
  tests/pytest.ini
  tests/requirements.txt
  tests/test_websocket_api.py
  uv.lock
Labels: toolchain, testing

Hook up the return path into send_message
  .cargo/audit.toml
  Cargo.lock
  crypto/packet/src/lib.rs
  db/sql/Cargo.toml
  db/sql/src/accounts.rs
  db/sql/src/cache.rs
  db/sql/src/protocol.rs
  logic/path/src/path.rs
Labels: dependencies, crate:hopr-path, crate:hopr-crypto-packet

Reformat
  crypto/packet/src/chain.rs
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/lib.rs
  crypto/sphinx/src/surb.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

nix: Fix clean docker script
  flake.nix
  nix/ciShell.nix
  nix/mkShell.nix
  scripts/clean-docker-images.py
Labels: toolchain

nix: Add separate shells
  nix/ciShell.nix
  nix/mkShell.nix
Labels: none

nix: add test shell
  nix/testShell.nix
Labels: none

nix: Add ci test shell
  nix/ciShell.nix
  nix/ciTestShell.nix
  nix/mkShell.nix
  nix/shell.nix
  nix/testShell.nix
Labels: none

nix: Add dev shell
  nix/ciShell.nix
  nix/devShell.nix
  nix/testShell.nix
Labels: none

clean up script
  .github/workflows/cleanup.yaml
  .github/workflows/tests.yaml
  .github/workflows/zizmor.yaml
  flake.nix
  nix/devShell.nix
  scripts/clean-docker-images.py
Labels: toolchain

format
  nix/ciShell.nix
  nix/ciTestShell.nix
  nix/devShell.nix
  nix/shell.nix
  nix/testShell.nix
  scripts/clean-docker-images.py
Labels: toolchain

scripts: Improve docs
  scripts/clean-docker-images.py
Labels: toolchain

wip
  flake.nix
  nix/rust-package.nix
Labels: toolchain

nix: Fix sub shells
  nix/rust-package.nix
  nix/shell.nix
  nix/testShell.nix
  scripts/clean-docker-images.py
Labels: toolchain

Update scripts/clean-docker-images.py
  scripts/clean-docker-images.py
Labels: toolchain

nix: Remove obsolete build
  flake.nix
  nix/rust-package.nix
  scripts/clean-docker-images.py
Labels: toolchain

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
