Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

fix descriptions warnings
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/node.rs
  hoprd/rest-api/src/session.rs
  hoprd/rest-api/src/tickets.rs
Labels: crate:hoprd-api

tests: Use candidate binaries
  flake.nix
  tests/conftest.py
Labels: toolchain, testing

sdk: Improve api call timeout
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
Labels: none

ci: Cleanup the nix shells and speed up CI builds (#7070)
  .github/workflows/build-docker.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/tests.yaml
  .github/workflows/zizmor.yaml
  Cargo.toml
  chain/rpc/src/client.rs
  flake.nix
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hopr/hopr-lib/tests/common/mod.rs
  hopr/hopr-lib/tests/node_integration_tests.rs
  nix/ciShell.nix
  nix/ciTestShell.nix
  nix/devShell.nix
  nix/mkShell.nix
  nix/rust-builder.nix
  nix/rust-package.nix
  nix/shell.nix
  nix/testShell.nix
  scripts/clean-docker-images.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
  tests/conftest.py
Labels: toolchain, dependencies, testing, crate:hopr-lib, crate:hopr-chain-rpc

fix some examples
  hoprd/rest-api/src/account.rs
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/network.rs
  hoprd/rest-api/src/node.rs
  hoprd/rest-api/src/peers.rs
  hoprd/rest-api/src/session.rs
  hoprd/rest-api/src/tickets.rs
Labels: crate:hoprd-api

Add SURB balancer test
  hopr/hopr-lib/tests/session_integration_tests.rs
  transport/protocol/tests/common/mod.rs
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/initiation.rs
  transport/session/src/manager.rs
Labels: crate:hopr-lib, crate:hopr-transport-protocol

Fix benchmark
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: crate:hopr-transport-protocol

update payload
  chain/actions/src/payload.rs
Labels: crate:hopr-chain-actions

add missing lib
  Cargo.lock
  hopr/hopr-lib/Cargo.toml
Labels: dependencies, crate:hopr-lib

migrate chain integration test
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: crate:hopr-lib

update common mode
  hopr/hopr-lib/tests/common/mod.rs
Labels: crate:hopr-lib

replace ethers lib
  hopr/hopr-lib/tests/node_integration_tests.rs
Labels: crate:hopr-lib

remove ethers-rs from hopr-lib
  Cargo.lock
  hopr/hopr-lib/Cargo.toml
Labels: dependencies, crate:hopr-lib

add library
  Cargo.lock
  hopli/Cargo.toml
Labels: dependencies, crate:hopli

migrate environment config
  hopli/src/environment_config.rs
Labels: crate:hopli

Add docs
  Cargo.lock
  db/api/src/protocol.rs
  db/sql/src/cache.rs
  db/sql/src/protocol.rs
  transport/api/src/helpers.rs
  transport/session/Cargo.toml
  transport/session/src/balancer/controller.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-transport

nix: Add missing lld to shell
  nix/mkShell.nix
Labels: none

tests python version
  tests/pyproject.toml
  uv.lock
Labels: testing

nix: Add missing lld to shell (#7110)
  nix/mkShell.nix
Labels: none

Increase packet size to 1000, update docs
  crypto/packet/src/lib.rs
  transport/api/src/config.rs
  transport/api/src/lib.rs
  transport/session/src/manager.rs
Labels: crate:hopr-crypto-packet, crate:hopr-transport

deps: Update cargo dependencies (#7109)
  Cargo.lock
  Cargo.toml
  crypto/types/Cargo.toml
Labels: dependencies, crate:hopr-crypto-types

Lint
  hopli/Cargo.toml
Labels: dependencies, crate:hopli

Fix another test
  Cargo.lock
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
Labels: dependencies, crate:hopr-chain-rpc

Fix some rpc issue
  chain/rpc/src/client.rs
  chain/rpc/src/rpc.rs
Labels: crate:hopr-chain-rpc

Update benchmarks
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: crate:hopr-transport-protocol

Tests passing
  Cargo.lock
  chain/actions/src/action_state.rs
  chain/actions/src/channels.rs
  chain/actions/src/node.rs
  chain/actions/src/payload.rs
  chain/actions/src/redeem.rs
  chain/indexer/src/block.rs
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  common/network-types/src/session/frame.rs
  common/network-types/src/session/state.rs
  common/network-types/src/session/utils.rs
  hopli/src/methods.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hopr/hopr-lib/tests/common/mod.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/inbox/src/inbox.rs
  hoprd/inbox/src/ring.rs
  logic/path/Cargo.toml
  logic/path/src/lib.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/promiscuous.rs
  transport/mixer/benches/mixer_throughput.rs
  transport/mixer/src/channel.rs
  transport/network/src/heartbeat.rs
  transport/network/src/ping.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/src/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/session/src/manager.rs
  transport/ticket-aggregation/src/lib.rs
Labels: dependencies, crate:hopr-path, crate:hopr-strategy, crate:hopli, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd-inbox

Update packages and revert nix devEnv change
  Cargo.lock
  Cargo.toml
  nix/mkShell.nix
  nix/rust-builder.nix
Labels: dependencies

chain-rpc: Fix handling of http error codes
  chain/rpc/src/client.rs
Labels: crate:hopr-chain-rpc

Fix tokio runtime block_on in session tests
  transport/session/src/manager.rs
Labels: none

Fix benchmarks
  transport/mixer/Cargo.toml
  transport/mixer/benches/mixer_throughput.rs
Labels: dependencies

Avoid adding release-latest tag on PR not target to them
  .github/scripts/.gitignore
  .github/scripts/workflow-stats.sh
  .github/workflows/build-docker.yaml
Labels: toolchain

Improve the measuring test.
  Cargo.lock
  transport/p2p/Cargo.toml
  transport/p2p/tests/p2p_transport_test.rs
Labels: dependencies, crate:hopr-transport-p2p

bench: Remove the need for the 'testing' feature
  common/network-types/Cargo.toml
  common/network-types/benches/session.rs
  common/network-types/src/session/mod.rs
Labels: dependencies

Use bench without the testing feature (#7112)
  common/network-types/Cargo.toml
  common/network-types/benches/session.rs
  common/network-types/src/session/mod.rs
Labels: dependencies

Bump crates
  Cargo.lock
  chain/actions/Cargo.toml
  chain/api/Cargo.toml
  chain/indexer/Cargo.toml
  chain/rpc/Cargo.toml
  common/async-runtime/Cargo.toml
  common/internal-types/Cargo.toml
  common/network-types/Cargo.toml
  crypto/packet/Cargo.toml
  crypto/random/Cargo.toml
  db/entity/Cargo.toml
  db/migration/Cargo.toml
  hopli/Cargo.toml
  hoprd/inbox/Cargo.toml
  hoprd/rest-api/Cargo.toml
  logic/path/Cargo.toml
  logic/strategy/Cargo.toml
  transport/api/Cargo.toml
  transport/network/Cargo.toml
  transport/p2p/Cargo.toml
  transport/protocol/Cargo.toml
Labels: dependencies, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-packet, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd-inbox, crate:hoprd-api

Revert "Bump crates"
  Cargo.lock
  chain/actions/Cargo.toml
  chain/api/Cargo.toml
  chain/indexer/Cargo.toml
  chain/rpc/Cargo.toml
  common/async-runtime/Cargo.toml
  common/internal-types/Cargo.toml
  common/network-types/Cargo.toml
  crypto/packet/Cargo.toml
  crypto/random/Cargo.toml
  db/entity/Cargo.toml
  db/migration/Cargo.toml
  hopli/Cargo.toml
  hoprd/inbox/Cargo.toml
  hoprd/rest-api/Cargo.toml
  logic/path/Cargo.toml
  logic/strategy/Cargo.toml
  transport/api/Cargo.toml
  transport/network/Cargo.toml
  transport/p2p/Cargo.toml
  transport/protocol/Cargo.toml
Labels: dependencies, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-packet, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd-inbox, crate:hoprd-api

Bump crates
  Cargo.lock
  chain/actions/Cargo.toml
  chain/api/Cargo.toml
  chain/indexer/Cargo.toml
  chain/rpc/Cargo.toml
  common/async-runtime/Cargo.toml
  common/internal-types/Cargo.toml
  common/network-types/Cargo.toml
  crypto/packet/Cargo.toml
  crypto/random/Cargo.toml
  db/entity/Cargo.toml
  db/migration/Cargo.toml
  hopli/Cargo.toml
  hoprd/inbox/Cargo.toml
  hoprd/rest-api/Cargo.toml
  logic/path/Cargo.toml
  logic/strategy/Cargo.toml
  transport/api/Cargo.toml
  transport/network/Cargo.toml
  transport/p2p/Cargo.toml
  transport/protocol/Cargo.toml
Labels: dependencies, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-packet, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd-inbox, crate:hoprd-api

WIP on testing
  Cargo.lock
  db/sql/src/cache.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
  transport/session/Cargo.toml
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/manager.rs
Labels: dependencies, crate:hoprd-api

nix: Allow llvm-cov in dev shell
  .envrc
  nix/devShell.nix
  nix/mkShell.nix
Labels: none

Fixed microsecond bug
  Cargo.lock
  transport/session/Cargo.toml
  transport/session/src/balancer/rate_limiting.rs
Labels: dependencies

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
