Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing

Add tolerance to heartbeat tests
  transport/network/src/heartbeat.rs
Labels: none

using http instead of grpc
  Cargo.lock
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
Labels: dependencies

Improve the heartbeat test
  transport/network/src/heartbeat.rs
Labels: none

Optimize querying of channels in packet processing
  chain/actions/src/channels.rs
  chain/actions/src/redeem.rs
  chain/api/src/lib.rs
  db/api/src/accounts.rs
  db/api/src/channels.rs
  db/api/src/tickets.rs
Labels: none

Fix sort order in accounts.rs
  db/api/src/accounts.rs
Labels: none

use existing EnvironmentType and NetworkContractAddress struct from hopr-lib
  Cargo.lock
  hopli/Cargo.toml
  hopli/src/environment_config.rs
  hopli/src/faucet.rs
  hopli/src/network_registry.rs
  hopli/src/safe_module.rs
  hopr/hopr-lib/src/lib.rs
Labels: dependencies

Use refs in DB channels APIs to avoid additional copies
  chain/actions/src/channels.rs
  chain/actions/src/redeem.rs
  chain/api/src/lib.rs
  chain/indexer/src/handlers.rs
  db/api/src/channels.rs
  db/api/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  transport/api/src/lib.rs
Labels: none

change config
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
Labels: dependencies

Fix API /tickets descriptions
  hoprd/rest-api/src/lib.rs
Labels: none

Improve chain event processing from logs
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  chain/indexer/src/traits.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  db/api/src/lib.rs
Labels: none

Improve flow
  chain/indexer/src/block.rs
Labels: none

Make logs more informative
  chain/indexer/src/block.rs
Labels: none

thread names
  hoprd/hoprd/src/main.rs
Labels: none

Fix API /tickets descriptions (#6126)
  hoprd/rest-api/src/lib.rs
Labels: none

Add PR labels only for local PRs
  .github/workflows/label.yaml
Labels: toolchain

Fix an issue with failing ticket statistics due to stale todo!() macro instead of the code
  .github/workflows/lint.yaml
  chain/rpc/src/indexer.rs
  db/api/src/tickets.rs
  transport/api/src/lib.rs
Labels: toolchain

Fix and update the smoke tests
  hoprd/rest-api/src/lib.rs
  tests/requirements.txt
  transport/protocol/src/msg/mixer.rs
Labels: testing

Improve the message on failing RPC provider panic
  chain/rpc/src/indexer.rs
Labels: none

Fix the listing of announced peers in the REST API
  hoprd/rest-api/src/lib.rs
Labels: none

Saint Louis fixes from practical testing session (#6124)
  .github/workflows/label.yaml
  .github/workflows/lint.yaml
  chain/rpc/src/indexer.rs
  db/api/src/tickets.rs
  hoprd/rest-api/src/lib.rs
  tests/requirements.txt
  transport/api/src/lib.rs
  transport/protocol/src/msg/mixer.rs
Labels: toolchain, testing

add some integration tests for hopli
  hopli/src/identity.rs
  hopli/src/methods.rs
  hopli/src/network_registry.rs
  hopli/src/safe_module.rs
  tests/conftest.py
  tests/node.py
  tests/test_hopli.py
Labels: testing

remove unused SmartContractConfig
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/src/lib.rs
Labels: none

replace some unwrap
  hopli/src/methods.rs
  hopli/src/utils.rs
  tests/test_hopli.py
Labels: testing

ci: Allow longer docs builds
  .github/workflows/build-docs.yaml
Labels: toolchain

bump hopli version
  Cargo.lock
  hopli/Cargo.toml
Labels: dependencies

Fix unit tests
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
Labels: dependencies

Improve unit tests and return updated channel entry on ticket redeem
  chain/indexer/src/handlers.rs
  common/internal-types/src/acknowledgement.rs
Labels: none

ci: Allow longer docs builds (#6130)
  .github/workflows/build-docs.yaml
Labels: toolchain

nix: Add pre-commit configuration
  flake.lock
  flake.nix
Labels: toolchain

nix: Get treefmt to work
  .gitignore
  ethereum/contracts/Makefile
  ethereum/contracts/foundry.toml
  flake.lock
  flake.nix
Labels: toolchain

nix: Add fmt
  .github/workflows/lint.yaml
  Makefile
  README.md
  flake.nix
  pyproject.toml
  scripts/ldbdump.py
  tests/test_integration.py
  tests/test_websocket_api.py
Labels: toolchain, testing

.github/labeler.yml:

toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - 'flake.lock'
          - 'flake.nix'
          - '.github/**/*'
          - '.githooks/**/*'
          - '.processes/**/*'
          - 'scripts/**/*'
          - 'rust-toolchain.toml'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'Cargo.lock'
          - '**/Cargo.toml'

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'

testing:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
