Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:core-path, crate:core-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:chain-actions, crate:chain-api, crate:chain-indexer, crate:chain-rpc, crate:chain-types, crate:bindings, crate:core-transport, crate:core-network, crate:core-p2p, crate:core-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api

Execute load tests on K8s staging (#6228)
  .github/workflows/load-tests.yaml
Labels: toolchain

chain: do not fetch logs if no topics are set (#6227)
  chain/indexer/src/block.rs
  chain/indexer/src/constants.rs
  chain/indexer/src/handlers.rs
  chain/indexer/src/traits.rs
  db/api/src/info.rs
Labels: crate:hopr-db-api, crate:chain-indexer

chain: replace hopr_boost topics with hopr_token topics
  chain/indexer/src/constants.rs
Labels: crate:chain-indexer

chain: replace hopr_boost topics with hopr_token topics (#6229)
  chain/indexer/src/constants.rs
Labels: crate:chain-indexer

Prevent huge heap allocation by unfolding a stream of subranges
  chain/rpc/src/indexer.rs
Labels: crate:chain-rpc

debug: print checksum on every block
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

Remove unused variable, improve stream
  chain/indexer/src/block.rs
  chain/rpc/src/indexer.rs
Labels: crate:chain-indexer, crate:chain-rpc

Update comments
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

Apply `must_use` convention to TicketBuilder
  common/internal-types/src/tickets.rs
Labels: crate:hopr-internal-types

chain: cleanup comment
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

chain: cleanup unused variable
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

Do not use ethers-rs pagination of `eth_getLogs` (#6226)
  chain/indexer/src/block.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: crate:hopr-lib, crate:chain-indexer, crate:chain-rpc

Fail hard on failure to load the block number from RPC provider
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

Fail hard on failure to load the block number from RPC provider (#6230)
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

Added feedback
  chain/actions/src/lib.rs
  common/internal-types/src/announcement.rs
Labels: crate:hopr-internal-types, crate:chain-actions

Fix subtraction operations on Durations to be saturating
  hoprd/hoprd/src/main.rs
  hoprd/inbox/src/inbox.rs
Labels: crate:hoprd, crate:hoprd-inbox

Update checksum printout
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

Fix subtraction operations on Durations to be saturating (#6233)
  hoprd/hoprd/src/main.rs
  hoprd/inbox/src/inbox.rs
Labels: crate:hoprd, crate:hoprd-inbox

Update checksum printout (#6234)
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

Path finding should only consider nodes that proven to be reliable
  logic/path/src/selectors/legacy.rs
Labels: crate:core-path

Update the assertiveness of coderabbit.ai
  .coderabbit.yaml
Labels: toolchain

Update the assertiveness of coderabbit.ai (#6236)
  .coderabbit.yaml
Labels: toolchain

Sync also peer qualities from the DB into the channel graph (if any)
  db/api/src/peers.rs
  hopr/hopr-lib/src/lib.rs
  logic/strategy/src/promiscuous.rs
  transport/api/src/lib.rs
  transport/api/src/processes/indexer.rs
  transport/network/src/network.rs
Labels: crate:core-strategy, crate:hopr-db-api, crate:hopr-lib, crate:core-transport, crate:core-network

Path finding should only consider nodes that proven to be reliable (#6235)
  db/api/src/peers.rs
  hopr/hopr-lib/src/lib.rs
  logic/path/src/selectors/legacy.rs
  logic/strategy/src/promiscuous.rs
  transport/api/src/lib.rs
  transport/api/src/processes/indexer.rs
  transport/network/src/network.rs
Labels: crate:core-path, crate:core-strategy, crate:hopr-db-api, crate:hopr-lib, crate:core-transport, crate:core-network

The `/node/peers` API endpoint sometimes returned empty multiaddresses as `announced`
  db/api/src/accounts.rs
  db/api/src/peers.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/lib.rs
Labels: crate:hopr-db-api, crate:hopr-lib, crate:core-transport, crate:hoprd-api

Fix call
  hoprd/rest-api/src/lib.rs
Labels: crate:hoprd-api

Call `trim()` first before testing for emptiness
  db/api/src/peers.rs
Labels: crate:hopr-db-api

Store background processes as JoinHandles
  hopr/hopr-lib/src/lib.rs
Labels: crate:hopr-lib

Reorganize the code into the chain api crate
  Cargo.toml
  chain/actions/src/action_queue.rs
  chain/actions/src/channels.rs
  chain/actions/src/node.rs
  chain/actions/src/redeem.rs
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/indexer/src/block.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/src/main.rs
  logic/strategy/Cargo.toml
  transport/api/src/processes/indexer.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: dependencies, crate:core-strategy, crate:hopr-lib, crate:chain-actions, crate:chain-api, crate:chain-indexer, crate:core-transport, crate:core-protocol, crate:hoprd

Cleanup chain objects and configs into the chain api crate
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/config.rs
  chain/api/src/errors.rs
  chain/api/src/lib.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/config.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/bin/hoprd-cfg.rs
  hoprd/hoprd/src/config.rs
  transport/api/src/p2p.rs
  transport/api/src/processes/indexer.rs
Labels: dependencies, crate:hopr-lib, crate:chain-api, crate:core-transport, crate:hoprd

Extract SwarmEvenLoop as a separate object
  hopr/hopr-lib/src/lib.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
Labels: crate:hopr-lib, crate:core-transport

Move transport layer object construction into the HoprTransport
  chain/api/src/config.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/network/src/heartbeat.rs
Labels: crate:hopr-lib, crate:chain-api, crate:core-transport, crate:core-network, crate:hoprd, crate:hoprd-api

Fix lint issues
  chain/actions/src/action_queue.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
Labels: crate:chain-actions, crate:core-transport

Move all processes into the node run phase
  Cargo.lock
  Cargo.toml
  hopr/hopr-lib/src/lib.rs
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/network/src/heartbeat.rs
Labels: dependencies, crate:hopr-lib, crate:core-transport, crate:core-network

Minor cleanup
  hoprd/hoprd/src/main.rs
Labels: crate:hoprd

Add signal interception
  Cargo.lock
  Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
  vendor/cargo/signal-hook-0.3.17/.cargo-checksum.json
  vendor/cargo/signal-hook-0.3.17/CHANGELOG.md
  vendor/cargo/signal-hook-0.3.17/Cargo.lock
  vendor/cargo/signal-hook-0.3.17/Cargo.toml
  vendor/cargo/signal-hook-0.3.17/LICENSE-APACHE
  vendor/cargo/signal-hook-0.3.17/LICENSE-MIT
  vendor/cargo/signal-hook-0.3.17/README.md
  vendor/cargo/signal-hook-0.3.17/build.rs
  vendor/cargo/signal-hook-0.3.17/ci-check.sh
  vendor/cargo/signal-hook-0.3.17/examples/print.rs
  vendor/cargo/signal-hook-0.3.17/rustfmt.toml
  vendor/cargo/signal-hook-0.3.17/src/flag.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/backend.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/exfiltrator/mod.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/exfiltrator/origin.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/exfiltrator/raw.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/mod.rs
  vendor/cargo/signal-hook-0.3.17/src/lib.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/channel.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/extract.c
  vendor/cargo/signal-hook-0.3.17/src/low_level/mod.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/pipe.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/siginfo.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/signal_details.rs
  vendor/cargo/signal-hook-0.3.17/tests/default.rs
  vendor/cargo/signal-hook-0.3.17/tests/iterator.rs
  vendor/cargo/signal-hook-0.3.17/tests/shutdown.rs
Labels: dependencies, crate:hopr-lib, crate:hoprd

Add PR review recommendations
  chain/actions/src/action_queue.rs
  chain/actions/src/channels.rs
  db/api/src/ticket_manager.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/api/src/processes/indexer.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: crate:hopr-db-api, crate:hopr-lib, crate:chain-actions, crate:core-transport, crate:core-protocol, crate:hoprd

Reorganize the rest of the chain processes
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/constants.rs
  hopr/hopr-lib/src/helpers.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  transport/api/src/lib.rs
Labels: dependencies, crate:hopr-lib, crate:chain-api, crate:core-transport, crate:hoprd

Feed the coderabbit.ai
  transport/api/src/lib.rs
Labels: crate:core-transport

Test fixes after rebase
  chain/api/src/config.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: crate:hopr-lib, crate:chain-api

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:core-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:core-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:core-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:core-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:core-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:core-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
