Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

remove extra keywork arg in append
  sdk/python/localcluster/node.py
Labels: none

increase log level to show links
  sdk/python/localcluster/cluster.py
Labels: none

move links to a new line
  flake.nix
  sdk/python/localcluster/cluster.py
Labels: toolchain

Bump also Cargo.toml dependencies, not only the Cargo.lock (#6919)
  .github/renovate.json
Labels: toolchain

Remove tx begin
  db/sql/src/protocol.rs
Labels: none

Remove tx begin II
  db/sql/src/protocol.rs
Labels: none

Remove connection opening per-packet
  Cargo.lock
  db/sql/Cargo.toml
  db/sql/src/protocol.rs
Labels: dependencies

Remove unused import
  chain/rpc/src/rpc.rs
Labels: crate:hopr-chain-rpc

Simplified naming
  chain/actions/src/redeem.rs
  chain/indexer/src/handlers.rs
  common/internal-types/src/tickets.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  logic/strategy/src/auto_redeeming.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-indexer, crate:hopr-transport-protocol

build pluto image in the CI
  .github/workflows/merge.yaml
Labels: toolchain

Migrates deploy-nodes workflow to new repository and updates load tes… (#6920)
  .github/workflows/k8s.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
Labels: toolchain

fmt
  ethereum/contracts/foundry.in.toml
  flake.nix
  nix/shell.nix
  scripts/run-local-cluster.sh
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
Labels: toolchain, smart-contracts

Create a Docker image for Pluto (#6726)
  .github/workflows/merge.yaml
  ethereum/contracts/Makefile
  ethereum/contracts/script/DeployAll.s.sol
  flake.nix
  nix/shell.nix
  scripts/run-local-cluster.sh
  scripts/utils.sh
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
Labels: toolchain, smart-contracts

derivation
  flake.nix
Labels: toolchain

Improve routing data representation, add basic SURB test
  Cargo.lock
  crypto/packet/src/packet.rs
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/lib.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/sphinx/src/surb.rs
  db/sql/src/protocol.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Add MetaPacket test for RP
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/surb.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Added working UTs for ChainPacketComponents, increased payload size to 799
  common/internal-types/src/protocol.rs
  crypto/packet/src/chain.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/sphinx/src/surb.rs
Labels: crate:hopr-internal-types, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Code refactoring
  crypto/packet/benches/packet_crypto.rs
  crypto/packet/src/chain.rs
  crypto/packet/src/lib.rs
  db/sql/src/protocol.rs
Labels: crate:hopr-crypto-packet

tests: Fix teardown
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
Labels: testing

tests: Fix all other test suites
  sdk/python/localcluster/constants.py
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

tests: Use pathlib instead of os path
  sdk/python/localcluster/constants.py
Labels: none

tests: Use pathlib instead of os path (even more)
  sdk/python/localcluster/constants.py
  tests/conftest.py
Labels: testing

tests: Use PWD instead of Path
  sdk/python/localcluster/constants.py
  tests/conftest.py
Labels: testing

Serialization wip
  crypto/packet/src/chain.rs
  crypto/packet/src/return_path.rs
  crypto/sphinx/src/surb.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Serialization wip
  crypto/packet/src/chain.rs
  crypto/packet/src/return_path.rs
  crypto/sphinx/src/surb.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

tests: Add base ns3 docker image
  tests/network-simulation/compose.yaml
  tests/network-simulation/ns3/Dockerfile
Labels: testing

tests: Add helper scripts to setup/teardown netsim
  tests/network-simulation/setup.sh
  tests/network-simulation/teardown.sh
Labels: testing

tests: half-way docker configuration
  sdk/python/composecluster.params.yml
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  tests/conftest.py
  tests/requirements.txt
  tests/test_network_simulation.py
Labels: testing

formatting
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  tests/conftest.py
  tests/network-simulation/compose.yaml
  tests/network-simulation/setup.sh
  tests/network-simulation/teardown.sh
  tests/test_network_simulation.py
Labels: testing

dummy commit
  flake.nix
Labels: toolchain

Moved MetaPacket into the Sphinx crate, replaced AdditionalDataLastHop with Pseudonym
  Cargo.lock
  crypto/packet/src/chain.rs
  crypto/packet/src/errors.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/por.rs
  crypto/packet/src/return_path.rs
  crypto/packet/src/types.rs
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/errors.rs
  crypto/sphinx/src/lib.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/sphinx/src/surb.rs
  crypto/types/src/utils.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet

Code cleanup and docs
  crypto/packet/benches/packet_crypto.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/lib.rs
  crypto/sphinx/src/routing.rs
  db/sql/src/protocol.rs
  transport/network/src/messaging.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet, crate:hopr-transport-network

Smaller code cleanup
  transport/network/src/messaging.rs
Labels: crate:hopr-transport-network

Better check payload length
  crypto/packet/src/packet.rs
  crypto/packet/src/types.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  transport/protocol/src/msg/processor.rs
Labels: crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-transport-protocol

Refactoring
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/lib.rs
  crypto/sphinx/src/packet.rs
  db/sql/src/protocol.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Improve padding behavior
  crypto/packet/src/por.rs
  crypto/sphinx/src/packet.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Update flake.lock
  flake.lock
Labels: toolchain

Added more tests and refactoring
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/sphinx/src/surb.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Update nix derivations to allow upload of Pluto Docker image (#6923)
  flake.nix
Labels: toolchain

Introduce prefixed pseudonym, use pseudonym in sender key derivation
  crypto/packet/src/packet.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/sphinx/src/surb.rs
  crypto/types/src/types.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
