Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

tests: Fix per-test teardown (#6925)
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

rename pluto image
  .github/workflows/merge.yaml
  flake.nix
Labels: toolchain

Bump the flake.lock (#6927)
  flake.lock
Labels: toolchain

naming
  METRICS.md
  chain/indexer/src/handlers.rs
  logic/strategy/src/promiscuous.rs
  transport/session/src/manager.rs
Labels: crate:hopr-strategy, crate:hopr-chain-indexer

cache: Tie unrealized value of channel to epoch
  db/sql/src/cache.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
Labels: none

Bump crate version
  db/sql/Cargo.toml
Labels: dependencies

remove header validation layer
  hoprd/rest-api/src/lib.rs
Labels: crate:hoprd-api

specify content_type for metric endpoint
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
Labels: crate:hoprd-api

remove validation layer
  hoprd/rest-api/src/lib.rs
Labels: crate:hoprd-api

crate version bump
  Cargo.lock
  hoprd/rest-api/Cargo.toml
Labels: dependencies, crate:hoprd-api

remove unused import
  hoprd/rest-api/src/lib.rs
Labels: crate:hoprd-api

Minor improvements and naming
  crypto/packet/src/packet.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/surb.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  transport/protocol/src/msg/processor.rs
Labels: crate:hopr-db-api, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet, crate:hopr-transport-protocol

Add support for libp2p_stream into the swarm object
  Cargo.lock
  Cargo.toml
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
Labels: dependencies, crate:hopr-transport-p2p

fixed README formatting
  SETUP_LOCAL_CLUSTER.md
Labels: none

backport: tests: Fix per-test teardown
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

Simplify the key derivation function
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
Labels: crate:hopr-crypto-sphinx

db: Add channel ticket index fix
  Cargo.lock
  chain/actions/src/action_queue.rs
  chain/indexer/src/handlers.rs
  db/api/src/tickets.rs
  db/sql/src/channels.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
Labels: dependencies, crate:hopr-strategy, crate:hopr-db-api, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-indexer

split endpoints by content types
  hoprd/rest-api/src/lib.rs
Labels: crate:hoprd-api

db: Add some tests
  db/sql/src/tickets.rs
Labels: none

Added header version, updated dependencies, refactor derivation module
  Cargo.lock
  crypto/packet/src/packet.rs
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Simplified derivation
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/routing.rs
Labels: crate:hopr-crypto-sphinx

db: Improve ticket state update
  db/sql/src/tickets.rs
Labels: none

db: Improve stream usage
  db/sql/src/tickets.rs
Labels: none

Removed additional heap allocation
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
Labels: crate:hopr-crypto-sphinx

Updated docs
  crypto/sphinx/src/routing.rs
Labels: crate:hopr-crypto-sphinx

Updated docs
  common/primitive-types/src/primitives.rs
  crypto/packet/src/lib.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/types/src/lib.rs
  crypto/types/src/types.rs
Labels: crate:hopr-primitive-types, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet

structure
  chain/actions/src/action_queue.rs
  chain/actions/src/channels.rs
  chain/actions/src/errors.rs
  chain/types/src/actions.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
Labels: crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-types, crate:hoprd-api

elevate metric endpoint to its own group
  hoprd/rest-api/src/lib.rs
  sdk/python/api/hopr.py
Labels: crate:hoprd-api

use high level metric endpoint in localcluster
  sdk/python/api/hopr.py
Labels: none

fmt
  sdk/python/api/hopr.py
Labels: none

tests: Add xfail for websocket test
  hoprd/hoprd/src/main.rs
  tests/network-simulation/hoprd.cfg
  tests/test_websocket_api.py
Labels: testing, crate:hoprd

tests: Remove network simulation artifact
  tests/network-simulation/hoprd.cfg
Labels: testing

tests: Fix teardown
  tests/test_hopli.py
Labels: testing

tests: Fix all other test suites
  sdk/python/localcluster/constants.py
  tests/test_hopli.py
Labels: testing

tests: Use pathlib instead of os path (even more)
  tests/conftest.py
Labels: testing

nix: Update pip deps on shell load
  nix/shell.nix
Labels: none

tests: Add helper scripts to setup/teardown netsim
  tests/network-simulation/setup.sh
  tests/network-simulation/teardown.sh
Labels: testing

tests: Add base ns3 docker image
  tests/network-simulation/compose.yaml
  tests/network-simulation/ns3/Dockerfile
Labels: testing

formatting
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  tests/conftest.py
  tests/network-simulation/compose.yaml
  tests/network-simulation/setup.sh
  tests/network-simulation/teardown.sh
  tests/test_network_simulation.py
Labels: testing

tests: Use PWD instead of Path
  sdk/python/localcluster/constants.py
  tests/conftest.py
Labels: testing
