Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

format
  .github/workflows/build-docs.yaml
Labels: toolchain

Delete UNRELEASED_TOKENS.md (#6961)
  UNRELEASED_TOKENS.md
Labels: none

Follow Prometheus metrics naming convention (#6929)
  METRICS.md
  chain/indexer/src/handlers.rs
  transport/session/src/manager.rs
Labels: crate:hopr-chain-indexer

ci: Add cargo dependency caching on merge
  .github/workflows/merge.yaml
Labels: toolchain

Revert "ci: Enable cargo proxy for build workflows"
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
Labels: toolchain

ci: Improve dependency fetch
  .github/workflows/merge.yaml
Labels: toolchain

nix: Fix shell dependencies on macos
  nix/shell.nix
Labels: none

nix: Fix shell dependencies on macos (#6995)
  nix/shell.nix
Labels: none

ci: Cache deps on merge
  .github/workflows/build-binaries.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/cache-deps.yaml
  .github/workflows/merge.yaml
Labels: toolchain

ci: Remove the old vendoring approach
  .github/workflows/renovate-cargo-update.yaml
Labels: toolchain

ci: Allow caching of the nix environment
  .github/workflows/cache-deps.yaml
Labels: toolchain

ci: Update gcloud storage action
  .github/workflows/tests.yaml
Labels: toolchain

ci: Remove quotes
  .github/workflows/tests.yaml
Labels: toolchain

extend the usage of uv
  .github/workflows/tests.yaml
  .python-version
  flake.nix
  nix/shell.nix
  pyproject.toml
  scripts/run-local-cluster.sh
  tests/pytest.ini
  tests/requirements.txt
  tests/test_integration.py
  tests/test_websocket_api.py
  uv.lock
Labels: toolchain, testing

remove unnecessary code
  pyproject.toml
Labels: none

pin python version
  .python-version
  pyproject.toml
  uv.lock
Labels: none

flexible python version
  pyproject.toml
  uv.lock
Labels: none

package version flexibility
  pyproject.toml
  uv.lock
Labels: none

Update scripts/run-local-cluster.sh
  scripts/run-local-cluster.sh
Labels: toolchain

versions..
  pyproject.toml
  uv.lock
Labels: none

autopatchelf
  nix/shell.nix
Labels: none

Add benchmarks for precomputes with SURBs
  crypto/packet/benches/packet_benches.rs
Labels: crate:hopr-crypto-packet

Uncomment benches
  crypto/packet/benches/packet_benches.rs
  transport/protocol/src/msg/codec.rs
Labels: crate:hopr-crypto-packet, crate:hopr-transport-protocol

Add Bencher
  .github/workflows/bencher.yaml
Labels: toolchain

Remove lint references
  .github/workflows/bencher.yaml
Labels: toolchain

Add doc
  .github/workflows/bencher.yaml
Labels: toolchain

Fix identing
  .github/workflows/bencher.yaml
Labels: toolchain

Change trigger
  .github/workflows/bencher.yaml
Labels: toolchain

split pyproject files
  flake.nix
  pyproject.toml
  sdk/python/api/pyproject.toml
  sdk/python/localcluster/pyproject.toml
  tests/pyproject.toml
  uv.lock
Labels: toolchain, testing

fmt
  pyproject.toml
  sdk/python/api/pyproject.toml
  sdk/python/localcluster/pyproject.toml
Labels: none

ci: Pin github action for dependency caching
  .github/workflows/cache-deps.yaml
Labels: toolchain

use unified python version
  .github/workflows/k8s.yaml
  sdk/python/api/pyproject.toml
  sdk/python/localcluster/pyproject.toml
  tests/pyproject.toml
Labels: toolchain, testing

python version update oversight
  .github/workflows/k8s.yaml
Labels: toolchain

Change pipelines
  .github/workflows/bencher.yaml
  .github/workflows/merge.yaml
Labels: toolchain

[StepSecurity] ci: Harden GitHub Actions (#6950)
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .github/workflows/zizmor.yaml
Labels: toolchain

Introduce WinningProbability type
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/payload.rs
  chain/actions/src/redeem.rs
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/indexer/src/handlers.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/errors.rs
  common/internal-types/src/legacy.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  crypto/packet/Cargo.toml
  crypto/packet/src/chain.rs
  crypto/packet/src/validation.rs
  db/api/Cargo.toml
  db/api/src/info.rs
  db/api/src/protocol.rs
  db/api/src/tickets.rs
  db/entity/Cargo.toml
  db/entity/src/conversions/tickets.rs
  db/sql/src/info.rs
  db/sql/src/protocol.rs
  db/sql/src/tickets.rs
  hopli/Cargo.toml
  hopli/src/win_prob.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/rest-api/src/network.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
  transport/api/src/lib.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
  transport/protocol/tests/common/mod.rs
Labels: dependencies, crate:hopr-strategy, crate:hopr-internal-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-transport, crate:hopr-transport-protocol, crate:hoprd-api

Simplified naming
  chain/actions/src/redeem.rs
  chain/indexer/src/handlers.rs
  common/internal-types/src/tickets.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  logic/strategy/src/auto_redeeming.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-indexer, crate:hopr-transport-protocol

use request lib
  tests/pyproject.toml
  uv.lock
Labels: testing

Remove tx begin II
  db/sql/src/protocol.rs
Labels: none

Remove tx begin
  db/sql/src/protocol.rs
Labels: none
