Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

Using nix
  .github/workflows/bencher.yaml
Labels: toolchain

Using a commit github action
  .github/workflows/latexcompile.yaml
  .github/workflows/renovate-cargo-update.yaml
  scripts/commit-and-push-all-changes.sh
Labels: toolchain

Test
  .github/workflows/renovate-cargo-update.yaml
Labels: toolchain

Use token
  .github/workflows/renovate-cargo-update.yaml
Labels: toolchain

Use different token
  .github/workflows/renovate-cargo-update.yaml
Labels: toolchain

ci: Remove the remnant after physical vendoring inside the repo
  .github/workflows/renovate-cargo-update.yaml
Labels: toolchain

Add nix command
  .github/workflows/bencher.yaml
  flake.nix
Labels: toolchain

Remove build
  .github/workflows/bencher.yaml
Labels: toolchain

ci: Remove the remnant after physical vendoring inside the repo (#7008)
  .github/workflows/renovate-cargo-update.yaml
Labels: toolchain

chore(cargo): updated Cargo.lock
  Cargo.lock
Labels: dependencies

Change pipeline
  .github/workflows/bencher.yaml
Labels: toolchain

Fix cleanup pipeline
  .github/workflows/cleanup.yaml
Labels: toolchain

Testing pipeline
  .github/workflows/cleanup.yaml
Labels: toolchain

Backport python tests and expose cluster to local network (#6979)
  .gitignore
  Makefile
  flake.nix
  scripts/run-local-cluster.sh
  sdk/python/api/hopr.py
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  tests/test_integration.py
  tests/test_rest_api.py
Labels: toolchain, testing

audit: Remove the RUSTSEC-2025-0021 issue
  Cargo.lock
  Cargo.toml
Labels: dependencies

wip
  flake.nix
  nix/rust-package.nix
Labels: toolchain

audit: Remove the RUSTSEC-2024-0437 issue
  Cargo.lock
  Cargo.toml
Labels: dependencies

Install gnuplot
  nix/shell.nix
Labels: none

Rename
  .github/workflows/bencher.yaml
Labels: toolchain

Add rust compiler
  flake.nix
Labels: toolchain

audit: Add explicit configuration
  .cargo/audit.toml
  flake.nix
Labels: toolchain

Adding core-utils
  flake.nix
Labels: toolchain

Adding coreutils
  flake.nix
Labels: toolchain

deps: Update trivial dependency changes
  Cargo.lock
  Cargo.toml
Labels: dependencies

Update opentelemetry dependencies
  Cargo.lock
  Cargo.toml
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
Labels: dependencies, crate:hoprd

Add less critical updates
  Cargo.lock
  Cargo.toml
Labels: dependencies

Remove extra dependencies
  Cargo.lock
  hoprd/hoprd/Cargo.toml
  transport/api/Cargo.toml
  transport/protocol/Cargo.toml
Labels: dependencies, crate:hopr-transport, crate:hopr-transport-protocol, crate:hoprd

Add gcc
  flake.nix
Labels: toolchain

re-discover sc tests
  nix/shell.nix
Labels: none

Adding openssl
  flake.nix
Labels: toolchain

Add more packages
  flake.nix
Labels: toolchain

Adding debug
  flake.nix
Labels: toolchain

Use stdenv
  flake.nix
Labels: toolchain

export vars
  flake.nix
Labels: toolchain

Add gcc
  flake.nix
Labels: toolchain

Create derivation
  flake.nix
  nix/cargo-bench.nix
  nix/rust-package.nix
Labels: toolchain

Fix formatting
  nix/cargo-bench.nix
Labels: none

Next try
  nix/cargo-bench.nix
Labels: none

Using derivation
  .github/workflows/bencher.yaml
Labels: toolchain

Change command
  nix/cargo-bench.nix
Labels: none

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
