Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:core-path, crate:core-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:chain-actions, crate:chain-api, crate:chain-indexer, crate:chain-rpc, crate:chain-types, crate:bindings, crate:core-transport, crate:core-network, crate:core-p2p, crate:core-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:core-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:core-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:core-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:core-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:core-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:core-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**

Add feedback
  db/api/src/accounts.rs
Labels: crate:hopr-db-api

Increase the connection pool size of Peers DB
  db/api/src/db.rs
Labels: crate:hopr-db-api

Increase the connection pool size of Peers DB (#6238)
  db/api/src/db.rs
Labels: crate:hopr-db-api

Update db/api/src/accounts.rs
  db/api/src/accounts.rs
Labels: crate:hopr-db-api

Feed the linter
  db/api/src/accounts.rs
Labels: crate:hopr-db-api

Refactor the network configuration object and improve the constraints
  transport/api/src/config.rs
  transport/api/src/lib.rs
  transport/network/src/config.rs
  transport/network/src/constants.rs
  transport/network/src/lib.rs
  transport/network/src/network.rs
Labels: crate:core-transport, crate:core-network

The `/node/peers` API endpoint sometimes returned empty multiaddreses as `announced` (#6237)
  db/api/src/accounts.rs
  db/api/src/peers.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/lib.rs
Labels: crate:hopr-db-api, crate:hopr-lib, crate:core-transport, crate:hoprd-api

Update after merge conflicts
  db/api/src/peers.rs
Labels: crate:hopr-db-api

Add more connection pool parameters
  common/internal-types/src/account.rs
  db/api/src/db.rs
Labels: crate:hopr-internal-types, crate:hopr-db-api

Removed unused `hopr_created_tickets_count`
  METRICS.md
  transport/protocol/src/msg/processor.rs
Labels: crate:core-protocol

Feed the linter
  METRICS.md
Labels: none

Feed the linter vol. 2
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

db: set min_connections back to 0
  db/api/src/db.rs
Labels: crate:hopr-db-api

Add more connection pool parameters (#6242)
  common/internal-types/src/account.rs
  db/api/src/db.rs
Labels: crate:hopr-internal-types, crate:hopr-db-api

Close release 2.1.0-rc.4
  docs/changelog/changelog-2.1.0-rc.4.md
Labels: documentation

Close release 2.1.0-rc.4 (#6248)
  docs/changelog/changelog-2.1.0-rc.4.md
Labels: documentation

Bump to version 2.1.0
  hopr/hopr-lib/Cargo.toml
Labels: dependencies, crate:hopr-lib

Open release 2.1.0 (#6249)
  hopr/hopr-lib/Cargo.toml
Labels: dependencies, crate:hopr-lib

chore(cargo): updated vendored dependencies
  Cargo.lock
Labels: dependencies

Fixed merge conflict
  Cargo.lock
  chain/indexer/src/block.rs
Labels: dependencies, crate:chain-indexer

Close release 2.1.0
  docs/changelog/changelog-2.1.0.md
Labels: documentation
