Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

Fix compilation
  chain/actions/Cargo.toml
  chain/actions/src/payload.rs
  chain/api/Cargo.toml
  chain/indexer/Cargo.toml
  hopli/Cargo.toml
  hopr/hopr-lib/tests/common/mod.rs
  hopr/hopr-lib/tests/node_integration_tests.rs
Labels: dependencies, crate:hopli, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer

Fix clippy warnings
  chain/actions/src/payload.rs
  chain/api/src/lib.rs
  chain/indexer/src/handlers.rs
  chain/rpc/src/client.rs
  chain/rpc/src/helper.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  chain/rpc/src/transport.rs
  chain/types/src/constants.rs
  chain/types/src/utils.rs
  hopli/src/environment_config.rs
  hopli/src/faucet.rs
  hopli/src/methods.rs
  hopli/src/safe_module.rs
Labels: crate:hopli, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types

Fix some compiler warnings
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hopr/hopr-lib/tests/common/mod.rs
Labels: crate:hopr-lib

specify config to allow internal revert on enum conversion
  ethereum/contracts/test/Crypto.t.sol
  ethereum/contracts/test/utils/TargetUtils.t.sol
Labels: smart-contracts

fix unit test naming and assertion type
  ethereum/contracts/test/static/HoprDistributor.t.sol
Labels: smart-contracts

make revert message explicit
  ethereum/contracts/test/static/stake/HoprBoost.t.sol
Labels: smart-contracts

Add customisable environment for test nodes
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  tests/conftest.py
Labels: testing

Added feedback
  crypto/packet/src/por.rs
  hoprd/rest-api/src/session.rs
  logic/path/src/lib.rs
  tests/test_integration.py
  transport/api/src/config.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: testing, crate:hopr-path, crate:hopr-crypto-packet, crate:hopr-transport, crate:hoprd-api

Make win-prob E2E tests more robust
  tests/test_win_prob.py
  tests/utils.py
Labels: testing

Clamp microsecond values correctly
  transport/session/src/balancer/rate_limiting.rs
Labels: none

Merged master and added fixes
  Cargo.lock
  chain/indexer/src/handlers.rs
  common/internal-types/src/tickets.rs
  crypto/packet/src/packet.rs
  db/sql/src/protocol.rs
  db/sql/src/tickets.rs
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
  transport/api/src/lib.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-crypto-packet, crate:hopr-chain-indexer, crate:hopr-transport

Fixed ordering and tests
  common/internal-types/src/tickets.rs
  tests/test_integration.py
  tests/test_win_prob.py
  tests/utils.py
Labels: testing, crate:hopr-internal-types

Use tokio
  common/network-types/src/session/reassembly.rs
  common/network-types/src/session/segmenter.rs
  common/network-types/src/session/sequencer.rs
  common/network-types/src/session/socket/mod.rs
Labels: none

Added feedback
  chain/indexer/src/handlers.rs
  common/internal-types/src/tickets.rs
  crypto/packet/src/validation.rs
  db/api/src/info.rs
  db/api/src/tickets.rs
  db/sql/src/cache.rs
  db/sql/src/protocol.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
Labels: crate:hopr-internal-types, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-chain-indexer

Introduce WinningProbability type (#6921)
  Cargo.lock
  chain/actions/src/payload.rs
  chain/actions/src/redeem.rs
  chain/api/src/lib.rs
  chain/indexer/src/handlers.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/errors.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  crypto/packet/Cargo.toml
  crypto/packet/src/packet.rs
  crypto/packet/src/validation.rs
  db/api/Cargo.toml
  db/api/src/info.rs
  db/api/src/protocol.rs
  db/api/src/tickets.rs
  db/entity/src/conversions/tickets.rs
  db/sql/src/cache.rs
  db/sql/src/info.rs
  db/sql/src/protocol.rs
  db/sql/src/tickets.rs
  hopli/src/win_prob.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
  hoprd/rest-api/src/network.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
  tests/test_integration.py
  tests/test_win_prob.py
  tests/utils.py
  transport/api/src/lib.rs
  transport/protocol/src/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/ticket-aggregation/src/lib.rs
Labels: dependencies, testing, crate:hopr-strategy, crate:hopr-internal-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-transport, crate:hopr-transport-protocol, crate:hoprd-api

Update Cargo.lock
  Cargo.lock
Labels: dependencies

minor compilation fix
  chain/rpc/src/client.rs
Labels: crate:hopr-chain-rpc

WIP on tokio migration
  common/network-types/src/session/mod.rs
  common/network-types/src/session/reassembly.rs
  common/network-types/src/session/segmenter.rs
  common/network-types/src/session/sequencer.rs
  common/network-types/src/session/utils/skip_queue.rs
  common/network-types/src/session/utils/test.rs
  common/network-types/tests/segmenter_reconstructor_tests.rs
Labels: none

Added feedback
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  hopr/hopr-lib/src/config.rs
  hoprd/hoprd/example_cfg.yaml
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
  logic/path/src/lib.rs
  sdk/python/api/hopr.py
  transport/protocol/src/processor.rs
  transport/session/src/balancer/controller.rs
Labels: crate:hopr-path, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-transport-protocol, crate:hoprd

Fix bench
  Cargo.lock
  common/internal-types/Cargo.toml
  common/internal-types/src/tickets.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-transport-protocol

use annouced addresses
  .DS_Store
  transport/api/src/lib.rs
  transport/p2p/src/swarm.rs
Labels: crate:hopr-transport, crate:hopr-transport-p2p

Fix smoke test helper command
  .github/workflows/tests.yaml
  Makefile
  README.md
  flake.nix
  justfile
Labels: toolchain

fix win_prob issues
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  hopli/src/win_prob.rs
Labels: crate:hopli, crate:hopr-chain-indexer

logs
  transport/api/src/lib.rs
Labels: crate:hopr-transport

exclude test as well
  flake.nix
Labels: toolchain

Update `expect` message and docs
  crypto/packet/src/por.rs
  hoprd/hoprd/example_cfg.yaml
Labels: crate:hopr-crypto-packet, crate:hoprd

deps: Update and clean
  Cargo.lock
  Cargo.toml
  common/network-types/Cargo.toml
  db/api/Cargo.toml
  hoprd/rest-api/Cargo.toml
  transport/network/Cargo.toml
  transport/protocol/Cargo.toml
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-transport-network, crate:hopr-transport-protocol, crate:hoprd-api

basic nat server func
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  transport/api/src/lib.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/config.rs
Labels: dependencies, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd

deps: Update and clean (#7122)
  Cargo.lock
  Cargo.toml
  common/network-types/Cargo.toml
  db/api/Cargo.toml
  hoprd/rest-api/Cargo.toml
  transport/network/Cargo.toml
  transport/protocol/Cargo.toml
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-transport-network, crate:hopr-transport-protocol, crate:hoprd-api

make eth_balance query the tip of the chain
  chain/rpc/src/rpc.rs
Labels: crate:hopr-chain-rpc

faucet for specific address
  tests/test_hopli.py
Labels: testing

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
