Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

Split HoprPacket into structs
  crypto/packet/Cargo.toml
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
Labels: dependencies, crate:hopr-crypto-packet

server and client events
  Cargo.lock
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:hopr-transport-p2p

Refactor high-level packet construction code
  Cargo.lock
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  db/api/src/protocol.rs
  db/sql/Cargo.toml
  db/sql/src/protocol.rs
  hopr/hopr-lib/Cargo.toml
  logic/path/Cargo.toml
  logic/path/src/channel_graph.rs
  logic/path/src/path.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/processor.rs
Labels: dependencies, crate:hopr-path, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-transport-protocol

nix: Build improvements
  Cargo.toml
  flake.nix
  nix/mkShell.nix
  nix/rust-builder.nix
  nix/rust-package.nix
Labels: toolchain, dependencies

nix: Rename -debug to -dev
  .github/workflows/build-docker.yaml
  flake.nix
  nix/rust-package.nix
Labels: toolchain

nix: Remove duplicate dependency
  nix/ciShell.nix
Labels: none

renovate: Update the ignore list
  .github/renovate.json
  Cargo.toml
  uv.lock
Labels: toolchain, dependencies

Fix the test for oas3 to be buildable but failing
  hoprd/rest-api/tests/test_openapi_spec_validation.rs
Labels: crate:hoprd-api

Unify dependencies
  Cargo.toml
  crypto/sphinx/Cargo.toml
  crypto/types/Cargo.toml
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-types

Unify dependencies
  Cargo.toml
  crypto/sphinx/Cargo.toml
  crypto/types/Cargo.toml
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-types

api return objects only
  Cargo.lock
  Makefile
  flake.nix
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
  sdk/python/api/hopr.py
  sdk/python/api/pyproject.toml
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/pyproject.toml
  sdk/python/localcluster/snapshot.py
  uv.lock
Labels: toolchain, dependencies, crate:hoprd-api

fmt
  sdk/python/api/hopr.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/pyproject.toml
Labels: none

WIP on path refactor
  logic/path/Cargo.toml
  logic/path/src/errors.rs
  logic/path/src/lib.rs
  logic/path/src/path.rs
Labels: dependencies, crate:hopr-path

renovate: Update the ignore list (#7071)
  .github/renovate.json
  Cargo.toml
  uv.lock
Labels: toolchain, dependencies

revert metric endpoint changes
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
  uv.lock
Labels: crate:hoprd-api

improve documentation
  ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
Labels: smart-contracts

deps: Update the 'bincode'
  .github/renovate.json
  Cargo.lock
  Cargo.toml
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  db/sql/src/peers.rs
  transport/session/src/errors.rs
  transport/session/src/initiation.rs
Labels: toolchain, dependencies, crate:hopr-internal-types

deps: Update the 'bloomfilter'
  .github/renovate.json
  Cargo.lock
  Cargo.toml
  common/internal-types/Cargo.toml
  common/internal-types/src/protocol.rs
Labels: toolchain, dependencies, crate:hopr-internal-types

nix: Fix linker on Darwin
  Cargo.toml
  flake.nix
  nix/rust-builder.nix
  nix/rust-package.nix
  nix/testShell.nix
Labels: toolchain, dependencies

deps: Update the 'sqlx'
  Cargo.lock
  Cargo.toml
Labels: dependencies

Crate bumps
  Cargo.lock
  common/internal-types/Cargo.toml
  db/sql/Cargo.toml
  transport/session/Cargo.toml
Labels: dependencies, crate:hopr-internal-types

Fix lint issues
  common/internal-types/src/protocol.rs
  db/sql/src/peers.rs
  transport/session/src/initiation.rs
Labels: crate:hopr-internal-types

nix: Fix derivation args
  flake.nix
  nix/ciTestShell.nix
Labels: toolchain

deps: Update the API breaking dependencies (#7074)
  .github/renovate.json
  Cargo.lock
  Cargo.toml
  common/internal-types/Cargo.toml
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/peers.rs
  transport/session/Cargo.toml
  transport/session/src/errors.rs
  transport/session/src/initiation.rs
Labels: toolchain, dependencies, crate:hopr-internal-types

Extract ticket aggregation to a separate crate
  Cargo.lock
  Cargo.toml
  transport/ticket-aggregation/.cargo-ok
  transport/ticket-aggregation/.gitignore
  transport/ticket-aggregation/Cargo.toml
  transport/ticket-aggregation/src/lib.rs
Labels: dependencies

uv.lock: Update
  uv.lock
Labels: none

Rename the 'msg' to 'mix'
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/mix/codec.rs
  transport/protocol/src/mix/mod.rs
  transport/protocol/src/mix/packet.rs
  transport/protocol/src/mix/processor.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

libp2p: Remove ticket aggregation protocol and gut the code
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  logic/strategy/src/strategy.rs
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_win_prob.py
  transport/api/Cargo.toml
  transport/api/src/errors.rs
  transport/api/src/lib.rs
  transport/api/src/proxy.rs
  transport/p2p/src/behavior/mod.rs
  transport/p2p/src/behavior/ticket_aggregation.rs
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/src/config.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/ticket_aggregation/config.rs
  transport/protocol/src/ticket_aggregation/mod.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: dependencies, testing, crate:hopr-strategy, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd

update readme
  ethereum/README.md
Labels: none

avoid self keyword in contracts parameter definition
  ethereum/contracts/src/Announcements.sol
  ethereum/contracts/src/Channels.sol
  ethereum/contracts/src/MultiSig.sol
  ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  ethereum/contracts/test/MultiSig.t.sol
Labels: smart-contracts

Removed PeerId from transport hopr-lib API
  Cargo.lock
  common/network-types/src/types.rs
  crypto/packet/Cargo.toml
  crypto/packet/src/packet.rs
  db/api/Cargo.toml
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  logic/path/Cargo.toml
  logic/path/src/errors.rs
  logic/path/src/lib.rs
  logic/path/src/path.rs
  logic/path/src/selectors/dfs.rs
  logic/path/src/selectors/mod.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/processor.rs
  transport/session/src/initiation.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/traits.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-path, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-transport, crate:hopr-transport-protocol

bump foundry
  flake.lock
  flake.nix
Labels: toolchain

include alloy-rs
  Cargo.lock
  Cargo.toml
  uv.lock
Labels: dependencies

use alloy for contract bindings
  ethereum/bindings/Cargo.toml
  ethereum/bindings/build.rs
Labels: dependencies, crate:hopr-bindings

nix: Fix cargo profile for tests
  nix/mkShell.nix
  nix/rust-package.nix
Labels: none

nix: Add linker to shells
  nix/mkShell.nix
  nix/rust-package.nix
Labels: none

Fix Session REST API
  Cargo.lock
  common/internal-types/Cargo.toml
  common/internal-types/src/protocol.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
  transport/protocol/src/bloom.rs
  uv.lock
Labels: dependencies, crate:hopr-internal-types, crate:hopr-transport-protocol, crate:hoprd-api

Isolate transport packet into the 'hopr-transport-packet' crate
  Cargo.lock
  Cargo.toml
  db/api/src/protocol.rs
  transport/packet/.cargo-ok
  transport/packet/.gitignore
  transport/packet/Cargo.toml
  transport/packet/README.md
  transport/packet/src/lib.rs
  transport/protocol/src/mix/processor.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-transport-protocol

Update Acknowledgement type
  common/internal-types/src/errors.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  crypto/packet/src/packet.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/src/ack/processor.rs
Labels: crate:hopr-internal-types, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-transport-p2p, crate:hopr-transport-protocol

Refactor paths
  crypto/packet/src/packet.rs
  crypto/sphinx/src/packet.rs
  logic/path/src/lib.rs
Labels: crate:hopr-path, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
