Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

ack codec: Add support for a new codec with the tokio_util codec interface
  Cargo.lock
  Cargo.toml
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/codec.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-protocol

tests: Fix per-test teardown (#6925)
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

Fix the stream lifetime issues
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport-protocol

libp2p: Implement the control for transport
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-p2p, crate:hopr-transport-protocol

docs: Improve the documentation
  transport/p2p/src/lib.rs
Labels: crate:hopr-transport-p2p

backport: tests: Fix per-test teardown
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

exposing localnode1 in cluster
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/node.py
Labels: none

fix hopli token
  tests/test_hopli.py
Labels: testing

fix hoprd call
  sdk/python/localcluster/node.py
  tests/test_integration.py
Labels: testing

moved params for better diff
  sdk/python/localcluster/node.py
Labels: none

fixed README formatting
  SETUP_LOCAL_CLUSTER.md
Labels: none

expose API host in node constructor
  sdk/python/localcluster/node.py
Labels: none

create new config for exposing node 1s API
  Makefile
  sdk/python/localcluster-expose1.params.yml
Labels: none

fix gitignoring nix results
  .gitignore
Labels: none

added cluster dev shell
  flake.nix
Labels: toolchain

Split API endpoints by content type (#6931)
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  sdk/python/api/hopr.py
  tests/test_rest_api.py
Labels: dependencies, testing, crate:hoprd-api

Rename pluto docker image to follow naming conventions (#6941)
  .github/workflows/merge.yaml
  flake.nix
Labels: toolchain

revert changes for two metrics
  METRICS.md
  logic/strategy/src/promiscuous.rs
  transport/session/src/manager.rs
Labels: crate:hopr-strategy

transport: Replace the msg and ack implementations with stream implementations
  transport/api/src/constants.rs
  transport/api/src/lib.rs
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/msg/mod.rs
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

tests: Fix build issues on the test
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport-p2p, crate:hopr-transport-protocol

p2p: Fall back to TCP on dappnode (#6945)
  Cargo.lock
  Cargo.toml
  README.md
  transport/api/Cargo.toml
  transport/api/src/config.rs
  transport/p2p/src/swarm.rs
  vendor/cargo/temp-env-0.3.6/.cargo-checksum.json
  vendor/cargo/temp-env-0.3.6/Cargo.toml
  vendor/cargo/temp-env-0.3.6/LICENSE-APACHE
  vendor/cargo/temp-env-0.3.6/LICENSE-MIT
  vendor/cargo/temp-env-0.3.6/README.md
  vendor/cargo/temp-env-0.3.6/src/lib.rs
Labels: dependencies, crate:hopr-transport, crate:hopr-transport-p2p

Update tests/test_integration.py
  tests/test_integration.py
Labels: testing

ci: Fix docker image cleanup
  .github/workflows/cleanup.yaml
  scripts/clean-docker-images.sh
Labels: toolchain

ci: Fix flake update action
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Execute action on change
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Install dep node
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Fix node install
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

Close release 2.2.3
  docs/changelog/changelog-2.2.3.md
Labels: documentation

Update changelog-2.2.3.md
  docs/changelog/changelog-2.2.3.md
Labels: documentation

Close release 2.2.3 (#6956)
  docs/changelog/changelog-2.2.3.md
Labels: documentation

Bump to version 2.2.4
  hopr/hopr-lib/Cargo.toml
  hoprd/hoprd/Cargo.toml
Labels: dependencies, crate:hopr-lib, crate:hoprd

ci: Fix update flake action
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Fix prefix match in dappnode action
  .github/workflows/build-dappnode.yaml
Labels: toolchain

ci: Re-add node step
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Allow nix installation
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Use string comparison
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Pin checkout action
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

Update scripts/clean-docker-images.sh
  scripts/clean-docker-images.sh
Labels: toolchain

Open release 2.2.4 (#6957)
  hopr/hopr-lib/Cargo.toml
  hoprd/hoprd/Cargo.toml
Labels: dependencies, crate:hopr-lib, crate:hoprd

Update flake.lock
  flake.lock
Labels: toolchain

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
