Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

Improve smoke tests
  chain/rpc/src/rpc.rs
  flake.nix
  nix/shell.nix
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
Labels: toolchain, testing, crate:hopr-chain-rpc

Add benches for PoR
  crypto/packet/Cargo.toml
  crypto/packet/benches/packet_benches.rs
  crypto/packet/benches/por_benches.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/packet/src/types.rs
  crypto/types/src/types.rs
Labels: dependencies, crate:hopr-crypto-types, crate:hopr-crypto-packet

PoR updates
  Cargo.lock
  crypto/packet/Cargo.toml
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
Labels: dependencies, crate:hopr-crypto-packet

libp2p: Implement the control for transport
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-p2p, crate:hopr-transport-protocol

Lint the code
  Cargo.toml
  transport/protocol/Cargo.toml
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-protocol

docs: Improve the documentation
  transport/p2p/src/lib.rs
Labels: crate:hopr-transport-p2p

transport: Fix the stream lifetime issues
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport-protocol

msg codec: Add codec and unit tests
  Cargo.lock
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/msg/mod.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-protocol

tests: Fix build issues on the integration tests
  Cargo.lock
  Cargo.toml
  transport/p2p/Cargo.toml
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/src/ack/codec.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/msg/mod.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-p2p, crate:hopr-transport-protocol

transport: Replace the msg and ack implementations with stream implementations
  transport/api/src/constants.rs
  transport/api/src/lib.rs
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/msg/mod.rs
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

bench: Fix the benchmark after merge-backs
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: crate:hopr-transport-protocol

Introduce streaming improvements
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  transport/p2p/src/lib.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-p2p, crate:hopr-transport-protocol

Add support for libp2p_stream into the swarm object
  Cargo.lock
  Cargo.toml
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
Labels: dependencies, crate:hopr-transport-p2p

ack codec: Add support for a new codec with the tokio_util codec interface
  Cargo.lock
  Cargo.toml
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/codec.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-protocol

Lint the code
  Cargo.toml
  README.md
  transport/protocol/Cargo.toml
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-protocol

Update libp2p to 0.55 (#6809)
  Cargo.lock
  Cargo.toml
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:hopr-transport-p2p

strategy: Improve ticket aggregation defaults, config validation and logging (#6867)
  db/sql/src/tickets.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:hopr-strategy, crate:hopr-transport-p2p

Improve logging for debugging purposes (#6863)
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: crate:hopr-transport-protocol

Set the aggregation ticket threshold to the middle of configuration range (#6872)
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/src/aggregating.rs
Labels: crate:hopr-strategy, crate:hoprd

Fix debug/prod docker build pipeline (#6862)
  .github/workflows/build-binaries.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  chain/rpc/src/client.rs
  ethereum/bindings/build.rs
  hoprd/hoprd/Cargo.toml
  nix/rust-builder.nix
  nix/shell.nix
  scripts/bump-version.sh
Labels: toolchain, dependencies, crate:hopr-chain-rpc, crate:hopr-bindings, crate:hoprd

Path selector refactoring (#6858)
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  logic/path/Cargo.toml
  logic/path/src/selectors/dfs.rs
  logic/path/src/selectors/mod.rs
  transport/api/Cargo.toml
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
Labels: dependencies, crate:hopr-path, crate:hopr-lib, crate:hopr-transport

deploy: Move proposed session ports outside of ephemeral port range (#6861)
  deploy/compose/docker-compose.yml
Labels: none

Fix the cache cleaning of multiaddresses on peer dial (#6873)
  Cargo.lock
  transport/p2p/Cargo.toml
  transport/p2p/src/behavior/discovery.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:hopr-transport-p2p

swarm: Add network info logs (#6875)
  Cargo.lock
  transport/p2p/Cargo.toml
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:hopr-transport-p2p

db: Add more indices (#6882)
  db/migration/src/lib.rs
  db/migration/src/m20250219_000020_logs_add_index.rs
  db/migration/src/m20250219_000021_channels_add_index.rs
  db/sql/src/logs.rs
Labels: crate:hopr-db-migration

Update defaults of Promiscuous strategy (#6892)
  Cargo.lock
  logic/strategy/Cargo.toml
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:hopr-strategy

Fix incorrectly filtered out offline peers and other tweaks in Promiscuous strategy defaults (#6895)
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:hopr-strategy, crate:hoprd

Delete closed foreign channels from the database (#6887)
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/handlers.rs
  common/internal-types/src/channels.rs
  db/sql/Cargo.toml
  db/sql/src/channels.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-chain-indexer

Updates to Promiscuous strategy (#6885)
  Cargo.lock
  chain/actions/src/channels.rs
  db/sql/src/channels.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:hopr-strategy, crate:hopr-chain-actions

Improve channel graph node scoring (#6889)
  Cargo.lock
  common/primitive-types/Cargo.toml
  common/primitive-types/src/sma.rs
  crypto/packet/src/chain.rs
  hopr/hopr-lib/src/constants.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/example_cfg.yaml
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/node.rs
  logic/path/Cargo.toml
  logic/path/src/channel_graph.rs
  logic/path/src/path.rs
  logic/path/src/selectors/dfs.rs
  transport/api/src/lib.rs
  transport/api/src/network_notifier.rs
  transport/network/src/config.rs
Labels: dependencies, crate:hopr-path, crate:hopr-primitive-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-transport, crate:hopr-transport-network, crate:hoprd, crate:hoprd-api

docker: Fix entrypoint script (#6884)
  flake.nix
Labels: toolchain

Add initial delay and improve peer pings handling in strategy (#6898)
  Cargo.lock
  logic/strategy/Cargo.toml
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:hopr-strategy

db: Fix channel/ticket state mismatch on startup (#6930)
  Cargo.lock
  chain/actions/src/action_queue.rs
  db/api/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  db/sql/src/channels.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  logic/strategy/src/aggregating.rs
  tests/test_websocket_api.py
Labels: dependencies, testing, crate:hopr-strategy, crate:hopr-db-api, crate:hopr-lib, crate:hopr-chain-actions

Improve eligibility check by removing type conversions (#6942)
  .github/workflows/build-dappnode.yaml
  Cargo.lock
  Cargo.toml
  chain/actions/src/channels.rs
  chain/indexer/src/handlers.rs
  crypto/types/src/types.rs
  db/sql/src/accounts.rs
  db/sql/src/db.rs
  db/sql/src/lib.rs
  db/sql/src/registry.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/node.rs
  transport/api/Cargo.toml
  transport/api/src/lib.rs
Labels: toolchain, dependencies, crate:hopr-crypto-types, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-indexer, crate:hopr-transport, crate:hoprd-api

ci: Prepare docker compose first (#6943)
  .github/workflows/build-dappnode.yaml
Labels: toolchain

db: Fix ticket aggregation balance threshold (#6938)
  Cargo.lock
  db/sql/Cargo.toml
  db/sql/src/tickets.rs
Labels: dependencies

ci: Allow sudo in dappnode build (#6944)
  .github/workflows/build-dappnode.yaml
Labels: toolchain

p2p: Fall back to TCP on dappnode (#6945)
  Cargo.lock
  Cargo.toml
  README.md
  transport/api/Cargo.toml
  transport/api/src/config.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:hopr-transport, crate:hopr-transport-p2p

ci: Add checkout before labeling
  .github/workflows/build.yaml
Labels: toolchain

Improve smoke tests
  chain/rpc/src/rpc.rs
  flake.nix
  nix/shell.nix
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
  tests/test_integration.py
Labels: toolchain, testing, crate:hopr-chain-rpc

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
