Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

Added SURB wait on session initiation
  crypto/packet/src/lib.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/errors.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
Labels: crate:hopr-crypto-packet, crate:hopr-transport-protocol

Fix session tests
  transport/session/src/manager.rs
Labels: none

Udpate the unreliable threshold to mitigate random failures
  common/network-types/src/session/state.rs
Labels: none

Refactoring of Surb balancing termination
  transport/session/src/balancer/mod.rs
  transport/session/src/manager.rs
Labels: none

Properly terminate keep-alives when idle
  transport/session/src/manager.rs
Labels: none

Add response_buffer to REST API
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/session.rs
  transport/api/src/lib.rs
  transport/session/src/lib.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-lib, crate:hopr-transport, crate:hoprd-api

migrate hopli methods
  hopli/src/methods.rs
Labels: crate:hopli

remove ethers in environment config
  hopli/src/environment_config.rs
Labels: crate:hopli

migrate faucet
  hopli/src/faucet.rs
  hopli/src/methods.rs
  hopli/src/utils.rs
Labels: crate:hopli

migrate network registry and safe module commands
  hopli/src/network_registry.rs
  hopli/src/safe_module.rs
Labels: crate:hopli

migrate win_prob command
  hopli/src/win_prob.rs
Labels: crate:hopli

remove ethers from hopli
  Cargo.lock
  hopli/Cargo.toml
Labels: dependencies, crate:hopli

remove some unused imports
  Cargo.toml
  chain/rpc/src/errors.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  chain/rpc/src/transport.rs
  chain/types/src/lib.rs
  common/internal-types/src/legacy.rs
  common/primitive-types/src/bounded.rs
  hopli/src/utils.rs
  hopr/hopr-lib/tests/common/mod.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-lib, crate:hopr-chain-rpc, crate:hopr-chain-types

remove ethers-rs from workspace Cargo.toml
  Cargo.lock
  Cargo.toml
Labels: dependencies

restrict tower service to default-features
  Cargo.toml
Labels: dependencies

Improve DNS enabled tests to use local sandbox config
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/src/types.rs
Labels: dependencies

make reqwest available
  chain/rpc/Cargo.toml
Labels: dependencies, crate:hopr-chain-rpc

remove reqwest optional
  chain/rpc/Cargo.toml
Labels: dependencies, crate:hopr-chain-rpc

include missing imports
  chain/api/src/lib.rs
Labels: crate:hopr-chain-api

improve selected contracts
  ethereum/bindings/build.rs
Labels: crate:hopr-bindings

make contract selection explicit
  ethereum/bindings/build.rs
Labels: crate:hopr-bindings

Much lower fault_prob
  common/network-types/src/session/state.rs
Labels: none

Fix 0-hop RP selection
  hoprd/rest-api/src/session.rs
  logic/path/src/lib.rs
  logic/path/src/selectors/dfs.rs
  transport/api/src/helpers.rs
Labels: crate:hopr-path, crate:hopr-transport, crate:hoprd-api

Adapt Python SDK for RP and Session E2E tests
  hoprd/rest-api/src/session.rs
  logic/path/src/lib.rs
  sdk/python/api/hopr.py
  sdk/python/api/request_objects.py
  sdk/python/api/response_objects.py
  tests/test_session.py
Labels: testing, crate:hopr-path, crate:hoprd-api

Fix path reversal in python
  tests/test_session.py
Labels: testing

format
  Cargo.toml
  chain/actions/Cargo.toml
  chain/api/Cargo.toml
  chain/indexer/Cargo.toml
  chain/rpc/Cargo.toml
  chain/rpc/src/rpc.rs
  chain/types/Cargo.toml
  common/internal-types/Cargo.toml
  common/primitive-types/Cargo.toml
  ethereum/contracts/contracts-addresses.json
  ethereum/contracts/src/Announcements.sol
  ethereum/contracts/src/Channels.sol
  hopli/Cargo.toml
  hopr/hopr-lib/Cargo.toml
Labels: dependencies, smart-contracts, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types

minor formatting
  hopr/hopr-lib/tests/common/mod.rs
  hopr/hopr-lib/tests/node_integration_tests.rs
Labels: crate:hopr-lib

tests: Ignore failing session tests
  common/network-types/src/session/state.rs
Labels: none

Reorder import
  hopr/hopr-lib/tests/common/mod.rs
Labels: crate:hopr-lib

Fixed session unit tests, allow discarding packets when out of SURBs
  db/api/src/errors.rs
  db/sql/src/cache.rs
  db/sql/src/errors.rs
  db/sql/src/protocol.rs
  hoprd/rest-api/src/session.rs
  tests/test_session.py
  transport/api/src/errors.rs
  transport/api/src/helpers.rs
  transport/session/src/errors.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: testing, crate:hopr-db-api, crate:hopr-transport, crate:hoprd-api

Fixed session unit tests, allow discarding packets when out of SURBs, simplify InnerSession API
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/rest-api/src/session.rs
  transport/protocol/tests/common/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: crate:hopr-lib, crate:hopr-transport-protocol, crate:hoprd-api

fix compilation
  Cargo.lock
  chain/actions/Cargo.toml
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/indexer/Cargo.toml
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  chain/rpc/src/transport.rs
  hopli/Cargo.toml
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/tests/common/mod.rs
Labels: dependencies, crate:hopli, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc

fix some warnings
  chain/api/src/lib.rs
  chain/rpc/src/transport.rs
Labels: crate:hopr-chain-api, crate:hopr-chain-rpc

Fix unit tests
  chain/actions/src/payload.rs
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  chain/rpc/src/transport.rs
  hopr/hopr-lib/tests/common/mod.rs
  hopr/hopr-lib/tests/node_integration_tests.rs
Labels: crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-rpc

format imports
  chain/rpc/src/client.rs
Labels: crate:hopr-chain-rpc

format
  ethereum/bindings/build.rs
  flake.nix
Labels: toolchain, crate:hopr-bindings

bindings: Try to fix build issue
  Cargo.lock
  Cargo.toml
  ethereum/.gitignore
  ethereum/bindings/Cargo.toml
  ethereum/bindings/build.rs
  ethereum/bindings/src/codegen/hoprannouncements.rs
  ethereum/bindings/src/codegen/hoprannouncementsevents.rs
  ethereum/bindings/src/codegen/hoprboost.rs
  ethereum/bindings/src/codegen/hoprcapabilitypermissions.rs
  ethereum/bindings/src/codegen/hoprchannels.rs
  ethereum/bindings/src/codegen/hoprchannelsevents.rs
  ethereum/bindings/src/codegen/hoprcrypto.rs
  ethereum/bindings/src/codegen/hoprdummyproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprledger.rs
  ethereum/bindings/src/codegen/hoprnetworkregistry.rs
  ethereum/bindings/src/codegen/hoprnetworkregistryevents.rs
  ethereum/bindings/src/codegen/hoprnodemanagementmodule.rs
  ethereum/bindings/src/codegen/hoprnodesaferegistry.rs
  ethereum/bindings/src/codegen/hoprnodesaferegistryevents.rs
  ethereum/bindings/src/codegen/hoprnodestakefactory.rs
  ethereum/bindings/src/codegen/hoprnodestakefactoryevents.rs
  ethereum/bindings/src/codegen/hoprsafeproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprstakingproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprticketpriceoracle.rs
  ethereum/bindings/src/codegen/hoprticketpriceoracleevents.rs
  ethereum/bindings/src/codegen/hoprtoken.rs
  ethereum/bindings/src/codegen/hoprwinningprobabilityoracle.rs
  ethereum/bindings/src/codegen/hoprwinningprobabilityoracleevents.rs
  ethereum/bindings/src/codegen/mod.rs
Labels: dependencies, crate:hopr-bindings

pre-build sc bindings
  .gitignore
  ethereum/bindings/build.rs
  ethereum/bindings/src/codegen/hoprannouncements.rs
  ethereum/bindings/src/codegen/hoprannouncementsevents.rs
  ethereum/bindings/src/codegen/hoprboost.rs
  ethereum/bindings/src/codegen/hoprcapabilitypermissions.rs
  ethereum/bindings/src/codegen/hoprchannels.rs
  ethereum/bindings/src/codegen/hoprchannelsevents.rs
  ethereum/bindings/src/codegen/hoprcrypto.rs
  ethereum/bindings/src/codegen/hoprdummyproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprledger.rs
  ethereum/bindings/src/codegen/hoprnetworkregistry.rs
  ethereum/bindings/src/codegen/hoprnetworkregistryevents.rs
  ethereum/bindings/src/codegen/hoprnodemanagementmodule.rs
  ethereum/bindings/src/codegen/hoprnodesaferegistry.rs
  ethereum/bindings/src/codegen/hoprnodesaferegistryevents.rs
  ethereum/bindings/src/codegen/hoprnodestakefactory.rs
  ethereum/bindings/src/codegen/hoprnodestakefactoryevents.rs
  ethereum/bindings/src/codegen/hoprsafeproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprstakingproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprticketpriceoracle.rs
  ethereum/bindings/src/codegen/hoprticketpriceoracleevents.rs
  ethereum/bindings/src/codegen/hoprtoken.rs
  ethereum/bindings/src/codegen/hoprwinningprobabilityoracle.rs
  ethereum/bindings/src/codegen/hoprwinningprobabilityoracleevents.rs
  ethereum/bindings/src/codegen/mod.rs
  justfile
  nix/mkShell.nix
Labels: crate:hopr-bindings

format
  Cargo.toml
Labels: dependencies

Fix winprob sc read
  chain/rpc/src/rpc.rs
  common/internal-types/src/tickets.rs
Labels: crate:hopr-internal-types, crate:hopr-chain-rpc
