Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

fmt
  sdk/python/localcluster/pyproject.toml
Labels: none

Rename the 'msg' to 'mix'
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/mix/codec.rs
  transport/protocol/src/mix/mod.rs
  transport/protocol/src/mix/packet.rs
  transport/protocol/src/mix/processor.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

Extract ticket aggregation to a separate crate
  Cargo.lock
  Cargo.toml
  transport/ticket-aggregation/.cargo-ok
  transport/ticket-aggregation/.gitignore
  transport/ticket-aggregation/Cargo.toml
  transport/ticket-aggregation/src/lib.rs
Labels: dependencies

Isolate transport packet into the 'hopr-transport-packet' crate
  Cargo.lock
  Cargo.toml
  db/api/src/protocol.rs
  transport/packet/.cargo-ok
  transport/packet/.gitignore
  transport/packet/Cargo.toml
  transport/packet/README.md
  transport/packet/src/lib.rs
  transport/protocol/src/mix/processor.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-transport-protocol

Properly handle ack key
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  transport/protocol/src/mix/mod.rs
  transport/protocol/src/processor.rs
Labels: crate:hopr-db-api, crate:hopr-transport-protocol

Move around definitions
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/src/codec.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/mix/codec.rs
  transport/protocol/src/mix/mod.rs
  transport/protocol/src/mix/packet.rs
  transport/protocol/src/processor.rs
Labels: crate:hopr-db-api, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

libp2p: Remove ticket aggregation protocol and gut the code
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  logic/strategy/src/strategy.rs
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_win_prob.py
  transport/api/Cargo.toml
  transport/api/src/errors.rs
  transport/api/src/lib.rs
  transport/api/src/proxy.rs
  transport/p2p/src/behavior/mod.rs
  transport/p2p/src/behavior/ticket_aggregation.rs
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/src/config.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/ticket_aggregation/config.rs
  transport/protocol/src/ticket_aggregation/mod.rs
  transport/protocol/src/ticket_aggregation/processor.rs
  transport/ticket-aggregation/src/lib.rs
Labels: dependencies, testing, crate:hopr-strategy, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd

Move ack logic to the top level pipeline
  transport/api/src/lib.rs
  transport/protocol/src/bloom.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/processor.rs
Labels: crate:hopr-transport, crate:hopr-transport-protocol

Remove the ACK protocol
  crypto/packet/src/packet.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  transport/api/src/lib.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/ack/codec.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/mix/packet.rs
  transport/protocol/src/mix/processor.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

Create an improved type specific codec
  Cargo.lock
  transport/packet/Cargo.toml
  transport/packet/src/lib.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/mix/codec.rs
Labels: dependencies, crate:hopr-transport-protocol

Cleanup ack objects
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
Labels: crate:hopr-db-api

tests: Build
  db/api/src/protocol.rs
  transport/api/src/lib.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/packet/src/lib.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/processor.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-db-api, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

Update transport/network/src/network.rs
  transport/network/src/network.rs
Labels: crate:hopr-transport-network

core-network: Improve config validation
  transport/network/src/config.rs
  transport/network/src/network.rs
Labels: crate:hopr-transport-network

Prepare keep alives for SURB balancing
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/types.rs
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/initiation.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: crate:hopr-crypto-packet

Unit tests passing with new channel emulation
  db/sql/src/protocol.rs
  transport/protocol/src/lib.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-transport-protocol

Review PR
  .github/workflows/tests.yaml
  flake.nix
  nix/rust-builder.nix
  nix/rust-package.nix
Labels: toolchain

Lint and format
  transport/protocol/src/lib.rs
Labels: crate:hopr-transport-protocol

heartbeat: Fix enforcement of max backoff (#7090)
  db/migration/src/lib.rs
  db/migration/src/m20250430_000022_peers_reset.rs
  transport/network/src/config.rs
  transport/network/src/network.rs
Labels: crate:hopr-db-migration, crate:hopr-transport-network

Prepare counter for SURB balancer
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: none

Add metrics
  transport/session/src/balancer/controller.rs
Labels: none

Fix constructor call
  transport/session/src/manager.rs
Labels: none

Hook-up the SURB balancer
  Cargo.lock
  Cargo.toml
  transport/session/Cargo.toml
  transport/session/src/balancer/controller.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies

Make integration tests work on Linux reliably
  Cargo.toml
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hopr/hopr-lib/tests/common/mod.rs
  hopr/hopr-lib/tests/node_integration_tests.rs
Labels: dependencies, crate:hopr-lib

chain: Increase wait for block number in test
  chain/rpc/src/client.rs
Labels: crate:hopr-chain-rpc

format
  ethereum/README.md
  ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
  uv.lock
Labels: smart-contracts

migrate layers and SnapshotRequestorService
  chain/rpc/src/client.rs
  chain/rpc/src/transport.rs
Labels: crate:hopr-chain-rpc

migrate layers and SnapshotRequestorService
  chain/rpc/src/lib.rs
Labels: crate:hopr-chain-rpc

Fix code coverage generation
  .github/workflows/tests.yaml
  flake.lock
  flake.nix
  nix/rust-builder.nix
  nix/rust-package.nix
Labels: toolchain

ci: Single smoke test job
  .github/workflows/tests.yaml
Labels: toolchain

nix: Cleanup
  nix/rust-builder.nix
  nix/rust-package.nix
Labels: none

Revert "ci: Single smoke test job"
  .github/workflows/tests.yaml
Labels: toolchain

ci: Run all smoke tests sequentially
  .github/workflows/tests.yaml
Labels: toolchain

ci: Reorder smoke tests
  .github/workflows/tests.yaml
Labels: toolchain

ci: Fix job concurrency in tests
  .github/workflows/tests.yaml
Labels: toolchain

ci: Move max-parallel config
  .github/workflows/tests.yaml
Labels: toolchain

Bump crates and fix TODOs
  Cargo.lock
  crypto/packet/Cargo.toml
  db/api/Cargo.toml
  db/sql/Cargo.toml
  db/sql/src/protocol.rs
  logic/strategy/Cargo.toml
  transport/api/Cargo.toml
  transport/p2p/Cargo.toml
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
Labels: dependencies, crate:hopr-strategy, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

Migrate rpc middleware. Improve comment
  chain/rpc/src/client.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/middleware.rs
Labels: crate:hopr-chain-rpc

Improve initialization of the metrics
  db/sql/src/db.rs
  db/sql/src/protocol.rs
Labels: none

Update PID setup
  transport/session/src/balancer/controller.rs
  transport/session/src/manager.rs
Labels: none
