Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

ci: Fix label workflow
  .github/workflows/build.yaml
Labels: toolchain

ci: Add checkout before labeling
  .github/workflows/build.yaml
Labels: toolchain

ci: Use explicit token
  .github/workflows/build.yaml
Labels: toolchain

ci: Use issues write permission
  .github/workflows/build.yaml
Labels: toolchain

ci: Add explanation
  .github/workflows/build.yaml
Labels: toolchain

Changing dappnode packages
  deploy/compose/README.md
  deploy/compose/docker-compose.yml
  deploy/compose/hoprd/conf/hoprd.cfg.yaml
Labels: none

Add Auditing code
  .github/workflows/audit-pr.yaml
  flake.nix
  nix/shell.nix
Labels: toolchain

Change trigger
  .github/workflows/audit-pr.yaml
Labels: toolchain

fixed README formatting
  SETUP_LOCAL_CLUSTER.md
Labels: none

backport: tests: Fix per-test teardown
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

fix hopli token
  tests/test_hopli.py
Labels: testing

added cluster dev shell
  flake.nix
Labels: toolchain

create new config for exposing node 1s API
  Makefile
  sdk/python/localcluster-expose1.params.yml
Labels: none

moved params for better diff
  sdk/python/localcluster/node.py
Labels: none

exposing localnode1 in cluster
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/node.py
Labels: none

fix hoprd call
  sdk/python/localcluster/node.py
  tests/test_integration.py
Labels: testing

Update tests/test_integration.py
  tests/test_integration.py
Labels: testing

expose API host in node constructor
  sdk/python/localcluster/node.py
Labels: none

fix gitignoring nix results
  .gitignore
Labels: none

Fixed comment
  .github/workflows/audit-pr.yaml
Labels: toolchain

Use blake3, drop zeroization
  Cargo.lock
  Cargo.toml
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/ec_groups.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/types/Cargo.toml
  crypto/types/src/keypairs.rs
  crypto/types/src/primitives.rs
  crypto/types/src/utils.rs
  transport/network/src/messaging.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-transport-network

fix indentation
  README.md
Labels: none

backport: tests: Fix per-test teardown
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

fix hoprd call
  sdk/python/localcluster/node.py
  tests/test_integration.py
Labels: testing

fixed README formatting
  SETUP_LOCAL_CLUSTER.md
Labels: none

moved params for better diff
  sdk/python/localcluster/node.py
Labels: none

exposing localnode1 in cluster
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/node.py
Labels: none

fix gitignoring nix results
  .gitignore
Labels: none

added cluster dev shell
  flake.nix
Labels: toolchain

create new config for exposing node 1s API
  Makefile
  sdk/python/localcluster-expose1.params.yml
Labels: none

fix hopli token
  tests/test_hopli.py
Labels: testing

expose API host in node constructor
  sdk/python/localcluster/node.py
Labels: none

Update tests/test_integration.py
  tests/test_integration.py
Labels: testing

fix formatting
  README.md
  tests/test_integration.py
  tests/test_rest_api.py
Labels: testing

Avoid point decompressions
  crypto/packet/benches/packet_crypto.rs
  crypto/types/src/types.rs
Labels: crate:hopr-crypto-types, crate:hopr-crypto-packet

removed duplicate test function
  tests/test_rest_api.py
Labels: testing

Improve smoke tests
  chain/rpc/src/rpc.rs
  flake.nix
  nix/shell.nix
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
  tests/test_integration.py
Labels: toolchain, testing, crate:hopr-chain-rpc

Revert "Improve smoke tests"
  chain/rpc/src/rpc.rs
  flake.nix
  nix/shell.nix
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
  tests/test_integration.py
Labels: toolchain, testing, crate:hopr-chain-rpc

tests: Fix per-test teardown (#6925)
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

ci: Add harden-runner to all workflows (#6934)
  .github/workflows/build.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
