Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

ci: Use explicit token
  .github/workflows/build.yaml
Labels: toolchain

ci: Fix label workflow
  .github/workflows/build.yaml
Labels: toolchain

ci: Use issues write permission
  .github/workflows/build.yaml
Labels: toolchain

Fix tests
  hoprd/hoprd/example_cfg.yaml
Labels: crate:hoprd

Fix linter errors
  hopr/hopr-lib/src/lib.rs
  transport/protocol/tests/common/mod.rs
Labels: crate:hopr-lib, crate:hopr-transport-protocol

ci: Add explanation
  .github/workflows/build.yaml
Labels: toolchain

Revert "Improve smoke tests"
  chain/rpc/src/rpc.rs
  flake.nix
  nix/shell.nix
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
  tests/test_integration.py
Labels: toolchain, testing, crate:hopr-chain-rpc

tests: Fix per-test teardown (#6925)
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

Improve smoke tests
  chain/rpc/src/rpc.rs
  flake.nix
  nix/shell.nix
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
Labels: toolchain, testing, crate:hopr-chain-rpc

ci: Add harden-runner to all workflows (#6934)
  .github/workflows/build.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

format
  tests/conftest.py
  tests/test_integration.py
Labels: testing

tests: Add debug log
  tests/test_integration.py
Labels: testing

Extension alias endpoints to return ETH addresses in addition to PeerIds (#6767)
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/lib.rs
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  tests/test_integration.py
Labels: testing, crate:hoprd-api

Remove the `python-sdk` auto-generation (#6772)
  Makefile
  README.md
  scripts/generate-python-sdk.sh
  scripts/python-sdk.patch
Labels: toolchain

Guidelines on how to start a node on rotsee (#6679)
  deploy/compose/README.md
  deploy/compose/hoprd_data/hoprd.cfg.yaml
  hopli/README.md
Labels: crate:hopli

Improve config files examples coherency (#6785)
  deploy/compose/hoprd_data/hoprd.cfg.yaml
  hoprd/hoprd/example_cfg.yaml
Labels: crate:hoprd

tests: Fix merge issue
  tests/test_integration.py
Labels: testing

Fix CI workflow to be able to create/use snapshots (#6820)
  sdk/barebone.cfg.yaml
Labels: none

Bump crates
  Cargo.lock
  transport/api/Cargo.toml
  transport/p2p/Cargo.toml
  transport/protocol/Cargo.toml
Labels: dependencies, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

format
  tests/test_integration.py
Labels: testing

Add support for libp2p_stream into the swarm object (#6928)
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  README.md
  transport/api/Cargo.toml
  transport/api/src/constants.rs
  transport/api/src/lib.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/Cargo.toml
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/ack/codec.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/msg/mod.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

fix hopli test
  tests/test_hopli.py
Labels: testing

backported new cluster changes
  .gitignore
  Makefile
  flake.nix
  sdk/python/localcluster-expose1.params.yml
  sdk/python/localcluster/node.py
Labels: toolchain

tests: Fix per-test teardown (#6925)
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing

update flake lock
  flake.lock
Labels: toolchain

fix formatting
  tests/test_integration.py
  tests/test_rest_api.py
Labels: testing

tests: Fix timeouts
  tests/test_integration.py
Labels: testing

Add POR pre_verify bench
  crypto/packet/benches/por_benches.rs
Labels: crate:hopr-crypto-packet

Add POR pre_verify bench
  README.md
  crypto/packet/src/por.rs
Labels: crate:hopr-crypto-packet

ci: Fix label workflow
  .github/workflows/build.yaml
Labels: toolchain

tests: Back to info logs
  tests/pytest.ini
Labels: testing

Use HoprPacket type
  transport/protocol/src/msg/codec.rs
Labels: crate:hopr-transport-protocol

added expected test failure
  tests/test_websocket_api.py
Labels: testing

Apply suggestions from code review
  .github/workflows/build.yaml
  scripts/generate-python-sdk.sh
Labels: toolchain

general fixed based on reviews
  .github/workflows/build.yaml
  README.md
  scripts/generate-python-sdk.sh
  tests/test_hopli.py
  tests/test_integration.py
  transport/network/src/config.rs
Labels: toolchain, testing, crate:hopr-transport-network

ci: Remove obsolete input
  .github/workflows/build.yaml
Labels: toolchain

ci: Remove obsolete input param
  .github/workflows/build-docker.yaml
Labels: toolchain

ci: Fix checkout
  .github/workflows/build-docker.yaml
Labels: toolchain

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .github/workflows/zizmor.yaml
Labels: toolchain

ci: No sparse checkout
  .github/workflows/build-docker.yaml
Labels: toolchain

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**
