Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

tests: half-way docker configuration
  sdk/python/composecluster.params.yml
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  tests/conftest.py
  tests/requirements.txt
  tests/test_network_simulation.py
Labels: testing

ci: Add harden-runner to all workflows
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

bench: Fix the benchmark after merge-backs
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: crate:hopr-transport-protocol

ci: Add zizmor workflow
  .github/workflows/zizmor.yaml
  nix/shell.nix
Labels: toolchain

ci: Fix develop command
  .github/workflows/zizmor.yaml
Labels: toolchain

ci: Fix gha commit
  .github/workflows/zizmor.yaml
Labels: toolchain

db: Fix channel/ticket state mismatch on startup (#6930)
  Cargo.lock
  chain/actions/src/action_queue.rs
  chain/indexer/src/handlers.rs
  db/api/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  db/sql/src/channels.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
  tests/test_websocket_api.py
Labels: dependencies, testing, crate:hopr-strategy, crate:hopr-db-api, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-indexer, crate:hoprd

nix: More formatting
  .github/workflows/zizmor.yaml
Labels: toolchain

ci: Add harden-runner to all workflows (#6934)
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .github/workflows/zizmor.yaml
  nix/shell.nix
Labels: toolchain

db: Fix ticket aggregation balance threshold
  db/sql/src/tickets.rs
Labels: none

Bump crate version
  Cargo.lock
  db/sql/Cargo.toml
Labels: dependencies

implement Action::CloseChannels
  chain/actions/src/action_queue.rs
  chain/actions/src/channels.rs
  hopr/hopr-lib/src/lib.rs
Labels: crate:hopr-lib, crate:hopr-chain-actions

missing api path
  hoprd/rest-api/src/lib.rs
Labels: crate:hoprd-api

test
  tests/test_rest_api.py
Labels: testing

fix tests
  tests/test_rest_api.py
Labels: testing

expose API host in node constructor
  sdk/python/localcluster/node.py
Labels: none

exposing localnode1 in cluster
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/node.py
Labels: none

fix hoprd call
  sdk/python/localcluster/node.py
  tests/test_integration.py
Labels: testing

fix hopli token
  tests/test_hopli.py
Labels: testing

moved params for better diff
  sdk/python/localcluster/node.py
Labels: none

create new config for exposing node 1s API
  Makefile
  sdk/python/localcluster-expose1.params.yml
Labels: none

Update flake.lock
  flake.lock
Labels: toolchain

db: Fix test
  db/sql/src/tickets.rs
Labels: none

db: Fix ticket aggregation balance threshold (#6938)
  Cargo.lock
  db/sql/Cargo.toml
  db/sql/src/tickets.rs
Labels: dependencies

remove unnecessary content type
  hoprd/rest-api/src/node.rs
  tests/test_rest_api.py
Labels: testing, crate:hoprd-api

fix smoke test
  tests/test_rest_api.py
Labels: testing

WIP: unbuildable
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  transport/p2p/src/lib.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-p2p, crate:hopr-transport-protocol

WIP: still not working
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport-protocol

hopr-lib: Improve eligibility check
  Cargo.lock
  Cargo.toml
  chain/actions/src/channels.rs
  crypto/types/src/types.rs
  db/sql/src/accounts.rs
  db/sql/src/db.rs
  db/sql/src/lib.rs
  db/sql/src/registry.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/node.rs
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  vendor/cargo/either-1.13.0/.cargo-checksum.json
  vendor/cargo/either-1.13.0/Cargo.toml
  vendor/cargo/either-1.13.0/README.rst
  vendor/cargo/either-1.13.0/src/iterator.rs
  vendor/cargo/either-1.13.0/src/lib.rs
  vendor/cargo/either-1.15.0/.cargo-checksum.json
  vendor/cargo/either-1.15.0/Cargo.toml
  vendor/cargo/either-1.15.0/LICENSE-APACHE
  vendor/cargo/either-1.15.0/LICENSE-MIT
  vendor/cargo/either-1.15.0/README-crates.io.md
  vendor/cargo/either-1.15.0/README.rst
  vendor/cargo/either-1.15.0/src/into_either.rs
  vendor/cargo/either-1.15.0/src/iterator.rs
  vendor/cargo/either-1.15.0/src/lib.rs
  vendor/cargo/either-1.15.0/src/serde_untagged.rs
  vendor/cargo/either-1.15.0/src/serde_untagged_optional.rs
Labels: dependencies, crate:hopr-crypto-types, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-transport, crate:hoprd-api

Fix compilation
  chain/indexer/src/handlers.rs
  db/sql/src/registry.rs
Labels: crate:hopr-chain-indexer

ci: Prepare docker compose first
  .github/workflows/build-dappnode.yaml
Labels: toolchain

ci: Prepare docker compose first (#6943)
  .github/workflows/build-dappnode.yaml
Labels: toolchain

ci: Allow sudo in dappnode build
  .github/workflows/build-dappnode.yaml
Labels: toolchain

ci: Allow sudo in dappnode build (#6944)
  .github/workflows/build-dappnode.yaml
Labels: toolchain

Buildable skeleton
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport-protocol

p2p: Fall back to TCP on dappnode
  .github/workflows/build-dappnode.yaml
  README.md
  transport/api/src/config.rs
  transport/p2p/src/swarm.rs
Labels: toolchain, crate:hopr-transport, crate:hopr-transport-p2p

add error message for multisend
  chain/actions/src/errors.rs
Labels: crate:hopr-chain-actions

add struct for multisend calls
  chain/types/src/lib.rs
Labels: crate:hopr-chain-types

add function calls for closing incoming, initiating outgoing, and finalizing outgoing channels
  chain/actions/src/payload.rs
Labels: crate:hopr-chain-actions

Add PartialPacket with serialization and tests
  crypto/sphinx/src/lib.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/types/src/primitives.rs
  crypto/types/src/utils.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-types
