Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

Increase timeout and fix lint
  .github/workflows/bencher.yaml
  flake.nix
  nix/cargo-bench.nix
Labels: toolchain

Add nightly execution
  .github/workflows/bencher-nightly.yaml
  .github/workflows/bencher.yaml
  .github/workflows/merge.yaml
Labels: toolchain

Reduce samples temporary
  .github/workflows/bencher.yaml
  crypto/packet/benches/packet_benches.rs
Labels: toolchain, crate:hopr-crypto-packet

Adding commit hash
  .github/workflows/bencher-nightly.yaml
  .github/workflows/bencher.yaml
Labels: toolchain

Debugging commit hash
  .github/workflows/bencher.yaml
Labels: toolchain

Debug
  .github/workflows/bencher.yaml
Labels: toolchain

Change commit sha
  .github/workflows/bencher.yaml
Labels: toolchain

Fixing
  .github/workflows/bencher.yaml
Labels: toolchain

Remove debugging
  .github/workflows/bencher.yaml
  crypto/packet/benches/packet_benches.rs
Labels: toolchain, crate:hopr-crypto-packet

Publishing benchmarks (#7019)
  .github/workflows/bencher-nightly.yaml
  .github/workflows/bencher.yaml
  .github/workflows/merge.yaml
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/benches/session.rs
  crypto/packet/benches/packet_benches.rs
  flake.nix
  nix/cargo-bench.nix
  nix/rust-package.nix
  nix/shell.nix
  transport/mixer/benches/mixer_throughput.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: toolchain, dependencies, crate:hopr-crypto-packet, crate:hopr-transport-protocol

Fix benchmark testbed
  .github/workflows/bencher.yaml
Labels: toolchain

Using nightly to test and debug
  .github/workflows/bencher-nightly.yaml
Labels: toolchain

Use the merge pipeline to debug
  .github/workflows/bencher-nightly.yaml
  .github/workflows/merge.yaml
Labels: toolchain

Fix
  .github/workflows/bencher.yaml
Labels: toolchain

Revert merge
  .github/workflows/merge.yaml
Labels: toolchain

Fix benchmark testbed (#7085)
  .github/workflows/bencher.yaml
Labels: toolchain

add Surf transport
  Cargo.lock
  Cargo.toml
  chain/rpc/Cargo.toml
  chain/rpc/src/transport.rs
Labels: dependencies, crate:hopr-chain-rpc

migrate chain-rpc helpers
  chain/rpc/src/helper.rs
Labels: crate:hopr-chain-rpc

add tokio runtime test
  chain/rpc/Cargo.toml
  chain/rpc/src/lib.rs
  chain/rpc/src/transport.rs
Labels: dependencies, crate:hopr-chain-rpc

use tokio in test. Add metrics layer. Use retry layer
  chain/rpc/src/client.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/transport.rs
Labels: crate:hopr-chain-rpc

add more tests with builtin RetryBackOffPolicy
  chain/rpc/src/client.rs
  chain/rpc/src/errors.rs
Labels: crate:hopr-chain-rpc

create ZeroRetryPolicy
  chain/rpc/src/client.rs
  chain/rpc/src/lib.rs
Labels: crate:hopr-chain-rpc

Add additional Surb receiver info
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/packet/src/types.rs
Labels: crate:hopr-crypto-packet

Add code coverage to Nix
  flake.nix
  nix/rust-package.nix
Labels: toolchain

Add llvm-cov
  nix/rust-package.nix
Labels: none

heartbeat: Fix enforcement of max backoff
  transport/network/src/network.rs
Labels: crate:hopr-transport-network

Update network.rs
  transport/network/src/network.rs
Labels: crate:hopr-transport-network

Add extension
  nix/rust-builder.nix
Labels: none

Fix features
  .github/workflows/tests.yaml
  nix/rust-package.nix
Labels: toolchain

Refactored SURB ids
  crypto/packet/Cargo.toml
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/lib.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/sphinx/src/surb.rs
  crypto/types/src/types.rs
  transport/session/src/initiation.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet

Improved ReplyOpeners
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/surb.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Refactored code
  common/async-runtime/src/lib.rs
  common/network-types/src/types.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/surb.rs
  db/api/src/protocol.rs
  db/sql/src/cache.rs
  db/sql/src/errors.rs
  db/sql/src/protocol.rs
  transport/api/src/helpers.rs
  transport/session/src/types.rs
Labels: crate:hopr-db-api, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet, crate:hopr-transport

server and client using dedicated nat part
  Makefile
  hopr/hopr-lib/src/lib.rs
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/pyproject.toml
  sdk/python/localcluster/snapshot.py
  transport/api/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/config.rs
  uv.lock
Labels: crate:hopr-lib, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

fix
  flake.nix
Labels: toolchain

Updated SessionManager to use RP
  Cargo.lock
  Cargo.toml
  crypto/types/src/types.rs
  db/api/src/protocol.rs
  db/sql/src/cache.rs
  db/sql/src/protocol.rs
  hoprd/rest-api/src/session.rs
  logic/path/Cargo.toml
  transport/api/src/lib.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/packet.rs
  transport/protocol/src/msg/processor.rs
  transport/session/Cargo.toml
  transport/session/src/initiation.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-path, crate:hopr-db-api, crate:hopr-crypto-types, crate:hopr-transport, crate:hopr-transport-protocol, crate:hoprd-api

core-network: Remove some trace logs
  transport/network/src/network.rs
Labels: crate:hopr-transport-network

Fixed session unit tests
  transport/session/src/manager.rs
Labels: none

Initial code for SURB balancing
  Cargo.lock
  transport/session/Cargo.toml
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limited_stream.rs
  transport/session/src/lib.rs
  transport/session/src/types.rs
Labels: dependencies

db: Add migration to reset peers table
  db/migration/src/lib.rs
  db/migration/src/m20250430_000022_peers_reset.rs
  transport/network/src/network.rs
Labels: crate:hopr-db-migration, crate:hopr-transport-network

missing deps
  flake.nix
  sdk/python/localcluster/pyproject.toml
  uv.lock
Labels: toolchain
