Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

WIP: Create an improved type specific codec
  Cargo.lock
  common/internal-types/src/errors.rs
  common/internal-types/src/protocol.rs
  db/sql/src/protocol.rs
  transport/packet/Cargo.toml
  transport/packet/src/lib.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/mix/codec.rs
  transport/protocol/src/mix/processor.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-transport-protocol

update crate common/internal-types
  Cargo.lock
  Cargo.toml
  common/internal-types/Cargo.toml
  common/internal-types/src/legacy.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
Labels: dependencies, crate:hopr-internal-types

Buildable tests
  Cargo.lock
  chain/actions/src/redeem.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/errors.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  common/primitive-types/src/primitives.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/packet/src/types.rs
  crypto/random/Cargo.toml
  crypto/random/src/lib.rs
  crypto/sphinx/src/ec_groups.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/sphinx/src/surb.rs
  crypto/types/src/keypairs.rs
  crypto/types/src/lib.rs
  crypto/types/src/types.rs
  crypto/types/src/utils.rs
  db/sql/src/protocol.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/keypair/src/key_pair.rs
  hoprd/rest-api/src/session.rs
  logic/path/Cargo.toml
  logic/path/src/lib.rs
  logic/path/src/selectors/dfs.rs
  logic/strategy/src/auto_redeeming.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/session/src/initiation.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd-keypair, crate:hoprd-api

Last remaining unfixed integration test
  Cargo.lock
  Cargo.toml
  common/internal-types/src/protocol.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  logic/path/Cargo.toml
  logic/path/src/channel_graph.rs
  logic/path/src/lib.rs
  logic/path/src/selectors/dfs.rs
  transport/api/Cargo.toml
  transport/api/src/config.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-path, crate:hopr-internal-types, crate:hopr-lib, crate:hopr-transport

Prepared Sessions for Return Path
  common/internal-types/src/protocol.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/inbox/src/inbox.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
  transport/api/src/config.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/session/src/initiation.rs
  transport/session/src/manager.rs
  transport/session/src/traits.rs
  transport/session/src/types.rs
Labels: crate:hopr-internal-types, crate:hopr-db-api, crate:hopr-lib, crate:hopr-transport, crate:hopr-transport-protocol, crate:hoprd-inbox, crate:hoprd-api

More refactoring and RP preparation in Sessions
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/rest-api/src/session.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/traits.rs
  transport/session/src/types.rs
Labels: crate:hopr-lib, crate:hopr-transport, crate:hoprd-api

Refactor payload size calculations
  Cargo.lock
  common/internal-types/src/errors.rs
  common/internal-types/src/protocol.rs
  crypto/packet/benches/packet_benches.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/types.rs
  crypto/types/src/types.rs
  db/api/src/protocol.rs
  db/sql/src/accounts.rs
  db/sql/src/protocol.rs
  logic/path/src/lib.rs
  transport/api/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/session/Cargo.toml
  transport/session/src/initiation.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-path, crate:hopr-internal-types, crate:hopr-db-api, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-transport, crate:hopr-transport-p2p, crate:hopr-transport-protocol

Add no-ack probing packets
  crypto/packet/src/packet.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/surb.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/rest-api/src/session.rs
  transport/protocol/src/msg/packet.rs
  transport/protocol/src/msg/processor.rs
  transport/session/src/types.rs
Labels: crate:hopr-db-api, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-transport-protocol, crate:hoprd-api

Fixed integration test, refactor packet bench, rename "probe" -> "no_ack" packets
  crypto/packet/benches/packet_benches.rs
  crypto/packet/src/packet.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  transport/protocol/src/msg/packet.rs
  transport/protocol/src/msg/processor.rs
Labels: crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-transport-protocol

Refactored high-level routing
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/src/types.rs
  db/api/Cargo.toml
  db/api/src/protocol.rs
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/messages.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/errors.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/session/src/manager.rs
  transport/session/src/traits.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-lib, crate:hopr-transport, crate:hopr-transport-protocol, crate:hoprd-api

Use DestinationRouting in InnerSession
  common/network-types/src/types.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: none

Fixed hopr-transport-session tests
  common/network-types/Cargo.toml
  common/network-types/src/types.rs
  transport/session/Cargo.toml
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies

Fixed remaining tests
  crypto/sphinx/src/packet.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/rest-api/src/session.rs
  transport/api/src/lib.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/session/src/lib.rs
  transport/session/src/types.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-lib, crate:hopr-transport, crate:hopr-transport-protocol, crate:hoprd-api

Add feedback, add docs
  common/network-types/src/types.rs
  crypto/packet/benches/por_benches.rs
  db/sql/src/protocol.rs
  logic/path/src/errors.rs
Labels: crate:hopr-path, crate:hopr-crypto-packet

Improve local cluster
  hopr/hopr-lib/src/lib.rs
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
Labels: crate:hopr-lib

WIP migirate libs.rs in chain-types
  Cargo.lock
  chain/types/Cargo.toml
  chain/types/src/lib.rs
  chain/types/src/utils.rs
Labels: dependencies, crate:hopr-chain-types

Introduce proper migration to include the block number of Account announcement
  chain/actions/src/node.rs
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  common/internal-types/src/account.rs
  common/network-types/src/types.rs
  db/migration/src/lib.rs
  db/migration/src/m20250419_000022_account_add_published_block.rs
  db/sql/src/accounts.rs
  db/sql/src/cache.rs
  db/sql/src/db.rs
  db/sql/src/resolver.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/promiscuous.rs
  tests/test_integration.py
  transport/protocol/src/ticket_aggregation/processor.rs
  transport/protocol/tests/common/mod.rs
Labels: testing, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-db-migration, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-indexer, crate:hopr-transport-protocol

Fix benches
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/benches/session.rs
  common/network-types/src/session/mod.rs
  common/network-types/src/types.rs
  crypto/packet/Cargo.toml
  crypto/packet/benches/packet_benches.rs
  crypto/packet/benches/por_benches.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/por.rs
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/lib.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Minor changes for readability, added feedback
  Cargo.lock
  common/internal-types/src/protocol.rs
  common/network-types/Cargo.toml
  common/network-types/src/types.rs
  crypto/packet/benches/packet_benches.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/types.rs
  db/api/Cargo.toml
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  db/sql/src/db.rs
  db/sql/src/errors.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/src/lib.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/common/mod.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-transport, crate:hopr-transport-protocol

Added feedback
  Cargo.lock
  crypto/packet/src/packet.rs
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/sphinx/src/surb.rs
  crypto/types/Cargo.toml
  crypto/types/src/utils.rs
  transport/protocol/src/msg/processor.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-transport-protocol

Ensure CacheKeyMapper consistency
  crypto/types/src/primitives.rs
  db/sql/src/cache.rs
Labels: crate:hopr-crypto-types

Add more feedback
  crypto/packet/src/packet.rs
  crypto/sphinx/src/surb.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Fix chain_integration_tests.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: crate:hopr-lib

Update values in test_session.py
  tests/test_session.py
Labels: testing

separate deployment code constants and errors
  chain/types/src/constants.rs
  chain/types/src/errors.rs
Labels: crate:hopr-chain-types

migrate types
  Cargo.lock
  chain/types/Cargo.toml
  chain/types/src/lib.rs
  chain/types/src/utils.rs
Labels: dependencies, crate:hopr-chain-types

use less generic types
  chain/types/src/lib.rs
  chain/types/src/utils.rs
Labels: crate:hopr-chain-types

to keep things unified, use hex crate for hex macro
  chain/types/src/constants.rs
Labels: crate:hopr-chain-types

use hex macro from hexliteral
  common/internal-types/src/legacy.rs
  common/internal-types/src/protocol.rs
Labels: crate:hopr-internal-types

bump version of crates where alloy-rs is used
  Cargo.lock
  chain/types/Cargo.toml
  common/internal-types/Cargo.toml
Labels: dependencies, crate:hopr-internal-types, crate:hopr-chain-types

add Into implementation between hopr-primitive and alloy-primitive Address types
  common/primitive-types/Cargo.toml
  common/primitive-types/src/primitives.rs
Labels: dependencies, crate:hopr-primitive-types

use into for type changes. Remove ethers-rs crate
  Cargo.lock
  chain/types/Cargo.toml
  chain/types/src/lib.rs
  chain/types/src/utils.rs
Labels: dependencies, crate:hopr-chain-types

replace bindings in chain-actions
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/payload.rs
Labels: dependencies, crate:hopr-chain-actions

Initial WIP on on SURB-bearing keepalives
  transport/session/src/initiation.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: none

Execute benchmarks
  .github/workflows/bencher.yaml
Labels: toolchain

Fixing Tibor's review
  flake.nix
Labels: toolchain

Remove feature
  .github/workflows/bencher.yaml
Labels: toolchain

Fixing compilation
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: crate:hopr-transport-protocol

Fix compilation
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: crate:hopr-transport-protocol

Increase timeout
  .github/workflows/bencher.yaml
Labels: toolchain
