Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

Updated benchmarks
  crypto/packet/benches/packet_crypto.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/types.rs
Labels: crate:hopr-crypto-packet

Partial functionas
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport-protocol

Some experimenting
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport-protocol

Buildable, but does it work?
  transport/protocol/src/stream.rs
Labels: crate:hopr-transport-protocol

transport: Improve handling of env var HOPRD_NAT
  Cargo.lock
  Cargo.toml
  README.md
  transport/api/Cargo.toml
  transport/api/src/config.rs
  vendor/cargo/temp-env-0.3.6/.cargo-checksum.json
  vendor/cargo/temp-env-0.3.6/Cargo.toml
  vendor/cargo/temp-env-0.3.6/LICENSE-APACHE
  vendor/cargo/temp-env-0.3.6/LICENSE-MIT
  vendor/cargo/temp-env-0.3.6/README.md
  vendor/cargo/temp-env-0.3.6/src/lib.rs
Labels: dependencies, crate:hopr-transport

main functionality in
  chain/actions/src/action_queue.rs
  chain/actions/src/channels.rs
  chain/api/src/executors.rs
  chain/types/src/actions.rs
  common/internal-types/src/channels.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
Labels: crate:hopr-internal-types, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-types, crate:hoprd-api

Added PartialHoprPacket
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/surb.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Standardize generic-array dependencies
  Cargo.lock
  Cargo.toml
  crypto/random/src/lib.rs
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/shared_keys.rs
  crypto/types/src/keypairs.rs
  crypto/types/src/utils.rs
Labels: dependencies, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types

format
  .github/workflows/build-dappnode.yaml
Labels: toolchain

Prune dependencies
  Cargo.lock
  crypto/packet/Cargo.toml
Labels: dependencies, crate:hopr-crypto-packet

dummy pr
  hoprd/rest-api/README.md
Labels: crate:hoprd-api

dummy pr
  hoprd/rest-api/README.md
Labels: crate:hoprd-api

bump cargos
  Cargo.lock
  chain/api/Cargo.toml
  chain/types/Cargo.toml
  common/internal-types/Cargo.toml
  hopr/hopr-lib/Cargo.toml
  hoprd/rest-api/Cargo.toml
Labels: dependencies, crate:hopr-internal-types, crate:hopr-lib, crate:hopr-chain-api, crate:hopr-chain-types, crate:hoprd-api

Improve eligibility check by removing type conversions (#6942)
  .github/workflows/build-dappnode.yaml
  Cargo.lock
  Cargo.toml
  chain/actions/src/channels.rs
  chain/indexer/src/handlers.rs
  crypto/types/src/types.rs
  db/sql/src/accounts.rs
  db/sql/src/db.rs
  db/sql/src/lib.rs
  db/sql/src/registry.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/node.rs
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  vendor/cargo/either-1.13.0/.cargo-checksum.json
  vendor/cargo/either-1.13.0/Cargo.toml
  vendor/cargo/either-1.13.0/README.rst
  vendor/cargo/either-1.13.0/src/iterator.rs
  vendor/cargo/either-1.13.0/src/lib.rs
  vendor/cargo/either-1.15.0/.cargo-checksum.json
  vendor/cargo/either-1.15.0/Cargo.toml
  vendor/cargo/either-1.15.0/LICENSE-APACHE
  vendor/cargo/either-1.15.0/LICENSE-MIT
  vendor/cargo/either-1.15.0/README-crates.io.md
  vendor/cargo/either-1.15.0/README.rst
  vendor/cargo/either-1.15.0/src/into_either.rs
  vendor/cargo/either-1.15.0/src/iterator.rs
  vendor/cargo/either-1.15.0/src/lib.rs
  vendor/cargo/either-1.15.0/src/serde_untagged.rs
  vendor/cargo/either-1.15.0/src/serde_untagged_optional.rs
Labels: toolchain, dependencies, crate:hopr-crypto-types, crate:hopr-lib, crate:hopr-chain-actions, crate:hopr-chain-indexer, crate:hopr-transport, crate:hoprd-api

tests: Add unit tests for the msg encoder/decoder functionality
  Cargo.lock
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/msg/mod.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-protocol

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/scorecards.yml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .pre-commit-config.yaml
Labels: toolchain

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/scorecards.yml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .pre-commit-config.yaml
Labels: toolchain

ci: Add harden-runner to all workflows (#6934)
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .github/workflows/zizmor.yaml
  nix/shell.nix
Labels: toolchain

ci: Prepare docker compose first (#6943)
  .github/workflows/build-dappnode.yaml
Labels: toolchain

ci: Allow sudo in dappnode build (#6944)
  .github/workflows/build-dappnode.yaml
Labels: toolchain

format
  .github/workflows/build-dappnode.yaml
Labels: toolchain

tests
  chain/actions/Cargo.toml
  chain/actions/src/channels.rs
  common/internal-types/src/channels.rs
  sdk/python/api/channels.py
  sdk/python/api/hopr.py
  sdk/python/api/request_objects.py
  sdk/python/api/response_objects.py
  tests/conftest.py
  tests/test_integration.py
  tests/test_websocket_api.py
  tests/utils.py
Labels: dependencies, testing, crate:hopr-internal-types, crate:hopr-chain-actions

ci: Add harden-runner to all workflows (#6948)
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .github/workflows/zizmor.yaml
  nix/shell.nix
Labels: toolchain

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .github/workflows/zizmor.yaml
Labels: toolchain

ci: Fix checkout
  .github/workflows/build-docker.yaml
  .github/workflows/build.yaml
Labels: toolchain

ci: No sparse checkout
  .github/workflows/build-docker.yaml
Labels: toolchain

ci: Remove obsolete input
  .github/workflows/build.yaml
Labels: toolchain

Add serde feature
  Cargo.lock
  common/primitive-types/Cargo.toml
  common/primitive-types/src/lib.rs
  common/primitive-types/src/primitives.rs
  crypto/packet/Cargo.toml
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/ec_groups.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/surb.rs
  crypto/types/src/primitives.rs
  crypto/types/src/utils.rs
Labels: dependencies, crate:hopr-primitive-types, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet

Removed redundant template parameter
  crypto/packet/src/lib.rs
Labels: crate:hopr-crypto-packet

ci: Remove obsolete input param
  .github/workflows/build-docker.yaml
Labels: toolchain

readme: Remove obsolete env var
  README.md
Labels: none

format
  .github/workflows/build-docs.yaml
Labels: toolchain

Add packet precomputation benchmark
  crypto/packet/Cargo.toml
  crypto/packet/benches/packet_crypto.rs
  crypto/sphinx/Cargo.toml
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-packet

Bump the flake.lock (#6940)
  flake.lock
Labels: toolchain

fmt
  hoprd/rest-api/README.md
Labels: crate:hoprd-api

fix Update .gitignore
  .gitignore
Labels: none

fmt
  hoprd/rest-api/README.md
Labels: crate:hoprd-api

Fix debug/prod docker build pipeline (#6862)
  .github/workflows/build-binaries.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  chain/rpc/src/client.rs
  ethereum/bindings/build.rs
  hoprd/hoprd/Cargo.toml
  nix/rust-builder.nix
  nix/shell.nix
  scripts/bump-version.sh
Labels: toolchain, dependencies, crate:hopr-chain-rpc, crate:hopr-bindings, crate:hoprd

docker: Fix entrypoint script (#6884)
  flake.nix
Labels: toolchain

Move serde behind a feature in multiple crates
  Cargo.lock
  Cargo.toml
  common/internal-types/Cargo.toml
  common/internal-types/src/account.rs
  common/internal-types/src/channels.rs
  common/internal-types/src/legacy.rs
  common/internal-types/src/lib.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  crypto/sphinx/Cargo.toml
  crypto/types/Cargo.toml
  crypto/types/src/lib.rs
  crypto/types/src/primitives.rs
  crypto/types/src/types.rs
  crypto/types/src/utils.rs
  crypto/types/src/vrf.rs
  db/sql/src/protocol.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/bloom.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-transport-p2p, crate:hopr-transport-protocol
