Repository hoprnet/hoprnet, changes with the labels that .github/labeler.yml gives for each.
All labels: toolchain, dependencies, documentation, testing, smart-contracts, crate:hopr-path, crate:hopr-strategy, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-crypto-random, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hopr-metrics, crate:hopr-platform, crate:hopr-chain-actions, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-bindings, crate:hopr-transport, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport-protocol, crate:hoprd, crate:hoprd-inbox, crate:hoprd-keypair, crate:hoprd-api, crate:hopr-socks

.github/labeler.yml:

---
toolchain:
  - changed-files:
      - any-glob-to-any-file:
          - "flake.lock"
          - "flake.nix"
          - ".github/**"
          - ".githooks/**"
          - ".processes/**"
          - "scripts/**"
          - "rust-toolchain.toml"
          - ".coderabbit.yaml"
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "Cargo.lock"
          - "**/Cargo.toml"
          - "vendor/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**"
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
smart-contracts:
  - changed-files:
      - any-glob-to-any-file:
          - "ethereum/contracts/**"
crate:hopr-path:
  - changed-files:
      - any-glob-to-any-file: logic/path/**
crate:hopr-strategy:
  - changed-files:
      - any-glob-to-any-file: logic/strategy/**
crate:hopr-internal-types:
  - changed-files:
      - any-glob-to-any-file: common/internal-types/**
crate:hopr-primitive-types:
  - changed-files:
      - any-glob-to-any-file: common/primitive-types/**
crate:hopli:
  - changed-files:
      - any-glob-to-any-file: hopli/**
crate:hopr-db-entity:
  - changed-files:
      - any-glob-to-any-file: db/entity/**
crate:hopr-db-api:
  - changed-files:
      - any-glob-to-any-file: db/api/**
crate:hopr-db-migration:
  - changed-files:
      - any-glob-to-any-file: db/migration/**
crate:hopr-crypto-random:
  - changed-files:
      - any-glob-to-any-file: crypto/random/**
crate:hopr-crypto-sphinx:
  - changed-files:
      - any-glob-to-any-file: crypto/sphinx/**
crate:hopr-crypto-types:
  - changed-files:
      - any-glob-to-any-file: crypto/types/**
crate:hopr-crypto-packet:
  - changed-files:
      - any-glob-to-any-file: crypto/packet/**
crate:hopr-lib:
  - changed-files:
      - any-glob-to-any-file: hopr/hopr-lib/**
crate:hopr-metrics:
  - changed-files:
      - any-glob-to-any-file: misc/metrics/**
crate:hopr-platform:
  - changed-files:
      - any-glob-to-any-file: misc/platform/**
crate:hopr-chain-actions:
  - changed-files:
      - any-glob-to-any-file: chain/actions/**
crate:hopr-chain-api:
  - changed-files:
      - any-glob-to-any-file: chain/api/**
crate:hopr-chain-indexer:
  - changed-files:
      - any-glob-to-any-file: chain/indexer/**
crate:hopr-chain-rpc:
  - changed-files:
      - any-glob-to-any-file: chain/rpc/**
crate:hopr-chain-types:
  - changed-files:
      - any-glob-to-any-file: chain/types/**
crate:hopr-bindings:
  - changed-files:
      - any-glob-to-any-file: ethereum/bindings/**
crate:hopr-transport:
  - changed-files:
      - any-glob-to-any-file: transport/api/**
crate:hopr-transport-network:
  - changed-files:
      - any-glob-to-any-file: transport/network/**
crate:hopr-transport-p2p:
  - changed-files:
      - any-glob-to-any-file: transport/p2p/**
crate:hopr-transport-protocol:
  - changed-files:
      - any-glob-to-any-file: transport/protocol/**
crate:hoprd:
  - changed-files:
      - any-glob-to-any-file: hoprd/hoprd/**
crate:hoprd-inbox:
  - changed-files:
      - any-glob-to-any-file: hoprd/inbox/**
crate:hoprd-keypair:
  - changed-files:
      - any-glob-to-any-file: hoprd/keypair/**
crate:hoprd-api:
  - changed-files:
      - any-glob-to-any-file: hoprd/rest-api/**
crate:hopr-socks:
  - changed-files:
      - any-glob-to-any-file: hopr-socks/**

Remove connection opening per-packet
  db/sql/src/protocol.rs
Labels: none

ci: Fix flake lock action
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Fix flake lock action
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Fix flake lock action (#7000)
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

ci: Dont persist credentials
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

add persist-credentials
  .github/workflows/bencher.yaml
Labels: toolchain

Fix template injection
  .github/workflows/bencher.yaml
Labels: toolchain

Remove dead code
  .github/workflows/bencher.yaml
Labels: toolchain

Solve merge conflict
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
Labels: none

Rrevert commit
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
Labels: none

fmt
  tests/pyproject.toml
Labels: testing

Cancle previous jobs
  .github/workflows/zizmor.yaml
Labels: toolchain

Do not persist credentials
  .github/workflows/cache-deps.yaml
Labels: toolchain

Do not persist credentials
  .github/workflows/audit-pr.yaml
Labels: toolchain

Use a fixed version as suggested by Coderabit
  .github/workflows/bencher.yaml
Labels: toolchain

Changing folder for docker compose (#6971)
  deploy/compose/README.md
  deploy/compose/docker-compose.yml
  deploy/compose/hoprd/conf/hoprd.cfg.yaml
Labels: none

api addr provided to all nodes
  Makefile
  sdk/python/localcluster-expose1.params.yml
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
  tests/test_integration.py
  tests/test_websocket_api.py
Labels: testing

ci: Cache used cargo packages in a crates.io proxy (#6902)
  .github/workflows/build-binaries.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/cache-deps.yaml
  .github/workflows/merge.yaml
  .github/workflows/renovate-cargo-update.yaml
  flake.lock
Labels: toolchain

Just the fix
  .github/workflows/build-docker.yaml
Labels: toolchain

Fix merge pipeline
  .github/workflows/build-docker.yaml
Labels: toolchain

Fix merge pipeline (#7002)
  .github/workflows/build-docker.yaml
Labels: toolchain

Update cache-deps.yaml to use the proper runner
  .github/workflows/cache-deps.yaml
Labels: toolchain

Update cache-deps.yaml to use the proper runner (#7003)
  .github/workflows/cache-deps.yaml
Labels: toolchain

network exposing based on a flag
  Makefile
  sdk/python/api/hopr.py
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
Labels: none

Fix linter
  .github/workflows/audit-pr.yaml
Labels: toolchain

api: Update schema inclusion for the 'alias' objects
  Cargo.lock
  hoprd/rest-api/src/lib.rs
Labels: dependencies, crate:hoprd-api

ci: Fix cache dependency workflow
  .github/workflows/cache-deps.yaml
Labels: toolchain

Add branch
  .github/workflows/build.yaml
Labels: toolchain

ci: Fix cache dependency workflow (#7005)
  .github/workflows/cache-deps.yaml
Labels: toolchain

Change the runner
  .github/workflows/audit-pr.yaml
Labels: toolchain

pluto
  flake.nix
  scripts/run-local-cluster.sh
  sdk/python/localcluster/node.py
Labels: toolchain

Change order
  .github/workflows/tests.yaml
Labels: toolchain

Add Auditing code (#6972)
  .github/workflows/audit-pr.yaml
  .github/workflows/build.yaml
  Cargo.lock
  flake.nix
  hoprd/hoprd/Cargo.toml
  nix/shell.nix
Labels: toolchain, dependencies, crate:hoprd

Test out caching
  .github/workflows/cache-deps.yaml
Labels: toolchain

ci: Update the `cache-deps` naming convention (#7006)
  .github/workflows/cache-deps.yaml
Labels: toolchain

Using bigger machines to do testing
  .github/workflows/tests.yaml
Labels: toolchain

ci: Dont persist credentials (#7001)
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

Add Bencher pipeline (#6998)
  .github/workflows/bencher.yaml
  .github/workflows/merge.yaml
  .github/workflows/tests.yaml
  .github/workflows/zizmor.yaml
Labels: toolchain

Fix Bencher
  .github/workflows/bencher.yaml
Labels: toolchain

audit fix
  .github/workflows/audit-pr.yaml
Labels: toolchain
