Repository hoprnet/hoprnet, pull requests merged in 2021-05, with the labels that each got.

#1578 Clean up README / Add Nix development support
  .envrc
  README.md
  nix/sources.json
  nix/sources.nix
  shell.nix
Labels: toolchain

#1592 Improve bash script syntax, no semantic changes
  .github/workflows/deploy.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  README.md
  packages/hoprd/hoprd-default.sh
  scripts/cleanup.sh
  scripts/dependencies.sh
  scripts/deploy.sh
  scripts/dns.sh
  scripts/environments.sh
  scripts/gcloud.sh
  scripts/internal.sh
  scripts/keys/authorized_keys
  scripts/nightly.sh
  scripts/qa.sh
  scripts/testnet.sh
  scripts/utils.sh
  shell.nix
  test/e2e/0_configuration.sh
  test/e2e/1_nodes_have_valid_eth_address.sh
  test/e2e/2_nodes_can_be_funded.sh
Labels: devops

#1601 Fix sourcing check of shell scripts
  .github/workflows/deploy.yaml
  scripts/cleanup.sh
  scripts/deploy.sh
  scripts/dns.sh
  scripts/environments.sh
  scripts/gcloud.sh
  scripts/internal.sh
  scripts/nightly.sh
  scripts/qa.sh
  scripts/testnet.sh
  scripts/utils.sh
Labels: bug

#1603 Add missing version to used Github action gcloud
  .github/workflows/deploy.yaml
  .github/workflows/latexcompile.yml
  .github/workflows/nightly.yaml
Labels: bug

#1646 Refactor steps from Github workflow into separate scripts to improve testability
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
  package.json
  scripts/commit-and-push-all-changes.sh
  scripts/configure-git-info.sh
  scripts/get-npm-package-info.sh
  scripts/get-package-version.sh
  scripts/publish-patch-release.sh
  scripts/publish-pre-release.sh
  scripts/regenerate-typedocs.sh
  scripts/wait-for-npm-package.sh
Labels: devops, toolchain

#1648 Remove uses of GITHUB_ENV in Github release workflow
  .actrc
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
  README.md
  packages/hoprd/.gitignore
  scripts/get-package-version.sh
  scripts/publish-patch-release.sh
  scripts/publish-pre-release.sh
  shell.nix
Labels: devops, toolchain

#1653 Enable monitoring for GCP compute instances
  scripts/gcloud.sh
Labels: devops

#1612 Cleanup ticket storage and remove index usage
  packages/core-ethereum/src/channel.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/messages/packet.ts
  packages/core/src/messages/validations.spec.ts
  packages/hoprd/src/commands/listOpenChannels.ts
  packages/utils/src/db.spec.ts
  packages/utils/src/db.ts
  packages/utils/src/types/channelEntry.ts
  packages/utils/src/types/solidity.ts
Labels: bug

#1656 Use single-quotes in Github workflow yaml conditions
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
Labels: toolchain

#1658 Fix path issues in gcloud builds
  .github/workflows/deploy.yaml
Labels: toolchain

#1631 Add script to run local end-to-end test of a testnet
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .gitignore
  README.md
  packages/core/src/index.ts
  packages/hoprd/src/index.ts
  scripts/configure-git-info.sh
  scripts/environments.sh
  scripts/gcloud.sh
  scripts/publish-patch-release.sh
  scripts/publish-pre-release.sh
  scripts/run-integration-tests-locally.sh
  scripts/run-integration-tests.sh
  scripts/testnet.sh
  test/e2e/0_configuration.sh
  test/e2e/1_nodes_have_valid_eth_address.sh
  test/e2e/2_nodes_can_be_funded.sh
  test/hardhat/Dockerfile
  test/integration-test.sh
Labels: devops, toolchain

#1676 Deploy smart contracts as part of deployment CI workflow
  .github/workflows/deploy.yaml
  .gitignore
  .prettierignore
  packages/core-ethereum/package.json
  packages/core-ethereum/src/channel.spec.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core/src/messages/validations.spec.ts
  packages/core/src/mixer.spec.ts
  packages/core/src/path/index.spec.ts
  packages/core/src/test-utils.ts
  packages/ethereum/.gitignore
  packages/ethereum/chain/contracts.json
  packages/ethereum/chain/index.ts
  packages/ethereum/constants.ts
  packages/ethereum/deploy/02_HoprToken.ts
  packages/ethereum/deploy/03_HoprDistributor.ts
  packages/ethereum/deploy/04_HoprWrapper.ts
  packages/ethereum/deploy/05_HoprChannels.ts
  packages/ethereum/deploy/postDeploy.ts
  packages/ethereum/deployments/goerli/.chainId
  packages/ethereum/deployments/goerli/HoprChannels.json
  packages/ethereum/deployments/goerli/HoprToken.json
  packages/ethereum/deployments/localhost/.chainId
  packages/ethereum/deployments/localhost/HoprChannels.json
  packages/ethereum/deployments/localhost/HoprDistributor.json
  packages/ethereum/deployments/localhost/HoprToken.json
  packages/ethereum/deployments/xdai/.chainId
  packages/ethereum/deployments/xdai/HoprChannels.json
  packages/ethereum/deployments/xdai/HoprDistributor.json
  packages/ethereum/deployments/xdai/HoprToken.json
  packages/ethereum/deployments/xdai/HoprWrapper.json
  packages/ethereum/hardhat.config.ts
  packages/ethereum/index.ts
  packages/ethereum/package.json
  packages/ethereum/tasks/faucet.ts
  packages/ethereum/tasks/getAccounts.ts
  packages/ethereum/tasks/postCompile.ts
  packages/ethereum/tasks/slimDeployments.ts
  packages/ethereum/tasks/utils/contracts.ts
  packages/ethereum/tsconfig.json
  packages/hoprd/src/commands/utils/displayHelp.ts
  packages/hoprd/src/commands/utils/message.ts
  packages/hoprd/src/commands/utils/tickets.ts
  packages/hoprd/src/commands/withdraw.ts
  packages/utils/src/crypto/por/index.ts
  scripts/deploy-smart-contracts.sh
  yarn.lock
Labels: devops, toolchain
