Repository hoprnet/hoprnet, pull requests merged in 2021-06, with the labels that each got.

#1746 Ensure Git changes are pulled before pushing
  .github/workflows/deploy.yaml
  scripts/commit-and-push-all-changes.sh
Labels: devops

#1800 Remove unused docker images when updating container VM
  scripts/gcloud.sh
  scripts/testnet.sh
Labels: devops

#1792 Add npm-based end-2-end test run
  .github/workflows/e2e.yaml
  scripts/run-integration-tests-locally.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/utils.sh
  test/integration-test.sh
Labels: testing, toolchain

#1780 fix and improve indexer tests
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
Labels: testing

#1813 add challenge tests
  packages/core-ethereum/src/channel.spec.ts
Labels: testing

#1830 Replace use of readlink for portability
  scripts/deploy-smart-contracts.sh
  scripts/publish-pre-release.sh
  scripts/regenerate-typedocs.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/wait-for-npm-package.sh
Labels: toolchain

#1837 Define release kiautschou as v1.72.0 in environments
  .github/workflows/npm-e2e.yaml
  lerna.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/docs/modules.md
  packages/utils/package.json
  packages/utils/src/libp2p/index.ts
  scripts/environments.sh
  yarn.lock
Labels: release

#1841 Ensure Avado builds are only done on version changes
  .github/workflows/deploy.yaml
  scripts/testnet.sh
Labels: devops, release

#1845 Fix auto-funding and node identity retainment
  .github/workflows/deploy.yaml
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core/src/index.ts
  packages/hoprd/src/commands/redeemTickets.ts
  packages/hoprd/src/index.ts
  scripts/testnet.sh
Labels: devops, release

#1883 Merge changes from release kiautschou into master
  README.md
  packages/core/package.json
  scripts/gcloud.sh
  scripts/internal.sh
  scripts/testnet.sh
  yarn.lock
Labels: release

#1854 Simplify Docker image build and use npm packages instead of source
  .github/workflows/deploy.yaml
  packages/hoprd/Dockerfile
  packages/hoprd/cloudbuild.yaml
  scripts/publish-patch-release.sh
  scripts/publish-pre-release.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
Labels: devops

#1907 Upgrade typescript to 4.3.4
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
  yarn.lock
Labels: toolchain

#1903 Fix gcloud cloudbuild execution
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/npm-e2e.yaml
  .github/workflows/test.yaml
  .gitignore
  nix/sources.json
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/hoprd/cloudbuild.yaml
  scripts/configure-git-info.sh
  scripts/publish-patch-release.sh
  scripts/publish-pre-release.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  shell.nix
Labels: devops, toolchain

#1913 Port CI improvements onto kiautschou
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/npm-e2e.yaml
  .github/workflows/test.yaml
  .gitignore
  nix/sources.json
  packages/hoprd/Dockerfile
  packages/hoprd/cloudbuild.yaml
  scripts/configure-git-info.sh
  scripts/publish-patch-release.sh
  scripts/publish-pre-release.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  shell.nix
Labels: release

#1920 Fix entrypoint in Avado docker image
  .github/workflows/deploy.yaml
  packages/avado/Dockerfile
Labels: toolchain

#1821 make integration tests strict to catch errors
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/utils.sh
  test/integration-test.sh
Labels: testing

#1939 Store node logs as CI artifacts after e2e tests
  .github/workflows/e2e.yaml
  .github/workflows/npm-e2e.yaml
Labels: testing, toolchain

#1937 Add macos as platform to CI tests
  .github/workflows/e2e.yaml
  .github/workflows/npm-e2e.yaml
  .github/workflows/test.yaml
Labels: testing, toolchain

#1943 Fix execution of CI tests
  .github/workflows/e2e.yaml
  .github/workflows/npm-e2e.yaml
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: testing

#1918 HOPR Admin w/logs available publicly
  packages/ethereum/deployments/localhost/.chainId
  packages/ethereum/deployments/localhost/HoprChannels.json
  packages/ethereum/deployments/localhost/HoprDistributor.json
  packages/ethereum/deployments/localhost/HoprToken.json
  packages/hoprd/package.json
  packages/hoprd/src/index.ts
  packages/hoprd/src/logs.ts
  yarn.lock
Labels: devops, feature

#1946 Enable websocat installation on macOS as well
  .gitignore
  scripts/install-websocat.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  test/security-test.sh
Labels: testing

#1947 Differentiate tmp folder for CI runners
  .github/workflows/e2e.yaml
  .github/workflows/npm-e2e.yaml
Labels: testing, toolchain

#1957 Restore priviledged mode in Docker image temporarily
  packages/hoprd/Dockerfile
Labels: devops, toolchain

#1959 Update docker commands in README
  README.md
Labels: p:documentation

#1990 Ensure release branches use xdai when deploying nodes
  .github/workflows/deploy.yaml
  scripts/deploy.sh
Labels: devops

#1994 Fix provider protocols in deploy scripts
  scripts/deploy.sh
  scripts/internal.sh
  scripts/nightly.sh
  scripts/run-integration-tests.sh
  scripts/testnet.sh
Labels: devops

#1991 Ensure release branches use xdai when deploying nodes
  .github/workflows/deploy.yaml
  scripts/deploy.sh
  scripts/internal.sh
  scripts/nightly.sh
  scripts/run-integration-tests.sh
  scripts/testnet.sh
Labels: devops

#1999 Merge paphos into master
  .github/workflows/deploy.yaml
  README.md
  docs/hopr-documentation/index.md
  docs/hopr-documentation/src/install-hoprd/using-docker.md
  docs/hopr-documentation/src/install-hoprd/using-npm.md
  docs/hopr-documentation/src/install-hoprd/using-script.md
  docs/hopr-documentation/src/running-hoprd/commands.md
  docs/hopr-documentation/src/running-hoprd/flags.md
  docs/hopr-documentation/src/running-hoprd/index.md
  lerna.json
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/hoprd/src/commands/listOpenChannels.ts
  packages/utils/package.json
  packages/utils/src/types/primitives.spec.ts
  scripts/deploy.sh
  scripts/environments.sh
  scripts/internal.sh
  scripts/nightly.sh
  scripts/run-integration-tests.sh
  scripts/testnet.sh
Labels: release

#2000 Add timing to e2e logs to help with debugging test failures
  scripts/utils.sh
  shell.nix
  test/integration-test.sh
Labels: testing

#2002 Retire stirling gcloud environment
  scripts/environments.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: devops, testing

#2010 Use build arg instead of env var for hoprd version in Docker image build
  packages/hoprd/Dockerfile
  packages/hoprd/cloudbuild.yaml
Labels: devops, toolchain

#2011 Update some dependencies
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/package.json
  packages/ethereum/test/HoprChannels.spec.ts
  packages/hoprd/package.json
  packages/hoprd/src/index.ts
  packages/utils/package.json
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  yarn.lock
Labels: toolchain
