Repository hoprnet/hoprnet, pull requests merged in 2021-12, with the labels that each got.

#3021 Fix incorrect coin type on withdraw
  scripts/fund-address.ts
Labels: bug

#3005 Retro followups
  .processes/development.md
Labels: processes

#2987 Fix/retry when provider fails 2965
  .vscode/launch.json
  packages/core-ethereum/package.json
  packages/core-ethereum/src/constants.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/transaction-manager.spec.ts
  packages/core-ethereum/src/transaction-manager.ts
  packages/hoprd/src/index.ts
  yarn.lock
Labels: bug

#3039 Add basic Swagger-based Rest API v2
  packages/core/src/index.ts
  packages/cover-traffic-daemon/package.json
  packages/cover-traffic-daemon/src/healthcheck.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/hoprd/README.md
  packages/hoprd/package.json
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api.ts
  packages/hoprd/src/api/v1.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/account/address.ts
  packages/hoprd/src/api/v2/paths/node/version.ts
  packages/hoprd/src/healthcheck.ts
  packages/hoprd/src/index.ts
  yarn.lock
Labels: feature

#3055 Merge back release Prague
  .processes/release.md
  CHANGELOG.md
  README.md
  docs/hopr-documentation/src/install-hoprd/using-docker.md
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deployments/prague/xdai/.chainId
  packages/ethereum/deployments/prague/xdai/HoprChannels.json
  packages/ethereum/deployments/prague/xdai/HoprDistributor.json
  packages/ethereum/deployments/prague/xdai/HoprToken.json
  packages/ethereum/deployments/prague/xdai/HoprWrapper.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
  scripts/testnet.sh
Labels: devops

#3078 GH Actions: add yarn build step to deploy workflow
  .github/workflows/deploy.yaml
Labels: bug, devops

#3087 Link wallets.md to main processes page
  .processes/index.md
Labels: processes

#3098 Update representative
  .processes/development.md
Labels: processes

#3099 Update Sprint Retro time to reflect the new schedule
  .processes/development.md
Labels: processes

#3086 Event-driven control flow
  package.json
  packages/core-ethereum/src/index.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/src/index.ts
Labels: testing

#3020 `payment-channels` refactor
  .vscode/launch.json
  package.json
  packages/core-ethereum/.gitignore
  packages/core-ethereum/package.json
  packages/core-ethereum/src/chain.ts
  packages/core-ethereum/src/ethereum.mock.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.mock.ts
  packages/core-ethereum/src/index.spec.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core/src/environment.ts
  packages/core/src/index.spec.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/cover-traffic-daemon/src/index.spec.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/hoprd/src/index.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  yarn.lock
Labels: feature, toolchain, testing

#3043 Fix/race condition
  .gitignore
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/cover-traffic-daemon/metrics.md
  packages/cover-traffic-daemon/package.json
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/strategy.ts
Labels: bug

#3115 fix npm e2e tests
  scripts/run-integration-tests-npm.sh
Labels: bug

#3128 throw error on tx reverts
  packages/core-ethereum/src/constants.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/transaction-manager.ts
Labels: bug

#3053 Update required release steps
  .processes/release.md
Labels: bug, devops

#3143 add api token to address getter in deploy script
  scripts/deploy.sh
Labels: bug

#3145 Add missing api token to gcloud cluster creation script
  scripts/setup-gcloud-cluster.sh
Labels: bug

#3148 Fixed token in gcloud helper scripts
  scripts/fund-address.ts
  scripts/setup-gcloud-cluster.sh
Labels: bug

#3149 fix missing deferrer listener
  packages/core-ethereum/src/ethereum.ts
Labels: bug

#3155 various fixes
  packages/core-ethereum/src/ethereum.ts
  scripts/fund-address.ts
Labels: bug

#3162 avoid nonce reuse when funding
  scripts/testnet.sh
Labels: bug

#3175 Use automatic path finding in Rest API v2
  packages/hoprd/src/admin.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/messages.ts
  scripts/setup-local-cluster.sh
Labels: bug

#3186 Add git binary to Docker image builder
  packages/hoprd/Dockerfile
Labels: devops

#3188 Fix docker build of CT daemon, which was lacking git binary as well
  packages/cover-traffic-daemon/Dockerfile
Labels: bug, devops

#3183 Fix connectivity
  packages/connect/package.json
  packages/connect/src/base/listener.spec.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/filter.spec.ts
  packages/core/package.json
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/utils/package.json
  packages/utils/src/libp2p/dialHelper.ts
  yarn.lock
Labels: bug

#3206 store hopr balance
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/utils/src/db.spec.ts
  packages/utils/src/db.ts
Labels: bug

#3203 fix unhandled promise 3202
  packages/core-ethereum/src/indexer/index.ts
Labels: bug
