Repository hoprnet/hoprnet, pull requests merged in 2021-09, with the labels that each got.

#2063 Upgrade yarn to v3
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e-gcloud.yaml
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/test.yaml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-exec.cjs
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.1.cjs
  .yarnrc.yml
  README.md
  package.json
  packages/core-ethereum/package.json
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/package.json
  packages/core/src/interactions/packet/index.spec.ts
  packages/ethereum/deployments/default/localhost/HoprChannels.json
  packages/ethereum/deployments/localhost/HoprChannels.json
  packages/ethereum/hardhat.config.ts
  packages/ethereum/package.json
  packages/ethereum/tasks/faucet.ts
  packages/ethereum/tsconfig.json
  packages/hoprd/package.json
  packages/utils/docs/classes/defer.md
  packages/utils/package.json
  packages/utils/src/defer.ts
  packages/utils/src/index.ts
  packages/utils/src/libp2p/index.spec.ts
  scripts/deploy-smart-contracts.sh
  scripts/get-npm-package-info.sh
  scripts/get-package-version.sh
  scripts/publish-patch-release.sh
  scripts/publish-pre-release.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/wait-for-npm-package.sh
  shell.nix
  yarn.lock
Labels: toolchain

#2361 remove obsolete build commands in deploy workflow
  .github/workflows/deploy.yaml
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/ethereum/deployments/default/goerli/HoprChannels.json
  packages/ethereum/deployments/default/xdai/HoprChannels.json
Labels: devops

#2368 merge release/wildhorn into master
  .github/workflows/deploy.yaml
  lerna.json
  packages/avado/Dockerfile
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core-ethereum/docs/modules.md
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/deployments/default/goerli/HoprChannels.json
  packages/ethereum/deployments/default/polygon/HoprChannels.json
  packages/ethereum/deployments/default/xdai/HoprChannels.json
  packages/ethereum/hardhat.config.ts
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/hoprd/protocol-config.json
  packages/hoprd/src/commands/listOpenChannels.ts
  packages/hoprd/src/index.ts
  packages/utils/package.json
  scripts/deploy.sh
  scripts/environments.sh
Labels: release

#2386 Copyedits to the yellow paper
  docs/yellowpaper/main.tex
  docs/yellowpaper/sections/01-introduction/index.tex
  docs/yellowpaper/sections/03-sphinx-packet-format/index.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/01-probabilistic-payments.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/02-on-chain-commitment.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/03-proof-of-relay.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/index.tex
  docs/yellowpaper/sections/06-tickets/index.tex
  docs/yellowpaper/sections/09-path-selection/index.tex
  docs/yellowpaper/sections/10-conclusion/index.tex
  docs/yellowpaper/yellowpaper.pdf
Labels: p:documentation, Design Document

#2389 package upgrades
  package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/package.json
  packages/ethereum/test/HoprChannels.spec.ts
  packages/hoprd/package.json
  packages/utils/package.json
  yarn.lock
Labels: toolchain

#2412 Combine publish scripts into a single script
  .github/workflows/deploy.yaml
  packages/utils/package.json
  scripts/publish-patch-release.sh
  scripts/publish-pre-release.sh
  scripts/publish-version.sh
Labels: toolchain

#2419 Fix package helper scripts to be more stable
  .github/workflows/deploy.yaml
  .yarnrc.yml
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic/package.json
  packages/ethereum/deployments/default/goerli/HoprChannels.json
  packages/ethereum/deployments/default/xdai/HoprChannels.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
  scripts/get-npm-package-info.sh
  scripts/get-package-version.sh
  scripts/publish-version.sh
  scripts/wait-for-npm-package.sh
Labels: toolchain

#2425 npm-e2e: fix use of incorrect package version
  scripts/run-integration-tests-npm.sh
Labels: toolchain

#2462 Add basic Docker build support to cover traffic daemon
  .github/workflows/deploy.yaml
  packages/cover-traffic/Dockerfile
  packages/cover-traffic/README.md
  packages/cover-traffic/cloudbuild.yaml
  packages/cover-traffic/package.json
  packages/cover-traffic/src/dashboard.ts
  packages/cover-traffic/src/index.ts
  yarn.lock
Labels: toolchain

#2465 Add renovate configuration
  .github/renovate.json
Labels: devops

#2466 Fix package version in CTd Docker image build
  .github/workflows/deploy.yaml
  package.json
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/.gitignore
  packages/cover-traffic-daemon/Dockerfile
  packages/cover-traffic-daemon/README.md
  packages/cover-traffic-daemon/cloudbuild.yaml
  packages/cover-traffic-daemon/docs/README.md
  packages/cover-traffic-daemon/docs/modules.md
  packages/cover-traffic-daemon/package.json
  packages/cover-traffic-daemon/src/constants.ts
  packages/cover-traffic-daemon/src/dashboard.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/state.ts
  packages/cover-traffic-daemon/src/strategy.ts
  packages/cover-traffic-daemon/src/unreleasedTokens.json
  packages/cover-traffic-daemon/src/unreleasedTokens.spec.ts
  packages/cover-traffic-daemon/src/utils.ts
  packages/cover-traffic-daemon/tsconfig.json
  packages/ethereum/deployments/default/goerli/HoprChannels.json
  packages/ethereum/deployments/default/xdai/HoprChannels.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
  scripts/get-npm-package-info.sh
  yarn.lock
Labels: devops

#2493 Disable dependabot
  .github/dependabot.yml
Labels: devops, toolchain

#2507 Add setup gcloud script variant for CT nodes
  scripts/gcloud.sh
  scripts/setup-ct-gcloud-cluster.sh
Labels: devops
