Repository hoprnet/hoprnet, pull requests merged in 2021-07, with the labels that each got.

#2024 Change Docker tag latest-release to latest-SOMERELEASENAME
  .github/workflows/deploy.yaml
  README.md
  docs/hopr-documentation/src/install-hoprd/using-docker.md
  packages/avado/Dockerfile
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: devops

#2025 Add notification on CI failures
  .github/workflows/deploy.yaml
  .github/workflows/e2e.yaml
  .github/workflows/npm-e2e.yaml
  scripts/notify-matrix-github-workflow-failure.sh
  scripts/notify-matrix.sh
Labels: toolchain

#1966 frontend security
  .github/workflows/e2e.yaml
  docs/hopr-documentation/src/install-hoprd/using-npm.md
  packages/hoprd/hopr-admin/components/log.js
  packages/hoprd/hopr-admin/connection.js
  packages/hoprd/hopr-admin/pages/index.js
  packages/hoprd/hopr-admin/styles/globals.css
  packages/hoprd/package.json
  packages/hoprd/src/admin.ts
  scripts/install-jq.sh
  test/security-test.sh
  yarn.lock
Labels: feature, p:hoprd

#2047 Port hopr-connect fixes to release/kiautschou
  .github/workflows/deploy.yaml
  README.md
  WORKFLOW.md
  docs/hopr-documentation/src/install-hoprd/using-docker.md
  packages/avado/Dockerfile
  packages/core/package.json
  packages/hoprd/Dockerfile
  packages/hoprd/cloudbuild.yaml
  yarn.lock
Labels: devops, release

#2049 Add container args to container update call in glcoud
  scripts/gcloud.sh
  scripts/testnet.sh
Labels: devops, toolchain

#2058 Use https protocol prefix instead of wss for provider endpoints
  .github/workflows/deploy.yaml
  README.md
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/hoprd/README.md
  packages/hoprd/src/index.ts
  scripts/deploy.sh
  scripts/gcloud.sh
  scripts/testnet.sh
Labels: devops

#2048 Update hopr-connect to v0.2.30
  packages/core/package.json
  yarn.lock
Labels: p:core

#2062 Replace pokt with infura
  .github/workflows/deploy.yaml
  .github/workflows/e2e.yaml
  .github/workflows/nightly.yaml
  .github/workflows/npm-e2e.yaml
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  scripts/deploy.sh
  scripts/gcloud.sh
  scripts/internal.sh
  scripts/nightly.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/testnet.sh
Labels: devops

#2031 remove audit file & references from readme
  packages/ethereum/AUDIT.md
  packages/ethereum/README.md
Labels: Design Document

#2076 Ensure gcloud ssh key updates
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  scripts/gcloud.sh
  scripts/testnet.sh
Labels: devops

#2084 Expose p2p port in Docker image
  packages/hoprd/Dockerfile
Labels: toolchain

#2087 Enable e2e testing on gcloud networks
  .github/workflows/e2e-gcloud.yaml
  .github/workflows/e2e-npm.yaml
  scripts/gcloud.sh
  scripts/run-integration-tests-gcloud.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/testnet.sh
  scripts/utils.sh
  test/integration-test.sh
  test/security-test.sh
Labels: devops, testing, toolchain

#2117 Merge moscow into master
  README.md
  WORKFLOW.md
  docs/hopr-documentation/src/install-hoprd/using-docker.md
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  scripts/environments.sh
Labels: release

#2119 Merge moscow into master
  lerna.json
  packages/avado/dappnode_package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
Labels: release

#2116 Improving yellow paper introduction
  .github/workflows/latexcompile.yml
  docs/yellowpaper/main.tex
  docs/yellowpaper/references.bib
  docs/yellowpaper/sections/01-introduction/index.tex
  docs/yellowpaper/sections/02-threat-model/index.tex
  docs/yellowpaper/sections/03-sphinx-packet-format/index.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/03-proof-of-relay.tex
  docs/yellowpaper/sections/06-tickets/index.tex
  docs/yellowpaper/sections/10-conclusion/index.tex
  docs/yellowpaper/yellowpaper.pdf
Labels: Design Document

#2132 improve yellowpaper
  docs/yellowpaper/main.tex
  docs/yellowpaper/sections/01-introduction/index.tex
  docs/yellowpaper/sections/03-sphinx-packet-format/index.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/01-probabilistic-payments.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/03-proof-of-relay.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/index.tex
  docs/yellowpaper/sections/06-tickets/index.tex
  docs/yellowpaper/yellowpaper.pdf
Labels: Design Document
