Repository hoprnet/hoprnet, pull requests merged in 2021-11, with the labels that each got.

#2863 Fix failing unit test after environment changes
  packages/core/protocol-config-schema.json
  packages/core/protocol-config.json
  packages/ethereum/hardhat.config.ts
  packages/ethereum/package.json
  packages/hoprd/.gitignore
  packages/hoprd/releases-schema.json
  packages/hoprd/releases.json
  scripts/build-docker.sh
  scripts/deploy-smart-contracts.sh
  scripts/deploy.sh
  scripts/publish-version.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
Labels: testing

#2861 Update processes to use new project boards
  .processes/development.md
Labels: p:documentation, processes

#2851 Add the ability to re-elect representatives
  .processes/development.md
Labels: processes

#2895 increase gas multiplier on goerli
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
Labels: devops, toolchain

#2900 Update README.md and package.json to reflect latest changes
  README.md
  package.json
  test/security-test.sh
Labels: p:documentation

#2890 add community process
  .processes/community.md
  .processes/development.md
  .processes/index.md
Labels: processes

#2904 fix receiver account for minted tokens in CI/CD
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/protocol-config-schema.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deploy/02_HoprToken.ts
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
Labels: devops, toolchain

#2917 Prepare release tuttlingen
  packages/core/protocol-config.json
  packages/ethereum/deploy/02_HoprToken.ts
  packages/ethereum/deploy/03_HoprDistributor.ts
  packages/ethereum/deploy/04_HoprWrapper.ts
  packages/ethereum/deploy/05_HoprChannels.ts
  packages/ethereum/deployments/master-xdai/xdai/.chainId
  packages/ethereum/deployments/tuttlingen/xdai/.chainId
  packages/ethereum/deployments/tuttlingen/xdai/HoprChannels.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprDistributor.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprToken.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprWrapper.json
  packages/hoprd/releases.json
Labels: devops

#2897 Main `Hopr` class refactoring
  .vscode/launch.json
  packages/core/.gitignore
  packages/core/package.json
  packages/core/src/index.spec.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/hoprd/src/index.ts
  yarn.lock
Labels: feature

#2903 Update reprensentative election
  .processes/development.md
Labels: processes

#2889 cover traffic e2e test
  packages/cover-traffic-daemon/README.md
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/state.ts
  scripts/run-integration-tests-source.sh
  scripts/utils.sh
  test/ct-test.sh
Labels: devops, toolchain

#2935 added build:copy step when building ct daemon
  packages/cover-traffic-daemon/package.json
Labels: devops, toolchain

#2926 Core protocol cryptography fixes based on the YP
  packages/core/CHANGELOG.md
  packages/utils/src/crypto/packet/keyDerivation.ts
  packages/utils/src/crypto/packet/keyShares.ts
  packages/utils/src/crypto/packet/routingInfo.ts
  packages/utils/src/crypto/por/index.spec.ts
  packages/utils/src/crypto/por/index.ts
  packages/utils/src/crypto/por/keyDerivation.ts
Labels: p:core

#2936 Fix auto-funding during cluster deployment in CD
  .processes/release.md
  packages/core-ethereum/src/ethereum.ts
  packages/core/protocol-config.json
  packages/utils/src/types/primitives.ts
  scripts/deploy.sh
  scripts/fund-address.ts
  scripts/run-integration-tests-gcloud.sh
  scripts/send-hopr.js
  scripts/setup-ct-gcloud-cluster.sh
  scripts/setup-gcloud-cluster.sh
  scripts/testnet.sh
  scripts/topologies/full_interconnected_cluster.sh
  shell.nix
Labels: devops, toolchain

#2956 Back-merge release tuttlingen
  .processes/release.md
  CHANGELOG.md
  README.md
  docs/hopr-documentation/src/install-hoprd/using-docker.md
  packages/avado/Dockerfile
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core-ethereum/package.json
  packages/core-ethereum/src/ethereum.ts
  packages/core/package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deploy/05_HoprChannels.ts
  packages/ethereum/deployments/tuttlingen/xdai/HoprChannels.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprDistributor.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprToken.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprWrapper.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/hoprd/releases-schema.json
  packages/hoprd/releases.json
  packages/utils/docs/classes/Address.md
  packages/utils/docs/classes/Balance.md
  packages/utils/docs/classes/Hash.md
  packages/utils/docs/classes/NativeBalance.md
  packages/utils/docs/classes/Signature.md
  packages/utils/package.json
  packages/utils/src/types/primitives.ts
  scripts/cleanup.sh
  scripts/deploy.sh
  scripts/environments.sh
  scripts/fund-address.ts
  scripts/publish-version.sh
  scripts/run-integration-tests-gcloud.sh
  scripts/send-hopr.js
  scripts/setup-ct-gcloud-cluster.sh
  scripts/setup-gcloud-cluster.sh
  scripts/testnet.sh
  scripts/topologies/full_interconnected_cluster.sh
  shell.nix
  yarn.lock
Labels: toolchain

#2919 [TRACKING] Release: tuttlingen
  .processes/release.md
  CHANGELOG.md
  README.md
  docs/hopr-documentation/src/install-hoprd/using-docker.md
  packages/avado/Dockerfile
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/core-ethereum/package.json
  packages/core-ethereum/src/ethereum.ts
  packages/core/package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deploy/05_HoprChannels.ts
  packages/ethereum/deployments/tuttlingen/xdai/HoprChannels.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprDistributor.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprToken.json
  packages/ethereum/deployments/tuttlingen/xdai/HoprWrapper.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/hoprd/releases-schema.json
  packages/hoprd/releases.json
  packages/utils/docs/classes/Address.md
  packages/utils/docs/classes/Balance.md
  packages/utils/docs/classes/Hash.md
  packages/utils/docs/classes/NativeBalance.md
  packages/utils/docs/classes/Signature.md
  packages/utils/package.json
  packages/utils/src/types/primitives.ts
  scripts/cleanup.sh
  scripts/deploy.sh
  scripts/environments.sh
  scripts/fund-address.ts
  scripts/publish-version.sh
  scripts/run-integration-tests-gcloud.sh
  scripts/send-hopr.js
  scripts/setup-ct-gcloud-cluster.sh
  scripts/setup-gcloud-cluster.sh
  scripts/testnet.sh
  scripts/topologies/full_interconnected_cluster.sh
  shell.nix
Labels: devops

#2961 Redo fix of inclusion of unreleasedTokens.json
  packages/cover-traffic-daemon/package.json
  yarn.lock
Labels: bug

#2964 Add missing dep restana to cover-traffic-daemon
  packages/cover-traffic-daemon/package.json
  packages/hoprd/package.json
  yarn.lock
Labels: devops

#2972 Fix prefix of docker image names for cover traffic daemon
  .github/workflows/deploy.yaml
  scripts/build-docker.sh
Labels: devops

#2971 Improve reporting of memory usage information
  packages/utils/src/process/resourceLogger.ts
Labels: devops

#2974 Improve ct logging
  packages/cover-traffic-daemon/src/index.ts
  scripts/run-integration-tests-source.sh
Labels: testing

#2982 Fix ct docker build
  packages/avado/dappnode_package.json
  packages/avado/releases.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deployments/debug-goerli/goerli/HoprChannels.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
  scripts/build-docker.sh
Labels: devops

#2894 Added `wallets.md` to define policy
  .processes/wallets.md
Labels: design document
