Repository hoprnet/hoprnet, pull requests merged in 2021-08, with the labels that each got.

#2206 Nix setup improvements
  .envrc
  .gitignore
  flake.lock
  flake.nix
  nix/sources.json
  nix/sources.nix
  shell.nix
Labels: toolchain

#2200 Merge constantine into master
  CHANGELOG.md
  docs/yellowpaper/yellowpaper.pdf
  lerna.json
  packages/avado/Dockerfile
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
  scripts/environments.sh
Labels: release

#2208 Improve doc build action
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e-gcloud.yaml
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  docs/yellowpaper/yellowpaper.pdf
Labels: toolchain

#2226 Adding signature method to hoprd
  package.json
  packages/core/src/index.ts
  packages/hoprd/src/admin.ts
  packages/hoprd/src/commands/index.ts
  packages/hoprd/src/commands/sign.ts
Labels: feature

#2210 Improve documentation on testing
  README.md
  WORKFLOW.md
  docs/hopr-documentation/src/install-hoprd/using-docker.md
Labels: p:documentation, testing

#2249 Improving section on incentives in the yellowpaper
  .envrc
  .github/workflows/latexcompile.yml
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/01-probabilistic-payments.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/02-on-chain-commitment.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/03-proof-of-relay.tex
  docs/yellowpaper/sections/05-HOPR-incentivization-mechanism/index.tex
  docs/yellowpaper/sections/06-tickets/index.tex
  shell.nix
Labels: p:documentation, Design Document

#2252 Update latexcompile.yml
  .github/workflows/latexcompile.yml
Labels: toolchain

#2253 yellowpaper: improve path selection and references
  docs/yellowpaper/Makefile
  docs/yellowpaper/references.bib
  docs/yellowpaper/sections/01-introduction/index.tex
  docs/yellowpaper/sections/03-sphinx-packet-format/index.tex
  docs/yellowpaper/sections/09-path-selection/index.tex
Labels: p:documentation, Design Document

#2230 hoprd instances with different environment id don't talk to each other
  README.md
  packages/core/src/constants.ts
  packages/core/src/environment.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/ethereum/deployments/default/localhost/.chainId
  packages/ethereum/deployments/default/localhost/HoprChannels.json
  packages/ethereum/deployments/default/localhost/HoprDistributor.json
  packages/ethereum/deployments/default/localhost/HoprToken.json
  packages/ethereum/deployments/localhost/HoprChannels.json
  packages/ethereum/deployments/localhost/HoprDistributor.json
  packages/ethereum/deployments/localhost/HoprToken.json
  packages/ethereum/hardhat.config.ts
  packages/hoprd/README.md
  packages/hoprd/docs/README.md
  packages/hoprd/protocol-config.json
  packages/hoprd/src/index.ts
  packages/hoprd/test/protocol-config.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/utils.spec.ts
  packages/utils/src/utils.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/utils.sh
  test/integration-test.sh
Labels: feature, p:core
