Repository hoprnet/hoprnet, pull requests merged in 2022-12, with the labels that each got.

#4425 core-ethereum: Fix bug in on-chain tx listener
  CHANGELOG.md
  packages/core-ethereum/src/constants.ts
  packages/core-ethereum/src/ethereum.ts
Labels: bug

#4426 [hotfix/bogota] ci: Improve faucet min balance handling
  .processes/wallets.md
  scripts/testnet.sh
Labels: bug

#4427 Release update bogota/v1.91.22
  .processes/wallets.md
  CHANGELOG.md
  packages/avado/releases.json
  packages/core-ethereum/src/constants.ts
  packages/core-ethereum/src/ethereum.ts
  scripts/testnet.sh
Labels: release/bogota

#4428 Merge back release bogota 4
  CHANGELOG.md
  packages/avado/releases.json
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun.spec.ts
  packages/connect/src/base/stun.ts
  packages/connect/src/base/utils.spec.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/core-ethereum/src/constants.ts
  packages/core-ethereum/src/ethereum.ts
  scripts/deploy.sh
  scripts/notify-matrix-cluster-info.sh
  yarn.lock
Labels: release/bogota

#4433 Fixed incorrect handling of acknowledged tickets by the DB
  CHANGELOG.md
  packages/utils/src/db/db.ts
Labels: bug

#4435 Mergeback staging bogota/v1.91.22
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release/bogota

#4437 Cherry pick ticket redemption fixes for Valencia
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
  packages/utils/src/db/db.ts
Labels: bug

#4436 Release valencia hotfix/pluto init script
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
  packages/utils/src/db/db.ts
  scripts/setup-local-cluster.sh
Labels: toolchain, release/valencia

#4438 Release upgrade bogota/v1.91.23
  CHANGELOG.md
  packages/avado/releases.json
  packages/utils/src/db/db.ts
Labels: release/bogota

#4439 Staging upgrade bogota/v1.91.23
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release/bogota

#4440 [hotfix/valencia] Add missing wasm module support in local cluster
  scripts/setup-local-cluster.sh
Labels: toolchain, release/valencia

#4441 Pin hopr-utils in hardhat Docker image
  Dockerfile.hardhat
Labels: bug

#4442 scripts: Fix full path used for init script
  scripts/setup-local-cluster.sh
Labels: bug, toolchain

#4445 Merge back release bogota 5
  CHANGELOG.md
  packages/avado/releases.json
  packages/utils/src/db/db.ts
Labels: release/bogota

#4444 Merge back #8 for release Valencia
  CHANGELOG.md
  packages/avado/releases.json
  scripts/setup-local-cluster.sh
Labels: release/valencia

#4457 ci: Fix avado build problem
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  Makefile
  package.json
  scripts/run-integration-tests-source.sh
  scripts/toolchain/install-toolchain.sh
  yarn.lock
Labels: toolchain, component:avado

#4455 Tb/ci toolchain avado
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.3.0.cjs
  .yarnrc.yml
  Makefile
  package.json
  scripts/run-integration-tests-source.sh
  scripts/toolchain/install-toolchain.sh
  yarn.lock
Labels: toolchain

#4458 ci: Fix workflow syntax error
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: bug, toolchain

#4463 toolchain: Fix version output at the end
  packages/hoprd/Dockerfile
  scripts/toolchain/install-toolchain.sh
Labels: toolchain

#4464 ci: Add missing workflow parameter
  .github/workflows/deploy.yaml
Labels: bug, toolchain

#4466 Rename `--testNoAuthentication` flag to `--disableApiAuthentication`
  .vscode/launch.json
  CHANGELOG.md
  Makefile
  README.md
  package.json
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/hoprd/README.md
  packages/hoprd/docs/README.md
  packages/hoprd/package.json
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/index.ts
  scripts/run-integration-tests-source.sh
Labels: complexity:easy, improvement

#4467 Fix internal container addresses on AVADO / Dappnode
  CHANGELOG.md
  packages/connect/src/base/addrs.ts
  packages/connect/src/base/stun/udp/client.ts
  packages/connect/src/filter.ts
  packages/core/src/index.ts
  packages/utils/src/network/addrs.ts
Labels: bug

#4470 Fix typo in #4454
  packages/core/src/index.ts
Labels: bug

#4473 Feature/sc tests in foundry
  Cargo.lock
  Makefile
  packages/ethereum/README.md
  packages/ethereum/contracts/lcov.info
  packages/ethereum/contracts/src/proxy/HoprStakingProxyForNetworkRegistry.sol
  packages/ethereum/contracts/test/HoprChannels.t.sol
  packages/ethereum/contracts/test/HoprNetworkRegistry.t.sol
  packages/ethereum/contracts/test/proxy/HoprDummyProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/proxy/HoprStakingProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/stake/HoprStake.t.sol
  packages/ethereum/contracts/test/stake/HoprStake2.t.sol
  packages/ethereum/contracts/test/stake/HoprStakeBase.t.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason3.t.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason4.t.sol
  packages/ethereum/contracts/test/stake/HoprWhitehat.t.sol
  packages/ethereum/contracts/test/utils/Channels.sol
  packages/ethereum/contracts/test/utils/Tickets.sol
  packages/ethereum/crates/bindings/Cargo.toml
  packages/ethereum/crates/bindings/src/hopr_boost.rs
  packages/ethereum/crates/bindings/src/hopr_channels.rs
  packages/ethereum/crates/bindings/src/hopr_distributor.rs
  packages/ethereum/crates/bindings/src/hopr_dummy_proxy_for_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_forwarder.rs
  packages/ethereum/crates/bindings/src/hopr_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_stake.rs
  packages/ethereum/crates/bindings/src/hopr_stake_2.rs
  packages/ethereum/crates/bindings/src/hopr_stake_base.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_3.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_4.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_5.rs
  packages/ethereum/crates/bindings/src/hopr_staking_proxy_for_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_token.rs
  packages/ethereum/crates/bindings/src/hopr_wrapper.rs
  packages/ethereum/crates/bindings/src/hopr_wrapper_proxy.rs
  packages/ethereum/foundry-tool/Cargo.toml
Labels: smart contract

#4474 Allow `disableApiAuthentication` and `apiToken` CLI args together
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/index.ts
Labels: improvement
