Repository hoprnet/hoprnet, pull requests merged in 2022-04, with the labels that each got.

#3706 Add back peerstore functionality
  packages/core/src/index.ts
  packages/core/src/main.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
Labels: bug, effort:small, complexity:easy

#3705 Whitelist add toogle dummy proxy
  packages/ethereum/contracts/HoprNetworkRegistry.sol
  packages/ethereum/contracts/proxy/HoprDummyProxyForNetworkRegistry.sol
  packages/ethereum/deploy/06_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/07_HoprNetworkRegistry.ts
  packages/ethereum/test/HoprNetworkRegistry.test.ts
  packages/ethereum/test/proxy/HoprDummyProxyForNetworkRegistry.test.ts
Labels: feature, effort:small

#3725 Fix error handling in url helper
  scripts/get-gcloud-instances-accounts-info.sh
  scripts/utils.sh
Labels: bug, toolchain, effort:small, complexity:easy

#3724 Custom provider endpoint 3371
  CHANGELOG.md
  README.md
  packages/core-ethereum/src/ethereum.ts
  packages/core/src/environment.spec.ts
  packages/core/src/environment.ts
  packages/core/src/main.ts
  packages/cover-traffic-daemon/README.md
  packages/cover-traffic-daemon/src/index.ts
  packages/ethereum/src/index.ts
  packages/hoprd/README.md
  packages/hoprd/src/index.ts
Labels: package:hoprd, effort:small, complexity:easy

#3734 Update db path used in Docker images to new default path prefix.
  README.md
  docs/hopr-documentation/docs/node/using-docker.md
  packages/avado/build/Dockerfile
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/cover-traffic-daemon/Dockerfile
  packages/hoprd/Dockerfile
  scripts/gcloud.sh
  scripts/nat/start-nat-node.sh
  scripts/testnet.sh
Labels: bug, component:docker

#3643 Expand API v2 tests
  CHANGELOG.md
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/api/v2/paths/account/addresses.integration.spec.ts
  packages/hoprd/src/api/v2/paths/account/addresses.spec.ts
  packages/hoprd/src/api/v2/paths/account/balances.integration.spec.ts
  packages/hoprd/src/api/v2/paths/account/balances.spec.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.integration.spec.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.spec.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.ts
  packages/hoprd/src/api/v2/paths/aliases/alias.integration.spec.ts
  packages/hoprd/src/api/v2/paths/aliases/alias.spec.ts
  packages/hoprd/src/api/v2/paths/aliases/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/aliases/index.spec.ts
  packages/hoprd/src/api/v2/paths/aliases/index.ts
  packages/hoprd/src/api/v2/paths/aliases/{alias}.ts
  packages/hoprd/src/api/v2/paths/channels/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/index.spec.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/direction.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets/redeem.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets/redeem.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/{direction}.ts
  packages/hoprd/src/api/v2/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/peers.spec.ts
  packages/hoprd/src/api/v2/paths/node/peers.ts
  packages/hoprd/src/api/v2/paths/node/ping.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/ping.spec.ts
  packages/hoprd/src/api/v2/paths/node/ping.ts
  packages/hoprd/src/api/v2/paths/settings/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/settings/index.spec.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.integration.spec.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.spec.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.ts
  packages/hoprd/src/api/v2/paths/tickets/index.ts
  packages/hoprd/src/api/v2/rewiremock.ts
  packages/hoprd/src/types.ts
  test/integration-test.sh
  yarn.lock
Labels: feature, bounty, testing, effort:medium, complexity:hard

#3738 Fix generation of API docs by using local hardhat network
  .github/workflows/docs.yaml
  docs/hopr-documentation/docusaurus.config.js
  docs/hopr-documentation/rest-api-v2-full-spec.yaml
  packages/hoprd/.gitignore
  packages/hoprd/src/api/.v2.ts.swp
  packages/hoprd/src/api/v2.ts
  scripts/build-rest-api-spec.sh
  scripts/run-integration-tests-source.sh
Labels: bug, devops

#3740 Remove unnecessary abort signal checks
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/index.ts
Labels: bug, effort:small, complexity:easy

#3731 Hotfix/address sorting - the second
  CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/filter.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/utils/addressSorters.spec.ts
  packages/connect/src/utils/addressSorters.ts
  packages/connect/src/utils/addrs.ts
  packages/connect/src/utils/index.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/src/index.ts
  packages/utils/package.json
  packages/utils/src/async/abortableTimeout.spec.ts
  packages/utils/src/libp2p/addressSorters.spec.ts
  packages/utils/src/libp2p/addressSorters.ts
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/relayCode.spec.ts
  packages/utils/src/network/addrs.spec.ts
  packages/utils/src/network/addrs.ts
  packages/utils/src/network/constants.ts
  packages/utils/src/time.spec.ts
  packages/utils/src/types/snapshot.spec.ts
  packages/utils/src/types/ticket.spec.ts
  yarn.lock
Labels: effort:medium, complexity:normal

#3746 fix unintended aborts
  package.json
  yarn.lock
Labels: effort:medium, complexity:easy

#3742 remove mentions of whitelist
  packages/core-ethereum/src/index.spec.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/ethereum/contracts/proxy/HoprStakingProxyForNetworkRegistry.sol
  packages/ethereum/deploy/06_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/07_HoprNetworkRegistry.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/tasks/register.ts
  packages/ethereum/test/proxy/HoprStakingProxyForNetworkRegistry.test.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  test/ct-test.sh
  test/integration-test.sh
Labels: feature, effort:medium, complexity:easy

#3735 Hotfix/custom provider endpoint 3371
  CHANGELOG.md
  README.md
  packages/core-ethereum/src/ethereum.ts
  packages/core/src/environment.spec.ts
  packages/core/src/environment.ts
  packages/core/src/main.ts
  packages/cover-traffic-daemon/README.md
  packages/cover-traffic-daemon/src/index.ts
  packages/ethereum/src/index.ts
  packages/hoprd/README.md
  packages/hoprd/src/index.ts
Labels: feature

#3728 Add diagnostic info about connections
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/relay/state.ts
  packages/connect/src/webrtc/connection.ts
Labels: effort:small, complexity:easy, improvement

#3750 Hotfix/tcp handler enhancements
  CHANGELOG.md
  package.json
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/index.spec.ts
  packages/core/package.json
Labels: effort:small, complexity:easy

#3752 Remove unnecessary abort
  packages/connect/src/relay/index.ts
Labels: bug, effort:small, complexity:easy

#3753 Remove abort controller from circuit connection attempt
  packages/utils/src/libp2p/dialHelper.ts
Labels: bug, effort:small, complexity:easy

#3754 gcloud: Ensure containers are always restarted during updates
  scripts/gcloud.sh
Labels: bug, devops

#3761 utility function to close connections
  packages/core/src/index.ts
  packages/core/src/network/heartbeat.ts
Labels: effort:small, complexity:easy

#3756 silence specific promise rejections
  packages/hoprd/src/index.ts
Labels: effort:small, complexity:easy

#3757 reconnect peers once they are eligible
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network/access-control.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/core/src/network/network-peers.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/hoprd/src/index.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
  scripts/run-integration-tests-source.sh
Labels: bug

#3751 Hotfix/reconnect to relays
  CHANGELOG.md
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/types.ts
  packages/utils/src/async/backoff.ts
Labels: effort:medium, complexity:normal

#3772 Connection persistence improvements
  packages/connect/src/base/entry.ts
  packages/connect/src/index.ts
  packages/core/src/network/network-peers.ts
  packages/hoprd/src/index.ts
  packages/utils/src/libp2p/dialHelper.ts
Labels: bug, improvement

#3779 Added missing await in onRelay event handler
  CHANGELOG.md
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
Labels: bug

#3780 Dial code refactoring
  CHANGELOG.md
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/relay/state.ts
  packages/core/src/constants.ts
  packages/core/src/network/heartbeat.ts
  packages/hoprd/src/index.ts
  packages/utils/src/libp2p/dialHelper.ts
Labels: bug, improvement

#3784 Fix commit message in GA workflow for yellowpaper
  .github/workflows/latexcompile.yaml
  docs/hopr-documentation/docs/dapps/myne-chat.md
  docs/hopr-documentation/sidebars.js
  docs/hopr-documentation/src/components/HOPRfrontPage.js
  docs/hopr-documentation/versioned_docs/version-v1.86/dapps/myne-chat.md
  docs/hopr-documentation/versioned_docs/version-v1.87/dapps/myne-chat.md
Labels: bug, toolchain, effort:small, complexity:easy

#3786 Fix execution of GA workflow to compile latex files
  .github/workflows/latexcompile.yaml
  docs/yellowpaper/README.md
  docs/yellowpaper/yellowpaper.pdf
Labels: design document

#3785 various whitelist fixes
  packages/core-ethereum/src/index.spec.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/core/src/network/access-control.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
Labels: bug

#3787 Silence unhandled rejection: read ECONNRESET
  packages/hoprd/src/index.ts
Labels: bug, package:connect, effort:small, complexity:easy
