Repository hoprnet/hoprnet, pull requests merged in 2022-10, with the labels that each got.

#4203 Fix token balance not properly updated right after startup
  packages/core-ethereum/src/indexer/index.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/tasks/faucet.ts
Labels: bug, component:indexer, complexity:easy

#4209 streamline promise rejection filter
  packages/cover-traffic-daemon/src/index.ts
  packages/hoprd/src/index.ts
  packages/utils/src/process/index.ts
  packages/utils/src/process/promiseRejectionFilter.ts
Labels: bug

#4205 Fix public node resolution for Connectivity Indicator
  CHANGELOG.md
  packages/connect/src/index.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/types.ts
  packages/connect/src/webrtc/connection.ts
  packages/core/src/index.ts
Labels: bug

#4211 skip contract verification if verification status is unclear
  packages/ethereum/deploy/postDeploy.ts
Labels: effort:small, complexity:easy, improvement

#4208 hotfix: handle shortened addresses correctly
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/constants.ts
  packages/connect/src/filter.spec.ts
  packages/connect/src/filter.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/utils/addrs.spec.ts
  packages/connect/src/utils/addrs.ts
  packages/connect/src/utils/index.spec.ts
  packages/connect/src/utils/index.ts
  packages/core/src/index.ts
  packages/core/src/messages/packet.ts
  packages/core/src/messages/validations.spec.ts
  packages/core/src/network/access-control.ts
  packages/core/src/network/heartbeat.ts
  packages/utils/package.json
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/network/addrs.spec.ts
  packages/utils/src/network/addrs.ts
  yarn.lock
Labels: bug, improvement

#4210 Properly encode API token, remove password strength validation
  CHANGELOG.md
  packages/hoprd/hopr-admin/src/state/useWS.ts
  packages/hoprd/package.json
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/index.ts
  yarn.lock
Labels: bug

#4214 tag inbound connections
  packages/connect/src/base/listener.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/index.ts
Labels: bug, improvement

#4216 fix protocol identifiers
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
Labels: bug

#4215 Remove redundant check
  Makefile
Labels: bug

#4219 Fix environment check in mint contract deploy task
  packages/ethereum/deploy/20_mintNetworkRegistryNfts.ts
Labels: bug

#4222 Properly use `encodeURIComponent` instead of `encodeURI`
  packages/hoprd/src/api/v2.ts
Labels: bug

#4220 Handle exceptions thrown within Indexer
  packages/core-ethereum/src/indexer/index.ts
Labels: bug

#4213 Merge back #3 for release Valencia
  CHANGELOG.md
  packages/avado/releases.json
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/constants.ts
  packages/connect/src/filter.spec.ts
  packages/connect/src/filter.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/types.ts
  packages/connect/src/utils/addrs.spec.ts
  packages/connect/src/utils/addrs.ts
  packages/connect/src/utils/index.spec.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/docs/classes/default.md
  packages/core/docs/enums/NetworkHealthIndicator.md
  packages/core/docs/modules.md
  packages/core/src/index.ts
  packages/core/src/messages/packet.ts
  packages/core/src/messages/validations.spec.ts
  packages/core/src/network/access-control.ts
  packages/core/src/network/heartbeat.ts
  packages/cover-traffic-daemon/docs/modules.md
  packages/cover-traffic-daemon/src/index.ts
  packages/ethereum/deploy/postDeploy.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/tasks/faucet.ts
  packages/hoprd/hopr-admin/src/state/useWS.ts
  packages/hoprd/package.json
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/index.ts
  packages/utils/docs/modules.md
  packages/utils/package.json
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/network/addrs.spec.ts
  packages/utils/src/network/addrs.ts
  packages/utils/src/process/index.ts
  packages/utils/src/process/promiseRejectionFilter.ts
  yarn.lock
Labels: release/valencia

#4224 minor overall fixes
  packages/connect/src/webrtc/connection.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/utils.ts
Labels: bug

#4226 Split auth token then encode
  packages/hoprd/src/api/v2.ts
Labels: bug, testing

#4228 Fix Avado build
  packages/avado/docker-compose.yml
  scripts/build_avado.sh
Labels: bug

#4223 enhance tcp socket teardowns
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/webrtc/connection.ts
  packages/utils/src/process/promiseRejectionFilter.ts
Labels: improvement

#4232 Fix typo in the public node cache
  packages/core/src/index.ts
Labels: bug, complexity:easy

#4238 timeout refactor & more iterables
  CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/relay/context.ts
  packages/connect/src/relay/state.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
  packages/core/package.json
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/hoprd/package.json
  packages/hoprd/src/admin.ts
  packages/hoprd/src/api/v2/paths/node/peers.ts
  packages/hoprd/src/logs.ts
  packages/utils/package.json
  packages/utils/src/async/parallel.ts
  packages/utils/src/async/timeout.spec.ts
  packages/utils/src/async/timeout.ts
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.ts
  yarn.lock
Labels: improvement

#4239 more iterators
  packages/core-ethereum/src/index.mock.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/hoprd/src/api/v2/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/peers.ts
  packages/utils/src/async/backoff.ts
  packages/utils/src/db/db.ts
Labels: improvement

#4236 Fix labeling of incoming/outgoing channels in API
  CHANGELOG.md
  docs/hopr-documentation/docs/developers/intro.md
  docs/hopr-documentation/docs/node/using-hopr-admin.md
  packages/hoprd/src/api/v2/paths/channels/index.ts
Labels: bug

#4243 non-blocking mixer & proper acknowledgement queueing
  CHANGELOG.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/mixer.spec.ts
  packages/core/src/mixer.ts
  yarn.lock
Labels: bug, improvement

#4245 mitigate duplicate relay connections
  CHANGELOG.md
  packages/connect/src/index.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.spec.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/utils/libp2p.mock.spec.ts
Labels: improvement

#4248 replace occurences of `setTimeout` by `retimer`
  packages/core-ethereum/package.json
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/utils/src/async/abortableTimeout.ts
  yarn.lock
Labels: improvement

#4241 Merge back #4 for release Valencia
  CHANGELOG.md
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/connect/package.json
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/context.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/relay/state.ts
  packages/connect/src/utils/index.spec.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
  packages/core-ethereum/docs/classes/Indexer.md
  packages/core-ethereum/docs/classes/default.md
  packages/core-ethereum/docs/modules.md
  packages/core-ethereum/src/index.mock.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/docs/classes/default.md
  packages/core/docs/enums/NetworkHealthIndicator.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/utils.ts
  packages/ethereum/deploy/20_mintNetworkRegistryNfts.ts
  packages/hoprd/package.json
  packages/hoprd/src/admin.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/peers.ts
  packages/hoprd/src/logs.ts
  packages/utils/docs/classes/HoprDB.md
  packages/utils/docs/enums/DialStatus.md
  packages/utils/docs/modules.md
  packages/utils/package.json
  packages/utils/src/async/backoff.ts
  packages/utils/src/async/parallel.ts
  packages/utils/src/async/timeout.spec.ts
  packages/utils/src/async/timeout.ts
  packages/utils/src/db/db.ts
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.ts
  packages/utils/src/process/promiseRejectionFilter.ts
  scripts/build_avado.sh
  yarn.lock
Labels: release/valencia

#4250 mitigate duplicate entry connections
  CHANGELOG.md
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/index.ts
Labels: improvement

#4246 filter multiaddrs
  CHANGELOG.md
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/utils/src/network/addrs.spec.ts
  packages/utils/src/network/addrs.ts
Labels: bug

#4171 dial enhancements
  CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/base/listener.ts
  packages/connect/src/relay/context.ts
  packages/connect/src/relay/index.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core/package.json
  yarn.lock
Labels: package:connect, improvement

#4254 Fix goerli SC deployment
  packages/core/protocol-config.json
  packages/ethereum/deploy/08_HoprStake.ts
  packages/ethereum/deployments/master-goerli/goerli/HoprNetworkRegistryProxy.json
  packages/ethereum/deployments/master-goerli/goerli/HoprStake.json
Labels: bug

#4259 Add 1.91 version range as supported in `monte_rosa` environment
  packages/core/protocol-config.json
Labels: complexity:easy, improvement

#4262 enhance debug log
  packages/utils/src/libp2p/dialHelper.ts
Labels: improvement

#4260 Rust crates improvements & optimizations
  CHANGELOG.md
  Cargo.lock
  packages/connect/crates/Makefile
  packages/connect/package.json
  packages/core-ethereum/crates/Makefile
  packages/core-ethereum/package.json
  packages/core/crates/Makefile
  packages/core/package.json
  packages/cover-traffic-daemon/crates/Makefile
  packages/cover-traffic-daemon/package.json
  packages/ethereum/crates/Makefile
  packages/ethereum/package.json
  packages/hoprd/Dockerfile
  packages/hoprd/crates/Makefile
  packages/hoprd/crates/hoprd-misc/Cargo.toml
  packages/hoprd/crates/hoprd-misc/src/lib.rs
  packages/hoprd/crates/hoprd-misc/src/utils.rs
  packages/hoprd/package.json
  packages/real/README.md
  packages/real/crates/Makefile
  packages/real/crates/real-base/Cargo.toml
  packages/real/crates/real-base/src/lib.rs
  packages/real/crates/real-base/src/utils.rs
  packages/real/docs/README.md
  packages/real/package.json
  packages/real/src/index.ts
  packages/real/src/io.spec.ts
  packages/utils/crates/Makefile
  packages/utils/crates/utils-misc/Cargo.toml
  packages/utils/crates/utils-misc/src/lib.rs
  packages/utils/crates/utils-misc/src/utils.rs
  packages/utils/package.json
  packages/utils/src/index.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/setup-local-cluster.sh
  scripts/testnet.sh
Labels: complexity:normal, improvement

#4233 Metrics API
  Cargo.lock
  Cargo.toml
  METRICS.md
  packages/connect/src/index.ts
  packages/connect/src/relay/index.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/messages/packet.ts
  packages/core/src/network/access-control.ts
  packages/core/src/network/heartbeat.ts
  packages/hoprd/src/api/v2/paths/node/metrics.ts
  packages/hoprd/src/index.ts
  packages/utils/crates/Makefile
  packages/utils/crates/utils-metrics/.cargo-ok
  packages/utils/crates/utils-metrics/.gitignore
  packages/utils/crates/utils-metrics/Cargo.toml
  packages/utils/crates/utils-metrics/README.md
  packages/utils/crates/utils-metrics/src/lib.rs
  packages/utils/crates/utils-metrics/src/metrics.rs
  packages/utils/crates/utils-metrics/tests/wasm.rs
  packages/utils/src/index.ts
Labels: feature, effort:medium, complexity:normal

#4273 Allow `info` command before node has finished startup
  CHANGELOG.md
  packages/core/src/index.ts
Labels: bug

#4272 silence promise rejection
  packages/utils/src/process/promiseRejectionFilter.ts
Labels: bug

#4279 Fix `it-length-prefixed` to allocate less memory
  package.json
  yarn.lock
Labels: bug

#4282 ethereum: add missing export of HoprStakeSeason5
  packages/ethereum/src/index.ts
Labels: bug

#4283 Fix hoprd/ctd engine spec to allow more recent NodeJS versions
  packages/cover-traffic-daemon/package.json
  packages/hoprd/package.json
Labels: bug

#4286 fix overwritten s5 deployment file
  packages/ethereum/deployments/monte_rosa/xdai/HoprStake.json
Labels: smart contract

#4287 ci: Raise gas price for Goerli to 50gwei
  packages/core/protocol-config.json
Labels: devops

#4289 ci: Raise gas price for Goerli to 200gwei
  packages/core/protocol-config.json
Labels: bug

#4278 Make all tests run during Rust crates testing + minor metric fix
  packages/connect/crates/Makefile
  packages/core-ethereum/crates/Makefile
  packages/core/crates/Makefile
  packages/core/src/network/heartbeat.ts
  packages/cover-traffic-daemon/crates/Makefile
  packages/ethereum/crates/Makefile
  packages/hoprd/crates/Makefile
  packages/real/crates/Makefile
  packages/utils/crates/Makefile
Labels: bug, complexity:easy

#4284 Added UHP rejection metric, add missing metrics changelog entry
  CHANGELOG.md
  METRICS.md
  packages/utils/src/process/promiseRejectionFilter.ts
Labels: complexity:easy, improvement

#4288 mono dht, disable dual dht
  CHANGELOG.md
  package.json
  packages/core/src/main.ts
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/relayCode.spec.ts
  yarn.lock
Labels: bug

#4291 Fix/reduce sc deployment tx
  packages/ethereum/contracts/stake/HoprStakeBase.sol
  packages/ethereum/contracts/stake/HoprStakeSeason5.sol
  packages/ethereum/deploy/06_xHoprToken.ts
  packages/ethereum/deploy/08_HoprStake.ts
  packages/ethereum/deploy/20_mintNetworkRegistryNfts.ts
  packages/ethereum/test/stake/HoprStakeSeason5.test.ts
Labels: package:ethereum

#4276 remove unnecessary compatibility layer
  CHANGELOG.md
  packages/connect/src/base/tcp.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/utils/index.spec.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.ts
Labels: improvement

#4280 enhance debug log
  packages/connect/src/base/entry.ts
  packages/connect/src/relay/index.ts
  yarn.lock
Labels: improvement

#4292 Change Docker memory limit to 2GB in docs
  README.md
Labels: complexity:easy, documentation, improvement

#4293 zero-copy database operations
  CHANGELOG.md
  packages/utils/src/db/db.ts
Labels: improvement

#4281 Close previous connections
  CHANGELOG.md
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/connection.spec.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/index.spec.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
Labels: bug

#4294 Indicator of a broken deployment in pre-merge check
  .github/workflows/deploy.yaml
  .github/workflows/lint.yaml
  .github/workflows/pr_checks.yaml
  CHANGELOG.md
  scripts/deployment-gater.sh
  scripts/gcloud.sh
Labels: devops, toolchain, complexity:normal

#4285 Reimplement `class`es as `function`s in `connect` package
  CHANGELOG.md
  package.json
  packages/connect/src/base/index.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/connection.spec.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/context.spec.ts
  packages/connect/src/relay/context.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/relay/state.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
  packages/connect/src/webrtc/index.ts
  packages/utils/src/async/defer.ts
Labels: improvement

#4302 enhance debug log of dialHelper
  packages/connect/src/base/entry.ts
  packages/utils/src/libp2p/dialHelper.ts
Labels: bug

#4297 Merge back #6 for release Valencia
  CHANGELOG.md
  package.json
  packages/avado/releases.json
  packages/connect/package.json
  packages/connect/src/base/entry.ts
  packages/connect/src/base/index.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/connection.spec.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/context.spec.ts
  packages/connect/src/relay/context.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.spec.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/relay/state.ts
  packages/connect/src/utils/index.spec.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
  packages/connect/src/webrtc/index.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/utils/docs/modules.md
  packages/utils/package.json
  packages/utils/src/async/defer.ts
  packages/utils/src/db/db.ts
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/relayCode.spec.ts
  packages/utils/src/process/promiseRejectionFilter.ts
  yarn.lock
Labels: release/valencia

#4308 Preparing Bogota release
  packages/hoprd/releases.json
Labels: devops

#4307 Increase GCloud build timeouts
  cloudbuild.yaml
Labels: devops, toolchain, complexity:easy, improvement

#4318 Use `cargo` to install `wasm-pack`
  Makefile
  package.json
  packages/connect/crates/Makefile
  packages/core-ethereum/crates/Makefile
  packages/core/crates/Makefile
  packages/cover-traffic-daemon/crates/Makefile
  packages/ethereum/crates/Makefile
  packages/hoprd/crates/Makefile
  packages/real/crates/Makefile
  packages/utils/crates/Makefile
  yarn.lock
Labels: toolchain

#4321 Fix `setup-local-cluster` script to use correct WS URL
  scripts/setup-local-cluster.sh
Labels: toolchain, complexity:easy, documentation
