Repository hoprnet/hoprnet, pull requests merged in 2022-07, with the labels that each got.

#3885 Improvements to Avado image build
  CHANGELOG.md
  packages/avado/build/Dockerfile
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  scripts/build_avado.sh
Labels: toolchain, component:avado

#3861 Auto resend queuing tx
  CHANGELOG.md
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core-ethereum/src/nonce-tracker.spec.ts
  packages/core-ethereum/src/transaction-manager.spec.ts
  packages/core-ethereum/src/transaction-manager.ts
Labels: bug, component:indexer

#3894 Upgrade packages
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/hoprd/package.json
  packages/hoprd/src/commands/utils/message.ts
  packages/hoprd/src/index.ts
  packages/utils/package.json
  yarn.lock
Labels: dependencies

#3895 Remove wasm-opt JS wrapper
  package.json
  yarn.lock
Labels: bug, toolchain, effort:small, complexity:easy

#3892 Fix broken cluster deployment when using network registry and staking
  Makefile
  NETWORK_REGISTRY.md
  docs/hopr-documentation/docs/developers/network-registry.md
  packages/ethereum/deploy/06_xHoprMock.ts
  packages/ethereum/deploy/20_mintDevNftTransferOwnership.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/tasks/register.ts
  packages/ethereum/tasks/selfRegister.ts
  packages/ethereum/tasks/stake.ts
  packages/ethereum/utils/constants.ts
  scripts/deploy-smart-contracts.sh
  scripts/gcloud.sh
  scripts/setup-gcloud-cluster.sh
  scripts/testnet.sh
  test/integration-test.sh
Labels: bug, devops, toolchain, effort:medium, complexity:easy

#3893 add UX docs
  docs/hopr-documentation/docs/ecosystem/gnosis-hopr-tokens.md
  docs/hopr-documentation/docs/ecosystem/hopr-token.md
  docs/hopr-documentation/docs/ecosystem/hoprd.md
  docs/hopr-documentation/docs/ecosystem/intro.md
  docs/hopr-documentation/docs/ecosystem/staking.md
  docs/hopr-documentation/src/components/HOPRfrontPage.js
Labels: documentation

#3896 Fix jq string quoting
  .github/workflows/deploy.yaml
  scripts/setup-gcloud-cluster.sh
Labels: bug, devops, toolchain, effort:small, complexity:easy

#3900 Fix further CI funding issues in scripts
  Makefile
  scripts/gcloud.sh
  scripts/testnet.sh
  scripts/utils.sh
Labels: devops, toolchain

#3905 Remove debug info
  scripts/testnet.sh
Labels: toolchain

#3906 Selected provider based on environment
  packages/ethereum/tasks/register.ts
  packages/ethereum/tasks/selfRegister.ts
  packages/ethereum/tasks/stake.ts
  packages/ethereum/test/HoprNetworkRegistry.test.ts
Labels: high priority, effort:small, complexity:easy

#3908 Add missing deployer key as env var in CI
  .github/workflows/deploy.yaml
Labels: devops

#3909 ci: fix use of function in xargs
  scripts/gcloud.sh
Labels: devops, toolchain

#3912 fix package dependencies
  packages/connect/package.json
  packages/core/package.json
  yarn.lock
Labels: dependencies

#3910 Avado improvements
  CHANGELOG.md
  packages/avado/build/Dockerfile
  packages/avado/docker-compose.yml
  packages/core/src/environment.ts
  packages/hoprd/src/index.ts
  scripts/build_avado.sh
Labels: improvement

#3898 connect refactor + simplifications
  CHANGELOG.md
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/constants.ts
  packages/connect/src/relay/connection.spec.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/context.spec.ts
  packages/connect/src/relay/context.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/relay/state.spec.ts
  packages/connect/src/relay/state.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
  packages/utils/src/async/defer.ts
Labels: package:connect, effort:medium, complexity:normal, improvement

#3914 Add missing Rust requirement to README
  README.md
Labels: improvement

#3922 Minor cleanup and enhancements
  packages/connect/src/base/tcp.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/messages/packet.ts
  packages/hoprd/src/index.ts
  yarn.lock
Labels: dependencies, complexity:easy, improvement

#3920 Add a task to request dev nft and fix loop bug
  Makefile
  NETWORK_REGISTRY.md
  packages/ethereum/deploy/20_mintDevNftTransferOwnership.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/tasks/requestDevNft.ts
  packages/ethereum/tasks/stake.ts
Labels: bug, package:core-ethereum

#3921 Improvements to NR information visibility
  CHANGELOG.md
  packages/core/src/index.ts
  packages/core/src/network/network-peers.ts
  packages/hoprd/src/api/v2/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
Labels: effort:small, complexity:easy, improvement

#3923 fix broken info call
  packages/core/src/index.ts
  packages/hoprd/src/api/v2/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
  packages/hoprd/src/index.ts
Labels: bug

#3924 Add NR and connectivity information to `info` WS command as well
  packages/hoprd/src/commands/commands.spec.ts
  packages/hoprd/src/commands/info.ts
Labels: complexity:easy, improvement

#3926 Fix error in module injection & unregister timeouts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
Labels: bug

#3928 update HoprStake deployment to S4
  packages/ethereum/deployments/ouagadougou/xdai/HoprStake.json
Labels: feature

#3934 Pass the private key rather as an env variable
  Makefile
  scripts/setup-gcloud-cluster.sh
Labels: improvement

#3933 Fix outdated npm smoke tests
  scripts/run-integration-tests-npm.sh
Labels: bug, testing

#3930 pass and check private key for self-register action
  Makefile
  scripts/setup-gcloud-cluster.sh
Labels: bug

#3940 pin node.js version to 16.15
  packages/hoprd/package.json
Labels: bug
