Repository hoprnet/hoprnet, pull requests merged in 2022-01, with the labels that each got.

#3176 Fix identity creation
  packages/hoprd/src/identity.spec.ts
  packages/hoprd/src/identity.ts
Labels: bug

#3213 Improve connectivity #3
  packages/connect/src/base/listener.spec.ts
  packages/connect/src/base/listener.ts
Labels: bug

#3147 Fix unhandled rejection with no network, change invalid password message
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
  packages/hoprd/src/index.ts
  packages/utils/src/crypto/keyPair.ts
Labels: bug

#3239 Add deterministic announce address sorting
  packages/core/src/index.ts
  packages/utils/src/libp2p/addressSorters.ts
Labels: bug

#3250 Fix endless startup loop
  package.json
  yarn.lock
Labels: bug

#3251 Move yarn resolution hints into hoprd package
  packages/hoprd/package.json
Labels: bug

#3258 Add arm64 support to the Vagrant NAT testing setup
  scripts/vm-nat-testing/Vagrantfile
  scripts/vm-nat-testing/setup-vm.sh
Labels: devops, testing

#3243 API v2 endpoint for signing messages
  CHANGELOG.md
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api/v2/paths/message/sign.ts
Labels: feature

#3261 ci: exclude hopr-docs from package publishing routine
  scripts/publish-version.sh
Labels: devops

#3263 Wrong request body, updated to reflect actual param
  packages/hoprd/src/api/v2/paths/message/sign.ts
Labels: bug

#3212 Add scripts to spin Docker compose setup for a node behind NAT
  .gitignore
  scripts/vm-nat-testing/README.md
  scripts/vm-nat-testing/Vagrantfile
  scripts/vm-nat-testing/docker-compose-nat.yaml
  scripts/vm-nat-testing/docker-compose-pub.yaml
  scripts/vm-nat-testing/docker-runner/Dockerfile
  scripts/vm-nat-testing/docker-runner/prepare-node.sh
  scripts/vm-nat-testing/faucet.sh
  scripts/vm-nat-testing/setup-vm.sh
  scripts/vm-nat-testing/startup-hoprd-nodes.sh
  scripts/vm-nat-testing/startup-network.sh
  shell.nix
Labels: feature, devops

#3259 Add multi-versioning to docs page
  docs/hopr-documentation/consts/index.js
  docs/hopr-documentation/docusaurus.config.js
  docs/hopr-documentation/package.json
  docs/hopr-documentation/versioned_docs/version-v1.85/about-hopr.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/anonymous-routing.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/balancing-cover-traffic.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/cover-traffic-nodes.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/cover-traffic.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/incentives.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/mixnets.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/probabilistic-payments.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/proof-of-relay.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/tickets-and-payment-channels.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/what-is-hopr.md
  docs/hopr-documentation/versioned_docs/version-v1.85/core/what-is-metadata.md
  docs/hopr-documentation/versioned_docs/version-v1.85/faq.md
  docs/hopr-documentation/versioned_docs/version-v1.85/intro.md
  docs/hopr-documentation/versioned_docs/version-v1.85/node/guide-using-a-hoprd-node.md
  docs/hopr-documentation/versioned_docs/version-v1.85/node/hoprd-commands.md
  docs/hopr-documentation/versioned_docs/version-v1.85/node/start-here.md
  docs/hopr-documentation/versioned_docs/version-v1.85/node/using-avado.md
  docs/hopr-documentation/versioned_docs/version-v1.85/node/using-docker.md
  docs/hopr-documentation/versioned_docs/version-v1.85/node/using-npm.md
  docs/hopr-documentation/versioned_docs/version-v1.85/node/using-script.md
  docs/hopr-documentation/versioned_docs/version-v1.85/staking/convert-hopr.md
  docs/hopr-documentation/versioned_docs/version-v1.85/staking/how-to-get-hopr.md
  docs/hopr-documentation/versioned_docs/version-v1.85/staking/how-to-stake.md
  docs/hopr-documentation/versioned_sidebars/version-v1.85-sidebars.json
  docs/hopr-documentation/versions.json
  yarn.lock
Labels: p:documentation

#3266 docs: grab algolia configuration secrets from env
  docs/hopr-documentation/docusaurus.config.js
Labels: devops

#3267 Update yarn.lock with futoin-hkdf
  yarn.lock
Labels: bug

#3058 add changelog to processes
  .processes/development.md
Labels: toolchain

#3274 Wrong type for `sign`
  packages/hoprd/src/api/v2/paths/message/sign.ts
Labels: bug

#3272 minor vm enhancements
  scripts/vm-nat-testing/README.md
  scripts/vm-nat-testing/Vagrantfile
  scripts/vm-nat-testing/setup-vm.sh
  scripts/vm-nat-testing/startup-network.sh
Labels: toolchain, testing

#3241 NAT test setup for GCloud infrastructure
  .github/workflows/deploy.yaml
  CHANGELOG.md
  README.md
  scripts/build-docker.sh
  scripts/deploy.sh
  scripts/gcloud.sh
  scripts/nat/Dockerfile
  scripts/nat/cloudbuild.yaml
  scripts/nat/start-nat-node.sh
  scripts/run-integration-tests-gcloud.sh
  scripts/setup-gcloud-cluster.sh
Labels: feature, devops, testing

#3275 git ignore improvements
  .gitignore
  packages/avado/.gitignore
  packages/connect/.gitignore
  packages/core-ethereum/.gitignore
  packages/core/.gitignore
  packages/cover-traffic-daemon/.gitignore
  packages/ethereum/.gitignore
  packages/hoprd/.gitignore
  packages/utils/.gitignore
  scripts/vm-nat-testing/.gitignore
Labels: bug

#3282 start NATed nodes without announce flag
  scripts/deploy.sh
  scripts/gcloud.sh
  scripts/run-integration-tests-gcloud.sh
  scripts/setup-ct-gcloud-cluster.sh
  scripts/setup-gcloud-cluster.sh
  yarn.lock
Labels: bug, devops

#3286 Ensuring await on unfunded nodes
  scripts/setup-local-cluster.sh
Labels: bug

#3291 improve announce sequence & e2e tests & local scripts
  package.json
  packages/connect/src/base/listener.ts
  packages/connect/src/index.ts
  packages/core-ethereum/src/index.ts
  packages/core/src/index.ts
  packages/ethereum/deploy/02_HoprToken.ts
  packages/ethereum/deploy/03_HoprDistributor.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/package.json
  packages/ethereum/tasks/faucet.ts
  packages/ethereum/tasks/getAccounts.ts
  packages/hoprd/package.json
  packages/hoprd/src/admin.ts
  packages/hoprd/src/commands/addresses.ts
  packages/hoprd/src/commands/alias.ts
  packages/hoprd/src/commands/closeChannel.ts
  packages/hoprd/src/commands/commands.spec.ts
  packages/hoprd/src/commands/fundChannel.ts
  packages/hoprd/src/commands/openChannel.ts
  packages/hoprd/src/commands/ping.ts
  packages/hoprd/src/commands/sendMessage.ts
  packages/hoprd/src/commands/utils/checkPeerId.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/vm-nat-testing/startup-network.sh
Labels: bug, p:core

#3297 Improve start-nat-node.sh - make sure container is stopped
  scripts/gcloud.sh
  scripts/nat/start-nat-node.sh
Labels: bug, toolchain

#3303 Add shortcut for --version, fix NAT node start determinism
  scripts/nat/start-nat-node.sh
Labels: bug, toolchain

#3304 Automatically renew relay key entries in the DHT
  CHANGELOG.md
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/constants.ts
  packages/connect/src/types.ts
  packages/connect/src/utils/index.spec.ts
  packages/connect/src/utils/index.ts
  packages/core/src/index.ts
  packages/core/src/network/heartbeat.ts
  packages/utils/src/libp2p/relayCode.spec.ts
  packages/utils/src/process/retimer.spec.ts
  packages/utils/src/process/retimer.ts
Labels: bug, p:core

#3273 add redeem tickets
  test/integration-test.sh
Labels: testing

#3307 Improve debugging and repair addresses command
  packages/core/src/index.ts
  packages/utils/src/libp2p/dialHelper.ts
Labels: bug, p:core, testing

#3310 Overwrite address sorter
  packages/core/src/main.ts
Labels: bug, p:core

#3288 retry failed funding helper script max 3 times
  scripts/testnet.sh
  scripts/utils.sh
Labels: bug

#3312 Fix typo in funding script
  scripts/testnet.sh
Labels: bug, toolchain

#3313 Fund hopr token and native coin together
  packages/core-ethereum/src/chain.ts
  packages/core-ethereum/src/ethereum.mock.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core/src/environment.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/ethereum/hardhat.config.ts
  scripts/fund-address.ts
  scripts/testnet.sh
Labels: bug

#3320 ci improvements
  .github/workflows/deploy.yaml
  scripts/testnet.sh
Labels: bug, toolchain

#3323 Initial release merge back athens
  .processes/release.md
  CHANGELOG.md
  README.md
  packages/avado/.gitignore
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deployments/athens/xdai/.chainId
  packages/ethereum/deployments/athens/xdai/HoprChannels.json
  packages/ethereum/deployments/athens/xdai/HoprDistributor.json
  packages/ethereum/deployments/athens/xdai/HoprToken.json
  packages/ethereum/deployments/athens/xdai/HoprWrapper.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/hoprd/releases.json
  packages/utils/package.json
Labels: release

#3324 Hotfix release/athens: ci improvements (#3320)
  .github/workflows/deploy.yaml
  scripts/testnet.sh
Labels: bug, devops

#3325 Hotfix release/athens: fix home dir reference in readme
  README.md
Labels: bug

#3328 Hotfix release/athens: Ensure node crashes when the provider chain object cannot be created
  packages/core-ethereum/src/index.ts
Labels: bug

#3326 Release athens hotfix: check localhost port before dialing
  CHANGELOG.md
  packages/connect/src/filter.spec.ts
  packages/connect/src/filter.ts
Labels: bug, p:core

#3327 Ensure node crashes when the provider chain object cannot be created
  packages/core-ethereum/src/index.ts
Labels: bug

#3321 Check localhost dial port
  CHANGELOG.md
  packages/connect/src/filter.spec.ts
  packages/connect/src/filter.ts
Labels: bug, p:core

#3330 wait for connect package in CI pipeline
  .github/workflows/deploy.yaml
Labels: toolchain

#3338 Release Athens hotfix: Fix the heartbeat timeout and interval values
  packages/core/src/constants.ts
Labels: bug, p:core

#3337 updated heartbeat scheduler
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/core/src/network/network-peers.spec.ts
  packages/core/src/network/network-peers.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/strategy.ts
  packages/utils/src/async/abortableTimeout.ts
  packages/utils/src/collection/index.ts
  packages/utils/src/collection/promise-pool.spec.ts
  packages/utils/src/collection/promise-pool.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.ts
Labels: bug

#3343 devops: Add use of static IPs to all gcloud cluster instances
  .github/workflows/deploy.yaml
  .processes/release.md
  scripts/deploy.sh
  scripts/gcloud.sh
  scripts/setup-gcloud-cluster.sh
Labels: devops

#3349 Add CLI argument to explictily allow local node connections
  CHANGELOG.md
  packages/connect/src/filter.spec.ts
  packages/connect/src/filter.ts
  packages/connect/src/index.ts
  packages/connect/src/types.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/src/index.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/setup-local-cluster.sh
Labels: feature

#3354 Hotfix release/athens: Merge pull request #3343 from hoprnet/tb/add-gcloud-static-ips
  .github/workflows/deploy.yaml
  .processes/release.md
  scripts/deploy.sh
  scripts/gcloud.sh
  scripts/setup-gcloud-cluster.sh
Labels: devops, release, effort:small

#3369 scripts: Fix missing parameter when calling gcloud setup script
  scripts/deploy.sh
  scripts/setup-gcloud-cluster.sh
Labels: bug, devops

#3370 Hotfix release/athens: scripts: Fix missing parameter when calling gcloud setup script
  scripts/deploy.sh
  scripts/setup-gcloud-cluster.sh
Labels: bug, devops, release

#3373 scripts: fix missing line break continuation
  scripts/deploy.sh
Labels: bug, devops

#3374 Minor fixes on abortableTimeout
  packages/utils/src/async/abortableTimeout.spec.ts
  packages/utils/src/async/abortableTimeout.ts
Labels: bug, effort:medium, complexity:normal, improvement

#3377 add proper message when `announce` fails
  packages/core/src/index.ts
Labels: bug

#3378 Release Athens hotfix: Add CLI argument to explicitly allow localhost connections
  CHANGELOG.md
  packages/connect/src/filter.spec.ts
  packages/connect/src/filter.ts
  packages/connect/src/index.ts
  packages/connect/src/types.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/src/index.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/setup-local-cluster.sh
Labels: feature, complexity:normal

#3379 Hotfix/log CIDR addresses
  packages/connect/src/filter.ts
  packages/utils/src/network/addrs.spec.ts
  packages/utils/src/network/addrs.ts
Labels: package:connect, effort:small, complexity:easy, improvement
