Repository hoprnet/hoprnet, pull requests merged in 2022-08, with the labels that each got.

#3937 Make last parameter optional in helper script for funding nodes
  scripts/run-integration-tests-npm.sh
  scripts/testnet.sh
Labels: bug, testing

#3943 Fix & unify message encoding and decoding
  CHANGELOG.md
  packages/hoprd/src/commands/utils/message.spec.ts
  packages/hoprd/src/commands/utils/message.ts
  packages/hoprd/src/index.ts
Labels: complexity:easy

#3946 Improvements to the docs and the Makefile
  Makefile
  NETWORK_REGISTRY.md
Labels: documentation, improvement

#3947 More smaller improvements to NR registration
  Makefile
  NETWORK_REGISTRY.md
Labels: bug, complexity:easy

#3936 Register node script
  Makefile
  NETWORK_REGISTRY.md
  scripts/get-hopr-address.sh
  scripts/register-node.sh
Labels: feature, complexity:easy

#3939 remove deploy hack + silence abortErrors
  packages/core/protocol-config-schema.json
  packages/core/protocol-config.json
  packages/core/src/environment.ts
  packages/ethereum/deploy/02_HoprToken.ts
  packages/ethereum/deploy/03_HoprDistributor.ts
  packages/ethereum/deploy/04_HoprWrapper.ts
  packages/ethereum/deploy/05_HoprChannels.ts
  packages/ethereum/deploy/06_xHoprMock.ts
  packages/ethereum/deploy/07_HoprBoost.ts
  packages/ethereum/deploy/08_HoprStake.ts
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/17_HoprNetworkRegistry.ts
  packages/ethereum/deploy/20_mintDevNftTransferOwnership.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/tsconfig.hardhat.json
  packages/ethereum/type-extension.ts
  packages/ethereum/types.ts
  packages/hoprd/package.json
  packages/hoprd/src/index.ts
Labels: bug, improvement

#3949 Deploy NAT nodes after Public nodes have been deployed
  .github/workflows/deploy.yaml
Labels: toolchain, complexity:easy

#3944 use eth.limo instead of eth.link
  packages/ethereum/test/utils/constants.ts
Labels: effort:small, complexity:easy, improvement

#3955 Add Makefile targets for `clean` and `reset`
  Makefile
Labels: toolchain

#3956 Update @multiformats/multiaddr to 10.3.3 to satisfy version bump on libp2p
  docs/hopr-documentation/package.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/utils/package.json
  packages/utils/src/libp2p/dialHelper.spec.ts
  yarn.lock
Labels: bug

#3941 Various process updates
  .processes/development.md
  .processes/release.md
Labels: processes

#3962 Make hoprd nodes listen on external IP in pluto container
  scripts/pluto/Dockerfile
  scripts/setup-local-cluster.sh
Labels: toolchain

#3961 use make to initiate build of WASM packages
  .github/workflows/e2e.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  SETUP_LOCAL_CLUSTER.md
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
  packages/hoprd/crates/hoprd-misc/Cargo.toml
  packages/real/crates/real-base/Cargo.toml
  packages/utils/crates/utils-misc/Cargo.toml
  scripts/publish-version.sh
  scripts/vm-nat-testing/README.md
Labels: toolchain, improvement

#3968 Sync yarn cmd naming with recent changes
  packages/ethereum/package.hardhat.json
Labels: bug

#3970 Remove duplicate cmd parameter
  packages/ethereum/package.hardhat.json
Labels: bug

#3971 hopr-admin: Fix conversion of https to wss protocol string
  packages/hoprd/hopr-admin/src/state/useWS.ts
Labels: bug, component:admin

#3964 Properly propagate the ping failure reason
  CHANGELOG.md
  packages/core/src/index.ts
  packages/hoprd/hopr-admin/src/commands/ping.ts
  packages/hoprd/src/api/v2/paths/node/ping.ts
Labels: bug

#3973 hopr-admin: Fix regression in commands in v2
  packages/core/src/index.ts
  packages/ethereum/contracts/HoprNetworkRegistry.sol
  packages/hoprd/hopr-admin/src/commands/sendMessage.ts
  packages/hoprd/hopr-admin/src/commands/withdraw.ts
  packages/hoprd/hopr-admin/src/utils/command.spec.ts
  packages/hoprd/hopr-admin/src/utils/command.ts
  packages/hoprd/src/admin.ts
  packages/hoprd/src/api/v2/paths/messages/sign.ts
Labels: bug, component:admin

#3966 Docs improvements
  README.md
  docs/hopr-documentation/docs/node/guide-using-a-hoprd-node.md
  docs/hopr-documentation/docs/node/using-avado.md
Labels: documentation

#3975 Hotfix/sc deployment in production
  packages/ethereum/deploy/06_xHoprToken.ts
  packages/ethereum/deploy/07_HoprBoost.ts
  packages/ethereum/deploy/08_HoprStake.ts
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/20_mintDevNftTransferOwnership.ts
  packages/ethereum/deployments/debug-goerli/goerli/xHoprToken.json
  packages/ethereum/deployments/master-goerli/goerli/xHoprToken.json
  packages/ethereum/deployments/ouagadougou/xdai/xHoprToken.json
  packages/ethereum/deployments/paleochora/xdai/xHoprToken.json
  packages/ethereum/tasks/register.ts
  packages/ethereum/tasks/requestTestTokens.ts
  packages/ethereum/tasks/stake.ts
  scripts/deploy-smart-contracts.sh
Labels: complexity:normal

#3981 extend environment to add accounts onto proxy
  packages/ethereum/tasks/register.ts
Labels: bug, effort:small, complexity:easy

#3979 Merge back #1 for release Paleochora
  CHANGELOG.md
  Makefile
  NETWORK_REGISTRY.md
  README.md
  SETUP_LOCAL_CLUSTER.md
  docs/hopr-documentation/docs/node/using-docker.md
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/README.md
  packages/cover-traffic-daemon/docs/README.md
  packages/cover-traffic-daemon/package.json
  packages/ethereum/contracts/proxy/HoprDummyProxyForNetworkRegistry.sol
  packages/ethereum/deploy/06_xHoprToken.ts
  packages/ethereum/deploy/07_HoprBoost.ts
  packages/ethereum/deploy/08_HoprStake.ts
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/17_HoprNetworkRegistry.ts
  packages/ethereum/deploy/20_mintDevNftTransferOwnership.ts
  packages/ethereum/deployments/debug-goerli/goerli/xHoprToken.json
  packages/ethereum/deployments/master-goerli/goerli/xHoprToken.json
  packages/ethereum/deployments/ouagadougou/xdai/xHoprToken.json
  packages/ethereum/deployments/paleochora/xdai/.chainId
  packages/ethereum/deployments/paleochora/xdai/HoprBoost.json
  packages/ethereum/deployments/paleochora/xdai/HoprChannels.json
  packages/ethereum/deployments/paleochora/xdai/HoprDistributor.json
  packages/ethereum/deployments/paleochora/xdai/HoprNetworkRegistry.json
  packages/ethereum/deployments/paleochora/xdai/HoprNetworkRegistryProxy.json
  packages/ethereum/deployments/paleochora/xdai/HoprStake.json
  packages/ethereum/deployments/paleochora/xdai/HoprToken.json
  packages/ethereum/deployments/paleochora/xdai/HoprWrapper.json
  packages/ethereum/deployments/paleochora/xdai/xHoprToken.json
  packages/ethereum/hardhat.config.ts
  packages/ethereum/package.json
  packages/ethereum/tasks/register.ts
  packages/ethereum/tasks/requestTestTokens.ts
  packages/ethereum/tasks/stake.ts
  packages/hoprd/README.md
  packages/hoprd/docs/README.md
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  scripts/deploy-smart-contracts.sh
  scripts/setup-gcloud-cluster.sh
Labels: release, complexity:easy

#3992 Merge back #2 for release Paleochora
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deployments/paleochora/xdai/HoprChannels.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release, complexity:easy

#4004 Revert package version pre-merge-back
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: bug, devops

#4005 enhance logging
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
Labels: improvement

#4010 Fix topology cluster deployment
  scripts/api.sh
  scripts/setup-gcloud-cluster.sh
  scripts/topologies/full_interconnected_cluster.sh
Labels: bug, toolchain

#4013 Fix smoke test execution
  README.md
  packages/hoprd/README.md
  packages/hoprd/src/index.ts
  packages/hoprd/src/run.ts
  scripts/api.sh
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: testing

#3989 Update to the release process to reflect api.hoprnet.org redeploy
  .processes/release.md
Labels: processes

#4014 Fix Avado script environment id replacement
  scripts/build_avado.sh
Labels: bug, toolchain, complexity:easy

#3985 Check output of `funding_wallet_info` during deployment
  scripts/testnet.sh
Labels: devops, toolchain, complexity:easy

#3996 Various minor fixes to issues found during Paleochora release tests
  packages/core/src/index.ts
  packages/hoprd/hopr-admin/src/commands/channels.ts
  packages/hoprd/hopr-admin/src/commands/openChannel.ts
  packages/hoprd/src/index.ts
Labels: bug, improvement

#4017 fix wallet creation
  packages/ethereum/package.json
  packages/ethereum/test/HoprChannels.spec.ts
  packages/hoprd/src/identity.ts
  packages/utils/package.json
  packages/utils/src/crypto/keyPair.ts
  yarn.lock
Labels: bug, dependencies

#4011 Test entry nodes improvements on `master-goerli`
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/constants.ts
  packages/ethereum/deployments/paleochora/xdai/HoprChannels.json
  packages/utils/src/async/parallel.ts
Labels: testing

#4020 Cherry-pick wallet creation fix to master
  packages/ethereum/package.json
  packages/ethereum/test/HoprChannels.spec.ts
  packages/hoprd/src/identity.ts
  packages/utils/package.json
  packages/utils/src/crypto/keyPair.ts
  yarn.lock
Labels: bug, complexity:easy

#4022 [Hotfix paleochora] Faucet Helper api key fix
  scripts/testnet.sh
Labels: bug, toolchain

#3998 Fix smart contract slim deployment and allow auto-verification on etherscan/blockscout
  .github/workflows/deploy.yaml
  packages/core-ethereum/src/ethereum.ts
  packages/core/protocol-config.json
  packages/ethereum/.env.example
  packages/ethereum/deploy/postDeploy.ts
  packages/ethereum/deploy/slimDeployments.ts
  packages/ethereum/deployments/master-goerli/goerli/HoprChannels.json
  packages/ethereum/deployments/master-goerli/goerli/HoprNetworkRegistry.json
  packages/ethereum/deployments/paleochora/xdai/HoprChannels.json
  packages/ethereum/hardhat.config.ts
  packages/ethereum/src/index.ts
Labels: bug, improvement

#4024 [Hotfix Paleochora] scripts: fix incorrect bash quoting
  scripts/testnet.sh
Labels: bug

#4009 Prevent duplicate peer ids in the manual path
  CHANGELOG.md
  packages/core/src/index.ts
Labels: bug

#4023 [Hotifx Paleochora] Fix counter increment for ticket stats in db
  packages/utils/src/db/db.ts
Labels: bug

#4016 Silence ETIMEDOUT socket errors
  packages/hoprd/src/index.ts
Labels: bug

#4018 Enhance backoff and waitForFunds functionality
  packages/connect/src/base/entry.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/utils/src/async/backoff.spec.ts
  packages/utils/src/async/backoff.ts
Labels: bug, improvement

#4035 Timeout connection upgrade
  packages/connect/src/base/entry.ts
  packages/connect/src/index.ts
Labels: bug, dependencies

#4032 Detect AVADO/Dappnode special private subnet
  CHANGELOG.md
  packages/hoprd/src/index.ts
  packages/utils/src/network/addrs.ts
  packages/utils/src/network/constants.ts
Labels: bug

#4031 Add API endpoint & token to Avado URL, backport environment ID fix
  packages/avado/dappnode_package.json
  scripts/build_avado.sh
Labels: bug

#4026 ci: prevent boot disk deletion in managed instance groups
  scripts/gcloud.sh
Labels: devops

#4036 Merge back #3 for release Paleochora
  .github/workflows/deploy.yaml
  .processes/release.md
  CHANGELOG.md
  packages/avado/releases.json
  packages/connect/src/base/entry.ts
  packages/connect/src/index.ts
  packages/core-ethereum/docs/modules.md
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/docs/classes/default.md
  packages/core/docs/modules.md
  packages/core/protocol-config.json
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/ethereum/.env.example
  packages/ethereum/deploy/postDeploy.ts
  packages/ethereum/deploy/slimDeployments.ts
  packages/ethereum/deployments/master-goerli/goerli/HoprChannels.json
  packages/ethereum/deployments/master-goerli/goerli/HoprNetworkRegistry.json
  packages/ethereum/deployments/paleochora/xdai/HoprChannels.json
  packages/ethereum/docs/modules.md
  packages/ethereum/hardhat.config.ts
  packages/ethereum/src/index.ts
  packages/hoprd/hopr-admin/src/commands/channels.ts
  packages/hoprd/hopr-admin/src/commands/openChannel.ts
  packages/hoprd/src/index.ts
  packages/utils/docs/classes/HoprDB.md
  packages/utils/docs/modules.md
  packages/utils/src/async/backoff.spec.ts
  packages/utils/src/async/backoff.ts
  packages/utils/src/db/db.ts
  packages/utils/src/network/addrs.ts
  packages/utils/src/network/constants.ts
  scripts/testnet.sh
Labels: release

#4040 add missing blockNumbers to deployment files
  packages/ethereum/deployments/master-goerli/goerli/HoprBoost.json
  packages/ethereum/deployments/master-goerli/goerli/HoprNetworkRegistryProxy.json
  packages/ethereum/deployments/master-goerli/goerli/HoprStake.json
  packages/ethereum/deployments/master-goerli/goerli/xHoprToken.json
Labels: bug

#4041 backport #3990 to master
  CHANGELOG.md
  packages/connect/src/base/entry.ts
  packages/connect/src/constants.ts
  packages/connect/src/types.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
Labels: improvement

#4038 bump ethers.js & some tree-shaking
  package.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core-ethereum/src/ethereum.ts
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.hardhat.json
  packages/ethereum/package.json
  packages/ethereum/test/HoprChannels.spec.ts
  packages/hoprd/package.json
  packages/utils/package.json
  yarn.lock
Labels: dependencies

#4044 Allow calling `Hopr.stop()` called without `Hopr.start()` being called first
  packages/core/src/index.ts
Labels: bug, complexity:easy

#4027 hopr-admin bugs fixes vol 1
  packages/hoprd/hopr-admin/.mocharc.json
  packages/hoprd/hopr-admin/package.json
  packages/hoprd/hopr-admin/src/commands/addresses.spec.ts
  packages/hoprd/hopr-admin/src/commands/addresses.ts
  packages/hoprd/hopr-admin/src/commands/alias.ts
  packages/hoprd/hopr-admin/src/commands/balances.spec.ts
  packages/hoprd/hopr-admin/src/commands/balances.ts
  packages/hoprd/hopr-admin/src/commands/behaviours.spec.ts
  packages/hoprd/hopr-admin/src/commands/channels.ts
  packages/hoprd/hopr-admin/src/commands/closeChannel.ts
  packages/hoprd/hopr-admin/src/commands/help.ts
  packages/hoprd/hopr-admin/src/commands/info.ts
  packages/hoprd/hopr-admin/src/commands/openChannel.ts
  packages/hoprd/hopr-admin/src/commands/peerInfo.ts
  packages/hoprd/hopr-admin/src/commands/peers.ts
  packages/hoprd/hopr-admin/src/commands/ping.spec.ts
  packages/hoprd/hopr-admin/src/commands/ping.ts
  packages/hoprd/hopr-admin/src/commands/redeemTickets.ts
  packages/hoprd/hopr-admin/src/commands/sendMessage.spec.ts
  packages/hoprd/hopr-admin/src/commands/sendMessage.ts
  packages/hoprd/hopr-admin/src/commands/settings.ts
  packages/hoprd/hopr-admin/src/commands/sign.ts
  packages/hoprd/hopr-admin/src/commands/tickets.ts
  packages/hoprd/hopr-admin/src/commands/version.ts
  packages/hoprd/hopr-admin/src/commands/withdraw.ts
  packages/hoprd/hopr-admin/src/utils/api.ts
  packages/hoprd/hopr-admin/src/utils/command.spec.ts
  packages/hoprd/hopr-admin/src/utils/command.ts
  packages/hoprd/hopr-admin/src/utils/fixtures.ts
  packages/hoprd/package.json
  packages/hoprd/src/api/v2/paths/channels/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
  yarn.lock
Labels: bug

#3997 must accept api token when registering
  Makefile
  NETWORK_REGISTRY.md
  scripts/get-hopr-address.sh
Labels: bug, complexity:easy

#4049 add entryNodes command
  CHANGELOG.md
  packages/core/src/index.ts
  packages/hoprd/hopr-admin/src/commands/entryNodes.ts
  packages/hoprd/hopr-admin/src/commands/help.ts
  packages/hoprd/hopr-admin/src/commands/index.ts
  packages/hoprd/hopr-admin/src/utils/api.ts
  packages/hoprd/src/api/v2/paths/node/entryNodes.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/entryNodes.ts
  packages/hoprd/src/api/v2/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v2/paths/peerInfo/{peerid}.spec.ts
Labels: improvement

#4050 mirror: add entryNodes command (#4049)
  CHANGELOG.md
  packages/core/src/index.ts
  packages/hoprd/hopr-admin/src/commands/entryNodes.ts
  packages/hoprd/hopr-admin/src/commands/help.ts
  packages/hoprd/hopr-admin/src/commands/index.ts
  packages/hoprd/hopr-admin/src/utils/api.ts
  packages/hoprd/src/api/v2/paths/node/entryNodes.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/entryNodes.ts
  packages/hoprd/src/api/v2/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v2/paths/peerInfo/{peerid}.spec.ts
Labels: improvement

#4051 Start indexer at correct blockNumber
  packages/core-ethereum/src/ethereum.ts
  packages/ethereum/deployments/master-goerli/goerli/HoprChannels.json
  packages/ethereum/src/index.ts
Labels: bug, improvement

#4052 Mirror #4051 for release branch
  packages/core-ethereum/src/ethereum.ts
  packages/ethereum/deployments/master-goerli/goerli/HoprChannels.json
  packages/ethereum/src/index.ts
Labels: bug, improvement

#4048 Do not await message acknowledgements in the API, code refactoring
  packages/core/src/index.ts
  packages/hoprd/hopr-admin/src/commands/sendMessage.spec.ts
  packages/hoprd/hopr-admin/src/commands/sendMessage.ts
  packages/hoprd/hopr-admin/src/utils/api.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/messages/index.ts
  packages/hoprd/src/index.ts
Labels: bug

#4056 Silence some of the most talkative log writes
  packages/connect/src/webrtc/connection.ts
  packages/core/src/network/network-peers.ts
Labels: improvement

#4053 hopr-admin bugs fixes vol 2
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
  packages/hoprd/hopr-admin/pages/index.tsx
  packages/hoprd/hopr-admin/src/commands/help.ts
  packages/hoprd/hopr-admin/src/commands/sendMessage.ts
  packages/hoprd/hopr-admin/src/state/index.ts
  packages/hoprd/hopr-admin/src/utils/command.ts
  packages/hoprd/hopr-admin/src/utils/stream.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/node/stream/websocket.ts
  packages/hoprd/src/logs.ts
  scripts/setup-local-cluster.sh
Labels: bug

#4058 Fix multiaddr to 10.3.3 in hoprd
  packages/hoprd/package.json
  yarn.lock
Labels: bug
