Repository hoprnet/hoprnet, pull requests merged in 2022-09, with the labels that each got.

#4067 Silence some additional log write
  packages/connect/src/webrtc/connection.ts
Labels: improvement

#3990 entry node code fixes
  CHANGELOG.md
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/constants.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/types.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/utils/src/async/parallel.ts
Labels: bug, complexity:normal

#4061 support 1-many environments
  .processes/release.md
  packages/core/package.json
  packages/core/protocol-config-schema.json
  packages/core/protocol-config.json
  packages/core/src/environment.spec.ts
  packages/core/src/environment.ts
  packages/core/test/protocol-config.spec.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/hoprd/releases-schema.json
  packages/hoprd/releases.json
  packages/hoprd/src/index.ts
  scripts/fund-address.mts
  yarn.lock
Labels: feature

#4072 restore releases.json
  CHANGELOG.md
  packages/hoprd/releases-schema.json
  packages/hoprd/releases.json
Labels: bug

#4073 Set paleochora as the default environment for paleochora
  packages/hoprd/releases.json
Labels: bug

#4062 Enhance network peers
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network/access-control.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/core/src/network/network-peers.spec.ts
  packages/core/src/network/network-peers.ts
  packages/hoprd/src/api/v2/paths/node/peers.integration.spec.ts
Labels: bug, improvement

#4075 various hotfixes for Paleochora
  packages/core/src/environment.spec.ts
  packages/core/src/environment.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/hoprd/src/index.ts
  scripts/api.sh
  scripts/fund-address.mts
Labels: bug

#4082 Avado fixes
  CHANGELOG.md
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  scripts/build_avado.sh
Labels: bug

#4089 Fix version regex
  scripts/verify-docker-image.sh
Labels: bug, complexity:easy

#4094 add new deployer wallet
  .processes/wallets.md
Labels: processes

#4093 Replace Dummy Proxy with StakingProxy
  Makefile
  NETWORK_REGISTRY.md
  docs/hopr-documentation/docs/developers/network-registry.md
  packages/ethereum/contracts/proxy/HoprStakingProxyForNetworkRegistry.sol
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/20_mintNetworkRegistryNfts.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/tasks/register.ts
  packages/ethereum/tasks/requestTestTokens.ts
  packages/ethereum/tasks/stake.ts
  packages/ethereum/test/HoprNetworkRegistry.test.ts
  packages/ethereum/test/proxy/HoprStakingProxyForNetworkRegistry.test.ts
  packages/ethereum/utils/constants.ts
  scripts/register-node.sh
  scripts/setup-gcloud-cluster.sh
Labels: effort:medium, complexity:normal, package:ethereum

#4090 various hopr-admin message improvements
  packages/hoprd/hopr-admin/pages/index.tsx
  packages/hoprd/hopr-admin/src/state/index.ts
  packages/hoprd/hopr-admin/src/state/useAPI.ts
  packages/hoprd/hopr-admin/src/state/useWS.ts
  packages/hoprd/hopr-admin/src/utils/api.ts
  packages/hoprd/hopr-admin/src/utils/command.ts
  packages/hoprd/hopr-admin/src/utils/stream.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/logs.ts
Labels: bug

#4091 Feature/nr improvement 1tom
  .gitignore
  CHANGELOG.md
  Makefile
  NETWORK_REGISTRY.md
  docs/hopr-documentation/docs/developers/network-registry.md
  packages/core-ethereum/package.json
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core/src/index.ts
  packages/ethereum/contracts/HoprNetworkRegistry.sol
  packages/ethereum/contracts/IHoprNetworkRegistryRequirement.sol
  packages/ethereum/contracts/proxy/HoprDummyProxyForNetworkRegistry.sol
  packages/ethereum/contracts/proxy/HoprStakingProxyForNetworkRegistry.sol
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/20_mintDevNftTransferOwnership.ts
  packages/ethereum/deploy/20_mintNetworkRegistryNfts.ts
  packages/ethereum/deployments/master-goerli/goerli/HoprNetworkRegistry.json
  packages/ethereum/deployments/master-goerli/goerli/HoprNetworkRegistryProxy.json
  packages/ethereum/hardhat.config.ts
  packages/ethereum/package.hardhat.json
  packages/ethereum/package.json
  packages/ethereum/tasks/register.ts
  packages/ethereum/tasks/requestTestTokens.ts
  packages/ethereum/tasks/selfRegister.ts
  packages/ethereum/tasks/stake.ts
  packages/ethereum/test/HoprChannels.spec.ts
  packages/ethereum/test/HoprNetworkRegistry.test.ts
  packages/ethereum/test/proxy/HoprDummyProxyForNetworkRegistry.test.ts
  packages/ethereum/test/proxy/HoprStakingProxyForNetworkRegistry.test.ts
  packages/ethereum/tsconfig.hardhat.json
  packages/ethereum/type-extension.ts
  packages/ethereum/utils/constants.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
  scripts/register-node.sh
  scripts/setup-gcloud-cluster.sh
  test/integration-test.sh
  yarn.lock
Labels: feature, package:core-ethereum, package:core, effort:large, complexity:normal, smart contract

#4095 freeze to old NR
  packages/core/protocol-config.json
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/17_HoprNetworkRegistry.ts
Labels: bug

#4096 freeze NR
  packages/core/protocol-config.json
  packages/ethereum/deployments/paleochora/xdai/HoprNetworkRegistry.json
  packages/ethereum/deployments/paleochora/xdai/HoprNetworkRegistryProxy.json
Labels: bug

#4099 Fix for CI
  scripts/setup-gcloud-cluster.sh
Labels: effort:small, complexity:easy

#4102 fix hardhat dockerfile
  packages/ethereum/package.hardhat.json
  packages/ethereum/package.json
  yarn.lock
Labels: bug

#4105 Add missing chai dependency to hardhat docker image
  packages/ethereum/package.hardhat.json
Labels: bug

#4107 adapt mint NFT script
  packages/ethereum/deploy/20_mintNetworkRegistryNfts.ts
Labels: bug

#4111 Deploy script registers nodes to NR
  NETWORK_REGISTRY.md
  packages/ethereum/contracts/proxy/HoprStakingProxyForNetworkRegistry.sol
  packages/ethereum/deploy/02_HoprToken.ts
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/17_HoprNetworkRegistry.ts
  packages/ethereum/deploy/20_mintNetworkRegistryNfts.ts
Labels: bug, effort:small, complexity:easy

#4115 Fix the `get-default-environment` script
  scripts/get-default-environment.sh
Labels: bug, devops

#4121 Merge back #5 for release Paleochora
  CHANGELOG.md
  Makefile
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/17_HoprNetworkRegistry.ts
  packages/hoprd/hopr-admin/pages/index.tsx
  packages/hoprd/hopr-admin/src/state/index.ts
  packages/hoprd/hopr-admin/src/state/useAPI.ts
  packages/hoprd/hopr-admin/src/state/useWS.ts
  packages/hoprd/hopr-admin/src/utils/api.ts
  packages/hoprd/hopr-admin/src/utils/command.ts
  packages/hoprd/hopr-admin/src/utils/stream.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/logs.ts
  scripts/build_avado.sh
  scripts/setup-gcloud-cluster.sh
Labels: release, effort:medium

#4122 hotfix Valencia with missing master changes
  CHANGELOG.md
  Makefile
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/hoprd/hopr-admin/pages/index.tsx
  packages/hoprd/hopr-admin/src/state/index.ts
  packages/hoprd/hopr-admin/src/state/useAPI.ts
  packages/hoprd/hopr-admin/src/state/useWS.ts
  packages/hoprd/hopr-admin/src/utils/api.ts
  packages/hoprd/hopr-admin/src/utils/command.ts
  packages/hoprd/hopr-admin/src/utils/stream.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/logs.ts
  scripts/build_avado.sh
  scripts/setup-gcloud-cluster.sh
Labels: feature

#4124 Add explicit `--data` directory to the CI GCP deployment args
  scripts/gcloud.sh
Labels: bug, toolchain, complexity:easy

#4123 Properly distinguish between release and env id in Avado build
  scripts/build_avado.sh
  scripts/get-default-environment.sh
Labels: bug, devops, complexity:easy

#4129 Enhance option parsing
  packages/hoprd/Dockerfile
  packages/hoprd/src/index.ts
  scripts/run-integration-tests-source.sh
Labels: improvement

#4130 Fix unhandled promise rejection when not funded
  packages/core/src/index.ts
Labels: bug

#4135 unset HOPRD_ environment variables
  scripts/nat/start-nat-node.sh
Labels: bug

#4133 Silence trace unhandled
  packages/hoprd/src/index.ts
Labels: bug

#4137 Use webrtc release build
  packages/hoprd/Dockerfile
Labels: improvement

#4134 Various improvements to Avado build
  packages/avado/build/Dockerfile
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  scripts/build_avado.sh
Labels: bug, complexity:normal, component:avado

#4131 fix type in self-register-node
  Makefile
Labels: bug, effort:small, complexity:easy

#4152 small hopr-admin improvements
  packages/hoprd/hopr-admin/pages/index.tsx
  packages/hoprd/hopr-admin/src/commands/addresses.spec.ts
  packages/hoprd/hopr-admin/src/commands/addresses.ts
  packages/hoprd/hopr-admin/src/commands/balances.spec.ts
  packages/hoprd/hopr-admin/src/commands/balances.ts
  packages/hoprd/hopr-admin/src/commands/channels.ts
  packages/hoprd/hopr-admin/src/commands/tickets.ts
  packages/hoprd/hopr-admin/src/state/index.ts
  packages/hoprd/hopr-admin/src/utils/command.ts
Labels: feature

#4150 Do not subscribe to blocks around the latestOnChainBlock
  packages/core-ethereum/src/indexer/index.ts
Labels: package:core-ethereum, component:indexer, effort:small, complexity:normal

#4162 Add try/catch to shaker.write uses
  packages/connect/src/relay/handshake.ts
Labels: bug

#4164 Fix potential unhandled promise rejection
  packages/hoprd/hopr-admin/pages/index.tsx
Labels: bug

#4166 Update wallets.md & add Dappnode Public repo release guide
  .processes/wallets.md
  DAPPNODE_PUBLISH.md
Labels: toolchain

#4161 Fixes on deployment scripts
  .github/workflows/deploy.yaml
  Makefile
  scripts/deploy.sh
  scripts/gcloud.sh
  scripts/run-integration-tests-gcloud.sh
  scripts/setup-ct-gcloud-cluster.sh
  scripts/setup-gcloud-cluster.sh
  scripts/testnet.sh
Labels: bug, devops

#4163 explicit extent
  packages/connect/src/relay/connection.spec.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
Labels: bug

#4169 Add token info for mHOPR to docs
  .processes/tokens.md
Labels: documentation

#4175 pluto: Use npx instead of yarn to start hoprd
  CHANGELOG.md
  scripts/pluto/Dockerfile
Labels: bug, effort:small, complexity:easy, release/valencia, component:pluto

#4173 connect: Add support for handling multiple protocols
  CHANGELOG.md
  Makefile
  packages/connect/src/base/entry.ts
  packages/connect/src/constants.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/types.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.spec.ts
  packages/utils/src/libp2p/index.ts
Labels: feature, package:connect, effort:medium, complexity:normal, release/valencia

#4168 memory optimizations
  CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/base/entry.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/context.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/utils/index.spec.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/utils/lengthPrefix.ts
  packages/connect/src/webrtc/connection.ts
  packages/core/src/index.ts
  packages/utils/src/libp2p/index.ts
  packages/utils/src/u8a/equals.ts
  packages/utils/src/u8a/toU8a.ts
  yarn.lock
Labels: improvement

#4177 Avado: limit Docker container memory to maximum 1GB
  CHANGELOG.md
  packages/avado/docker-compose.yml
Labels: feature

#4167 update monte_rosa deployment files
  CHANGELOG.md
  Makefile
  packages/connect/src/base/entry.ts
  packages/connect/src/constants.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/types.ts
  packages/core/protocol-config.json
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/ethereum/deployments/monte_rosa/xdai/.chainId
  packages/ethereum/deployments/monte_rosa/xdai/HoprBoost.json
  packages/ethereum/deployments/monte_rosa/xdai/HoprChannels.json
  packages/ethereum/deployments/monte_rosa/xdai/HoprDistributor.json
  packages/ethereum/deployments/monte_rosa/xdai/HoprNetworkRegistry.json
  packages/ethereum/deployments/monte_rosa/xdai/HoprNetworkRegistryProxy.json
  packages/ethereum/deployments/monte_rosa/xdai/HoprStake.json
  packages/ethereum/deployments/monte_rosa/xdai/HoprToken.json
  packages/ethereum/deployments/monte_rosa/xdai/HoprWrapper.json
  packages/ethereum/deployments/monte_rosa/xdai/xHoprToken.json
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.spec.ts
  packages/utils/src/libp2p/index.ts
Labels: feature, release/paleochora

#4184 bump upload artifacts
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
Labels: improvement

#4186 Merge back #6 for release Paleochora
  CHANGELOG.md
  Makefile
  NETWORK_REGISTRY.md
  packages/avado/releases.json
  packages/connect/src/base/entry.ts
  packages/connect/src/constants.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/types.ts
  packages/core/docs/modules.md
  packages/core/protocol-config.json
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/ethereum/package.hardhat.json
  packages/utils/docs/enums/DialStatus.md
  packages/utils/docs/modules.md
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.spec.ts
  packages/utils/src/libp2p/index.ts
Labels: release/paleochora

#4187 Merge back #2 for release Valencia
  .github/workflows/deploy.yaml
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
  CHANGELOG.md
  docs/hopr-documentation/docs/node/using-docker.md
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/connect/package.json
  packages/connect/src/base/entry.ts
  packages/connect/src/relay/connection.spec.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/context.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/utils/index.spec.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/utils/lengthPrefix.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
  packages/core-ethereum/docs/classes/Indexer.md
  packages/core-ethereum/package.json
  packages/core-ethereum/src/indexer/index.ts
  packages/core/docs/classes/default.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/hopr-admin/pages/index.tsx
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/docs/modules.md
  packages/utils/package.json
  packages/utils/src/libp2p/index.ts
  packages/utils/src/u8a/equals.ts
  packages/utils/src/u8a/toU8a.ts
  scripts/deploy.sh
  scripts/gcloud.sh
  scripts/pluto/Dockerfile
  scripts/run-integration-tests-gcloud.sh
  scripts/setup-ct-gcloud-cluster.sh
  scripts/setup-gcloud-cluster.sh
  scripts/testnet.sh
  yarn.lock
Labels: release/valencia
