Repository hoprnet/hoprnet, pull requests merged in 2022-03, with the labels that each got.

#3580 close failed relay connections
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.spec.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/utils/src/libp2p/index.ts
Labels: package:connect, effort:medium, complexity:normal

#3631 gcloud: use smaller instances with less memory
  scripts/gcloud.sh
Labels: devops

#3625 Hotfix/optimize for Http Providers
  packages/core-ethereum/src/chain.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.spec.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/main.ts
  packages/hoprd/src/index.ts
  packages/utils/src/types/primitives.ts
Labels: component:indexer, effort:medium, complexity:easy, improvement

#3617 add peers to API v2
  CHANGELOG.md
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
  docs/hopr-documentation/versioned_docs/version-v1.87/developers/starting-local-cluster.md
  packages/core-ethereum/src/indexer/index.ts
  packages/core/CHANGELOG.md
  packages/core/src/index.ts
  packages/core/src/network/network-peers.ts
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/api/v2/paths/node/info.spec.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
  packages/hoprd/src/api/v2/paths/node/peers.spec.ts
  packages/hoprd/src/api/v2/paths/node/peers.ts
  packages/hoprd/src/api/v2/utils.ts
  packages/hoprd/src/commands/addresses.ts
  packages/hoprd/src/commands/commands.spec.ts
  packages/hoprd/src/commands/info.ts
Labels: feature

#3633 improve `/api/v2/channels/{peerid}`
  CHANGELOG.md
  packages/core/src/index.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
  packages/hoprd/src/api/v2/paths/channels/peerid.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/direction.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/{direction}.ts
  packages/hoprd/src/commands/closeChannel.ts
Labels: bug

#3635 Update process to reflect representative changes
  .processes/development.md
Labels: processes, effort:small, complexity:easy

#3626 expand API v2 Tests
  packages/hoprd/package.json
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/api/v2/paths/account/addresses.integration.spec.ts
  packages/hoprd/src/api/v2/paths/account/balances.integration.spec.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.integration.spec.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.ts
  packages/hoprd/src/api/v2/paths/aliases/alias.integration.spec.ts
  packages/hoprd/src/api/v2/paths/aliases/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/aliases/index.ts
  packages/hoprd/src/api/v2/paths/aliases/{alias}.ts
  packages/hoprd/src/api/v2/paths/channels/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/direction.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets/redeem.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets/redeem.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/{direction}.ts
  packages/hoprd/src/api/v2/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/ping.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/ping.ts
  packages/hoprd/src/api/v2/paths/settings/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.integration.spec.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.spec.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.ts
  packages/hoprd/src/api/v2/paths/tickets/index.ts
  packages/hoprd/src/api/v2/rewiremock.ts
  packages/hoprd/src/types.ts
  test/integration-test.sh
  yarn.lock
Labels: feature, bounty, testing, package:hoprd

#3634 [Hotfix release/athens] Fix ethers.js http provider memory leak
  package.json
  packages/hoprd/package.json
  yarn.lock
Labels: bug, effort:small, complexity:hard

#3640 fixed ws in versioned-v1.87
  docs/hopr-documentation/versioned_docs/version-v1.87/developers/connecting-node.md
  docs/hopr-documentation/versioned_docs/version-v1.87/developers/starting-local-cluster.md
  docs/hopr-documentation/versioned_docs/version-v1.87/developers/tutorial-hello-world.md
Labels: documentation

#3644 various processes changes
  .processes/bounty.md
  .processes/development.md
  .processes/devrel.md
  .processes/index.md
  .processes/release.md
  .processes/wallets.md
Labels: processes

#3620 Upgrade libp2p to v0.36.2
  CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/@types/it-pair.d.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.spec.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/discovery.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/connection.spec.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/relay/context.spec.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/index.spec.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/relay/state.spec.ts
  packages/connect/src/types.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.ts
  packages/core/package.json
  packages/core/src/channel-strategy.ts
  packages/core/src/index.mock.ts
  packages/core/src/index.spec.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/libp2p.mock.ts
  packages/core/src/main.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/core/src/network/network-peers.spec.ts
  packages/core/src/network/network-peers.ts
  packages/core/src/test-utils.spec.ts
  packages/cover-traffic-daemon/src/index.spec.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/hoprd/src/commands/addresses.ts
  packages/hoprd/src/index.ts
  packages/utils/package.json
  packages/utils/src/db.ts
  packages/utils/src/libp2p/addressSorters.ts
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.spec.ts
  packages/utils/src/libp2p/index.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  yarn.lock
Labels: package:connect, effort:medium, complexity:hard

#3646 Hotfix/yarn and npm lockfiles
  CHANGELOG.md
  packages/cover-traffic-daemon/package.json
  packages/hoprd/package.json
  scripts/build_lockfiles.sh
  scripts/get-npm-package-info.sh
  scripts/get-package-version.sh
  scripts/publish-version.sh
Labels: effort:medium, complexity:normal

#3652 A typo in relay context.ts might result in a restart
  packages/connect/src/relay/context.ts
Labels: bug

#3648 Optimize database queries
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/messages/packet.spec.ts
  packages/core/src/messages/packet.ts
  packages/utils/src/db/db.mock.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
  packages/utils/src/db/index.ts
  packages/utils/src/index.ts
  packages/utils/src/types/halfKeyChallenge.ts
  packages/utils/src/types/primitives.ts
  packages/utils/src/u8a/index.ts
Labels: effort:medium, complexity:normal

#3660 fix typo in publish script
  scripts/publish-version.sh
Labels: bug, toolchain

#3661 Remove database folder and fix script typo
  packages/hoprd/.gitignore
  packages/hoprd/hoprd-db/db/CURRENT
  packages/hoprd/hoprd-db/db/LOCK
  packages/hoprd/hoprd-db/db/LOG
  packages/hoprd/hoprd-db/db/LOG.old
  packages/hoprd/hoprd-db/db/MANIFEST-000008
  scripts/publish-version.sh
Labels: bug, toolchain

#3655 Reduce EC SQRT operations when handling publicKeys
  packages/core-ethereum/src/fixtures.ts
  packages/core-ethereum/src/index.mock.ts
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/core/src/messages/validations.spec.ts
  packages/core/src/path/index.spec.ts
  packages/core/src/path/index.ts
  packages/cover-traffic-daemon/src/state.ts
  packages/ethereum/test/HoprChannels.spec.ts
  packages/hoprd/package.json
  packages/hoprd/src/api/v2/paths/channels/index.ts
  packages/hoprd/src/commands/listOpenChannels.ts
  packages/hoprd/src/commands/printAddress.ts
  packages/utils/package.json
  packages/utils/src/db/db.ts
  packages/utils/src/types/accountEntry.spec.ts
  packages/utils/src/types/accountEntry.ts
  packages/utils/src/types/acknowledgedTicket.ts
  packages/utils/src/types/channelEntry.spec.ts
  packages/utils/src/types/channelEntry.ts
  packages/utils/src/types/index.ts
  packages/utils/src/types/primitives.spec.ts
  packages/utils/src/types/primitives.ts
  packages/utils/src/types/publicKey.spec.ts
  packages/utils/src/types/publicKey.ts
  packages/utils/src/types/ticket.ts
  packages/utils/src/types/unacknowledgedTicket.ts
  yarn.lock
Labels: component:indexer, effort:medium, complexity:normal

#3472 Skip multiaddresses with IP:port that we already have a connection to
  CHANGELOG.md
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/relay/connection.ts
  packages/connect/src/utils/addrs.ts
  packages/core/src/index.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/network/addrs.ts
Labels: bug, complexity:normal

#3668 Add Ouagadougou release info to master
  packages/core/protocol-config.json
  packages/hoprd/releases.json
Labels: bug

#3672 hotfix funding issue
  scripts/testnet.sh
Labels: bug

#3678 Fixed unbound variable and other improvements in `notify-matrix-cluster-info.sh`
  scripts/notify-matrix-cluster-info.sh
Labels: bug

#3137 adaptations to run script on mac
  scripts/gcloud.sh
Labels: bug

#3686 minor toolchain and config cleanup
  .github/workflows/connect-integration-testing.yaml
  .prettierignore
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  docs/hopr-documentation/docusaurus.config.js
  docs/hopr-documentation/package.json
  package.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
  yarn.lock
Labels: effort:small, complexity:easy

#3684 add isWhitelisted
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/ethereum/deploy/06_HoprNetworkRegistry.ts
  packages/ethereum/test/proxy/HoprStakingProxyForNetworkRegistry.test.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
Labels: feature

#3693 Hotfix/fix Vercel build and e2e tests
  .gitignore
  docs/hopr-documentation/docusaurus.config.js
  docs/hopr-documentation/package.json
  package.json
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  yarn.lock
Labels: effort:small, complexity:easy

#3696 Improve shell utils to get address information from node
  .github/workflows/lint.yaml
  scripts/utils.sh
  shell.nix
Labels: toolchain, effort:small, complexity:easy, improvement

#3698 Hotfix/race condition in shutdown sequence
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
Labels: effort:small, complexity:easy

#3697 reduce hardhat waiting time in e2e tests
  packages/ethereum/deploy/02_HoprToken.ts
  packages/ethereum/deploy/03_HoprDistributor.ts
  packages/ethereum/deploy/04_HoprWrapper.ts
Labels: effort:small, complexity:easy

#3677 various deployment script fixes
  .github/workflows/lint.yaml
  scripts/gcloud.sh
  scripts/testnet.sh
  scripts/topologies/full_interconnected_cluster.sh
  scripts/utils.sh
  shell.nix
Labels: bug

#3701 e2e test fix and unit test fix
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
Labels: effort:small, complexity:easy

#3702 refactoring and typing
  .github/workflows/connect-integration-testing.yaml
  packages/connect/src/base/listener.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/filter.spec.ts
  packages/connect/src/index.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/tests/node.ts
  packages/core/package.json
  packages/core/src/main.ts
  packages/utils/package.json
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/relayCode.spec.ts
  scripts/get-supported-protocols-from-peer.ts
  yarn.lock
Labels: effort:small, complexity:easy

#3681 Use `npm-shrinkwrap` while publishing packages
  CHANGELOG.md
  scripts/build_lockfiles.sh
  scripts/publish-version.sh
Labels: improvement

#3703 Minor shrinkwrap optimizations
  packages/cover-traffic-daemon/package.json
  packages/hoprd/package.json
  scripts/build_lockfiles.sh
  scripts/publish-version.sh
Labels: effort:small, complexity:easy

#3688 Hotfix/connection management
  CHANGELOG.md
  packages/connect/src/base/entry.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/index.spec.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/utils/index.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/utils/src/async/timeout.spec.ts
  packages/utils/src/async/timeout.ts
  packages/utils/src/libp2p/dialHelper.spec.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.spec.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  yarn.lock
Labels: effort:medium, complexity:normal

#3708 refactor address filtering
  packages/connect/src/filter.spec.ts
  packages/connect/src/filter.ts
  packages/connect/src/utils/addrs.ts
  packages/connect/src/utils/index.ts
Labels: effort:small, complexity:easy

#3716 Hotfix/disable dht client mode
  packages/core/src/main.ts
Labels: effort:small, complexity:hard
