Repository hoprnet/hoprnet, pull requests merged in 2022-11, with the labels that each got.

#4326 Fix compilation of smart contracts in Docker containers
  Dockerfile.hardhat
  docs/hopr-documentation/docs/node/hoprd-commands.md
  packages/ethereum/package.hardhat.json
  packages/ethereum/package.json
  yarn.lock
Labels: bug, devops

#4327 pluto: Remove now obsolete link in Docker file
  scripts/pluto/Dockerfile
Labels: bug, devops

#4329 Add missing flag in the CTD
  packages/cover-traffic-daemon/Dockerfile
Labels: bug

#4330 Use proper upstream version tag for Avado on `master`
  packages/avado/docker-compose.yml
  scripts/build_avado.sh
Labels: bug, toolchain

#4332 Backported hotfixes to unblock CI Docker & Avado builds
  .github/workflows/deploy.yaml
  Dockerfile.hardhat
  cloudbuild.yaml
  packages/avado/docker-compose.yml
  packages/cover-traffic-daemon/Dockerfile
  packages/ethereum/package.hardhat.json
  packages/ethereum/package.json
  scripts/build_avado.sh
  scripts/deployment-gater.sh
  scripts/pluto/Dockerfile
  yarn.lock
Labels: devops, toolchain, complexity:easy

#4334 fix shebang
  packages/hoprd/Dockerfile
  packages/hoprd/src/main.cts
Labels: bug

#4340 Merge back #7 for release Valencia
  CHANGELOG.md
  scripts/gcloud.sh
Labels: release/valencia

#4336 CI register VM instances with `selfRegister`
  Makefile
  NETWORK_REGISTRY.md
  packages/ethereum/deploy/20_mintNetworkRegistryNfts.ts
  packages/ethereum/tasks/selfRegister.ts
  packages/ethereum/utils/constants.ts
  scripts/setup-gcloud-cluster.sh
Labels: devops, effort:medium, complexity:normal, improvement, package:ethereum

#4341 Improved bug GH template
  .github/ISSUE_TEMPLATE/bug.md
Labels: processes

#4346 fiz gcloud script typo
  scripts/setup-gcloud-cluster.sh
Labels: bug

#4348 fix makefile typo
  Makefile
Labels: bug

#4314 Allow connectivity indicator to be GREEN on public nodes too
  CHANGELOG.md
  packages/core/src/index.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
Labels: bug, complexity:easy

#4322 Fix `setup-local-cluster` script to use correct WS URL (backport #4321)
  scripts/setup-local-cluster.sh
Labels: complexity:easy, documentation

#4312 Restore STUN functionality
  CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun.spec.ts
  packages/connect/src/base/stun.ts
  packages/connect/src/base/utils.spec.ts
  packages/connect/src/relay/handshake.spec.ts
  yarn.lock
Labels: bug

#4335 Rust basic guidelines & WASM documentation
  RUST_WASM.md
  packages/real/README.md
Labels: documentation

#4352 fix syntax error in deploy script from #4351
  .github/workflows/deploy.yaml
Labels: bug

#4353 another syntax fix
  .github/workflows/deploy.yaml
Labels: bug

#4357 Adapt prettier to Rust
  .prettierignore
Labels: toolchain

#4361 Prevent bypassing pre-merge checks by not pushing commits to the PR
  .github/workflows/pr_checks.yaml
Labels: bug, toolchain

#4360 bind to specific Rust version
  .github/workflows/deploy.yaml
  .github/workflows/e2e-gcloud.yaml
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
  .github/workflows/test.yaml
  rust-toolchain.toml
Labels: toolchain

#4363 Document Phase 1 testing in `.processes`
  .processes/release.md
  .processes/testing.md
Labels: processes

#4370 Fix source/destination print out for channels
  CHANGELOG.md
  packages/hoprd/src/api/v2/paths/channels/index.ts
Labels: bug, complexity:easy

#4355 Update Release docs
  .processes/release.md
Labels: devops, documentation

#4301 Introduce Staging releases
  .github/workflows/deploy.yaml
  .processes/release.md
  packages/hoprd/releases.json
  scripts/publish-version.sh
Labels: devops, toolchain, improvement

#4372 hoprd-admin: Move warning log into header as static message
  .gitignore
  Makefile
  packages/hoprd/hopr-admin/src/commands/ping.ts
  packages/hoprd/hopr-admin/src/components/logs.tsx
  packages/hoprd/hopr-admin/styles/log.module.css
  packages/hoprd/src/admin.ts
Labels: bug

#4378 Fix STUN requests
  packages/connect/src/base/stun.ts
Labels: bug

#4375 Improve error messages passed to the user
  CHANGELOG.md
  packages/core/src/index.ts
  packages/core/src/path/index.ts
  packages/hoprd/hopr-admin/src/commands/closeChannel.ts
  packages/utils/src/db/db.ts
  packages/utils/src/libp2p/index.ts
Labels: bug

#4379 bump docs packages
  docs/hopr-documentation/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  yarn.lock
Labels: toolchain

#4381 Introduce Staging releases (backport of #4301)
  .github/workflows/deploy.yaml
  .processes/release.md
  packages/hoprd/releases.json
  scripts/publish-version.sh
Labels: bug, toolchain

#4383 Use correct image tags for staging images
  .github/workflows/deploy.yaml
  scripts/build-docker.sh
  scripts/build_avado.sh
  scripts/deploy.sh
Labels: bug, toolchain

#4385 Fix cluster tag naming
  scripts/deploy.sh
Labels: bug, complexity:easy

#4382 Fix ticket redemption
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
Labels: bug

#4380 hotfix-bogota: fix broken test execution
  packages/hoprd/hopr-admin/src/commands/ping.spec.ts
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: testing

#4387 Bump toolchain packages
  docs/hopr-documentation/package.json
  package.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/hoprd/src/admin.ts
  packages/hoprd/src/api/v2.ts
  packages/real/package.json
  packages/utils/package.json
  yarn.lock
Labels: toolchain

#4388 Merge back release bogota 2
  .github/workflows/deploy.yaml
  .gitignore
  CHANGELOG.md
  Makefile
  packages/avado/releases.json
  packages/hoprd/hopr-admin/src/commands/ping.ts
  packages/hoprd/hopr-admin/src/components/logs.tsx
  packages/hoprd/hopr-admin/styles/log.module.css
  packages/hoprd/src/admin.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
Labels: release/bogota

#4389 wasm-pack workspaces
  Makefile
Labels: toolchain

#4393 Improve message on WebAdmin UI for Connected peers
  packages/hoprd/hopr-admin/pages/index.tsx
Labels: component:admin, complexity:easy

#4394 Release update bogota/v1.91.19
  .github/workflows/deploy.yaml
  .processes/release.md
  CHANGELOG.md
  METRICS.md
  packages/avado/releases.json
  packages/connect/package.json
  packages/connect/src/base/stun.ts
  packages/core-ethereum/package.json
  packages/core-ethereum/src/index.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/path/index.ts
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/hopr-admin/src/commands/closeChannel.ts
  packages/hoprd/hopr-admin/src/commands/ping.spec.ts
  packages/hoprd/package.json
  packages/hoprd/releases.json
  packages/real/package.json
  packages/utils/package.json
  packages/utils/src/db/db.ts
  packages/utils/src/libp2p/index.ts
  scripts/build-docker.sh
  scripts/build_avado.sh
  scripts/deploy.sh
  scripts/publish-version.sh
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: release/bogota

#4400 Merge back release bogota 3
  .github/workflows/deploy.yaml
  CHANGELOG.md
  METRICS.md
  packages/avado/releases.json
  packages/connect/src/base/stun.ts
  packages/core-ethereum/src/index.ts
  packages/core/docs/classes/default.md
  packages/core/docs/modules.md
  packages/core/src/index.ts
  packages/core/src/path/index.ts
  packages/hoprd/hopr-admin/src/commands/closeChannel.ts
  packages/hoprd/hopr-admin/src/commands/ping.spec.ts
  packages/utils/docs/classes/HoprDB.md
  packages/utils/src/db/db.ts
  packages/utils/src/libp2p/index.ts
  scripts/build-docker.sh
  scripts/build_avado.sh
  scripts/deploy.sh
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: release/bogota

#4402 Update network-registry-tutorial.md
  docs/hopr-documentation/versioned_docs/version-v1.90/node/network-registry-tutorial.md
Labels: documentation

#4406 avado: Fix identification of master builds
  .github/workflows/deploy.yaml
  .github/workflows/e2e-gcloud.yaml
  packages/avado/README.md
  packages/avado/docker-compose.yml
  scripts/build-avado.sh
Labels: bug, toolchain

#4362 new Docker setup
  .gcloudignore
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e-gcloud.yaml
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .gitignore
  CHANGELOG.md
  Dockerfile.hardhat
  Makefile
  cloudbuild.yaml
  package.json
  packages/connect/package.json
  packages/cover-traffic-daemon/Dockerfile
  packages/ethereum/Dockerfile.hardhat
  packages/ethereum/package.hardhat.json
  packages/ethereum/tasks/faucet.ts
  packages/hoprd/Dockerfile
  packages/real/package.json
  packages/utils/package.json
  scripts/build-docker.sh
  scripts/pluto/Dockerfile
  scripts/setup-local-cluster.sh
  scripts/toolchain/Dockerfile
  scripts/toolchain/install-toolchain.sh
  yarn.lock
Labels: toolchain

#4413 [hotfix/bogota] Revert "Restore STUN functionality (#4312)"
  CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun.spec.ts
  packages/connect/src/base/stun.ts
  packages/connect/src/base/utils.spec.ts
  packages/connect/src/relay/handshake.spec.ts
  yarn.lock
Labels: bug

#4415 ci: Fix helper script line order
  scripts/notify-matrix-cluster-info.sh
Labels: devops

#4418 Mergeback staging bogota/v1.91.20
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/docs/classes/default.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/docs/classes/HoprDB.md
  packages/utils/package.json
Labels: release/bogota
