Repository hoprnet/hoprnet, pull requests merged in 2022-06, with the labels that each got.

#3837 Node.js version checker
  README.md
  packages/hoprd/package.json
  packages/hoprd/src/index.ts
  packages/hoprd/src/main.cts
  packages/hoprd/tsconfig.json
  scripts/run-integration-tests-source.sh
  scripts/setup-local-cluster.sh
  scripts/vm-nat-testing/docker-compose-nat.yaml
  scripts/vm-nat-testing/docker-compose-pub.yaml
  yarn.lock
Labels: improvement

#3838 Make additional internal constants configurable
  CHANGELOG.md
  README.md
  packages/core/src/constants.ts
  packages/core/src/index.mock.ts
  packages/core/src/index.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/core/src/network/network-peers.spec.ts
  packages/core/src/network/network-peers.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/ethereum/contracts/HoprChannels.sol
  packages/ethereum/deploy/05_HoprChannels.ts
  packages/ethereum/tasks/faucet.ts
  packages/hoprd/src/index.ts
  scripts/run-integration-tests-source.sh
  scripts/setup-local-cluster.sh
  scripts/topologies/full_interconnected_cluster.sh
  test/integration-test.sh
Labels: feature, toolchain, testing, effort:medium, complexity:normal

#3843 Smaller refactoring within Rust code
  packages/hoprd/crates/Makefile
  packages/hoprd/crates/hoprd-misc/src/lib.rs
  packages/hoprd/src/index.ts
  packages/real/crates/real-base/src/real.rs
  packages/real/src/io.spec.ts
  packages/real/src/io.ts
Labels: improvement

#3844 Fix use of CJS for WASM in hoprd
  packages/hoprd/crates/Makefile
  packages/hoprd/crates/hoprd-misc/src/lib.rs
  packages/hoprd/src/index.ts
Labels: bug

#3848 export all contract types
  packages/ethereum/src/index.ts
Labels: feature

#3849 export xHoprToken type
  packages/ethereum/src/index.ts
Labels: feature

#3853 Turn shell build script into Makefile
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e-gcloud.yaml
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/test.yaml
  Makefile
  README.md
  SETUP_LOCAL_CLUSTER.md
  build.sh
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
  flake.lock
  flake.nix
  package.json
  packages/connect/crates/Makefile
  packages/connect/package.json
  packages/core-ethereum/crates/Makefile
  packages/core-ethereum/package.json
  packages/core/crates/Makefile
  packages/core/package.json
  packages/cover-traffic-daemon/crates/Makefile
  packages/cover-traffic-daemon/package.json
  packages/ethereum/crates/Makefile
  packages/ethereum/package.json
  packages/hoprd/crates/Makefile
  packages/hoprd/package.json
  packages/real/crates/Makefile
  packages/real/package.json
  packages/utils/crates/Makefile
  packages/utils/package.json
  rust-toolchain.toml
  scripts/get-default-environment.sh
  scripts/publish-version.sh
  scripts/regenerate-typedocs.sh
  scripts/vm-nat-testing/README.md
  shell.nix
Labels: toolchain, improvement

#3851 Speed up Rust CI build pipeline
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e-gcloud.yaml
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  Cargo.lock
  Makefile
  README.md
  SETUP_LOCAL_CLUSTER.md
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
  flake.lock
  flake.nix
  package.json
  packages/connect/crates/Makefile
  packages/connect/package.json
  packages/connect/tsconfig.json
  packages/connect/tsconfig.spec.json
  packages/core-ethereum/crates/Makefile
  packages/core-ethereum/package.json
  packages/core-ethereum/src/commitment.spec.ts
  packages/core-ethereum/tsconfig.json
  packages/core-ethereum/tsconfig.spec.json
  packages/core/crates/Makefile
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/tsconfig.spec.json
  packages/cover-traffic-daemon/crates/Makefile
  packages/cover-traffic-daemon/package.json
  packages/cover-traffic-daemon/tsconfig.json
  packages/cover-traffic-daemon/tsconfig.spec.json
  packages/ethereum/crates/Makefile
  packages/ethereum/package.json
  packages/ethereum/tsconfig.hardhat.json
  packages/ethereum/tsconfig.json
  packages/ethereum/tsconfig.spec.json
  packages/hoprd/crates/Makefile
  packages/hoprd/package.json
  packages/real/crates/Makefile
  packages/real/package.json
  packages/real/tsconfig.json
  packages/real/tsconfig.spec.json
  packages/utils/crates/Makefile
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.spec.json
  rust-toolchain.toml
  scripts/get-default-environment.sh
  scripts/publish-version.sh
  scripts/regenerate-typedocs.sh
  scripts/vm-nat-testing/README.md
  shell.nix
  tsconfig.build.json
  yarn.lock
Labels: toolchain, improvement

#3854 fix build order
  Makefile
  packages/ethereum/package.json
Labels: bug, toolchain

#3859 core + ctd refactoring & efficiency enhancements
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/core/src/network/access-control.ts
  packages/core/src/network/network-peers.ts
  packages/core/src/path/index.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/state.ts
  packages/cover-traffic-daemon/src/strategy.ts
  packages/cover-traffic-daemon/src/utils.ts
  scripts/run-integration-tests-source.sh
Labels: bug, complexity:normal, improvement

#3860 use libp2p connection gater API
  packages/core/src/main.ts
Labels: improvement

#3862 migrate cover-traffic-daemon to ESM
  .nvmrc
  packages/cover-traffic-daemon/package.json
  packages/cover-traffic-daemon/src/healthcheck.ts
  packages/cover-traffic-daemon/src/index.spec.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/main.cts
  packages/cover-traffic-daemon/src/state.mock.ts
  packages/cover-traffic-daemon/src/state.spec.ts
  packages/cover-traffic-daemon/src/state.ts
  packages/cover-traffic-daemon/src/strategy.spec.ts
  packages/cover-traffic-daemon/src/strategy.ts
  packages/cover-traffic-daemon/src/unreleasedTokens.spec.ts
  packages/cover-traffic-daemon/src/utils.ts
  packages/cover-traffic-daemon/tsconfig.json
  yarn.lock
Labels: toolchain, improvement

#3863 Fix NPM package versioning
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  Makefile
  package.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deploy/01_ERC1820Registry.ts
  packages/ethereum/deploy/02_HoprToken.ts
  packages/ethereum/deploy/03_HoprDistributor.ts
  packages/ethereum/deploy/04_HoprWrapper.ts
  packages/ethereum/deploy/05_HoprChannels.ts
  packages/ethereum/deploy/06_xHoprMock.ts
  packages/ethereum/deploy/07_HoprBoost.ts
  packages/ethereum/deploy/08_HoprStake.ts
  packages/ethereum/deploy/16_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/17_HoprNetworkRegistry.ts
  packages/ethereum/deploy/20_mintDevNftTransferOwnership.ts
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  scripts/build_lockfiles.sh
  scripts/publish-version.sh
Labels: toolchain

#3870 Add make targets for docs generation
  .github/workflows/docs.yaml
  Makefile
  package.json
  packages/cover-traffic-daemon/package.json
  packages/hoprd/package.json
  yarn.lock
Labels: documentation

#3869 Fix npm lockfile generation
  .processes/tokens.md
  package.json
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/Dockerfile
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/Dockerfile
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  scripts/build-lockfiles.sh
  scripts/publish-version.sh
  yarn.lock
Labels: devops, toolchain

#3871 Fix incorrect package versions
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: toolchain

#3878 Fix decoding error when API token contains invalid characters
  CHANGELOG.md
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v2.ts
Labels: bug

#3836 Unblock master & enhance network registry
  CHANGELOG.md
  package.json
  packages/connect/src/webrtc/upgrader.ts
  packages/hoprd/package.json
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/api/v2/paths/account/address.ts
  packages/hoprd/src/api/v2/paths/account/addresses.ts
  packages/hoprd/src/api/v2/paths/account/balances.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.ts
  packages/hoprd/src/api/v2/paths/aliases/index.ts
  packages/hoprd/src/api/v2/paths/aliases/{alias}.ts
  packages/hoprd/src/api/v2/paths/channels/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/direction.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets/redeem.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/{direction}/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/{direction}/index.ts
  packages/hoprd/src/api/v2/paths/message/sign.ts
  packages/hoprd/src/api/v2/paths/messages/index.ts
  packages/hoprd/src/api/v2/paths/messages/sign.ts
  packages/hoprd/src/api/v2/paths/messages/websocket.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
  packages/hoprd/src/api/v2/paths/node/peers.ts
  packages/hoprd/src/api/v2/paths/node/ping.ts
  packages/hoprd/src/api/v2/paths/node/stream/websocket.ts
  packages/hoprd/src/api/v2/paths/node/version.ts
  packages/hoprd/src/api/v2/paths/settings/index.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.ts
  packages/hoprd/src/api/v2/paths/tickets/index.ts
  packages/hoprd/src/api/v2/paths/tickets/redeem.ts
  packages/hoprd/src/api/v2/paths/tickets/statistics.ts
  packages/hoprd/src/api/v2/utils.ts
  packages/hoprd/src/commands/addresses.ts
  packages/hoprd/src/commands/alias.ts
  packages/hoprd/src/commands/closeChannel.ts
  packages/hoprd/src/commands/fundChannel.ts
  packages/hoprd/src/commands/index.ts
  packages/hoprd/src/commands/listOpenChannels.ts
  packages/hoprd/src/commands/openChannel.ts
  packages/hoprd/src/commands/ping.ts
  packages/hoprd/src/commands/redeemTickets.ts
  packages/hoprd/src/commands/sendMessage.ts
  packages/hoprd/src/commands/sign.ts
  packages/hoprd/src/commands/stopNode.ts
  packages/hoprd/src/commands/tickets.ts
  packages/hoprd/src/commands/utils/checkPeerId.ts
  packages/hoprd/src/commands/utils/message.ts
  packages/hoprd/src/commands/withdraw.ts
  packages/hoprd/src/index.ts
  packages/hoprd/tsconfig.json
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/testnet.sh
  scripts/utils.sh
  test/ct-test.sh
  test/integration-test.sh
  yarn.lock
Labels: toolchain, improvement

#3881 fix build issues
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.hardhat.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  yarn.lock
Labels: bug, improvement

#3882 fix typedoc issue
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  yarn.lock
Labels: bug, toolchain, improvement

#3877 Prepare nodes for deployment with NR
  .github/workflows/deploy.yaml
  scripts/gcloud.sh
  scripts/setup-gcloud-cluster.sh
Labels: devops, toolchain
