Repository hoprnet/hoprnet, pull requests merged in 2022-05, with the labels that each got.

#3790 Fix event listener leak on failed connection
  CHANGELOG.md
  packages/hoprd/src/index.ts
  packages/utils/src/libp2p/dialHelper.ts
Labels: bug

#3791 Update bounty.md
  .processes/bounty.md
Labels: processes

#3792 Update bounty.md
  .github/ISSUE_TEMPLATE/bounty.md
Labels: processes

#3783 Fix/networkregistry improve and update
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/protocol-config.json
  packages/ethereum/contracts/HoprNetworkRegistry.sol
  packages/ethereum/contracts/proxy/HoprStakingProxyForNetworkRegistry.sol
  packages/ethereum/deploy/06_HoprNetworkRegistryProxy.ts
  packages/ethereum/test/HoprNetworkRegistry.test.ts
  packages/ethereum/test/proxy/HoprStakingProxyForNetworkRegistry.test.ts
Labels: improvement

#3795 Whitelist efficiency enhancements + bugfix
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/ethereum/contracts/HoprNetworkRegistry.sol
  packages/ethereum/hardhat.config.ts
  packages/ethereum/tasks/register.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
  test/integration-test.sh
Labels: effort:medium, complexity:normal

#3810 addressing whitelist feedback
  docs/hopr-documentation/docusaurus.config.js
  scripts/utils.sh
Labels: bug

#3255 HoprNetworkRegistry (Whitelist) smart contract, CD and more
  .github/workflows/docs.yaml
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.spec.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core/protocol-config-schema.json
  packages/core/protocol-config.json
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network/access-control.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/core/src/network/network-peers.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/ethereum/README.md
  packages/ethereum/contracts/HoprNetworkRegistry.sol
  packages/ethereum/contracts/IHoprNetworkRegistryRequirement.sol
  packages/ethereum/contracts/proxy/HoprDummyProxyForNetworkRegistry.sol
  packages/ethereum/contracts/proxy/HoprStakingProxyForNetworkRegistry.sol
  packages/ethereum/deploy/06_HoprNetworkRegistryProxy.ts
  packages/ethereum/deploy/07_HoprNetworkRegistry.ts
  packages/ethereum/deploy/slimDeployments.ts
  packages/ethereum/hardhat.config.ts
  packages/ethereum/package.json
  packages/ethereum/src/index.ts
  packages/ethereum/tasks/register.ts
  packages/ethereum/test/HoprNetworkRegistry.test.ts
  packages/ethereum/test/proxy/HoprDummyProxyForNetworkRegistry.test.ts
  packages/ethereum/test/proxy/HoprStakingProxyForNetworkRegistry.test.ts
  packages/hoprd/.gitignore
  packages/hoprd/rest-api-v2-full-spec.yaml
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/commands/info.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
  scripts/build-rest-api-spec.sh
  scripts/deploy-smart-contracts.sh
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  test/ct-test.sh
  test/integration-test.sh
  yarn.lock
Labels: feature, effort:medium

#3813 Update bounty.md
  .github/ISSUE_TEMPLATE/bounty.md
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
Labels: documentation

#3812 disable NR in development networks
  .github/workflows/e2e-npm.yaml
  .github/workflows/e2e.yaml
  packages/ethereum/deploy/07_HoprNetworkRegistry.ts
  packages/ethereum/tasks/register.ts
  test/integration-test.sh
Labels: feature

#3816 Network Connectivity Indicator
  CHANGELOG.md
  packages/core/src/index.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/hoprd/src/index.ts
Labels: package:core, effort:medium, complexity:normal, improvement

#3814 Reduce eth_getBlockByNumber calls
  CHANGELOG.md
  packages/core-ethereum/src/ethereum.mock.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/nonce-tracker.spec.ts
  packages/core-ethereum/src/transaction-manager.spec.ts
  packages/core-ethereum/src/transaction-manager.ts
  packages/core/protocol-config-schema.json
  packages/core/protocol-config.json
  packages/core/src/environment.ts
  packages/core/src/main.ts
  packages/ethereum/hardhat.config.ts
  scripts/fund-address.ts
Labels: package:core-ethereum, component:indexer, effort:small
