Repository hoprnet/hoprnet, pull requests merged in 2022-02, with the labels that each got.

#3380 Hotfix/add public nodes debug info
  package.json
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/protocol-config.json
  packages/ethereum/src/index.ts
Labels: package:core-ethereum, component:indexer, effort:small, complexity:easy

#3382 docs: correct index name for algolia doc search
  docs/hopr-documentation/docusaurus.config.js
Labels: effort:small, complexity:easy, documentation

#3386 Revert "Setup for runnable `hoprd` as a package"
  .vscode/launch.json
  packages/core/src/environment.ts
  packages/core/src/index.ts
  packages/hoprd/package.json
  packages/hoprd/src/index.ts
  packages/hoprd/src/main.ts
  yarn.lock
Labels: bug

#3390 Release Athens hotfix: Add CLI argument to explicitly allow connections to private addresses
  CHANGELOG.md
  packages/connect/src/filter.spec.ts
  packages/connect/src/filter.ts
  packages/connect/src/types.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/src/index.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  scripts/setup-local-cluster.sh
Labels: bug

#3333 Add helper script to get account info from gcloud nodes
  scripts/gcloud.sh
  scripts/get-gcloud-instances-accounts-info.sh
  scripts/utils.sh
Labels: feature, devops, effort:small, complexity:easy

#3389 processes: Add a GH issue template for releases
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/new-chain-epic.md
  .github/ISSUE_TEMPLATE/release.md
  .github/renovate.json
  .github/workflows/connect-integration-testing.yaml
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/nightly.yaml
  .github/workflows/stale-issues.yaml
Labels: processes, effort:small, complexity:easy

#3399 processes: Add contract verification check to release issue template
  .github/ISSUE_TEMPLATE/release.md
  VERIFICATION_GUIDE.md
Labels: processes, effort:small, complexity:easy

#3375 Bounty processes
  .github/ISSUE_TEMPLATE/bounty.md
  .processes/bounty.md
  .processes/development.md
  .processes/index.md
Labels: processes

#3346 Documentation for local interconnected network setup
  SETUP_LOCAL_CLUSTER.md
Labels: documentation

#3401 core: Prevent pre-mature channel finalize closure attempts
  packages/core/src/index.ts
  packages/utils/src/types/channelEntry.ts
Labels: bug, package:core, effort:small, complexity:easy

#3402 Add a try-catch block around each admin command call
  packages/hoprd/src/commands/index.ts
Labels: bug, package:hoprd, complexity:easy

#3400 processes: Extend current representative's timeframe
  .processes/development.md
Labels: processes, effort:small, complexity:easy

#3403 Athens hotfix: Add a try-catch block around each admin command call
  packages/hoprd/src/commands/index.ts
Labels: bug, package:hoprd, complexity:easy

#3413 [Hotfix release/athens] utils: Fix precision of timing check in channel entry
  packages/utils/src/types/channelEntry.ts
Labels: bug, effort:small, complexity:easy

#3393 Added WebSocket connection documentation
  docs/hopr-documentation/.gitignore
  docs/hopr-documentation/docs/developers/connecting-node.md
  docs/hopr-documentation/sidebars.js
  docs/hopr-documentation/static/img/developer/hopr_swagger_api.png
Labels: documentation

#3384 Forces `eth-sig-util` to a less outdated version
  package.json
  packages/ethereum/package.json
  yarn.lock
Labels: bug

#3414 add default environment to AVADO build
  .processes/release.md
  packages/avado/build/Dockerfile
  scripts/build_avado.sh
  scripts/get-default-environment.sh
  scripts/publish-version.sh
Labels: devops, effort:small, complexity:easy

#3397 Docs for `hello-world` w/HOPR
  docs/hopr-documentation/docs/developers/connecting-node.md
  docs/hopr-documentation/docs/developers/tutorial-hello-world.md
  docs/hopr-documentation/sidebars.js
  docs/hopr-documentation/src/css/custom.css
  docs/hopr-documentation/static/img/developer/hopr_admin_ui.png
Labels: documentation

#3417 Completed all documentation
  docs/hopr-documentation/docs/developers/connecting-node.md
  docs/hopr-documentation/docs/developers/intro.md
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
  docs/hopr-documentation/docs/developers/tutorial-hello-world.md
  docs/hopr-documentation/sidebars.js
  docs/hopr-documentation/src/components/HOPRfrontPage.js
Labels: documentation

#3395 Fix ticket redemption
  CHANGELOG.md
  packages/core-ethereum/src/commitment.spec.ts
  packages/core-ethereum/src/commitment.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/messages/packet.ts
  packages/ethereum/tasks/faucet.ts
  packages/utils/src/async/concurrency.spec.ts
  packages/utils/src/async/concurrency.ts
  packages/utils/src/crypto/por/index.ts
  packages/utils/src/db.ts
  packages/utils/src/types/acknowledgedTicket.ts
  packages/utils/src/types/solidity.ts
  packages/utils/src/types/ticket.ts
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: bug, effort:medium, complexity:hard

#3434 Hotfix release/athens: Port of ticket redemption fixes
  CHANGELOG.md
  packages/core-ethereum/src/commitment.spec.ts
  packages/core-ethereum/src/commitment.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/messages/packet.ts
  packages/ethereum/tasks/faucet.ts
  packages/utils/src/async/concurrency.spec.ts
  packages/utils/src/async/concurrency.ts
  packages/utils/src/crypto/por/index.ts
  packages/utils/src/db.ts
  packages/utils/src/types/acknowledgedTicket.ts
  packages/utils/src/types/solidity.ts
  packages/utils/src/types/ticket.ts
  scripts/run-integration-tests-source.sh
  test/integration-test.sh
Labels: bug, release/athens

#3431 update AVADO documentation
  packages/avado/README.md
Labels: effort:small, complexity:easy, documentation

#3442 Normalize protocol version before checking relay usability
  CHANGELOG.md
  packages/connect/src/constants.ts
Labels: bug

#3443 Normalize protocol version before checking relay usability
  CHANGELOG.md
  packages/connect/src/constants.ts
Labels: bug, package:core

#3438 Added missing syntax highlighting to docs
  docs/hopr-documentation/docs/developers/connecting-node.md
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
  docs/hopr-documentation/docs/developers/tutorial-hello-world.md
Labels: documentation

#3392 In-order block and on-chain event processing
  CHANGELOG.md
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/utils.ts
  packages/core/src/index.ts
  packages/utils/src/async/index.ts
  packages/utils/src/async/ordering.spec.ts
  packages/utils/src/async/ordering.ts
  packages/utils/src/collection/fifo.spec.ts
  packages/utils/src/collection/fifo.ts
  packages/utils/src/db.ts
  packages/utils/src/types/channelEntry.ts
  scripts/run-integration-tests-npm.sh
  test/integration-test.sh
Labels: component:indexer, effort:medium, complexity:normal, improvement

#3421 document how to make contributing PRs when bounty
  .processes/bounty.md
Labels: processes

#3416 Add GitPod setup for Hello World
  .gitpod.Dockerfile
  .gitpod.yml
  scripts/setup-local-cluster.sh
Labels: feature, toolchain

#3432 API v2 improvements
  packages/hoprd/src/admin.ts
  packages/hoprd/src/api/index.ts
  packages/hoprd/src/api/utils.spec.ts
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v1.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/messages/index.ts
  packages/hoprd/src/api/v2/paths/messages/websocket.ts
  test/security-test.sh
Labels: feature

#3451 fix logs
  packages/hoprd/src/api/v2.ts
Labels: bug

#3448 minor fixes regarding abortControllers
  packages/connect/src/base/entry.spec.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/tcp.spec.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/webrtc/connection.spec.ts
  packages/connect/src/webrtc/connection.ts
  packages/connect/tests/node.ts
  packages/utils/src/libp2p/dialHelper.ts
  scripts/connect/integration-test.sh
  scripts/connect/reconnect-test.sh
  scripts/connect/relay-slots-test.sh
Labels: package:connect, effort:medium, complexity:normal, improvement

#3457 Fix indexer and entry node code
  packages/connect/src/base/listener.ts
  packages/core-ethereum/src/indexer/index.ts
Labels: bug, package:core-ethereum

#3469 Release lisbon merge back
  CHANGELOG.md
  README.md
  SETUP_LOCAL_CLUSTER.md
  docs/hopr-documentation/src/css/custom.css
  package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/README.md
  packages/cover-traffic-daemon/package.json
  packages/ethereum/deployments/lisbon/xdai/.chainId
  packages/ethereum/deployments/lisbon/xdai/HoprChannels.json
  packages/ethereum/deployments/lisbon/xdai/HoprDistributor.json
  packages/ethereum/deployments/lisbon/xdai/HoprToken.json
  packages/ethereum/deployments/lisbon/xdai/HoprWrapper.json
  packages/hoprd/README.md
  yarn.lock
Labels: release, release/lisbon

#3453 Rock, paper & scissors demo game
  docs/hopr-documentation/docs/developers/components/BoomerangChat.jsx
  docs/hopr-documentation/docs/developers/components/IframeLoader.jsx
  docs/hopr-documentation/docs/developers/components/RPSGame.jsx
  docs/hopr-documentation/docs/developers/components/WebSocketHandler.jsx
  docs/hopr-documentation/docs/developers/components/atoms/ClusterHelper.jsx
  docs/hopr-documentation/docs/developers/components/atoms/Connector.jsx
  docs/hopr-documentation/docs/developers/components/utils.js
  docs/hopr-documentation/docs/developers/containers/connector.mdx
  docs/hopr-documentation/docs/developers/demo-rps-game.mdx
  docs/hopr-documentation/docs/developers/rest-api.mdx
  docs/hopr-documentation/sidebars.js
Labels: documentation

#3476 Use larger gcloud machines types
  scripts/gcloud.sh
Labels: devops, release/athens

#3478 use bigger gcloud machines types
  docs/hopr-documentation/docs/developers/components/IframeLoader.jsx
  docs/hopr-documentation/docs/developers/components/RPSGame.jsx
  docs/hopr-documentation/docs/developers/components/WebSocketHandler.jsx
  docs/hopr-documentation/docs/developers/components/atoms/ClusterHelper.jsx
  docs/hopr-documentation/docs/developers/components/atoms/Connector.jsx
  docs/hopr-documentation/docs/developers/components/utils.js
  docs/hopr-documentation/docs/developers/containers/connector.mdx
  docs/hopr-documentation/docs/developers/demo-rps-game.mdx
  docs/hopr-documentation/sidebars.js
  docs/hopr-documentation/src/pages/index.js
  scripts/gcloud.sh
Labels: devops

#3475 Added new Gitpod setup instructions w/cluster
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
Labels: documentation

#3481 Update version to next minor version
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/utils/package.json
Labels: effort:small, complexity:easy

#3483 Add GitPod setup for Hello World also to Athens
  .gitpod.Dockerfile
  .gitpod.yml
  scripts/setup-local-cluster.sh
Labels: toolchain, complexity:easy

#3473 Hotfix/debuglog analytics
  packages/connect/src/index.ts
  packages/core/src/index.ts
  packages/core/src/network/network-peers.ts
Labels: improvement

#3471 fix address filter / listener issue
  CHANGELOG.md
  packages/connect/src/base/listener.spec.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/index.ts
  packages/core/src/index.mock.ts
  packages/core/src/index.spec.ts
  packages/core/src/main.ts
  packages/cover-traffic-daemon/src/index.spec.ts
Labels: package:connect, effort:small, complexity:easy

#3486 devops(gcloud): Use different european region/zone for VMs
  scripts/gcloud.sh
Labels: devops, release/athens

#3487 devops(gcloud): Use different european region/zone for VMs
  scripts/gcloud.sh
Labels: devops, effort:small, complexity:easy, release/lisbon

#3488 devops(gcloud): Use different european region/zone for VMs
  scripts/gcloud.sh
Labels: devops, effort:small, complexity:easy

#3495 Hotfix/console output
  packages/connect/src/base/entry.ts
  packages/connect/src/filter.ts
  packages/connect/src/relay/index.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/main.ts
  packages/core/src/messages/packet.ts
  packages/core/src/network/network-peers.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/utils/src/async/ordering.ts
Labels: effort:small, complexity:easy

#3509 Lisbon release hotfix: GitPod improvements
  .gitpod.yml
  scripts/init-gitpod.sh
Labels: toolchain

#3507 Readme file for Docs page
  docs/hopr-documentation/README.md
Labels: documentation, improvement

#3518 Set up `lisbon` as latest stable release
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
Labels: documentation

#3494 API v2 add hopr-admin log endpoint
  CHANGELOG.md
  docs/hopr-documentation/README.md
  packages/hoprd/src/api/index.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/index.ts
  packages/hoprd/src/api/v2/paths/account/address.ts
  packages/hoprd/src/api/v2/paths/account/addresses.ts
  packages/hoprd/src/api/v2/paths/account/balances.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.spec.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.ts
  packages/hoprd/src/api/v2/paths/aliases/alias.spec.ts
  packages/hoprd/src/api/v2/paths/aliases/index.spec.ts
  packages/hoprd/src/api/v2/paths/aliases/index.ts
  packages/hoprd/src/api/v2/paths/aliases/{alias}.ts
  packages/hoprd/src/api/v2/paths/channels/index.spec.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
  packages/hoprd/src/api/v2/paths/channels/peerid.spec.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets/redeem.ts
  packages/hoprd/src/api/v2/paths/message/sign.ts
  packages/hoprd/src/api/v2/paths/messages/index.ts
  packages/hoprd/src/api/v2/paths/messages/sign.ts
  packages/hoprd/src/api/v2/paths/messages/websocket.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
  packages/hoprd/src/api/v2/paths/node/ping.spec.ts
  packages/hoprd/src/api/v2/paths/node/ping.ts
  packages/hoprd/src/api/v2/paths/node/stream/websocket.ts
  packages/hoprd/src/api/v2/paths/node/version.ts
  packages/hoprd/src/api/v2/paths/settings/index.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.spec.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.ts
  packages/hoprd/src/api/v2/paths/tickets/index.ts
  packages/hoprd/src/api/v2/paths/tickets/redeem.ts
  packages/hoprd/src/api/v2/paths/tickets/statistics.ts
  packages/hoprd/src/api/v2/utils.ts
  packages/hoprd/src/logs.ts
  scripts/build-rest-api-spec.sh
Labels: effort:small, complexity:easy

#3521 Generate sourceable file for easier environment setup in setup-local-cluster.sh
  scripts/init-gitpod.sh
  scripts/setup-local-cluster.sh
Labels: toolchain, complexity:easy

#3523 gcloud: use machine type with higher quota
  scripts/gcloud.sh
Labels: devops

#3522 gcloud: use machine type with higher quota
  scripts/gcloud.sh
Labels: devops

#3525 Hotfix release/lisbon: avado: Revert docker tag to master-goerli
  packages/avado/build/Dockerfile
Labels: bug, release/lisbon, component:avado

#3532 ci: Add wait time between funding attempts
  scripts/testnet.sh
Labels: devops, effort:small, complexity:easy

#3531 wallets: add CI/CD funding address
  .processes/wallets.md
Labels: processes, effort:small, complexity:easy

#3537 Rendering actual buttons for `<ClusterHelper>`
  docs/hopr-documentation/docs/developers/components/atoms/ClusterHelper.jsx
Labels: documentation

#3539 ci: Ensure instances are not replaced when updated
  scripts/gcloud.sh
  scripts/setup-gcloud-cluster.sh
Labels: bug, devops

#3543 ci: Fix deletion of instance template when updating group
  .github/workflows/deploy.yaml
  .github/workflows/e2e-gcloud.yaml
  scripts/gcloud.sh
Labels: bug, devops, effort:small, complexity:easy

#3542 ci: Fix balance checks in smoke tests
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
Labels: bug, testing, effort:small, complexity:easy

#3546 Fix local cluster ports in env file
  scripts/setup-local-cluster.sh
Labels: bug, toolchain, effort:small, complexity:easy

#3540 Added code snippets to documentation
  docs/hopr-documentation/docs/developers/snippets.mdx
  docs/hopr-documentation/docs/developers/snippets/WebSocketHandler.md
  docs/hopr-documentation/docs/developers/snippets/getHeaders.md
  docs/hopr-documentation/docs/developers/snippets/useWebSocket.md
  docs/hopr-documentation/sidebars.js
Labels: documentation

#3560 Add video link to Docs page
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
Labels: documentation

#3550 Earlier merge-back some GitPod changes from release/lisbon to master
  .gitpod.yml
  scripts/init-gitpod.sh
  scripts/setup-local-cluster.sh
Labels: toolchain, effort:small, complexity:easy

#3562 core-ethereum: Fix use of array when undefined
  packages/core-ethereum/src/indexer/index.ts
Labels: bug, effort:small, complexity:easy

#3536 Updates and improvements to Docs
  docs/hopr-documentation/docs/developers/starting-local-cluster.md
  docs/hopr-documentation/docs/developers/visualizing-topology.md
  scripts/setup-local-cluster.sh
Labels: documentation

#3577 fail on non-zero exit codes
  packages/core-ethereum/src/index.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
Labels: testing, improvement

#3568 Hotfix/fix starvation in transaction tracking
  CHANGELOG.md
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/transaction-manager.ts
Labels: bug, package:core-ethereum, effort:medium, complexity:normal

#3588 do not await dht call
  packages/connect/src/relay/index.ts
Labels: package:connect

#3592 Hotfix/do not fail on other modules provider errors
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/nonce-tracker.ts
  packages/core-ethereum/tsconfig.json
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/network/heartbeat.ts
Labels: bug, package:core-ethereum, component:indexer, package:core, component:heartbeat, effort:medium, complexity:normal

#3595 Restored API-based funding script for CI
  scripts/testnet.sh
  scripts/utils.sh
Labels: bug

#3598 Patching issue w/format in unix
  scripts/testnet.sh
Labels: bug

#3600 Q/docs events improvements
  docs/hopr-documentation/docs/developers/smart-contract.md
  docs/hopr-documentation/docs/developers/visualizing-topology.md
Labels: complexity:easy, documentation

#3602 ci: Add missing api token in env for notification script
  .github/workflows/deploy.yaml
Labels: devops, effort:small, complexity:easy

#3569 Hotfix: Print more information for local cluster setup
  scripts/setup-local-cluster.sh
Labels: toolchain, effort:small, complexity:easy
