Repository hoprnet/hoprnet, pull requests merged in 2023-08, with the labels that each got.

#5256 sc: Add HoprTicketPriceOracle
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/script/utils/NetworkConfig.s.sol
  packages/ethereum/contracts/src/TicketPriceOracle.sol
  packages/ethereum/contracts/src/node-stake/NodeSafeRegistry.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
  packages/ethereum/contracts/src/utils/TargetUtils.sol
  packages/ethereum/contracts/test/TicketPriceOracle.t.sol
  packages/ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
Labels: feature, smart contract

#5264 Reduce Solidity compiler warnings
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/script/DeployNodeSafe.s.sol
  packages/ethereum/contracts/script/GetAccountBalances.s.sol
  packages/ethereum/contracts/script/SafeSuiteSetup.s.sol
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/ethereum/contracts/script/utils/BoostUtilsLib.sol
  packages/ethereum/contracts/script/utils/NetworkConfig.s.sol
  packages/ethereum/contracts/script/utils/SafeSuiteLib.sol
  packages/ethereum/contracts/src/interfaces/INetworkRegistryRequirement.sol
  packages/ethereum/contracts/src/interfaces/INodeManagementModule.sol
  packages/ethereum/contracts/src/interfaces/INodeSafeRegistry.sol
  packages/ethereum/contracts/src/static/ERC777/ERC777Snapshot.sol
  packages/ethereum/contracts/src/static/HoprForwarder.sol
  packages/ethereum/contracts/src/static/HoprWrapper.sol
  packages/ethereum/contracts/src/static/HoprWrapperProxy.sol
  packages/ethereum/contracts/src/static/stake/HoprStake.sol
  packages/ethereum/contracts/src/static/stake/HoprStake2.sol
  packages/ethereum/contracts/src/static/stake/HoprStakeBase.sol
  packages/ethereum/contracts/src/static/stake/HoprStakeSeason3.sol
  packages/ethereum/contracts/src/static/stake/HoprStakeSeason4.sol
  packages/ethereum/contracts/src/static/stake/HoprWhitehat.sol
  packages/ethereum/contracts/test/Account.t.sol
  packages/ethereum/contracts/test/Channels.t.sol
  packages/ethereum/contracts/test/Crypto.t.sol
  packages/ethereum/contracts/test/ERC1820Registry.t.sol
  packages/ethereum/contracts/test/ERC777/ERC777Snapshot.t.sol
  packages/ethereum/contracts/test/MultiSig.t.sol
  packages/ethereum/contracts/test/NetworkRegistry.t.sol
  packages/ethereum/contracts/test/TicketPriceOracle.t.sol
  packages/ethereum/contracts/test/mocks/ERC777Mock.sol
  packages/ethereum/contracts/test/mocks/ERC777Mock.t.sol
  packages/ethereum/contracts/test/mocks/ERC777SnapshotMock.sol
  packages/ethereum/contracts/test/mocks/EnumerableTargetSetMock.sol
  packages/ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  packages/ethereum/contracts/test/node-stake/NodeStakeFactory.t.sol
  packages/ethereum/contracts/test/node-stake/NodeStakeIntegration.t.sol
  packages/ethereum/contracts/test/node-stake/permissioned-modules/NodeManagementModule.t.sol
  packages/ethereum/contracts/test/proxy/DummyProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/proxy/SafeProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/proxy/StakingProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/scripts/DeployAll.t.sol
  packages/ethereum/contracts/test/scripts/DeployNodeManagement.t.sol
  packages/ethereum/contracts/test/static/HoprDistributor.t.sol
  packages/ethereum/contracts/test/static/HoprToken.t.sol
  packages/ethereum/contracts/test/static/HoprWrapper.t.sol
  packages/ethereum/contracts/test/static/stake/HoprBoost.t.sol
  packages/ethereum/contracts/test/static/stake/HoprStakeBase.t.sol
  packages/ethereum/contracts/test/static/stake/HoprStakeSeason6.t.sol
  packages/ethereum/contracts/test/static/stake/HoprStakeSeason7.t.sol
  packages/ethereum/contracts/test/utils/Accounts.sol
  packages/ethereum/contracts/test/utils/CapabilityLibrary.sol
  packages/ethereum/contracts/test/utils/Crypto.sol
  packages/ethereum/contracts/test/utils/ERC1820Registry.sol
  packages/ethereum/contracts/test/utils/EnumerableTargetSet.t.sol
  packages/ethereum/contracts/test/utils/PermittableToken.sol
  packages/ethereum/contracts/test/utils/SafeSingleton.sol
  packages/ethereum/contracts/test/utils/TargetUtils.t.sol
  packages/ethereum/contracts/test/utils/Tokens.sol
Labels: complexity:easy, documentation

#5272 audit documentation
  docs/sc-audit-08-2023/docs/01-overview.md
Labels: smart contract

#5271 Create the peer discovery network behavior
  Cargo.lock
  Cargo.toml
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/adaptors/heartbeat.rs
  packages/core/crates/core-hopr/src/adaptors/mod.rs
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/adaptors/ping.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-network/src/heartbeat.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-network/src/ping.rs
  packages/utils/crates/utils-metrics/src/metrics.rs
Labels: package:core, component:heartbeat, effort:large, complexity:hard, component:p2p

#5273 Add announcement deployment & some config cleanup
  packages/core/crates/core-misc/src/environment.rs
  packages/core/protocol-config.json
  packages/core/src/network.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/script/DeployNodeSafe.s.sol
  packages/ethereum/contracts/script/GetAccountBalances.s.sol
  packages/ethereum/contracts/script/utils/NetworkConfig.s.sol
  packages/hopli/src/environment_config.rs
  scripts/utils.sh
Labels: improvement

#5274 exclude address zero in testFuzz_ScopeTargetSendFromModule
  packages/ethereum/contracts/test/node-stake/permissioned-modules/NodeManagementModule.t.sol
Labels: bug, effort:small, complexity:easy, smart contract

#5281 Update indexer
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/utils/utils.ts
  packages/core/crates/core-misc/src/environment.rs
  packages/core/protocol-config.json
  packages/core/src/index.ts
  packages/core/src/network.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/hopli/src/environment_config.rs
  packages/hoprd/src/api/v2/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
Labels: package:core-ethereum, component:indexer

#5277 Ignore structurizr
  docs/design/.gitignore
  docs/sc-audit-08-2023/.gitignore
Labels: bug

#5276 Migrate the send message and acknowledge protocols
  Cargo.lock
  Cargo.toml
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/adaptors/interactions.rs
  packages/core/crates/core-hopr/src/adaptors/mod.rs
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-network/Cargo.toml
  packages/core/crates/core-network/src/heartbeat.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-network/src/ping.rs
  packages/core/crates/core-p2p/Cargo.toml
  packages/core/crates/core-p2p/src/lib.rs
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-packet/src/errors.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/utils/crates/utils-db/src/leveldb.rs
  packages/utils/crates/utils-types/Cargo.toml
Labels: high priority, package:core, effort:large, complexity:hard, release:providence, component:p2p

#5289 Accept safe cli args 5284
  Cargo.lock
  Makefile
  README.md
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core-ethereum/src/utils/HoprAnnouncements.ts
  packages/core-ethereum/src/utils/HoprChannels.ts
  packages/core-ethereum/src/utils/HoprNetworkRegistry.ts
  packages/core-ethereum/src/utils/HoprToken.ts
  packages/core-ethereum/src/utils/index.ts
  packages/core-ethereum/src/utils/utils.ts
  packages/core/crates/core-packet/src/validation.rs
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network.ts
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/SimplifiedModule.sol
  packages/ethereum/contracts/test/node-stake/NodeStakeFactory.t.sol
  packages/ethereum/contracts/test/node-stake/permissioned-modules/NodeManagementModule.t.sol
  packages/ethereum/crates/bindings/src/hopr_channels.rs
  packages/hopli/README.md
  packages/hopli/src/create_safe_module.rs
  packages/hopli/src/main.rs
  packages/hopli/src/process.rs
  packages/hoprd/crates/hoprd-misc/Cargo.toml
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/crates/hoprd-misc/src/config.rs
  packages/hoprd/src/api/v2/paths/messages/index.ts
  packages/hoprd/src/api/v2/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
  packages/hoprd/src/index.ts
  packages/utils/crates/utils-db/src/constants.rs
Labels: package:core-ethereum, component:indexer, package:core, release:providence

#5290 Migrate indexer #2
  .gitattributes
  Makefile
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/commitment.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/network_registry.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/fixtures.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core/crates/core-crypto/src/iterated_hash.rs
  packages/core/crates/core-crypto/src/lib.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/ethereum/contracts/src/node-stake/NodeSafeRegistry.sol
  packages/ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  packages/ethereum/crates/bindings/src/hopr_announcements.rs
  packages/ethereum/crates/bindings/src/hopr_announcements_events.rs
  packages/ethereum/crates/bindings/src/hopr_boost.rs
  packages/ethereum/crates/bindings/src/hopr_capability_permissions.rs
  packages/ethereum/crates/bindings/src/hopr_channels.rs
  packages/ethereum/crates/bindings/src/hopr_channels_events.rs
  packages/ethereum/crates/bindings/src/hopr_crypto.rs
  packages/ethereum/crates/bindings/src/hopr_distributor.rs
  packages/ethereum/crates/bindings/src/hopr_dummy_proxy_for_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_forwarder.rs
  packages/ethereum/crates/bindings/src/hopr_ledger.rs
  packages/ethereum/crates/bindings/src/hopr_multi_sig.rs
  packages/ethereum/crates/bindings/src/hopr_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_network_registry_events.rs
  packages/ethereum/crates/bindings/src/hopr_node_management_module.rs
  packages/ethereum/crates/bindings/src/hopr_node_safe_registry.rs
  packages/ethereum/crates/bindings/src/hopr_node_safe_registry_events.rs
  packages/ethereum/crates/bindings/src/hopr_node_stake_factory.rs
  packages/ethereum/crates/bindings/src/hopr_node_stake_factory_events.rs
  packages/ethereum/crates/bindings/src/hopr_safe_proxy_for_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_stake.rs
  packages/ethereum/crates/bindings/src/hopr_stake_2.rs
  packages/ethereum/crates/bindings/src/hopr_stake_base.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_3.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_4.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_5.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_6.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_7.rs
  packages/ethereum/crates/bindings/src/hopr_staking_proxy_for_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_ticket_price_oracle.rs
  packages/ethereum/crates/bindings/src/hopr_ticket_price_oracle_events.rs
  packages/ethereum/crates/bindings/src/hopr_token.rs
  packages/ethereum/crates/bindings/src/hopr_wrapper.rs
  packages/ethereum/crates/bindings/src/hopr_wrapper_proxy.rs
  packages/ethereum/crates/bindings/src/lib.rs
  packages/hoprd/crates/hoprd-keypair/src/key_pair.rs
  packages/hoprd/src/api/token.spec.ts
  packages/hoprd/src/index.ts
  packages/utils/crates/utils-db/src/constants.rs
  packages/utils/src/db/db.spec.ts
Labels: feature, package:core-ethereum

#5296 Fix Rust unit tests
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/network_registry.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-types/src/channels.rs
Labels: testing, effort:small, complexity:easy, improvement

#5298 Response to preliminary report 2
  docs/sc-audit-08-2023/docs/02-response-to-preliminary-report.md
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/script/SafeSuiteSetup.s.sol
  packages/ethereum/contracts/src/Channels.sol
  packages/ethereum/contracts/src/Ledger.sol
  packages/ethereum/contracts/src/interfaces/IAvatar.sol
  packages/ethereum/contracts/src/interfaces/INodeSafeRegistry.sol
  packages/ethereum/contracts/src/node-stake/NodeSafeRegistry.sol
  packages/ethereum/contracts/src/node-stake/NodeStakeFactory.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/SimplifiedModule.sol
  packages/ethereum/contracts/src/proxy/SafeProxyForNetworkRegistry.sol
  packages/ethereum/contracts/src/static/stake/HoprWhitehat.sol
  packages/ethereum/contracts/src/static/stake/mocks/ERC677Mock.sol
  packages/ethereum/contracts/src/static/stake/mocks/ERC777Mock.sol
  packages/ethereum/contracts/src/utils/SafeSuiteLib.sol
  packages/ethereum/contracts/src/utils/TargetUtils.sol
  packages/ethereum/contracts/test/Channels.t.sol
  packages/ethereum/contracts/test/mocks/ERC677Mock.t.sol
  packages/ethereum/contracts/test/mocks/ERC777Mock.t.sol
  packages/ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  packages/ethereum/contracts/test/node-stake/NodeStakeFactory.t.sol
  packages/ethereum/contracts/test/node-stake/permissioned-modules/NodeManagementModule.t.sol
  packages/ethereum/contracts/test/proxy/SafeProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/static/HoprWrapper.t.sol
  packages/ethereum/contracts/test/utils/Crypto.sol
  packages/ethereum/contracts/test/utils/SafeSingleton.sol
Labels: smart contract, release:providence

#5300 Adjust naming scheme of identity files created by hopli
  packages/hopli/src/identity.rs
  packages/hopli/src/key_pair.rs
  packages/hopli/src/utils.rs
Labels: component:hopli

#5299 ops: Add script to manually deploy rotsee nodes
  scripts/compose/prometheus/prometheus.local-dev.yml
  scripts/compose/prometheus/prometheus.yml
  scripts/deploy-rotsee-nodes.sh
  scripts/deploy.sh
  scripts/get-hopr-address.sh
  scripts/init-gitpod.sh
  scripts/setup-local-cluster.sh
  scripts/utils.sh
Labels: devops

#5307 chore: Update protocol config
  packages/core/protocol-config.json
  scripts/check-pr.sh
Labels: bug

#5309 gha: Fix docker image tagging
  .github/workflows/merge.yml
  packages/hoprd/README.md
Labels: bug

#5287 Remove js-libp2p and introduce rust-libp2p
  Cargo.lock
  Cargo.toml
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/adaptors/indexer.rs
  packages/core/crates/core-hopr/src/adaptors/mod.rs
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/adaptors/ping.rs
  packages/core/crates/core-hopr/src/errors.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-network/src/heartbeat.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-network/src/ping.rs
  packages/core/crates/core-strategy/src/generic.rs
  packages/core/crates/core-strategy/src/passive.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/random.rs
  packages/core/src/channel-strategy.spec.ts
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/hoprd/src/api/v2/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
  packages/hoprd/src/api/v2/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/peers.ts
  packages/hoprd/src/api/v2/paths/node/ping.ts
  packages/real/crates/real-base/src/error.rs
  packages/real/crates/real-base/src/real.rs
  packages/utils/crates/utils-db/src/leveldb.rs
  packages/utils/crates/utils-log/src/logger.rs
Labels: package:hoprd, package:core, effort:large, complexity:hard, component:p2p

#5313 Fix Typing issue
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-indexer/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/src/index.ts
  packages/hoprd/src/api/v3/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/info.ts
Labels: package:core-ethereum, package:hoprd, package:core, effort:small, complexity:normal, release:providence

#5316 Proper indentation in the Makefile
  packages/ethereum/contracts/Makefile
Labels: bug

#5317 Update readme
  README.md
Labels: effort:small, complexity:easy, documentation

#5319 Fix formatting of Ed25519 public key & other fixes
  packages/core-ethereum/src/ethereum.ts
  packages/core/src/main.ts
Labels: bug

#5320 Reformatting files
  CHANGELOG.md
  README.md
  docs/sc-audit-08-2023/docs/02-response-to-preliminary-report.md
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/errors.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core/crates/core-crypto/src/derivation.rs
  packages/core/crates/core-crypto/src/ec_groups.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/protocol-config.json
  packages/core/src/main.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/src/Channels.sol
  packages/hoprd/src/api/v3/paths/node/info.ts
Labels: improvement

#5322 api: Fixed bugs in messages endpoints
  packages/core/src/main.ts
  packages/hoprd/src/api/v3/paths/messages/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/messages/index.ts
  packages/hoprd/src/api/v3/paths/messages/pop-all.spec.ts
  packages/hoprd/src/api/v3/paths/messages/pop-all.ts
  packages/hoprd/src/api/v3/paths/messages/pop.spec.ts
  packages/hoprd/src/api/v3/paths/messages/pop.ts
  packages/hoprd/src/api/v3/paths/messages/size.spec.ts
  packages/hoprd/src/api/v3/paths/messages/size.ts
Labels: feature, testing, component:api

#5324 Add method to register node to network registry as manager and add process to launch a rotsee node
  Makefile
  README.md
  docs/sc-audit-08-2023/docs/02-response-to-preliminary-report.md
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/ethereum/contracts/src/Channels.sol
  scripts/deploy-rotsee-nodes.sh
Labels: complexity:normal

#5318 integrate contract calls #2
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/chain.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/network_registry.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/src/index.ts
  packages/core/src/main.ts
Labels: package:core-ethereum

#5326 Fix key linkage on announcement and other tweaks
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/chain.rs
  packages/core-ethereum/src/index.ts
Labels: bug, release:providence

#5327 some indexer cleanup
  packages/core-ethereum/package.json
  packages/core-ethereum/src/db.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/utils/package.json
  packages/utils/src/ethereum/index.ts
  packages/utils/src/ethereum/keyPair.spec.ts
  packages/utils/src/ethereum/keyPair.ts
  packages/utils/src/index.ts
  packages/utils/src/libp2p/index.spec.ts
  packages/utils/src/libp2p/index.ts
  packages/utils/src/parseJSON.ts
  yarn.lock
Labels: improvement

#5325 api: Fix channels endpoints
  packages/core/protocol-config.json
  packages/hoprd/releases.json
  packages/hoprd/rest-api-v3-spec.yaml
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v3.ts
  packages/hoprd/src/api/v3/fixtures.ts
  packages/hoprd/src/api/v3/paths/channels/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets/redeem.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets/redeem.ts
  packages/hoprd/src/api/v3/paths/peers/{peerid}/index.ts
  packages/hoprd/src/api/v3/paths/peers/{peerid}/ping.integration.spec.ts
  packages/hoprd/src/api/v3/paths/peers/{peerid}/ping.ts
  packages/hoprd/src/api/v3/paths/tokens/index.integration.spec.ts
Labels: component:api

#5331 fmt: Making linter happy
  Makefile
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/ethereum/contracts/src/node-stake/NodeSafeRegistry.sol
  packages/ethereum/contracts/src/node-stake/NodeStakeFactory.sol
  packages/ethereum/contracts/src/utils/TargetUtils.sol
  packages/ethereum/contracts/test/Channels.t.sol
  packages/ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  packages/ethereum/contracts/test/proxy/SafeProxyForNetworkRegistry.t.sol
  packages/utils/src/libp2p/index.ts
  tests/test_integration.py
Labels: toolchain

#5330 api: Fix remaining endpoints
  packages/hoprd/rest-api-v3-spec.yaml
  packages/hoprd/src/api/token.spec.ts
  packages/hoprd/src/api/token.ts
  packages/hoprd/src/api/v3.ts
  packages/hoprd/src/api/v3/paths/account/addresses.ts
  packages/hoprd/src/api/v3/paths/account/withdraw.integration.spec.ts
  packages/hoprd/src/api/v3/paths/account/withdraw.ts
  packages/hoprd/src/api/v3/paths/aliases/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/aliases/index.ts
  packages/hoprd/src/api/v3/paths/messages/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/messages/index.ts
  packages/hoprd/src/api/v3/paths/messages/websocket.ts
  packages/hoprd/src/api/v3/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v3/paths/peers/{peerid}/index.spec.ts
  packages/hoprd/src/api/v3/paths/token.integration.spec.ts
  packages/hoprd/src/api/v3/paths/tokens/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/tokens/{id}.integration.spec.ts
Labels: testing, component:api

#5333 Fix all unit tests and linter errors
  .github/workflows/lint-optional.yaml
  .github/workflows/lint.yaml
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/utils/utils.ts
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/src/network.ts
  packages/ethereum/contracts/test/Channels.t.sol
  packages/hoprd/src/api/v3.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets/redeem.ts
  packages/utils/src/utils.spec.ts
Labels: toolchain

#5337 Format Ed25519 private key properly for libp2p
  README.md
  docs/sc-audit-08-2023/docs/02-response-to-preliminary-report.md
  packages/core/src/main.ts
Labels: bug, release:providence

#5335 scripts: Make local cluster script work again
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/rest-api-v3-spec.yaml
  packages/hoprd/src/supported-api-capabilities.json
  scripts/build-rest-api-spec.sh
  scripts/pluto/Dockerfile
  scripts/setup-local-cluster.sh
Labels: toolchain

#5340 Generate Python SDK semi-automatically
  .gitignore
  Makefile
  scripts/python-sdk-config.json
Labels: feature, toolchain

#5345 Fix missing event handler
  Makefile
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/ethereum/crates/bindings/Cargo.toml
  packages/ethereum/crates/bindings/src/hopr_announcements.rs
  packages/ethereum/crates/bindings/src/hopr_boost.rs
  packages/ethereum/crates/bindings/src/hopr_capability_permissions.rs
  packages/ethereum/crates/bindings/src/hopr_channels.rs
  packages/ethereum/crates/bindings/src/hopr_channels_events.rs
  packages/ethereum/crates/bindings/src/hopr_distributor.rs
  packages/ethereum/crates/bindings/src/hopr_dummy_proxy_for_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_forwarder.rs
  packages/ethereum/crates/bindings/src/hopr_ledger.rs
  packages/ethereum/crates/bindings/src/hopr_ledger_events.rs
  packages/ethereum/crates/bindings/src/hopr_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_node_management_module.rs
  packages/ethereum/crates/bindings/src/hopr_node_safe_registry.rs
  packages/ethereum/crates/bindings/src/hopr_node_safe_registry_events.rs
  packages/ethereum/crates/bindings/src/hopr_node_stake_factory.rs
  packages/ethereum/crates/bindings/src/hopr_safe_proxy_for_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_stake.rs
  packages/ethereum/crates/bindings/src/hopr_stake_2.rs
  packages/ethereum/crates/bindings/src/hopr_stake_base.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_3.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_4.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_5.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_6.rs
  packages/ethereum/crates/bindings/src/hopr_stake_season_7.rs
  packages/ethereum/crates/bindings/src/hopr_staking_proxy_for_network_registry.rs
  packages/ethereum/crates/bindings/src/hopr_ticket_price_oracle.rs
  packages/ethereum/crates/bindings/src/hopr_token.rs
  packages/ethereum/crates/bindings/src/hopr_wrapper.rs
  packages/ethereum/crates/bindings/src/hopr_wrapper_proxy.rs
  packages/ethereum/crates/bindings/src/lib.rs
  packages/utils/crates/utils-db/src/constants.rs
Labels: component:indexer

#5349 Fixed incorrect address usage
  packages/hoprd/src/api/v3/paths/channels/index.ts
Labels: bug, release:providence

#5347 tests: Make smoke tests work until open channel
  packages/core/src/index.ts
  packages/ethereum/Dockerfile.anvil
  packages/ethereum/contracts/foundry.toml
  packages/ethereum/contracts/src/Channels.sol
  packages/ethereum/contracts/test/utils/Crypto.sol
  packages/hoprd/src/api/v3/paths/channels/index.ts
  packages/hoprd/src/api/v3/paths/messages/index.ts
  packages/hoprd/src/index.ts
  scripts/api.sh
  scripts/fixture_local_test_setup.sh
  scripts/register-node.sh
  tests/conftest.py
  tests/integration-test.sh
  tests/requirements.txt
  tests/test_integration.py
Labels: testing

#5343 Fix building conditions on pipeline
  .github/workflows/build-anvil.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build-toolchain.yaml
  .github/workflows/build.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/k8s.yaml
  .github/workflows/lint-optional.yaml
  .github/workflows/lint.yaml
  .github/workflows/merge.yml
  .github/workflows/new-pr.yaml
  .github/workflows/renovate-cargo-update.yml
  .github/workflows/tests.yaml
  Makefile
  scripts/deploy-rotsee-nodes.sh
Labels: feature, devops

#5357 make: Fix build
  Makefile
Labels: toolchain

#5356 sc: Fix ticket index check when redeeming tickets
  docs/sc-audit-08-2023/docs/03-response-to-second-preliminary-report.md
  packages/ethereum/contracts/src/Channels.sol
Labels: smart contract

#5358 tests: Use static identities in smoke tests
  .gitignore
  Makefile
  packages/hopli/src/create_safe_module.rs
  packages/hopli/src/faucet.rs
  packages/hopli/src/identity.rs
  packages/hopli/src/initialize_node.rs
  packages/hopli/src/key_pair.rs
  packages/hopli/src/main.rs
  packages/hopli/src/network_registry.rs
  packages/hoprd/crates/hoprd-keypair/src/key_pair.rs
  scripts/fixture_local_test_setup.sh
  scripts/topologies/full_interconnected_cluster.sh
  tests/identities/hopr-smoke-test-node_0.id
  tests/identities/hopr-smoke-test-node_1.id
  tests/identities/hopr-smoke-test-node_2.id
  tests/identities/hopr-smoke-test-node_3.id
  tests/identities/hopr-smoke-test-node_4.id
  tests/identities/hopr-smoke-test-node_5.id
  tests/identities/hopr-smoke-test-node_6.id
Labels: testing, component:hopli

#5360 sc: Enforce evaluation order
  docs/sc-audit-08-2023/docs/02-response-to-preliminary-report.md
  docs/sc-audit-08-2023/docs/03-response-to-second-preliminary-report.md
  packages/ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  packages/ethereum/contracts/src/utils/TargetUtils.sol
Labels: smart contract

#5361 sc: Update audit commit hash
  docs/sc-audit-08-2023/docs/03-response-to-second-preliminary-report.md
Labels: documentation

#5352 Move TS imports from Rust into a single WASM runtime
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/chain.rs
  packages/core-ethereum/src/db.ts
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/protocol-config.json
  packages/core/src/channel-strategy.ts
  packages/core/src/cryptography.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network.ts
  packages/core/src/path/index.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  packages/hoprd/crates/Makefile
  packages/hoprd/crates/hoprd-hoprd/.cargo-ok
  packages/hoprd/crates/hoprd-hoprd/.gitignore
  packages/hoprd/crates/hoprd-hoprd/Cargo.toml
  packages/hoprd/crates/hoprd-hoprd/README.md
  packages/hoprd/crates/hoprd-hoprd/src/lib.rs
  packages/hoprd/src/api/token.spec.ts
  packages/hoprd/src/api/token.ts
  packages/hoprd/src/api/v3.ts
  packages/hoprd/src/api/v3/fixtures.ts
  packages/hoprd/src/api/v3/paths/account/withdraw.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets/redeem.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets/redeem.ts
  packages/hoprd/src/api/v3/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/info.ts
  packages/hoprd/src/api/v3/paths/token.integration.spec.ts
  packages/hoprd/src/api/v3/paths/tokens/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/tokens/{id}.integration.spec.ts
  packages/hoprd/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/types.ts
  tests/integration-test.sh
Labels: improvement, release:providence

#5363 Create wrapped payload for transactions target to module
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/chain.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/indexer/index.ts
Labels: package:core-ethereum

#5366 Bug fix on open channel
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
Labels: package:core-ethereum

#5364 SC: address audit report and add getters
  docs/sc-audit-08-2023/docs/03-response-to-second-preliminary-report.md
  packages/ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
Labels: smart contract, release:providence

#5365 Scope announcement target by default
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
Labels: package:ethereum

#5338 Migrate off-chain ticket logic
  CHANGELOG.md
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-misc/src/chain.rs
  packages/core-ethereum/src/index.ts
  packages/core/crates/core-crypto/src/errors.rs
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-hopr/src/adaptors/interactions.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-packet/src/errors.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/packet.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-path/src/path.rs
  packages/core/crates/core-types/Cargo.toml
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/crates/core-types/src/errors.rs
  packages/core/crates/core-types/src/lib.rs
  packages/core/src/index.ts
  packages/ethereum/contracts/src/Channels.sol
  packages/ethereum/crates/bindings/src/hopr_boost.rs
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/primitives.rs
  packages/utils/src/db/db.spec.ts
  packages/utils/src/types.ts
Labels: protocol

#5367 Clone send instance to avoid wasm-bindgen dynamic warnings
  packages/core/crates/core-hopr/src/lib.rs
Labels: bug, high priority, effort:small, complexity:easy, release:providence

#5370 Fix own IP host ip to multiaddress conversion
  packages/core/src/index.ts
Labels: high priority, package:hoprd, complexity:easy, release:providence

#5375 Extend packet interaction unit tests
  packages/core-ethereum/crates/core-ethereum-misc/src/chain.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/src/index.ts
Labels: testing, release:providence

#5369 SC deployment allow product team deployer keys, add migrate command, deploy rotsee
  Makefile
  NETWORK_REGISTRY.md
  packages/core/protocol-config.json
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/broadcast/DeployAll.s.sol/100/run-latest.json
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/ethereum/contracts/script/utils/NetworkConfig.s.sol
  packages/hopli/README.md
  packages/hopli/src/main.rs
  packages/hopli/src/migrate_safe_module.rs
  packages/hopli/src/process.rs
  tests/integration-test.sh
Labels: smart contract, release:providence, component:hopli

#5380 indexer: Handle channels domain separator updates
  Makefile
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-types/src/channels.rs
  tests/integration-test.sh
Labels: testing

#5374 Reduce build time by limiting the wasm-pack built targets
  Cargo.lock
  Makefile
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/adaptors/indexer.rs
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-misc/src/environment.rs
  packages/core/src/channel-strategy.ts
  packages/core/src/identity.ts
  packages/core/src/index.spec.ts
  packages/core/src/network.ts
  packages/hoprd/crates/Makefile
  packages/hoprd/crates/hoprd-hoprd/src/lib.rs
  packages/hoprd/src/api/index.ts
  packages/hoprd/src/api/v3.ts
  packages/hoprd/src/api/v3/fixtures.ts
  packages/hoprd/src/api/v3/paths/messages/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/messages/pop-all.spec.ts
  packages/hoprd/src/api/v3/paths/messages/pop.spec.ts
  packages/hoprd/src/api/v3/paths/messages/size.spec.ts
  packages/hoprd/src/api/v3/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/peers.ts
  packages/hoprd/src/api/v3/paths/peers/{peerid}/ping.integration.spec.ts
  packages/hoprd/src/api/v3/paths/peers/{peerid}/ping.ts
  packages/hoprd/src/index.ts
  packages/utils/package.json
  packages/utils/src/db/db.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/process/promiseRejectionFilter.ts
Labels: toolchain

#5383 scripts: Set host IP for GCP nodes
  scripts/setup-hoprd-nodes.sh
Labels: devops

#5386 contracts: Make getGranularPermissions a view
  packages/ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
Labels: smart contract

#5385 Add path position to the packet header
  CHANGELOG.md
  Cargo.lock
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/routing.rs
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-packet/src/errors.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/packet.rs
  packages/ethereum/contracts/test/Ledger.t.sol
Labels: bug, release:providence

#5372 Use ticket price oracle in new tickets
  CHANGELOG.md
  Makefile
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/src/index.ts
  packages/core/src/network.ts
  packages/ethereum/crates/bindings/src/hopr_boost.rs
  packages/hopli/src/migrate_safe_module.rs
  packages/hoprd/rest-api-v3-spec.yaml
  packages/hoprd/src/api/index.ts
  packages/hoprd/src/api/token.spec.ts
  packages/hoprd/src/api/v3.ts
  packages/hoprd/src/api/v3/paths/account/addresses.ts
  packages/hoprd/src/api/v3/paths/account/balances.ts
  packages/hoprd/src/api/v3/paths/account/withdraw.ts
  packages/hoprd/src/api/v3/paths/channels/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/tickets/redeem.ts
  packages/hoprd/src/api/v3/paths/messages/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/messages/pop-all.spec.ts
  packages/hoprd/src/api/v3/paths/messages/pop.spec.ts
  packages/hoprd/src/api/v3/paths/messages/size.spec.ts
  packages/hoprd/src/api/v3/paths/node/entryNodes.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/entryNodes.ts
  packages/hoprd/src/api/v3/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/info.ts
  packages/hoprd/src/api/v3/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/peers.ts
  packages/hoprd/src/api/v3/paths/peers/{peerid}/index.ts
  packages/hoprd/src/api/v3/paths/settings/{setting}.ts
  packages/hoprd/src/api/v3/paths/tickets/index.ts
  packages/hoprd/src/api/v3/paths/tickets/redeem.ts
  packages/hoprd/src/api/v3/paths/tickets/statistics.ts
  packages/hoprd/src/api/v3/paths/token.integration.spec.ts
  packages/hoprd/src/api/v3/paths/tokens/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/tokens/{id}.integration.spec.ts
  packages/hoprd/src/healthcheck.ts
  packages/hoprd/src/index.ts
  packages/utils/crates/utils-db/src/constants.rs
  rest-api-v3-full-spec.yaml
Labels: feature, package:core, release:providence

#5382 Correct abi
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/hopli/src/process.rs
Labels: component:hopli

#5391 Fix missing workspace member core-p2p
  Cargo.toml
Labels: bug, release:providence

#5390 Fix p2p connection handler gater
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core/crates/core-hopr/src/adaptors/indexer.rs
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/src/index.ts
  packages/hoprd/package.json
  packages/hoprd/src/api/v3.ts
  packages/hoprd/src/api/v3/paths/channels/index.ts
  packages/hoprd/src/api/v3/paths/node/entryNodes.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/entryNodes.ts
  packages/hoprd/src/api/v3/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/peers.ts
  yarn.lock
Labels: feature, package:core

#5392 another tree-shaking
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core-ethereum/src/index.spec.ts
  packages/core-ethereum/src/indexer/fixtures.ts
  packages/core-ethereum/src/indexer/index.mock.ts
  packages/core-ethereum/src/indexer/index.spec.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/hoprd/package.json
  packages/hoprd/src/env.ts
  packages/utils/package.json
  packages/utils/src/constants.ts
  packages/utils/src/index.ts
  packages/utils/src/libp2p/addressSorters.ts
  packages/utils/src/libp2p/index.spec.ts
  packages/utils/src/libp2p/index.ts
  packages/utils/src/libp2p/verifySignatureFromPeerId.spec.ts
  packages/utils/src/libp2p/verifySignatureFromPeerId.ts
  packages/utils/src/math/gcd.spec.ts
  packages/utils/src/math/gcd.ts
  packages/utils/src/math/index.ts
  packages/utils/src/math/moveDecimalPoint.spec.ts
  packages/utils/src/math/moveDecimalPoint.ts
  packages/utils/src/network/hosts.ts
  packages/utils/src/network/index.ts
  packages/utils/src/utils.ts
  yarn.lock
Labels: improvement

#5398 Add back metadata storage on register to Network object
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/adaptors/ping.rs
  packages/core/crates/core-hopr/src/constants.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-network/src/ping.rs
  packages/core/crates/core-p2p/src/api.rs
  packages/core/crates/core-p2p/src/lib.rs
  packages/core/protocol-config.json
  packages/core/src/index.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/utils/src/index.ts
  scripts/setup-local-cluster.sh
Labels: bug, high priority, package:core, effort:small, complexity:easy, component:api, release:providence

#5389 Deploy dufour contracts
  packages/core/protocol-config.json
  packages/ethereum/contracts/broadcast/DeployAll.s.sol/100/run-latest.json
  packages/ethereum/contracts/contracts-addresses.json
Labels: smart contract, release:providence

#5406 Remove &mut from self on WASM interface objects with async methods
  packages/core/crates/core-hopr/src/adaptors/indexer.rs
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/adaptors/ping.rs
Labels: high priority, package:core, effort:small, complexity:easy, release:providence

#5409 Use Bloom filter for packet replay checks
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/adaptors/interactions.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-hopr/src/timer.rs
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/packet.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-types/Cargo.toml
  packages/core/crates/core-types/src/errors.rs
  packages/core/crates/core-types/src/lib.rs
  packages/core/crates/core-types/src/protocol.rs
  packages/core/src/index.ts
  packages/hoprd/crates/hoprd-inbox/Cargo.toml
  packages/hoprd/crates/hoprd-inbox/src/inbox.rs
  packages/utils/crates/utils-db/src/constants.rs
  packages/utils/src/db/db.spec.ts
  packages/utils/src/types.ts
  vendor/cargo/bloomfilter-1.0.12/.cargo-checksum.json
  vendor/cargo/bloomfilter-1.0.12/Cargo.toml
  vendor/cargo/bloomfilter-1.0.12/LICENSE
  vendor/cargo/bloomfilter-1.0.12/README.md
  vendor/cargo/bloomfilter-1.0.12/img/logo.png
  vendor/cargo/bloomfilter-1.0.12/src/lib.rs
  vendor/cargo/bloomfilter-1.0.12/tests/bloom.rs
  vendor/cargo/siphasher-1.0.0/.cargo-checksum.json
  vendor/cargo/siphasher-1.0.0/COPYING
  vendor/cargo/siphasher-1.0.0/Cargo.toml
  vendor/cargo/siphasher-1.0.0/README.md
  vendor/cargo/siphasher-1.0.0/src/lib.rs
  vendor/cargo/siphasher-1.0.0/src/sip.rs
  vendor/cargo/siphasher-1.0.0/src/sip128.rs
  vendor/cargo/siphasher-1.0.0/src/tests.rs
  vendor/cargo/siphasher-1.0.0/src/tests128.rs
Labels: bug, release:providence
