Repository hoprnet/hoprnet, pull requests merged in 2023-09, with the labels that each got.

#5401 api: Remove rlp encoding from delivered messages
  packages/hoprd/src/api/v3.ts
  packages/hoprd/src/api/v3/paths/messages/websocket.ts
  packages/hoprd/src/index.ts
Labels: bug, component:api

#5415 scripts: Generate identity before api spec build
  scripts/build-rest-api-spec.sh
Labels: toolchain

#5414 Hotfix Add force sync task
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/hopli/README.md
  packages/hopli/src/main.rs
  packages/hopli/src/process.rs
  packages/hopli/src/sync_network_registry.rs
  packages/hopli/src/utils.rs
Labels: smart contract

#5417 contracts: Fix typo in funding helper
  Makefile
  packages/ethereum/contracts/script/SingleAction.s.sol
Labels: bug

#5418 api: Fix close channel and pluto
  .github/workflows/build-anvil.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build-toolchain.yaml
  .github/workflows/build.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/merge.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/tests.yaml
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  packages/hoprd/src/api/v3/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/peers.ts
  scripts/api.sh
  scripts/fixture_local_test_setup.sh
  scripts/pluto/Dockerfile
  scripts/setup-local-cluster.sh
  tests/integration-test.sh
Labels: bug

#5419 gha: Use normal worker for merge too
  .github/workflows/merge.yaml
Labels: bug, toolchain

#5411 Fix concurrent access issues in the core-ethereum package
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-misc/src/chain.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core/crates/core-hopr/src/adaptors/interactions.rs
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/src/generic.rs
  packages/core/crates/core-strategy/src/lib.rs
  packages/core/crates/core-strategy/src/passive.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/random.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/protocol.rs
  packages/core/src/index.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/utils/crates/utils-misc/src/async_iterable.rs
  packages/utils/crates/utils-misc/src/lib.rs
  packages/utils/src/types.ts
  scripts/fixture_local_test_setup.sh
  tests/integration-test.sh
Labels: bug, high priority, package:core-ethereum, effort:medium, complexity:normal, release:providence, blocker

#5420 hoprd: Move onboarding message
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/hoprd/src/index.ts
  scripts/fixture_local_test_setup.sh
  tests/integration-test.sh
Labels: testing, package:hoprd, component:tests

#5424 fix depth of e2e identity file removal
  scripts/deploy-rotsee-nodes.sh
  scripts/fixture_local_test_setup.sh
  scripts/setup-local-cluster.sh
Labels: testing

#5423 simpler batch encoding
  Cargo.lock
  packages/utils/crates/utils-db/Cargo.toml
  packages/utils/crates/utils-db/src/leveldb.rs
  packages/utils/src/db/db.ts
Labels: improvement

#5430 fix script typo
  scripts/setup-local-cluster.sh
Labels: bug

#5431 ensure that private key does not belong to a contract
  packages/ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
Labels: testing, smart contract

#5433 Fixed crash during ticket redemption
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
  scripts/configure-safes.sh
Labels: bug

#5421 compose: Add hopr-admin
  scripts/compose/docker-compose.yml
Labels: toolchain

#5440 Fix called times counter to allow for the lower minimum value in heartbeat tests
  packages/core/crates/core-network/src/heartbeat.rs
Labels: bug, component:heartbeat, effort:small, complexity:easy, release:providence

#5439 Deploy new HoprAnnouncement contract for Rotsee
  packages/core/protocol-config.json
  packages/ethereum/contracts/contracts-addresses.json
Labels: smart contract

#5442 Avoid collision in nonce salt
  packages/ethereum/contracts/script/SingleAction.s.sol
Labels: smart contract

#5438 Automate releases
  .github/files/pr-close-patch.md
  .github/files/pr-close-release.md
  .github/workflows/build-anvil.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build-toolchain.yaml
  .github/workflows/build.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/k8s.yaml
  .github/workflows/merge-back.yaml
  .github/workflows/merge.yaml
  .github/workflows/new-pr.yaml
  .github/workflows/open-release.yaml
  .processes/release.md
  docs/changelog/.keep
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  scripts/bump-version.sh
  scripts/check-pr.sh
  scripts/create-identity.sh
  scripts/generate-changelog.sh
  scripts/get-next-version.sh
  scripts/setup-gcloud-cluster.sh
Labels: feature, devops

#5434 Prevent excessive restarts upon startup errors
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
  packages/core/src/index.ts
Labels: bug, package:core

#5447 Move DB into its own folder
  packages/core/src/main.ts
Labels: release:providence

#5453 Enable non-specific ticket redemption in E2E tests
  tests/integration-test.sh
Labels: testing, improvement, release:providence

#5449 Use `listen_host` to contact local cluster nodes
  scripts/setup-local-cluster.sh
Labels: bug, testing, effort:small, complexity:easy, release:providence

#5464 api: Expose safe allowance in balances endpoint
  docs/changelog/changelog-2.0.0-rc.3.md
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/src/index.ts
  packages/core/src/index.ts
  packages/hoprd/src/api/v3/paths/account/balances.integration.spec.ts
  packages/hoprd/src/api/v3/paths/account/balances.ts
  packages/hoprd/src/api/v3/paths/channels/index.ts
  pyproject.toml
  scripts/api.sh
  scripts/ldbdump.py
  scripts/topologies/full_interconnected_cluster.sh
  tests/integration-test.sh
  tests/requirements.txt
Labels: improvement, component:api

#5452 acknowledged tickets: database changes
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/src/constants.ts
  packages/core/src/main.ts
  packages/utils/crates/utils-db/src/db.rs
  packages/utils/crates/utils-db/src/errors.rs
  packages/utils/crates/utils-db/src/hashmap.rs
  packages/utils/crates/utils-db/src/rusty.rs
  packages/utils/crates/utils-db/src/traits.rs
Labels: feature

#5467 core: Handle empty multiaddr in announcement
  packages/core-ethereum/crates/core-ethereum-indexer/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/src/constants.ts
  packages/core/src/index.ts
Labels: bug

#5471 Update channel balances in indexer
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
Labels: bug, component:indexer, release:providence

#5470 indexer: Reset channel balance on close
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/src/constants.ts
  packages/hoprd/src/api/v3.ts
Labels: component:indexer, improvement, component:api

#5479 Fix incorrect integration test for self-pinging
  tests/integration-test.sh
Labels: bug, high priority, testing, complexity:easy, component:tests

#5485 core: Fix allowance check on open channel
  packages/core-ethereum/src/index.ts
Labels: bug, package:core

#5454 Fix automatic release
  .github/workflows/build.yaml
  .github/workflows/merge.yaml
  .github/workflows/new-pr.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .processes/release.md
  scripts/deploy.sh
  scripts/generate-changelog.sh
  scripts/get-next-version.sh
Labels: bug, devops

#5489 core: Add dns4 announcement support
  packages/core/src/index.mock.ts
  packages/core/src/index.ts
  packages/core/test/protocol-config.spec.ts
  packages/hoprd/crates/hoprd-misc/Cargo.toml
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/crates/hoprd-misc/src/config.rs
  packages/hoprd/crates/hoprd-misc/src/lib.rs
  packages/hoprd/crates/hoprd-misc/src/network.rs
  packages/hoprd/src/index.ts
  packages/hoprd/test/releases.spec.ts
  packages/utils/src/libp2p/addressSorters.ts
  scripts/fixture_local_test_setup.sh
Labels: feature, package:core

#5493 tests: Fix ping smoke tests
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/crates/core-types/src/account.rs
  scripts/api.sh
Labels: bug, testing, component:tests

#5495 api: Add endpoint to fund open channel
  packages/core-ethereum/src/index.ts
  packages/core/src/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/fund.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/fund.ts
  packages/hoprd/src/api/v3/utils.ts
Labels: feature, component:api

#5496 Pipeline fixes
  .github/workflows/build-anvil.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build-toolchain.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/merge-back.yaml
  .github/workflows/new-pr.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/tests.yaml
  .processes/release.md
  scripts/bump-version.sh
Labels: bug, devops

#5483 Migrate ticket redemption to Rust
  Cargo.lock
  Makefile
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-misc/README.md
  packages/core-ethereum/crates/core-ethereum-misc/src/chain.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/lib.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/redeem.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/transaction_queue.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/hopli/src/faucet.rs
  packages/hoprd/src/api/v3/paths/settings/{setting}.ts
  packages/hoprd/src/index.ts
  packages/utils/crates/utils-db/src/db.rs
  packages/utils/crates/utils-misc/Cargo.toml
  packages/utils/crates/utils-misc/src/utils.rs
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/traits.rs
  packages/utils/src/types.ts
  scripts/api.sh
  scripts/fixture_local_test_setup.sh
  tests/integration-test.sh
Labels: bug, package:core-ethereum, package:core, improvement, release:providence

#5504 core: Fix reading of existing identities files
  Cargo.lock
  packages/core/src/index.ts
  packages/hoprd/crates/hoprd-keypair/src/key_pair.rs
  packages/real/crates/real-base/Cargo.toml
  packages/real/crates/real-base/src/file.rs
  scripts/fixture_local_test_setup.sh
Labels: bug

#5505 Update the development environment and tools
  flake.lock
  rust-toolchain.toml
Labels: toolchain

#5507 Update hoprd-inbox to emit timestamp with data
  Cargo.lock
  packages/hoprd/crates/hoprd-inbox/Cargo.toml
  packages/hoprd/crates/hoprd-inbox/src/inbox.rs
  packages/hoprd/crates/hoprd-inbox/src/ring.rs
  packages/hoprd/src/api/v3/paths/messages/pop-all.spec.ts
  packages/hoprd/src/api/v3/paths/messages/pop-all.ts
  packages/hoprd/src/api/v3/paths/messages/pop.spec.ts
  packages/hoprd/src/api/v3/paths/messages/pop.ts
  vendor/cargo/ringbuffer-0.14.2/.cargo-checksum.json
  vendor/cargo/ringbuffer-0.15.0/.cargo-checksum.json
  vendor/cargo/ringbuffer-0.15.0/Cargo.toml
  vendor/cargo/ringbuffer-0.15.0/LICENSE
  vendor/cargo/ringbuffer-0.15.0/README.md
  vendor/cargo/ringbuffer-0.15.0/benches/bench.rs
  vendor/cargo/ringbuffer-0.15.0/src/lib.rs
  vendor/cargo/ringbuffer-0.15.0/src/ringbuffer_trait.rs
  vendor/cargo/ringbuffer-0.15.0/src/with_alloc/alloc_ringbuffer.rs
  vendor/cargo/ringbuffer-0.15.0/src/with_alloc/mod.rs
  vendor/cargo/ringbuffer-0.15.0/src/with_alloc/vecdeque.rs
  vendor/cargo/ringbuffer-0.15.0/src/with_const_generics.rs
  vendor/cargo/ringbuffer-0.15.0/tests/compile-fail/test_const_generic_array_zero_length.rs
  vendor/cargo/ringbuffer-0.15.0/tests/compile-fail/test_const_generic_array_zero_length_new.rs
  vendor/cargo/ringbuffer-0.15.0/tests/compiletests.rs
  vendor/cargo/ringbuffer-0.15.0/tests/conversions.rs
Labels: bug, package:hoprd, complexity:easy, complexity:normal, component:api, release:providence

#5509 Cleanup unused dependencies
  Cargo.lock
  Cargo.toml
  package.json
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-indexer/Cargo.toml
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-misc/Cargo.toml
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-strategy/Cargo.toml
  packages/hoprd/crates/hoprd-hoprd/Cargo.toml
  packages/hoprd/crates/hoprd-inbox/Cargo.toml
  packages/utils/crates/utils-db/Cargo.toml
  packages/utils/crates/utils-misc/Cargo.toml
  packages/utils/package.json
  vendor/cargo/serde-wasm-bindgen-0.5.0/.cargo-checksum.json
  vendor/cargo/serde-wasm-bindgen-0.5.0/src/lib.rs
  vendor/cargo/serde-wasm-bindgen-0.6.0/.cargo-checksum.json
  vendor/cargo/serde-wasm-bindgen-0.6.0/Cargo.toml
  vendor/cargo/serde-wasm-bindgen-0.6.0/LICENSE
  vendor/cargo/serde-wasm-bindgen-0.6.0/README.md
  vendor/cargo/serde-wasm-bindgen-0.6.0/src/de.rs
  vendor/cargo/serde-wasm-bindgen-0.6.0/src/error.rs
  vendor/cargo/serde-wasm-bindgen-0.6.0/src/lib.rs
  vendor/cargo/serde-wasm-bindgen-0.6.0/src/ser.rs
  vendor/cargo/serde-wasm-bindgen-0.6.0/tests/browser.rs
  vendor/cargo/serde-wasm-bindgen-0.6.0/tests/common/mod.rs
  vendor/cargo/serde-wasm-bindgen-0.6.0/tests/node.rs
  yarn.lock
Labels: toolchain

#5510 Fix MacOs compatibility scripts
  packages/core/crates/Makefile
  packages/hoprd/crates/Makefile
  scripts/setup-local-cluster.sh
Labels: bug, devops

#5522 gha: Unblock close release workflow by formatting only md
  .github/workflows/close-release.yaml
  Makefile
  scripts/generate-changelog.sh
Labels: toolchain

#5512 Migrate remaining high-level on-chain calls to Rust
  Cargo.lock
  Cargo.toml
  packages/core-ethereum/crates/Makefile
  packages/core-ethereum/crates/core-ethereum-actions/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-actions/README.md
  packages/core-ethereum/crates/core-ethereum-actions/src/channels.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/lib.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/redeem.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/transaction_queue.rs
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-misc/README.md
  packages/core-ethereum/crates/core-ethereum-misc/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/lib.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/transaction_queue.rs
  packages/core-ethereum/src/index.ts
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/src/index.ts
  packages/hoprd/crates/hoprd-hoprd/Cargo.toml
  packages/hoprd/crates/hoprd-hoprd/src/lib.rs
  packages/hoprd/src/api/v3/paths/account/withdraw.ts
  packages/hoprd/src/api/v3/paths/channels/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/channels/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  packages/utils/src/types.ts
  tests/integration-test.sh
Labels: package:core-ethereum, package:core, improvement, release:providence

#5519 Update tests with the new hoprd sdk python
  tests/conftest.py
  tests/hopr.py
  tests/requirements.txt
  tests/test_stress.py
Labels: testing

#5537 core: Don't use destination in path finding
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/packet.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/src/path/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  scripts/api.sh
  tests/integration-test.sh
Labels: bug

#5536 Update promiscuous strategy
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/src/config.rs
  packages/core/crates/core-strategy/src/decision.rs
  packages/core/crates/core-strategy/src/errors.rs
  packages/core/crates/core-strategy/src/lib.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/strategy.rs
  packages/hoprd/crates/hoprd-hoprd/src/config.rs
Labels: package:core

#5539 core: Resolve pending balance in channels correctly
  packages/core-ethereum/crates/core-ethereum-actions/src/transaction_queue.rs
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core/crates/core-packet/src/validation.rs
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/hoprd/src/api/v3/paths/messages/index.ts
  packages/hoprd/src/api/v3/utils.ts
  scripts/api.sh
  tests/integration-test.sh
  tests/test_integration.py
Labels: bug, package:core

#5521 Adding default platform to Docker images
  packages/ethereum/Dockerfile.anvil
  packages/hopli/Dockerfile
  packages/hoprd/Dockerfile
  scripts/pluto/Dockerfile
  scripts/setup-local-cluster.sh
  scripts/toolchain/Dockerfile
Labels: feature, devops

#5517 Introduce Multi-Strategies
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-actions/src/channels.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/redeem.rs
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/adaptors/interactions.rs
  packages/core/crates/core-hopr/src/adaptors/network.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-protocol/src/ticket_aggregation/processor.rs
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/README.md
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-strategy/src/auto_funding.rs
  packages/core/crates/core-strategy/src/auto_redeeming.rs
  packages/core/crates/core-strategy/src/config.rs
  packages/core/crates/core-strategy/src/decision.rs
  packages/core/crates/core-strategy/src/errors.rs
  packages/core/crates/core-strategy/src/generic.rs
  packages/core/crates/core-strategy/src/lib.rs
  packages/core/crates/core-strategy/src/passive.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/strategy.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/hoprd/crates/hoprd-hoprd/Cargo.toml
  packages/hoprd/crates/hoprd-hoprd/src/cli.rs
  packages/hoprd/crates/hoprd-hoprd/src/config.rs
  packages/hoprd/crates/hoprd-hoprd/src/lib.rs
  packages/hoprd/src/api/v3/fixtures.ts
  packages/hoprd/src/api/v3/paths/settings/{setting}.integration.spec.ts
  packages/hoprd/src/api/v3/paths/settings/{setting}.ts
  packages/hoprd/src/index.ts
  packages/hoprd/src/types.ts
  packages/utils/src/types.ts
  tests/conftest.py
  tests/hopr.py
  tests/integration-test.sh
  tests/test_integration.py
Labels: package:core, effort:large, complexity:hard, improvement, release:providence

#5541 Fix generation procedure for hoprd-python-sdk
  .envrc
  Makefile
Labels: bug, toolchain, component:hopli

#5542 nix: Remove unstable packages with unstable bugs
  flake.lock
  flake.nix
  shell.nix
Labels: bug, toolchain

#5543 Replace official swagger-codegen-cli with a multi-platform one
  Makefile
Labels: bug, toolchain

#5534 Add load testing pipeline
  .github/workflows/clean-pr.yaml
  .github/workflows/close-release.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge-back.yaml
  .github/workflows/merge.yaml
  .github/workflows/new-pr.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/tests.yaml
  DAPPNODE_PUBLISH.md
  scripts/build-docker.sh
  scripts/compose/prometheus/prometheus.yml
  scripts/deploy.sh
  scripts/generate-changelog.sh
  scripts/notify-matrix-cluster-info.sh
  scripts/notify-matrix-github-workflow-failure.sh
Labels: devops, improvement

#5547 Create release candidate rc.8
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  packages/core-ethereum/package.json
  packages/core/crates/core-hopr/src/constants.rs
  packages/core/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: devops

#5549 Open container ports for pluto image
  .github/workflows/load-tests.yaml
  DAPPNODE_PUBLISH.md
  scripts/pluto/Dockerfile
Labels: bug, devops
