Repository hoprnet/hoprnet, pull requests merged in 2023-05, with the labels that each got.

#5032 forward-port #4714
  CHANGELOG.md
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun/index.ts
  packages/connect/src/base/stun/types.ts
  packages/connect/src/base/stun/udp/client.ts
  packages/connect/src/index.ts
  packages/connect/src/utils/addressSorters.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/docs/modules.md
  packages/utils/docs/modules.md
Labels: bug

#5011 hotfix fuzzy test
  packages/ethereum/contracts/test/HoprNetworkRegistry.t.sol
  packages/ethereum/contracts/test/proxy/HoprDummyProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason7.t.sol
Labels: effort:small, complexity:easy, smart contract

#4882 api: Add send message over web socket support
  CHANGELOG.md
  package.json
  packages/core/crates/core-network/src/core.rs
  packages/core/src/index.ts
  packages/hoprd/package.json
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/messages/websocket.ts
  scripts/fixture_local_test_setup.sh
  scripts/utils.sh
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
  tests/test_integration.py
  tests/test_websocket_api.py
  yarn.lock
Labels: feature, component:api

#5038 Add missing AccountEntry type for use in the DB
  Cargo.lock
  packages/core/crates/core-db/src/db.rs
  packages/core/crates/core-db/src/traits.rs
  packages/core/crates/core-types/Cargo.toml
  packages/core/crates/core-types/src/account.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/lib.rs
Labels: improvement, release/providence

#5043 Cherry-pick Rust type improvements
  Cargo.lock
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/errors.rs
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-types/Cargo.toml
  packages/core/crates/core-types/src/account.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/channels.rs
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/primitives.rs
Labels: improvement, release/providence

#5044 Rename `serialize`/`deserialize` to `to_bytes`/`from_bytes` in the `BinarySerializable` trait
  packages/core/crates/core-crypto/src/iterated_hash.rs
  packages/core/crates/core-crypto/src/shared_keys.rs
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-network/src/heartbeat.rs
  packages/core/crates/core-network/src/messaging.rs
  packages/core/crates/core-network/src/ping.rs
  packages/core/crates/core-types/src/account.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/channels.rs
  packages/hopli/src/key_pair.rs
  packages/utils/crates/utils-types/src/primitives.rs
  packages/utils/crates/utils-types/src/traits.rs
Labels: improvement, release/providence

#5041 Hotfix: Make known development private key explicit
  packages/ethereum/contracts/Makefile
Labels: bug, effort:small, blocker

#5046 Extract python hoprd api into separate repository
  tests/requirements.txt
  wrappers/python/.gitignore
  wrappers/python/setup.cfg
  wrappers/python/setup.py
  wrappers/python/src/hoprd/__init__.py
  wrappers/python/src/hoprd/wrapper.py
Labels: toolchain, testing, effort:small, complexity:easy, component:tests

#5023 [hotfix/bratislava] connect: Ensure public relay nodes don't create relay connections
  CHANGELOG.md
  packages/connect/src/base/listener.ts
  packages/connect/src/types.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/index.ts
  yarn.lock
Labels: bug, package:connect, release/bratislava

#5051 Increase memory limit for Avado to 2GB
  CHANGELOG.md
  packages/avado/build/supervisord.conf
  packages/avado/docker-compose.yml
Labels: improvement, release/bratislava

#5045 Add missing TS binding and small Rust types fixes
  packages/core/crates/core-crypto/src/types.rs
  packages/utils/crates/utils-types/src/primitives.rs
Labels: bug, effort:small, complexity:easy, release/providence

#5057 make known developmet private key explicit
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/test/HoprChannels.t.sol
Labels: effort:small, complexity:easy, package:ethereum, release/bratislava, component:hopli

#5040 Debug deploy/change terminology 4835
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/broadcast/DeployAll.s.sol/100/run-latest.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: bug

#5053 release 1.93.6
  .yarn/patches/@libp2p-peer-store-npm-1.0.17-714b0c0ec5.patch
  .yarn/patches/libp2p-npm-0.37.3-ae5be411f2.patch
  CHANGELOG.md
  README.md
  package.json
  packages/avado/build/supervisord.conf
  packages/avado/docker-compose.yml
  packages/connect/src/base/listener.ts
  packages/connect/src/types.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/messages/websocket.ts
  packages/hoprd/src/index.ts
  scripts/fixture_local_test_setup.sh
  scripts/utils.sh
  tests/conftest.py
  tests/pytest.ini
  tests/requirements.txt
  tests/test_integration.py
  tests/test_websocket_api.py
  vendor/cargo/which-4.4.0/.cargo-checksum.json
  vendor/cargo/which-4.4.0/Cargo.toml
  vendor/cargo/which-4.4.0/LICENSE.txt
  vendor/cargo/which-4.4.0/README.md
  vendor/cargo/which-4.4.0/src/checker.rs
  vendor/cargo/which-4.4.0/src/error.rs
  vendor/cargo/which-4.4.0/src/finder.rs
  vendor/cargo/which-4.4.0/src/helper.rs
  vendor/cargo/which-4.4.0/src/lib.rs
  vendor/cargo/which-4.4.0/tests/basic.rs
  yarn.lock
Labels: release/bratislava

#5064 Release bratislava/mergeback v1.93.6
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release/bratislava

#5058 Attempt to import hopli to pluto
  cloudbuild.yaml
  scripts/build-docker.sh
  scripts/pluto/Dockerfile
Labels: bug, component:docker, component:pluto, blocker, component:hopli

#5066 [hotfix/bratislava] npm: Stop publishing packages for hoprd
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/package.json
  scripts/build-lockfiles.sh
  scripts/publish-version.sh
Labels: toolchain, release/bratislava

#5025 Migrate interface for using the DB in core packet processing
  CHANGELOG.md
  Cargo.lock
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-db/Cargo.toml
  packages/core/crates/core-db/src/db.rs
  packages/core/crates/core-db/src/errors.rs
  packages/core/crates/core-db/src/lib.rs
  packages/core/crates/core-db/src/traits.rs
  packages/core/crates/core-types/Cargo.toml
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/channels.rs
  packages/utils/crates/utils-db/Cargo.toml
  packages/utils/crates/utils-db/src/db.rs
  packages/utils/crates/utils-db/src/leveldb.rs
  packages/utils/crates/utils-db/src/lib.rs
  packages/utils/crates/utils-db/src/traits.rs
  packages/utils/crates/utils-db/src/types.rs
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/primitives.rs
  packages/utils/src/db/db.ts
Labels: package:core, effort:large, complexity:hard, component:db, release/providence

#5065 Release bratislava/v1.93.7
  cloudbuild.yaml
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/test/HoprChannels.t.sol
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  scripts/build-docker.sh
  scripts/build-lockfiles.sh
  scripts/pluto/Dockerfile
  scripts/publish-version.sh
Labels: release/bratislava

#5073 Update the nix environment
  flake.lock
  rust-toolchain.toml
Labels: toolchain, effort:medium, complexity:easy, release/providence

#5075 Pin foundry
  Makefile
  shell.nix
Labels: toolchain

#5076 Bump to v2.0.0-next.0
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  rustfmt.toml
  shell.nix
Labels: devops

#5078 core: Remove gcloud profiler
  packages/core/package.json
  packages/core/src/index.ts
  yarn.lock
Labels: devops

#5080 tests: Fix smoke test runs
  .github/workflows/e2e.yaml
  .prettierignore
  Makefile
  scripts/api.sh
  tests/integration-test.sh
  tests/test_integration.py
Labels: testing

#5063 Migrate remaining Cryptographic code to Rust
  .github/workflows/e2e.yaml
  .prettierignore
  CHANGELOG.md
  Cargo.lock
  Makefile
  packages/connect/src/base/listener.ts
  packages/connect/src/relay/index.ts
  packages/core-ethereum/src/commitment.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/iterated_hash.rs
  packages/core/crates/core-crypto/src/random.rs
  packages/core/src/network/heartbeat.ts
  packages/utils/src/collection/randomPermutation.ts
  packages/utils/src/collection/randomSubset.ts
  packages/utils/src/crypto/hashIterator.spec.ts
  packages/utils/src/crypto/hashIterator.ts
  packages/utils/src/crypto/index.ts
  packages/utils/src/crypto/randomInteger.spec.ts
  packages/utils/src/crypto/randomInteger.ts
  packages/utils/src/ethereum/index.ts
  packages/utils/src/ethereum/keyPair.spec.ts
  packages/utils/src/ethereum/keyPair.ts
  packages/utils/src/index.ts
  packages/utils/src/types.ts
  scripts/api.sh
  tests/integration-test.sh
  tests/test_integration.py
Labels: effort:medium, complexity:easy, improvement, release/providence

#5101 Migrate commitments to Rust
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-misc/src/commitment.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/lib.rs
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-mixer/Cargo.toml
  packages/core/crates/core-mixer/src/mixer.rs
Labels: effort:medium, complexity:normal, improvement, release/providence

#5102 Make Mixer more generic
  packages/core/crates/core-mixer/Cargo.toml
  packages/core/crates/core-mixer/src/mixer.rs
Labels: package:core, effort:small, complexity:easy, improvement, release/providence

#5108 Add support for logs in wasm environment Rust tests
  CHANGELOG.md
  Cargo.lock
  packages/core/crates/core-mixer/Cargo.toml
  packages/core/crates/core-mixer/src/mixer.rs
  packages/utils/crates/utils-log/src/callbacks.rs
  packages/utils/crates/utils-log/src/lib.rs
  packages/utils/crates/utils-log/src/macros.rs
  vendor/cargo/humantime-2.1.0/.cargo-checksum.json
  vendor/cargo/humantime-2.1.0/Cargo.toml
  vendor/cargo/humantime-2.1.0/LICENSE-APACHE
  vendor/cargo/humantime-2.1.0/LICENSE-MIT
  vendor/cargo/humantime-2.1.0/README.md
  vendor/cargo/humantime-2.1.0/benches/datetime_format.rs
  vendor/cargo/humantime-2.1.0/benches/datetime_parse.rs
  vendor/cargo/humantime-2.1.0/bulk.yaml
  vendor/cargo/humantime-2.1.0/src/date.rs
  vendor/cargo/humantime-2.1.0/src/duration.rs
  vendor/cargo/humantime-2.1.0/src/lib.rs
  vendor/cargo/humantime-2.1.0/src/wrapper.rs
  vendor/cargo/humantime-2.1.0/vagga.yaml
Labels: bug, effort:medium, complexity:easy

#5097 Migrate core ethereum DB operations into WASM
  Cargo.lock
  Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core/crates/Makefile
  packages/core/crates/core-db/Cargo.toml
  packages/core/crates/core-db/src/db.rs
  packages/core/crates/core-db/src/errors.rs
  packages/core/crates/core-db/src/lib.rs
  packages/core/crates/core-db/src/traits.rs
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/path.rs
  packages/utils/crates/utils-db/src/leveldb.rs
  packages/utils/src/db/db.ts
Labels: effort:large, complexity:hard, component:db, release/providence

#5111 Refactor utils-logs: move js_sys into the backend
  packages/core-ethereum/crates/core-ethereum-db/src/lib.rs
  packages/core-ethereum/crates/core-ethereum-misc/src/lib.rs
  packages/core/crates/core-crypto/src/lib.rs
  packages/core/crates/core-db/src/lib.rs
  packages/core/crates/core-misc/src/lib.rs
  packages/core/crates/core-mixer/src/lib.rs
  packages/core/crates/core-network/src/lib.rs
  packages/core/crates/core-packet/src/lib.rs
  packages/core/crates/core-strategy/src/lib.rs
  packages/core/crates/core-types/src/lib.rs
  packages/core/src/channel-strategy.ts
  packages/core/src/cryptography.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/messages/packet.ts
  packages/core/src/network.ts
  packages/core/src/network/heartbeat.ts
  packages/hopli/src/faucet.rs
  packages/hoprd/crates/hoprd-misc/src/lib.rs
  packages/utils/crates/utils-db/src/lib.rs
  packages/utils/crates/utils-log/README.md
  packages/utils/crates/utils-log/src/callbacks.rs
  packages/utils/crates/utils-log/src/lib.rs
  packages/utils/crates/utils-log/src/logger.rs
  packages/utils/crates/utils-log/src/macros.rs
  packages/utils/crates/utils-metrics/README.md
  packages/utils/crates/utils-metrics/src/lib.rs
  packages/utils/crates/utils-misc/src/lib.rs
  packages/utils/crates/utils-types/src/lib.rs
  packages/utils/src/index.ts
  packages/utils/src/types.ts
Labels: improvement, release/providence
