Repository hoprnet/hoprnet, pull requests merged in 2023-02, with the labels that each got.

#4552 Added more examples and improved guidelines
  RUST_WASM.md
Labels: complexity:easy, documentation

#4561 docker: Fix hoprd-nat build to use docker-based image
  scripts/build-docker.sh
  scripts/nat/Dockerfile
Labels: component:docker

#4557 Make HoprCoreEthereum a singleton
  packages/core-ethereum/src/index.mock.ts
  packages/core-ethereum/src/index.spec.ts
  packages/core-ethereum/src/index.ts
  packages/core/src/channel-strategy.ts
  packages/core/src/index.spec.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/cover-traffic-daemon/src/index.spec.ts
Labels: improvement

#4562 Disable automatic compilation of Rust SC bindings
  Makefile
Labels: toolchain

#4551 Return early close channel for closing incoming channel
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/{direction}/index.ts
  packages/hoprd/src/api/v2/utils.ts
Labels: package:core-ethereum, package:core, effort:medium, complexity:easy

#4568 Improvements in Capability based API
  test/security-test.sh
Labels: complexity:easy, improvement

#4565 Make auto-ticket redemption configurable
  CHANGELOG.md
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/src/channel-strategy.spec.ts
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.ts
  packages/hoprd/src/index.ts
  packages/hoprd/src/types.ts
Labels: effort:medium, improvement

#4560 api: Add capability-based authorization
  CHANGELOG.md
  packages/core/src/index.ts
  packages/hoprd/package.json
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api/token.spec.ts
  packages/hoprd/src/api/token.ts
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/api/v2/paths/account/addresses.ts
  packages/hoprd/src/api/v2/paths/account/balances.ts
  packages/hoprd/src/api/v2/paths/account/withdraw.ts
  packages/hoprd/src/api/v2/paths/aliases/index.ts
  packages/hoprd/src/api/v2/paths/aliases/{alias}.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/tickets/redeem.ts
  packages/hoprd/src/api/v2/paths/channels/{peerid}/{direction}/index.ts
  packages/hoprd/src/api/v2/paths/messages/index.ts
  packages/hoprd/src/api/v2/paths/messages/sign.ts
  packages/hoprd/src/api/v2/paths/messages/websocket.ts
  packages/hoprd/src/api/v2/paths/node/entryNodes.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
  packages/hoprd/src/api/v2/paths/node/metrics.ts
  packages/hoprd/src/api/v2/paths/node/peers.ts
  packages/hoprd/src/api/v2/paths/node/ping.ts
  packages/hoprd/src/api/v2/paths/node/stream/websocket.ts
  packages/hoprd/src/api/v2/paths/node/version.ts
  packages/hoprd/src/api/v2/paths/peerInfo/{peerid}.ts
  packages/hoprd/src/api/v2/paths/settings/index.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.ts
  packages/hoprd/src/api/v2/paths/tickets/index.ts
  packages/hoprd/src/api/v2/paths/tickets/redeem.ts
  packages/hoprd/src/api/v2/paths/tickets/statistics.ts
  packages/hoprd/src/api/v2/paths/token.integration.spec.ts
  packages/hoprd/src/api/v2/paths/token.ts
  packages/hoprd/src/api/v2/paths/tokens/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/tokens/index.ts
  packages/hoprd/src/api/v2/paths/tokens/{id}.integration.spec.ts
  packages/hoprd/src/api/v2/paths/tokens/{id}.ts
  packages/hoprd/src/api/v2/utils.ts
  packages/utils/src/db/db.spec.ts
  packages/utils/src/db/db.ts
  test/security-test.sh
  yarn.lock
Labels: feature, component:api

#4566 Bring back fund command
  CHANGELOG.md
  packages/core/src/index.ts
  packages/ethereum/.gitignore
  packages/ethereum/contracts/lcov.info
  packages/hoprd/src/api/utils.ts
  packages/hoprd/src/api/v2/paths/fundmulti/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/fundmulti/index.ts
Labels: package:hoprd, component:admin, effort:medium, complexity:normal

#4563 api: Allow user to specify intermediate hops
  CHANGELOG.md
  packages/core/src/index.ts
  packages/hoprd/src/api/v2/paths/messages/index.ts
Labels: feature, component:api

#4590 Devops - create staging branch
  scripts/setup-gcloud-cluster.sh
Labels: devops, release/riga

#4589 tb/docker debian
  Makefile
  packages/avado/build/Dockerfile
  packages/ethereum/Dockerfile.anvil
  packages/hoprd/Dockerfile
  scripts/build-docker.sh
  scripts/pluto/Dockerfile
  scripts/setup-local-cluster.sh
  scripts/toolchain/Dockerfile
  scripts/toolchain/install-toolchain.sh
Labels: toolchain, component:docker

#4594 Fix a typo in Avado Dockerfile
  packages/avado/build/Dockerfile
Labels: bug, complexity:easy

#4601 Staging upgrade riga
  .processes/release.md
  Cargo.lock
  packages/avado/releases.json
  packages/core/protocol-config.json
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/crates/hoprd-misc/Cargo.toml
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/src/identity.spec.ts
  packages/hoprd/src/identity.ts
  packages/hoprd/src/index.ts
Labels: devops, release, release/riga

#4603 Allow individual channel closure to pass on fail
  packages/core/src/index.ts
Labels: bug

#4605 Fix order of outgoing and incoming amount in fund command
  packages/hoprd/src/api/v2/paths/fundmulti/index.ts
Labels: bug, package:hoprd, effort:small, complexity:easy

#4608 Fix merge error in channel closure
  packages/core/src/index.ts
Labels: bug, effort:small, complexity:easy

#4604 Optimize funding script
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/script/SingleAction.s.sol
Labels: effort:small, complexity:easy

#4613 Make Anvil listen on all addresses
  scripts/run-local-anvil.sh
  scripts/setup-local-cluster.sh
Labels: bug

#4612 Make check of unrealized balance optional
  README.md
  packages/core/src/index.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/messages/packet.ts
  packages/core/src/messages/validations.spec.ts
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/src/index.ts
Labels: bug

#4615 Early abort heartbeat when timeout
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
Labels: package:core, component:heartbeat, effort:small, complexity:normal

#4616 Fix Avado startup in Riga
  README.md
  packages/avado/docker-compose.yml
  packages/hoprd/crates/hoprd-misc/src/cli.rs
Labels: bug, release/riga

#4618 Release upgrade riga 1.92.8
  .processes/release.md
  README.md
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/connect/src/base/stun/tcp/server.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/messages/packet.ts
  packages/core/src/messages/validations.spec.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/src/api/v2/paths/fundmulti/index.ts
  packages/hoprd/src/index.ts
  scripts/run-local-anvil.sh
  scripts/setup-local-cluster.sh
Labels: release/riga

#4625 [hotfix riga] Prevent API privilege escalation
  CHANGELOG.md
  packages/hoprd/package.json
  packages/hoprd/src/api/token.spec.ts
  packages/hoprd/src/api/token.ts
  packages/hoprd/src/api/v2/paths/token.integration.spec.ts
  packages/hoprd/src/api/v2/paths/tokens/index.ts
  packages/hoprd/src/api/v2/paths/tokens/{id}.integration.spec.ts
  yarn.lock
Labels: bug, component:api, release/riga

#4479 Improvements to Grafana Dashboards
  .gitignore
  CHANGELOG.md
  README.md
  packages/avado/build/Dockerfile
  packages/avado/build/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  packages/avado/build/supervisord.conf
  packages/avado/docker-compose.yml
  packages/core/src/index.ts
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  scripts/compose/.env
  scripts/compose/default.env
  scripts/compose/docker-compose.yaml
  scripts/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  scripts/compose/grafana/provisioning/dashboards/system/node-exporter-full_rev29.json
  scripts/compose/prometheus/prometheus.yml
Labels: improvement

#4628 Use tag riga for hopr-admin images
  README.md
  packages/avado/docker-compose.yml
  scripts/compose/.env
  scripts/compose/docker-compose.yml
Labels: complexity:easy, improvement

#4632 fetch all stream chunks
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/messages/acknowledgement.ts
  packages/core/src/messages/acknowledgementChallenge.ts
  packages/core/src/messages/packet.ts
Labels: bug

#4637 Staging update riga/mergeback release
  .processes/release.md
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/docs/classes/default.md
  packages/core/docs/enums/NetworkHealthIndicator.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/docs/modules.md
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release/riga

#4638 docs: Fix build by ensuring yarn.lock is up-to-date
  packages/core-ethereum/package.json
  packages/hoprd/package.json
  yarn.lock
Labels: documentation

#4640 release update riga/v1.92.9
  .gitignore
  .processes/release.md
  CHANGELOG.md
  README.md
  packages/avado/build/Dockerfile
  packages/avado/build/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  packages/avado/build/supervisord.conf
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/protocol-config.json
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/forward.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/messages/acknowledgement.ts
  packages/core/src/messages/acknowledgementChallenge.ts
  packages/core/src/messages/packet.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/package.json
  packages/hoprd/src/api/token.spec.ts
  packages/hoprd/src/api/token.ts
  packages/hoprd/src/api/v2/paths/token.integration.spec.ts
  packages/hoprd/src/api/v2/paths/tokens/index.ts
  packages/hoprd/src/api/v2/paths/tokens/{id}.integration.spec.ts
  packages/real/package.json
  packages/utils/package.json
  scripts/compose/.env
  scripts/compose/default.env
  scripts/compose/docker-compose.yml
  scripts/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  scripts/compose/grafana/provisioning/dashboards/system/node-exporter-full_rev29.json
  scripts/compose/prometheus/prometheus.yml
  yarn.lock
Labels: release/riga

#4631 [hotfix riga] Sync API capabilities with all supported endpoints
  .actrc
  .github/workflows/docs.yaml
  .prettierignore
  packages/hoprd/rest-api-v2-full-spec.yaml
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api/token.ts
  packages/hoprd/src/supported-api-capabilities.json
  packages/hoprd/tsconfig.json
  packages/utils/package.json
  scripts/sync-api-capabilities.sh
  scripts/utils.sh
  shell.nix
  tsconfig.json
  yarn.lock
Labels: toolchain, release/riga

#4643 Allow to redeem tickets with a gap in ticket index
  CHANGELOG.md
  packages/core-ethereum/src/index.ts
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/cover-traffic-daemon/src/strategy.ts
  packages/utils/src/db/db.ts
  packages/utils/src/types/acknowledgedTicket.ts
Labels: package:core, release/riga

#4622 Adding time command needed for register nodes
  scripts/toolchain/Dockerfile
Labels: bug, devops

#4673 Mergeback release/riga
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/docs/classes/default.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/core/protocol-config.json
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
  yarn.lock
Labels: release/riga

#4675 add max parallel connections command
  CHANGELOG.md
  packages/core/crates/core-misc/src/constants.rs
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/src/index.ts
Labels: feature, improvement
