Repository hoprnet/hoprnet, pull requests merged in 2023-11, with the labels that each got.

#5692 Skip aggregated tickets in unrealized balance criteria
  Cargo.lock
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/README.md
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-strategy/src/auto_funding.rs
  packages/core/crates/core-strategy/src/auto_redeeming.rs
  packages/core/crates/core-strategy/src/errors.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/strategy.rs
Labels: bug, package:core

#5693 Fix aggregated ticket index and deadlock on ticket rejection
  packages/core/crates/core-protocol/src/msg/processor.rs
  packages/core/crates/core-protocol/src/ticket_aggregation/processor.rs
  packages/core/crates/core-strategy/src/auto_redeeming.rs
  packages/core/crates/core-types/src/channels.rs
Labels: bug, release:providence

#5694 Fixing foundry path
  packages/hopli/Dockerfile
Labels: bug, devops, toolchain

#5609 tests: Improved 1-hop test
  tests/test_integration.py
Labels: testing

#5690 Remove pending balance
  packages/core-ethereum/crates/core-ethereum-actions/src/transaction_queue.rs
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-protocol/src/ack/processor.rs
  packages/core/crates/core-protocol/src/msg/processor.rs
  packages/core/crates/core-protocol/src/ticket_aggregation/processor.rs
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/src/index.ts
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  packages/hoprd/src/api/v3/paths/tickets/statistics.ts
  packages/utils/crates/utils-db/src/constants.rs
  tests/test_integration.py
Labels: bug

#5706 Fix build of python sdk
  Makefile
Labels: toolchain

#5707 Add trait API for RPC operations
  Cargo.lock
  Cargo.toml
  packages/core-ethereum/crates/Makefile
  packages/core-ethereum/crates/core-ethereum-rpc/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-rpc/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-rpc/src/lib.rs
Labels: package:core-ethereum, improvement

#5710 Update the development environment
  flake.lock
Labels: toolchain, effort:small, improvement

#5709 Update RPC trait
  packages/core-ethereum/crates/core-ethereum-rpc/src/lib.rs
Labels: package:core-ethereum, improvement

#5713 Add back `pending` in ticket stats and set it to 0
  packages/hoprd/src/api/v3/paths/tickets/statistics.ts
Labels: bug, release:providence

#5714 Add the last_seen_latency information to API endpoint /node/peers output
  packages/core/crates/core-network/src/network.rs
  packages/hoprd/src/api/v3/paths/node/peers.integration.spec.ts
  packages/hoprd/src/api/v3/paths/node/peers.ts
Labels: package:core, effort:small, complexity:easy, improvement, component:api

#5719 Update RPC API
  packages/core-ethereum/crates/core-ethereum-rpc/src/lib.rs
  packages/hoprd/crates/hopr-lib/data/protocol-config.json
Labels: package:core-ethereum, improvement

#5724 Add function for contract deployment in rpc crate
  packages/core-ethereum/crates/core-ethereum-misc/src/lib.rs
  packages/core-ethereum/crates/core-ethereum-rpc/src/lib.rs
  packages/core-ethereum/crates/core-ethereum-rpc/src/rpc.rs
Labels: package:core-ethereum, effort:small

#5727 Fix docker labeling on merge
  .github/workflows/build-anvil.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build-toolchain.yaml
  .github/workflows/close-release.yaml
  .github/workflows/merge.yaml
  scripts/bump-version.sh
  scripts/get-current-version.sh
Labels: feature, devops

#5722 Fix iterator based operations in the critical path
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/src/main.ts
Labels: bug, high priority, package:core, effort:medium, complexity:normal, component:db

#5728 Enable K8s deployment in providence versions
  .github/workflows/build-anvil.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build-toolchain.yaml
  .github/workflows/close-release.yaml
  .github/workflows/k8s.yaml
  .github/workflows/merge.yaml
  .github/workflows/promote-release.yaml
  scripts/bump-version.sh
  scripts/get-current-version.sh
  scripts/get-next-version.sh
Labels: devops, deploy_nodes

#5733 Fix offchain ticket_index record out of sync
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-protocol/src/ticket_aggregation/processor.rs
  tests/test_integration.py
Labels: package:core, effort:medium, complexity:normal, component:db

#5739 Calculate unrealized balance for valid redeemable tickets in init_cache
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
Labels: bug, component:db

#5708 Properly generating python sdk
  Makefile
  scripts/sdk-python.patch
Labels: bug, toolchain

#5744 SMA improvements
  Cargo.lock
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/keypairs.rs
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/primitives.rs
  packages/utils/crates/utils-types/src/sma.rs
Labels: complexity:easy, complexity:normal, improvement

#5742 Merge back #2 from Providence
  Cargo.lock
  docs/changelog/changelog-2.0.1.md
  docs/changelog/changelog-2.0.2.md
  docs/changelog/changelog-2.0.3.md
  docs/changelog/changelog-2.0.4.md
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-db/src/traits.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-packet/src/validation.rs
  packages/core/crates/core-protocol/src/ticket_aggregation/processor.rs
  tests/test_integration.py
Labels: release:providence, merge-back

#5754 Fix string formatting in Balance type
  packages/utils/crates/utils-types/src/primitives.rs
Labels: bug, effort:small, complexity:easy

#5755 Use SingleSumSMA in `PeerStatus`
  Cargo.lock
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/errors.rs
  packages/utils/crates/utils-types/src/sma.rs
Labels: improvement, release:providence

#5756 api: Balances are shown as base values without unit
  Cargo.lock
  packages/hoprd/src/api/v3/paths/account/balances.integration.spec.ts
  packages/hoprd/src/api/v3/paths/account/balances.ts
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/primitives.rs
Labels: component:api

#5751 Allow hopli faucet to accept multiple addresses
  packages/hopli/README.md
  packages/hopli/src/faucet.rs
  packages/hopli/src/network_registry.rs
Labels: component:hopli
