Repository hoprnet/hoprnet, pull requests merged in 2023-07, with the labels that each got.

#5215 ci: Trigger CI builds on master
  .github/workflows/build.yaml
  scripts/check-pr.sh
Labels: devops

#5218 scripts: Fix typo
  scripts/check-pr.sh
Labels: devops

#5219 Fix CI deployment
  .github/workflows/build-anvil.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/merge.yml
  .github/workflows/tests.yaml
  scripts/check-pr.sh
  scripts/pluto/Dockerfile
  tests/requirements.txt
Labels: devops

#5223 Add VSCode integration with the nix environment
  .vscode/settings.json
Labels: toolchain, effort:small, complexity:easy

#5222 Add design documentation base system
  .gitignore
  docs/design/Makefile
  docs/design/docs/01-context.md
  docs/design/workspace.dsl
Labels: documentation

#5224 Merge master to DB branch
  .vscode/settings.json
  packages/core/src/interactions/packet/index.spec.ts
  packages/ethereum/crates/bindings/Cargo.toml
  packages/utils/src/db/db.ts
Labels: blocker

#5171 api: Add target spec for v3
  rest-api-v3-full-spec.yaml
Labels: improvement, component:api, release:providence

#5230 Fix cli command line args parsing
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/crates/hoprd-misc/src/config.rs
  packages/hoprd/src/index.ts
Labels: high priority, package:hoprd, effort:small, complexity:easy, release:providence

#5235 Fix ticket auto-redeem and check unrealized balance cli arg logic
  CHANGELOG.md
  README.md
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  scripts/check-pr.sh
Labels: bug, package:hoprd, effort:small, complexity:easy, release:providence

#5234 Improve pipeline
  .github/workflows/build-anvil.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build-toolchain.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/k8s.yaml
  .github/workflows/merge.yml
Labels: feature, devops

#5231 vrf implementation
  packages/core/crates/core-crypto/src/derivation.rs
  packages/ethereum/contracts/foundry.toml
  packages/ethereum/contracts/lib/solcrypto/.gitignore
  packages/ethereum/contracts/lib/solcrypto/.travis.yml
  packages/ethereum/contracts/lib/solcrypto/LICENSE
  packages/ethereum/contracts/lib/solcrypto/Makefile
  packages/ethereum/contracts/lib/solcrypto/README.md
  packages/ethereum/contracts/lib/solcrypto/abi/AOSRing.abi
  packages/ethereum/contracts/lib/solcrypto/abi/MerkleProof.abi
  packages/ethereum/contracts/lib/solcrypto/abi/UAOSRing.abi
  packages/ethereum/contracts/lib/solcrypto/contracts/AOSRing.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/Borromean.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/ChaumPedersen.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/Curve.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/ECDSA.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/HackyAOSRing.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/MerkleProof.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/Pederson.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/SECP2561k.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/Schnorr.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/Stealth.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/UAOSRing.sol
  packages/ethereum/contracts/lib/solcrypto/contracts/altbn128.sol
  packages/ethereum/contracts/lib/solcrypto/package.json
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/__init__.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/accumulator.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/altbn128.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/aosring.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/borromean.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/chaumpedersen.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/curve.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/ecdsa.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/hackyaosring.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/merkle.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/pedersen.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/polyhash.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/schnorr.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/secp256k1.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/uaosring.py
  packages/ethereum/contracts/lib/solcrypto/pysolcrypto/utils.py
  packages/ethereum/contracts/lib/solcrypto/requirements-dev.txt
  packages/ethereum/contracts/lib/solcrypto/requirements.txt
  packages/ethereum/contracts/lib/solcrypto/test/test_accumulator.py
  packages/ethereum/contracts/lib/solcrypto/test/test_aosring.py
  packages/ethereum/contracts/lib/solcrypto/test/test_borromean.py
  packages/ethereum/contracts/lib/solcrypto/test/test_ecdsa.py
  packages/ethereum/contracts/lib/solcrypto/test/test_hackyaosring.py
  packages/ethereum/contracts/lib/solcrypto/test/test_hackymul.py
  packages/ethereum/contracts/lib/solcrypto/test/test_merkle.py
  packages/ethereum/contracts/lib/solcrypto/test/test_uaosring.py
  packages/ethereum/contracts/lib/solcrypto/utils/get-package-version.py
  packages/ethereum/contracts/remappings.txt
  packages/ethereum/contracts/src/Crypto.sol
  packages/ethereum/contracts/test/Crypto.t.sol
Labels: feature, smart contract

#5228 Apply ShellCheck autofixes
  packages/core/src/constants.ts
  scripts/api.sh
  scripts/cleanup.sh
  scripts/debug-test.sh
  scripts/deploy-smart-contracts.sh
  scripts/deploy.sh
  scripts/dns.sh
  scripts/fixture_local_test_setup.sh
  scripts/gcloud.sh
  scripts/get-default-network.sh
  scripts/get-hopr-address.sh
  scripts/get-npm-package-info.sh
  scripts/get-package-version.sh
  scripts/notify-matrix-cluster-info.sh
  scripts/notify-matrix-github-workflow-failure.sh
  scripts/qa.sh
  scripts/register-node.sh
  scripts/run-integration-tests-gcloud.sh
  scripts/run-local-anvil.sh
  scripts/setup-gcloud-cluster.sh
  scripts/setup-local-cluster.sh
  scripts/sync-api-capabilities.sh
  scripts/testnet.sh
  scripts/update-protocol-config.sh
  scripts/utils.sh
Labels: toolchain, effort:small, complexity:normal

#5232 Update staking season
  CHANGELOG.md
  packages/core/protocol-config.json
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/src/stake/HoprStakeSeason8.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason8.t.sol
Labels: smart contract, release:bratislava

#5243 Fixing makefile compatibility
  .github/workflows/build.yaml
  Makefile
  packages/ethereum/contracts/Makefile
  scripts/run-local-anvil.sh
Labels: bug, devops, effort:small, complexity:easy

#5244 Remove obsolete configuration from the .vscode settings
  .vscode/settings.json
  packages/core/crates/core-network/src/messaging.rs
Labels: toolchain

#5241 Fix pipeline changeset
  .github/workflows/docs.yaml
  .github/workflows/k8s.yaml
  .github/workflows/lint.yaml
  .github/workflows/merge.yml
  .github/workflows/new-pr.yaml
  .github/workflows/tests.yaml
Labels: bug, devops, effort:small, complexity:easy

#5248 sc: Fix tests after channels update
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/test/node-stake/permissioned-modules/NodeManagementModule.t.sol
Labels: bug, testing, smart contract

#5242 hoprchannels 2.0
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/src/Channels.sol
  packages/ethereum/contracts/src/Crypto.sol
  packages/ethereum/contracts/src/MultiSig.sol
  packages/ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  packages/ethereum/contracts/test/Channels.t.sol
  packages/ethereum/contracts/test/Crypto.t.sol
  packages/ethereum/contracts/test/MultiSig.t.sol
  packages/ethereum/contracts/test/mocks/TargetUtilsMock.sol
  packages/ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  packages/ethereum/contracts/test/node-stake/NodeStakeIntegration.t.sol
  packages/ethereum/contracts/test/node-stake/permissioned-modules/NodeManagementModule.t.sol
  packages/ethereum/contracts/test/utils/Channels.sol
  packages/ethereum/contracts/test/utils/Crypto.sol
  packages/ethereum/contracts/test/utils/Tickets.sol
Labels: feature

#5251 Fixing E2E tests in CI Pipeline
  .github/workflows/lint.yaml
  .github/workflows/merge.yml
  .github/workflows/tests.yaml
  .vscode/launch.json
Labels: feature, devops
