Repository hoprnet/hoprnet, pull requests merged in 2023-10, with the labels that each got.

#5533 Refactor packet interactions to remove obscurity
  Cargo.lock
  Cargo.toml
  packages/core/crates/Makefile
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/adaptors/interactions.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-mixer/.cargo-ok
  packages/core/crates/core-mixer/.gitignore
  packages/core/crates/core-mixer/Cargo.toml
  packages/core/crates/core-mixer/README.md
  packages/core/crates/core-mixer/src/lib.rs
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-packet/src/interaction.rs
  packages/core/crates/core-packet/src/lib.rs
  packages/core/crates/core-protocol/Cargo.toml
  packages/core/crates/core-protocol/src/ack/mod.rs
  packages/core/crates/core-protocol/src/ack/processor.rs
  packages/core/crates/core-protocol/src/lib.rs
  packages/core/crates/core-protocol/src/msg/mixer.rs
  packages/core/crates/core-protocol/src/msg/mod.rs
  packages/core/crates/core-protocol/src/msg/processor.rs
  packages/core/crates/core-protocol/src/ticket_aggregation/processor.rs
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/src/index.ts
  packages/utils/src/types.ts
  tests/test_integration.py
  vendor/cargo/rust-stream-ext-concurrent-1.0.0/.cargo-checksum.json
  vendor/cargo/rust-stream-ext-concurrent-1.0.0/Cargo.toml
  vendor/cargo/rust-stream-ext-concurrent-1.0.0/LICENSE
  vendor/cargo/rust-stream-ext-concurrent-1.0.0/README.md
  vendor/cargo/rust-stream-ext-concurrent-1.0.0/src/lib.rs
  vendor/cargo/rust-stream-ext-concurrent-1.0.0/src/then_concurrent.rs
Labels: high priority, package:core, effort:large, complexity:hard, release:providence

#5396 Migrate large parts of smoke-test to Python #1
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/hoprd/src/api/v3/paths/channels/{channelid}/index.ts
  pyproject.toml
  scripts/fixture_local_test_setup.sh
  scripts/qa.sh
  tests/conftest.py
  tests/hopr.py
  tests/integration-test.sh
  tests/requirements.txt
  tests/test_integration.py
  tests/test_stress.py
Labels: testing, effort:large, complexity:hard, release:providence, component:tests, qa

#5590 Migrate remaining parts of smoke-test to Python #2
  tests/hopr.py
  tests/integration-test.sh
  tests/test_after_fixture_ready.sh
  tests/test_integration.py
Labels: testing, effort:medium, complexity:normal, release:providence, component:tests, qa

#5580 Append logs in smoke-tests
  tests/conftest.py
  tests/test_integration.py
Labels: component:api

#5594 Fix channel funding TX
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-actions/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-actions/src/channels.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/transaction_queue.rs
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-strategy/src/auto_funding.rs
  packages/core/crates/core-strategy/src/auto_redeeming.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/utils/crates/utils-types/src/primitives.rs
  tests/conftest.py
  tests/hopr.py
  tests/test_integration.py
Labels: bug, effort:small, complexity:easy, release:providence

#5593 core: Fix channel closure
  packages/core-ethereum/crates/core-ethereum-misc/src/constants.rs
  packages/core-ethereum/src/ethereum.mock.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/index.ts
  packages/core-ethereum/src/indexer/utils.ts
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-misc/src/environment.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/protocol-config.json
  packages/core/src/main.ts
  packages/hoprd/crates/hoprd-hoprd/src/cli.rs
  packages/hoprd/crates/hoprd-hoprd/src/config.rs
  scripts/fixture_local_test_setup.sh
  tests/test_integration.py
Labels: testing, package:core

#5225 Add smart contract and tests for staking season 8
  packages/ethereum/contracts/src/static/stake/HoprStakeSeason8.sol
  packages/ethereum/contracts/test/static/stake/HoprStakeSeason8.t.sol
Labels: community, effort:medium, complexity:easy, smart contract

#5598 api: Fix handling of uncaught errors
  packages/hoprd/src/api/v3.ts
  tests/requirements.txt
Labels: component:api

#5595 Simplify packet pipeline processing by adapting the Packet class
  Cargo.lock
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/routing.rs
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-packet/Cargo.toml
  packages/core/crates/core-packet/src/packet.rs
  packages/core/crates/core-protocol/Cargo.toml
  packages/core/crates/core-protocol/src/msg/chain.rs
  packages/core/crates/core-protocol/src/msg/mod.rs
  packages/core/crates/core-protocol/src/msg/packet.rs
  packages/core/crates/core-protocol/src/msg/processor.rs
Labels: package:core, effort:medium, complexity:normal, release:providence

#5604 Minor fmt fixes
  packages/core/crates/core-hopr/src/p2p.rs
  packages/core/crates/core-protocol/src/msg/processor.rs
Labels: package:core, effort:small, complexity:easy, release:providence, component:p2p

#5606 Generate docs on push to master
  .github/workflows/build-docs.yaml
  packages/core/crates/core-crypto/src/derivation.rs
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-protocol/src/msg/chain.rs
  packages/core/crates/core-types/src/announcement.rs
  packages/hoprd/crates/hoprd-hoprd/src/config.rs
  packages/hoprd/crates/hoprd-keypair/src/key_pair.rs
  packages/utils/crates/utils-misc/src/lib.rs
Labels: toolchain, community, effort:medium, complexity:easy, documentation

#5611 Unbatch mark_redeemed method for debugging
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
Labels: bug, effort:small, complexity:easy, release:providence

#5612 Instrument `wasm-bindgen` with diagnostic info
  packages/hoprd/src/index.ts
  packages/hoprd/src/main.cts
  vendor/cargo/wasm-bindgen-0.2.87/.cargo-checksum.json
  vendor/cargo/wasm-bindgen-0.2.87/src/lib.rs
Labels: bug, effort:small, complexity:easy, release:providence

#5618 Show full version on metrics
  .github/workflows/cleanup.yaml
  packages/hoprd/src/index.ts
  scripts/deploy.sh
Labels: bug, effort:small, complexity:easy

#5601 Migrate Path Selection to Rust
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-actions/src/redeem.rs
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-hopr/src/adaptors/ping.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-network/Cargo.toml
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-network/src/ping.rs
  packages/core/crates/core-path/Cargo.toml
  packages/core/crates/core-path/src/channel_graph.rs
  packages/core/crates/core-path/src/lib.rs
  packages/core/crates/core-path/src/path.rs
  packages/core/crates/core-path/src/selectors/legacy.rs
  packages/core/crates/core-path/src/selectors/mod.rs
  packages/core/crates/core-protocol/src/msg/chain.rs
  packages/core/crates/core-protocol/src/msg/packet.rs
  packages/core/crates/core-protocol/src/msg/processor.rs
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-strategy/src/auto_funding.rs
  packages/core/crates/core-strategy/src/auto_redeeming.rs
  packages/core/crates/core-strategy/src/strategy.rs
  packages/core/crates/core-types/Cargo.toml
  packages/core/crates/core-types/src/acknowledgement.rs
  packages/core/crates/core-types/src/channels.rs
  packages/core/crates/core-types/src/protocol.rs
  packages/core/src/index.ts
  packages/core/src/path/index.spec.ts
  packages/core/src/path/index.ts
  packages/utils/crates/utils-db/Cargo.toml
  packages/utils/crates/utils-db/src/hashmap.rs
  packages/utils/crates/utils-misc/Cargo.toml
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/primitives.rs
  packages/utils/crates/utils-validation/Cargo.toml
  packages/utils/src/types.ts
Labels: package:core, improvement, release:providence

#5634 Show reasonable error on failure to load config
  README.md
  packages/hoprd/crates/hoprd-hoprd/src/config.rs
Labels: bug, high priority, package:hoprd, effort:medium, complexity:normal, documentation, release:providence

#5626 Execute Load tests from Pipeline
  .github/workflows/build-anvil.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build-hopli.yaml
  .github/workflows/build-hoprd.yaml
  .github/workflows/build-pluto.yaml
  .github/workflows/build-toolchain.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge-back.yaml
  .github/workflows/merge.yaml
  .github/workflows/new-pr.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/tests.yaml
Labels: testing, component:tests

#5639 Improve ticket aggregation interface
  Cargo.lock
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-protocol/Cargo.toml
  packages/core/crates/core-protocol/src/ticket_aggregation/processor.rs
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-types/src/acknowledgement.rs
Labels: bug, package:core, release:providence

#5642 Hotfix: Decrease Rotsee indexer_start_block_number to accommodate safes created in previous deployment
  packages/core/protocol-config.json
  packages/ethereum/contracts/contracts-addresses.json
Labels: component:indexer

#5643 Refactor Promiscuous strategy
  packages/core/crates/core-strategy/README.md
  packages/core/crates/core-strategy/src/decision.rs
  packages/core/crates/core-strategy/src/lib.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/strategy.rs
  packages/hoprd/crates/hoprd-hoprd/src/config.rs
  tests/node_5.cfg.yaml
Labels: package:core, release:providence

#5646 Fix closing Release candidate 10
  .github/files/pr-close-patch.md
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/open-release.yaml
  .processes/release.md
Labels: release

#5649 Optimizations to strategies
  Cargo.lock
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/README.md
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-strategy/src/auto_funding.rs
  packages/core/crates/core-strategy/src/auto_redeeming.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
Labels: improvement, release:providence

#5655 Fix TX processing bugs
  packages/core-ethereum/crates/core-ethereum-actions/src/channels.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/transaction_queue.rs
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/strategy.rs
  packages/core/crates/core-types/src/channels.rs
Labels: bug, package:core-ethereum, release:providence

#5659 Fix issue with non-deleting binding repo
  Makefile
Labels: bug, toolchain, effort:small, release:providence

#5661 Create dappnode pipeline
  .github/workflows/build-dappnode.yaml
  .github/workflows/merge.yaml
  .processes/release.md
  DAPPNODE_PUBLISH.md
  tests/k6/.babelrc
  tests/k6/.gitignore
  tests/k6/README.md
  tests/k6/assets/constant-traffic-local.json
  tests/k6/docker-compose.yml
  tests/k6/grafana-datasource.yaml
  tests/k6/package-lock.json
  tests/k6/package.json
  tests/k6/src/api/account-api.ts
  tests/k6/src/api/channels.api.ts
  tests/k6/src/api/hopr-entity-api.ts
  tests/k6/src/api/hoprd.types.ts
  tests/k6/src/api/index.ts
  tests/k6/src/api/messages.api.ts
  tests/k6/src/api/node.api.ts
  tests/k6/src/tests/constant-traffic-node.ts
  tests/k6/src/tests/constant-traffic.test.ts
  tests/k6/src/tests/test-helpers.ts
  tests/k6/tsconfig.json
  tests/k6/yarn.lock
Labels: feature, devops, toolchain

#5664 Add metrics to strategies
  Cargo.lock
  METRICS.md
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-protocol/src/msg/processor.rs
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-strategy/src/auto_funding.rs
  packages/core/crates/core-strategy/src/auto_redeeming.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/strategy.rs
Labels: package:core, improvement, release:providence

#5668 Prevent packet keys with `0xff` prefix to be generated
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/keypairs.rs
  packages/core/crates/core-strategy/src/strategy.rs
  packages/hoprd/src/index.ts
Labels: bug, package:core, release:providence

#5674 Add token balance checks to open/fund channels
  packages/core-ethereum/crates/core-ethereum-actions/src/channels.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/node.rs
  packages/core/crates/core-strategy/src/auto_funding.rs
Labels: bug

#5672 Fix dappnode pipeline failing due to credentials missing
  .github/workflows/build-dappnode.yaml
Labels: bug, devops, toolchain

#5677 Add logs to p2p event mechanism
  packages/core/crates/core-hopr/src/p2p.rs
Labels: effort:small, complexity:easy, release:providence, component:p2p

#5679 Rollback AcknowledgeTicket state on aggregation failure
  packages/core/crates/core-hopr/src/lib.rs
  packages/core/crates/core-protocol/src/errors.rs
  packages/core/crates/core-protocol/src/ticket_aggregation/processor.rs
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/src/index.ts
Labels: bug

#5680 Bump the DB version
  packages/core/src/constants.ts
Labels: release:providence

#5681 Force flush on some DB operations
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core/crates/core-hopr/src/lib.rs
  packages/utils/crates/utils-db/src/db.rs
  packages/utils/crates/utils-db/src/hashmap.rs
  packages/utils/crates/utils-db/src/rusty.rs
  packages/utils/crates/utils-db/src/traits.rs
Labels: bug, release:providence

#5683 Fix bumping new version
  scripts/get-next-version.sh
Labels: bug, devops, toolchain

#5686 Adding access token to credentials action
  .github/workflows/build-dappnode.yaml
Labels: bug, devops, toolchain

#5538 Migrate chain calls to Rust
  Cargo.lock
  METRICS.md
  packages/core-ethereum/crates/core-ethereum-actions/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-actions/src/channels.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/errors.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/lib.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/node.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/payload.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/redeem.rs
  packages/core-ethereum/crates/core-ethereum-actions/src/transaction_queue.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-misc/src/lib.rs
  packages/core-ethereum/src/ethereum.ts
  packages/core-ethereum/src/index.ts
  packages/core-ethereum/src/indexer/types.ts
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-hopr/Cargo.toml
  packages/core/crates/core-packet/src/packet.rs
  packages/core/crates/core-protocol/src/ack/processor.rs
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-strategy/src/auto_funding.rs
  packages/core/crates/core-strategy/src/auto_redeeming.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-types/src/announcement.rs
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/hoprd/crates/hoprd-hoprd/src/lib.rs
  packages/utils/crates/utils-types/src/primitives.rs
  packages/utils/src/types.ts
Labels: improvement

#5684 Fixing pipelines on bumping minor release
  .github/workflows/build-dappnode.yaml
  .github/workflows/merge.yaml
  .github/workflows/promote-release.yaml
  scripts/get-next-version.sh
Labels: bug, devops, toolchain
