Repository hoprnet/hoprnet, pull requests merged in 2023-01, with the labels that each got.

#4465 toolchain: Add rust-src
  flake.lock
  rust-toolchain.toml
Labels: toolchain

#4472 Integrate Grafana dashboards
  CHANGELOG.md
  README.md
  packages/avado/.gitignore
  packages/avado/build/Dockerfile
  packages/avado/build/grafana/grafana.ini
  packages/avado/build/grafana/provisioning/dashboards/dashboard.yml
  packages/avado/build/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  packages/avado/build/grafana/provisioning/datasources/datasource.yml
  packages/avado/build/prometheus/prometheus.yml
  packages/avado/build/supervisord.conf
  packages/avado/docker-compose.yml
  scripts/compose/default.env
  scripts/compose/docker-compose.yaml
  scripts/compose/grafana/config.monitoring
  scripts/compose/grafana/provisioning/dashboards/dashboard.yml
  scripts/compose/grafana/provisioning/dashboards/docker/docker-monitoring_rev1.json
  scripts/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  scripts/compose/grafana/provisioning/datasources/datasource.yml
  scripts/compose/prometheus/prometheus.yml
Labels: feature, toolchain, improvement

#4478 Backport `--disableApiAuthentication` CLI argument to `bogota`
  .vscode/launch.json
  CHANGELOG.md
  Makefile
  README.md
  package.json
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/hoprd/README.md
  packages/hoprd/docs/README.md
  packages/hoprd/package.json
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/index.ts
  scripts/run-integration-tests-source.sh
Labels: complexity:easy, improvement

#4483 Release upgrade Bogota to 1.91.24
  .vscode/launch.json
  CHANGELOG.md
  METRICS.md
  Makefile
  README.md
  package.json
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/connect/package.json
  packages/connect/src/@types/nat-api.d.ts
  packages/connect/src/@types/stun.d.ts
  packages/connect/src/base/addrs.ts
  packages/connect/src/base/entry.ts
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun.spec.ts
  packages/connect/src/base/stun.ts
  packages/connect/src/base/stun/constants.ts
  packages/connect/src/base/stun/index.spec.ts
  packages/connect/src/base/stun/index.ts
  packages/connect/src/base/stun/tcp/client.ts
  packages/connect/src/base/stun/tcp/constants.ts
  packages/connect/src/base/stun/tcp/index.ts
  packages/connect/src/base/stun/tcp/server.ts
  packages/connect/src/base/stun/udp/client.ts
  packages/connect/src/base/stun/udp/constants.ts
  packages/connect/src/base/stun/udp/index.ts
  packages/connect/src/base/stun/udp/server.ts
  packages/connect/src/base/stun/utils.ts
  packages/connect/src/base/tcp.ts
  packages/connect/src/base/upnp.spec.ts
  packages/connect/src/base/upnp.ts
  packages/connect/src/base/utils.spec.ts
  packages/connect/src/components.ts
  packages/connect/src/filter.ts
  packages/connect/src/index.ts
  packages/connect/src/types.ts
  packages/connect/src/utils/index.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/main.ts
  packages/core/src/network/access-control.ts
  packages/core/src/network/heartbeat.spec.ts
  packages/core/src/network/heartbeat.ts
  packages/core/src/network/network-peers.ts
  packages/hoprd/README.md
  packages/hoprd/docs/README.md
  packages/hoprd/package.json
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/index.ts
  packages/utils/src/db/db.ts
  packages/utils/src/network/addrs.ts
  packages/utils/src/process/retimer.spec.ts
  packages/utils/src/process/retimer.ts
  scripts/run-integration-tests-npm.sh
  scripts/run-integration-tests-source.sh
  yarn.lock
Labels: release/bogota

#4485 Staging Upgrade for Release Bogota/v1.91.24
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/docs/classes/default.md
  packages/core/docs/enums/NetworkHealthIndicator.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/cover-traffic-daemon/package.json
  packages/ethereum/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/docs/modules.md
  packages/utils/package.json
Labels: complexity:easy, release/bogota

#4488 fix empty ping response
  packages/core/src/network/heartbeat.ts
Labels: bug

#4501 Add wasm feature to all crates
  packages/core/crates/core-misc/Cargo.toml
  packages/core/crates/core-misc/src/environment.rs
  packages/core/crates/core-misc/src/lib.rs
  packages/hoprd/crates/hoprd-misc/Cargo.toml
  packages/hoprd/crates/hoprd-misc/src/lib.rs
  packages/utils/crates/utils-metrics/Cargo.toml
  packages/utils/crates/utils-metrics/src/lib.rs
  packages/utils/crates/utils-metrics/src/metrics.rs
  packages/utils/crates/utils-misc/Cargo.toml
  packages/utils/crates/utils-misc/src/lib.rs
  packages/utils/crates/utils-misc/src/utils.rs
Labels: improvement

#4500 Use pre-increment addition to prevent wrong exit code
  .github/workflows/e2e.yaml
  scripts/api.sh
Labels: testing

#4502 ci: Handle npm execution error gracefully when publishing packages
  scripts/get-npm-package-info.sh
Labels: devops

#4497 Change staging environment from `Goerli` to `Gnosis`
  CHANGELOG.md
  NETWORK_REGISTRY.md
  README.md
  package.json
  packages/core/protocol-config.json
  packages/cover-traffic-daemon/README.md
  packages/cover-traffic-daemon/docs/README.md
  packages/ethereum/README.md
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/foundry.toml
  packages/hoprd/README.md
  packages/hoprd/docs/README.md
  packages/hoprd/releases.json
  scripts/build-avado.sh
  scripts/compose/default.env
  scripts/register-node.sh
  scripts/testnet.sh
  shell.nix
Labels: feature

#4518 Remove cover-traffic-daemon from the build
  .github/workflows/deploy.yaml
  METRICS.md
  cloudbuild.yaml
  docs/hopr-documentation/versioned_docs/version-v1.90/node/using-docker.md
  package.json
  packages/cover-traffic-daemon/crates/Makefile
  scripts/build-docker.sh
  scripts/publish-version.sh
  scripts/run-integration-tests-source.sh
  scripts/setup-ct-gcloud-cluster.sh
  tsconfig.build.json
Labels: improvement

#4519 Fix PATH to also include anvil
  scripts/run-integration-tests-source.sh
  scripts/run-local-anvil.sh
Labels: bug

#4527 Fix validation of out-of-order tickets
  .github/workflows/deploy.yaml
  CHANGELOG.md
  Makefile
  packages/core/src/messages/packet.ts
  packages/core/src/messages/validations.spec.ts
  scripts/api.sh
Labels: toolchain

#4528 Extend prettier ignore list
  .prettierignore
Labels: bug

#4529 publish-version: Fix incorrect use of old ethereum package
  .github/workflows/docs.yaml
  README.md
  packages/hoprd/README.md
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  scripts/build-rest-api-spec.sh
  scripts/publish-version.sh
Labels: bug

#4530 Remove unused imports
  packages/ethereum/foundry-tool/src/key_pair.rs
  packages/ethereum/foundry-tool/src/main.rs
Labels: complexity:easy, improvement

#4531 ci: Don't wait for ethereum package
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  scripts/publish-version.sh
Labels: bug

#4532 Fix ignore lists to include yarn releases as well
  .dockerignore
  .gcloudignore
  .gitignore
Labels: toolchain

#4536 connect: Re-add type files to Docker build
  .dockerignore
  .gitignore
Labels: bug

#4538 cli: use exit code 0 for version and help
  .dockerignore
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  .gitignore
  cloudbuild.yaml
  packages/hoprd/Dockerfile
  packages/hoprd/src/index.ts
Labels: bug

#4542 ignore vendor files
  .gitattributes
Labels: toolchain

#4537 Fixes to Promiscuous mode
  CHANGELOG.md
  Cargo.lock
  METRICS.md
  README.md
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/README.md
  packages/core/crates/core-strategy/src/generic.rs
  packages/core/crates/core-strategy/src/passive.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/protocol-config.json
  packages/core/src/channel-strategy.spec.ts
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/hoprd/crates/hoprd-misc/Cargo.toml
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/src/api/v2/fixtures.ts
  packages/hoprd/src/api/v2/paths/settings/{setting}.ts
  packages/hoprd/src/index.ts
  packages/hoprd/src/types.ts
  packages/utils/crates/utils-misc/src/utils.rs
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/channels.rs
  packages/utils/crates/utils-types/src/lib.rs
  packages/utils/crates/utils-types/src/primitives.rs
  packages/utils/src/types/channelEntry.ts
  vendor/cargo/serde_repr-0.1.10/.cargo-checksum.json
  vendor/cargo/serde_repr-0.1.10/Cargo.toml
  vendor/cargo/serde_repr-0.1.10/LICENSE-APACHE
  vendor/cargo/serde_repr-0.1.10/LICENSE-MIT
  vendor/cargo/serde_repr-0.1.10/README.md
  vendor/cargo/serde_repr-0.1.10/src/lib.rs
  vendor/cargo/serde_repr-0.1.10/src/parse.rs
  vendor/cargo/serde_repr-0.1.10/tests/compiletest.rs
  vendor/cargo/serde_repr-0.1.10/tests/test.rs
  vendor/cargo/serde_repr-0.1.10/tests/ui/empty_enum.rs
  vendor/cargo/serde_repr-0.1.10/tests/ui/empty_enum.stderr
  vendor/cargo/serde_repr-0.1.10/tests/ui/missing_repr.rs
  vendor/cargo/serde_repr-0.1.10/tests/ui/missing_repr.stderr
  vendor/cargo/serde_repr-0.1.10/tests/ui/multiple_others.rs
  vendor/cargo/serde_repr-0.1.10/tests/ui/multiple_others.stderr
  vendor/cargo/serde_repr-0.1.10/tests/ui/non_unit_variant.rs
  vendor/cargo/serde_repr-0.1.10/tests/ui/non_unit_variant.stderr
  vendor/cargo/serde_repr-0.1.10/tests/ui/not_enum.rs
  vendor/cargo/serde_repr-0.1.10/tests/ui/not_enum.stderr
Labels: bug, improvement

#4477 Add staking s6 contracts, test, and deployments
  packages/core/protocol-config.json
  packages/ethereum/README.md
  packages/ethereum/contracts/.env.example
  packages/ethereum/contracts/broadcast/DeployAll.s.sol/100/run-latest.json
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/foundry.toml
  packages/ethereum/contracts/lcov.info
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/src/stake/HoprStakeSeason6.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason5.t.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason6.t.sol
  packages/ethereum/contracts/test/utils/PermittableToken.sol
Labels: community, effort:medium, smart contract
