Repository hoprnet/hoprnet, pull requests merged in 2023-04, with the labels that each got.

#4827 Fixes to `core-strategy`
  CHANGELOG.md
  Cargo.lock
  packages/core/crates/core-strategy/Cargo.toml
  packages/core/crates/core-strategy/src/generic.rs
  packages/core/crates/core-strategy/src/passive.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/random.rs
  packages/core/src/channel-strategy.spec.ts
  packages/core/src/channel-strategy.ts
  vendor/cargo/vector_assertions-0.1.0/.cargo-checksum.json
  vendor/cargo/vector_assertions-0.1.0/Cargo.toml
  vendor/cargo/vector_assertions-0.1.0/README.md
  vendor/cargo/vector_assertions-0.1.0/src/lib.rs
Labels: bug, package:core, effort:medium, complexity:normal, release/bratislava

#4830 1st Merge back release bratislava
  CHANGELOG.md
  README.md
  SETUP_LOCAL_CLUSTER.md
  packages/avado/docker-compose.yml
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/ethereum/contracts/contracts-addresses.json
  packages/hopli/README.md
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: devops, release/bratislava

#4823 Network health indicator shown as number
  packages/core/crates/core-network/src/network.rs
  packages/core/src/index.ts
  packages/hoprd/src/api/v2/paths/node/info.integration.spec.ts
  packages/hoprd/src/api/v2/paths/node/info.ts
  packages/hoprd/src/index.ts
  yarn.lock
Labels: bug, effort:small, complexity:normal, release/bratislava

#4831 Fix failing relay docs tests
  packages/connect/crates/connect-relay/src/server.rs
Labels: bug, effort:small, complexity:easy

#4833 ci: Fix invocation of test runs
  .github/workflows/deploy.yaml
  .github/workflows/e2e.yaml
  .github/workflows/test.yaml
  Makefile
Labels: toolchain

#4858 Updated Dappnode publish guide
  DAPPNODE_PUBLISH.md
Labels: devops, effort:small, complexity:easy, documentation

#4841 python: Add black formatter
  .actrc
  .github/workflows/cache-cleanup.yml
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/test.yaml
  .prettierignore
  Makefile
  pyproject.toml
  tests/conftest.py
  tests/hoprd_api.py
  tests/requirements.txt
  tests/test_integration.py
  tests/test_security.py
Labels: toolchain

#4867 [HOTFIX] Ping metrics not being propagated correctly
  CHANGELOG.md
  Cargo.lock
  packages/core/crates/core-network/Cargo.toml
  packages/core/crates/core-network/src/ping.rs
Labels: bug, component:heartbeat, effort:small, complexity:easy

#4880 Port changes in PR#4833 to release Bratislava to unblock CICD
  .github/workflows/deploy.yaml
  .github/workflows/e2e.yaml
  .github/workflows/test.yaml
  Makefile
Labels: bug, toolchain

#4889 Ignore errors if cachix fails
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: bug

#4893 Fix cachix
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: bug

#4892 Return the Riga version of webRTC
  packages/connect/package.json
  packages/connect/src/webrtc/upgrader.ts
  packages/core/src/channel-strategy.ts
  yarn.lock
Labels: bug, effort:small, release/bratislava

#4887 Add stress test for send message
  packages/core/protocol-config.json
  packages/ethereum/contracts/contracts-addresses.json
  tests/conftest.py
  tests/hoprd_api.py
  tests/pytest.ini
  tests/requirements.txt
  tests/test_stress.py
Labels: testing, effort:medium, complexity:normal, component:tests

#4895 Release upgrade bratislava/v1.93.1
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  Makefile
  packages/avado/releases.json
  packages/connect/package.json
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun/index.ts
  packages/connect/src/base/stun/types.ts
  packages/connect/src/base/stun/udp/client.ts
  packages/connect/src/index.ts
  packages/connect/src/utils/addressSorters.ts
  packages/connect/src/webrtc/upgrader.ts
  packages/core/docs/classes/default.md
  packages/core/docs/modules.md
  packages/core/src/channel-strategy.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
  yarn.lock
Labels: release/bratislava

#4901 Revert webrtc change
  packages/connect/package.json
  packages/connect/src/webrtc/upgrader.ts
  packages/core/src/channel-strategy.ts
  yarn.lock
Labels: effort:small, complexity:easy, release/bratislava

#4897 Update the base version of Rust
  rust-toolchain.toml
  shell.nix
Labels: toolchain, effort:small, complexity:easy

#4898 [hotfix/bratislava] Use superlance to monitor hoprd memory usage
  CHANGELOG.md
  packages/avado/build/Dockerfile
  packages/avado/build/supervisord.conf
  packages/core/docs/classes/default.md
  packages/core/docs/modules.md
  scripts/compose/.env
Labels: bug, component:avado, release/bratislava

#4896 Staging upgrade bratislava
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/docs/classes/SaneDefaults.md
  packages/core/docs/classes/StrategyFactory.md
  packages/core/docs/interfaces/ChannelStrategyInterface.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release/bratislava

#4912 Add RelayState cleanup and set a limit of maximum relayed connections to 2000
  CHANGELOG.md
  packages/connect/src/relay/handshake.spec.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/relay/state.ts
  packages/core/src/main.ts
Labels: bug

#4913 Fix cachix install
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: complexity:easy, release/bratislava

#4915 Add ruff linter for python code
  Makefile
  pyproject.toml
  tests/hoprd_api.py
  tests/requirements.txt
  tests/test_integration.py
Labels: toolchain, effort:small, complexity:easy

#4919 Fix heartbeat metrics
  packages/core/crates/core-network/src/ping.rs
Labels: bug, package:core, component:heartbeat, complexity:easy, release/bratislava

#4939 Upgrade staging/bratislava from the current release/bratislava branch
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/src/channel-strategy.ts
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release

#4944 Fix `memmon` to properly monitor memory usage of HOPRd on Avado
  packages/avado/build/Dockerfile
  packages/avado/build/supervisord.conf
  scripts/build-avado.sh
Labels: component:avado, release/bratislava

#4894 Extend hopli
  CHANGELOG.md
  Cargo.lock
  Makefile
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/types.rs
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/script/DeployAll.s.sol
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/hopli/Cargo.toml
  packages/hopli/Dockerfile
  packages/hopli/README.md
  packages/hopli/src/faucet.rs
  packages/hopli/src/identity.rs
  packages/hopli/src/identity_input.rs
  packages/hopli/src/initialize_node.rs
  packages/hopli/src/key_pair.rs
  packages/hopli/src/main.rs
  packages/hopli/src/network_registry.rs
  packages/hopli/src/process.rs
  packages/hopli/src/utils.rs
  scripts/vm-nat-testing/faucet.sh
Labels: feature, effort:medium, complexity:normal, improvement, smart contract, component:hopli

#4957 Enforce closing and clean-up of libp2p2 connections
  CHANGELOG.md
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/core/src/index.ts
  packages/utils/src/libp2p/connection.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.ts
Labels: bug, package:connect

#4975 Small code-style improvements to `hopli`
  packages/hopli/src/environment_config.rs
  packages/hopli/src/identity_input.rs
  packages/hopli/src/initialize_node.rs
  packages/hopli/src/password.rs
  packages/hopli/src/process.rs
Labels: improvement, component:hopli

#4906 Staking Season 7 contracts
  packages/ethereum/README.md
  packages/ethereum/contracts/src/stake/HoprStakeSeason7.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason7.t.sol
Labels: community, effort:medium, complexity:normal, smart contract

#4995 Add metrics & logs relevant for RPCh debugging
  CHANGELOG.md
  METRICS.md
  packages/core/src/index.ts
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/messages/index.ts
  packages/hoprd/src/index.ts
Labels: improvement, release/bratislava

#5005 Disable docker build
  .github/workflows/build-docker.yaml.disabled
Labels: devops, complexity:easy

#5006 Update Stake season 7 contract to Bratislave release
  packages/core/protocol-config.json
  packages/ethereum/README.md
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/src/stake/HoprStakeSeason7.sol
  packages/ethereum/contracts/test/HoprNetworkRegistry.t.sol
  packages/ethereum/contracts/test/proxy/HoprDummyProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason7.t.sol
Labels: smart contract

#5012 Extend basic types to support serialization and deserialization
  Cargo.lock
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-db/Cargo.toml
  packages/core/crates/core-db/src/db.rs
  packages/core/crates/core-db/src/lib.rs
  packages/core/crates/core-types/Cargo.toml
  packages/core/crates/core-types/src/channels.rs
  packages/utils/crates/utils-db/src/db.rs
  packages/utils/crates/utils-db/src/errors.rs
  packages/utils/crates/utils-types/Cargo.toml
  packages/utils/crates/utils-types/src/primitives.rs
  vendor/cargo/serdect-0.2.0/.cargo-checksum.json
  vendor/cargo/serdect-0.2.0/CHANGELOG.md
  vendor/cargo/serdect-0.2.0/Cargo.toml
  vendor/cargo/serdect-0.2.0/LICENSE-APACHE
  vendor/cargo/serdect-0.2.0/LICENSE-MIT
  vendor/cargo/serdect-0.2.0/README.md
  vendor/cargo/serdect-0.2.0/src/array.rs
  vendor/cargo/serdect-0.2.0/src/lib.rs
  vendor/cargo/serdect-0.2.0/src/slice.rs
  vendor/cargo/serdect-0.2.0/tests/bincode.rs
  vendor/cargo/serdect-0.2.0/tests/cbor.rs
  vendor/cargo/serdect-0.2.0/tests/serde-json-core.rs
  vendor/cargo/serdect-0.2.0/tests/serde_json.rs
  vendor/cargo/serdect-0.2.0/tests/toml.rs
Labels: effort:small, complexity:easy, component:db, release/providence

#5021 Release upgrade bratislava #4
  CHANGELOG.md
  METRICS.md
  packages/avado/build/Dockerfile
  packages/avado/build/supervisord.conf
  packages/avado/releases.json
  packages/connect/src/base/listener.ts
  packages/connect/src/relay/handshake.ts
  packages/connect/src/relay/index.ts
  packages/connect/src/utils/libp2p.mock.spec.ts
  packages/core/protocol-config.json
  packages/core/src/index.ts
  packages/ethereum/README.md
  packages/ethereum/contracts/contracts-addresses.json
  packages/ethereum/contracts/src/stake/HoprStakeSeason7.sol
  packages/ethereum/contracts/test/HoprNetworkRegistry.t.sol
  packages/ethereum/contracts/test/proxy/HoprDummyProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/stake/HoprStakeSeason7.t.sol
  packages/hoprd/src/api/v2.ts
  packages/hoprd/src/api/v2/paths/messages/index.ts
  packages/hoprd/src/index.ts
  packages/utils/src/libp2p/connection.ts
  packages/utils/src/libp2p/dialHelper.ts
  packages/utils/src/libp2p/index.spec.ts
  packages/utils/src/libp2p/index.ts
  scripts/build-avado.sh
Labels: release/bratislava

#5024 Remove additional -- in install-toolchain.sh
  scripts/toolchain/install-toolchain.sh
Labels: bug, toolchain, release/bratislava

#5020 coerce libp2p addrs
  .yarn/patches/libp2p-npm-0.37.3-ae5be411f2.patch
  CHANGELOG.md
  package.json
  yarn.lock
Labels: bug

#5027 Staging upgrade Release Bratislava
  packages/avado/releases.json
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/docs/classes/PeerStatus.md
  packages/core/docs/classes/ResolvedEnvironment.md
  packages/core/docs/classes/StrategyTickResult.md
  packages/core/docs/classes/default.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/hoprd/docs/modules.md
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/docs/classes/MultiCounter.md
  packages/utils/docs/classes/MultiGauge.md
  packages/utils/docs/classes/MultiHistogram.md
  packages/utils/docs/classes/SimpleCounter.md
  packages/utils/docs/classes/SimpleGauge.md
  packages/utils/docs/classes/SimpleHistogram.md
  packages/utils/docs/classes/SimpleTimer.md
  packages/utils/docs/enums/DialStatus.md
  packages/utils/docs/modules.md
  packages/utils/package.json
  scripts/toolchain/install-toolchain.sh
Labels: release/bratislava
