Repository hoprnet/hoprnet, pull requests merged in 2023-12, with the labels that each got.

#5715 One safe multi nodes support
  Makefile
  README.md
  packages/core-ethereum/src/index.ts
  packages/ethereum/contracts/Makefile
  packages/ethereum/contracts/script/SingleAction.s.sol
  packages/hopli/README.md
  packages/hopli/src/main.rs
  packages/hopli/src/move_node_to_safe_module.rs
  packages/hopli/src/process.rs
  scripts/run-local-anvil.sh
  scripts/setup-local-cluster.sh
Labels: complexity:normal, package:ethereum, component:hopli

#5776 libp2p: Adjust mplex configuration to allow more sub-streams
  packages/core/crates/core-p2p/src/lib.rs
Labels: improvement, component:p2p

#5781 Remove reviewers that are not collaborators on dappnode PR creation
  .github/workflows/build-dappnode.yaml
Labels: bug, devops, toolchain, processes, effort:small, complexity:easy

#5790 make max gas explicit for anvil
  packages/core-ethereum/crates/core-ethereum-actions/src/payload.rs
Labels: package:core-ethereum, effort:small

#5771 Use merge-back as a script instead of pipeline
  .github/workflows/build-dappnode.yaml
  .github/workflows/merge-back.yaml
  .processes/release.md
  scripts/get-next-version.sh
  scripts/merge-back.sh
Labels: feature, devops, toolchain

#5796 Update rust toolchain to 1.74.1
  flake.lock
  rust-toolchain.toml
Labels: toolchain

#5806 Add support for k8s type application checks
  Cargo.lock
  README.md
  packages/ethereum/contracts/test/Channels.t.sol
  packages/ethereum/contracts/test/ERC777/ERC777Snapshot.t.sol
  packages/ethereum/contracts/test/mocks/ERC777Mock.t.sol
  packages/ethereum/contracts/test/proxy/SafeProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/proxy/StakingProxyForNetworkRegistry.t.sol
  packages/ethereum/contracts/test/static/stake/HoprBoost.t.sol
  packages/ethereum/contracts/test/static/stake/HoprStakeBase.t.sol
  packages/ethereum/crates/bindings/Cargo.toml
  packages/hoprd/crates/hopr-lib/src/lib.rs
  packages/hoprd/crates/hoprd-hoprd/src/cli.rs
  packages/hoprd/crates/hoprd-hoprd/src/config.rs
  packages/hoprd/src/api/v3/paths/healthyz/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/healthyz/index.ts
  packages/hoprd/src/api/v3/paths/readyz/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/readyz/index.ts
  packages/hoprd/src/api/v3/paths/startedz/index.integration.spec.ts
  packages/hoprd/src/api/v3/paths/startedz/index.ts
  packages/hoprd/src/api/v3/utils.ts
  scripts/api.sh
  scripts/fixture_local_test_setup.sh
  tests/test_integration.py
Labels: complexity:normal, component:api, component:tests

#5813 Fix the python-sdk and OpenAPI spec generation
  Makefile
  scripts/build-rest-api-spec.sh
  scripts/python-sdk.patch
Labels: devops, effort:medium, complexity:easy, documentation, qa

#5817 chore(docs/yellowpaper/sections): typo fix
  docs/yellowpaper/sections/04-tickets/01-ticket-issuance.tex
  docs/yellowpaper/sections/05-incentives/03-probabilistic-payments.tex
  docs/yellowpaper/sections/06-cover-traffic/02-channel-open.tex
Labels: documentation

#5819 libp2p-mplex: Use defaults for buffer size and send size
  packages/core/crates/core-p2p/src/lib.rs
Labels: component:p2p

#5815 core: Use only acknowledged tickets in unrealized balance calculation
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
Labels: bug

#5821 Fix latest tag not being executed
  .github/workflows/merge.yaml
Labels: bug

#5827 Merge back of v2.0.6 into v2.1.x (master)
  .github/workflows/build-dappnode.yaml
  .github/workflows/merge-back.yaml
  .github/workflows/merge.yaml
  .processes/release.md
  Makefile
  docs/changelog/changelog-2.0.5.md
  docs/changelog/changelog-2.0.6.md
  packages/core-ethereum/crates/core-ethereum-actions/src/redeem.rs
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-p2p/src/lib.rs
  packages/hoprd/src/api/v3/paths/tickets/statistics.ts
  packages/utils/crates/utils-types/src/primitives.rs
  scripts/get-current-version.sh
  scripts/get-next-version.sh
  scripts/merge-back.sh
Labels: improvement

#5836 db: Fsync on every write
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/utils/crates/utils-db/src/rusty.rs
Labels: package:core

#5837 p2p: Increase concurrent connections to 1024
  packages/core/crates/core-p2p/src/lib.rs
  packages/core/src/constants.ts
Labels: package:core
