Repository hoprnet/hoprnet, pull requests merged in 2023-03, with the labels that each got.

#4677 Release update riga/v1.92.10
  .actrc
  .github/workflows/docs.yaml
  .prettierignore
  CHANGELOG.md
  packages/connect/package.json
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun/index.spec.ts
  packages/connect/src/base/stun/index.ts
  packages/connect/src/base/stun/tcp/client.ts
  packages/connect/src/base/stun/tcp/constants.ts
  packages/connect/src/base/stun/tcp/server.ts
  packages/connect/src/base/stun/udp/client.ts
  packages/connect/src/base/stun/udp/constants.ts
  packages/connect/src/base/stun/udp/server.ts
  packages/connect/src/base/stun/utils.ts
  packages/connect/src/index.ts
  packages/connect/src/types.ts
  packages/core-ethereum/package.json
  packages/core-ethereum/src/index.ts
  packages/core/crates/core-misc/src/constants.rs
  packages/core/package.json
  packages/core/src/channel-strategy.ts
  packages/core/src/index.spec.ts
  packages/core/src/index.ts
  packages/core/src/interactions/packet/acknowledgement.ts
  packages/core/src/interactions/packet/index.spec.ts
  packages/core/src/main.ts
  packages/cover-traffic-daemon/src/strategy.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/package.json
  packages/hoprd/rest-api-v2-full-spec.yaml
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api/token.ts
  packages/hoprd/src/index.ts
  packages/hoprd/src/supported-api-capabilities.json
  packages/hoprd/tsconfig.json
  packages/real/package.json
  packages/utils/package.json
  packages/utils/src/db/db.ts
  packages/utils/src/types/acknowledgedTicket.ts
  scripts/sync-api-capabilities.sh
  scripts/utils.sh
  shell.nix
  tsconfig.json
Labels: release

#4681 Staging upgrade Release Riga/v1.92.10
  docs/hopr-documentation/rest-api-v2-full-spec.json
  packages/connect/package.json
  packages/core-ethereum/docs/classes/default.md
  packages/core-ethereum/docs/modules.md
  packages/core-ethereum/package.json
  packages/core/docs/classes/ResolvedEnvironment.md
  packages/core/docs/classes/SaneDefaults.md
  packages/core/docs/classes/default.md
  packages/core/docs/interfaces/ChannelStrategyInterface.md
  packages/core/docs/modules.md
  packages/core/package.json
  packages/core/protocol-config.json
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/docs/modules.md
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/docs/classes/AcknowledgedTicket.md
  packages/utils/docs/classes/HoprDB.md
  packages/utils/package.json
Labels: release/riga

#4682 Release update riga/v1.92.11
  CHANGELOG.md
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/core/src/main.ts
  packages/ethereum/contracts/contracts-addresses.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release/riga

#4684 enhance address sorting
  packages/core/src/main.ts
Labels: bug

#4652 Improve hopli (prev. foundry-tool)
  .github/workflows/e2e.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Makefile
  packages/ethereum/contracts/test/stake/HoprBoost.t.sol
  packages/ethereum/foundry-tool/README.md
  packages/ethereum/foundry-tool/src/helper_errors.rs
  packages/ethereum/foundry-tool/src/main.rs
  packages/ethereum/foundry-tool/src/process.rs
  packages/hopli/.cargo/.crates.toml
  packages/hopli/.cargo/.crates2.json
  packages/hopli/.gitignore
  packages/hopli/Cargo.toml
  packages/hopli/README.md
  packages/hopli/src/environment_config.rs
  packages/hopli/src/faucet.rs
  packages/hopli/src/identity.rs
  packages/hopli/src/key_pair.rs
  packages/hopli/src/main.rs
  packages/hopli/src/network_registry.rs
  packages/hopli/src/password.rs
  packages/hopli/src/process.rs
  packages/hopli/src/utils.rs
  packages/hoprd/Dockerfile
  scripts/testnet.sh
  scripts/vm-nat-testing/faucet.sh
Labels: toolchain

#4687 Do not remove contracts from image as they are needed by hopli
  packages/hoprd/Dockerfile
Labels: bug, devops, toolchain

#4694 Release backmerge/riga staging
  packages/connect/package.json
  packages/core-ethereum/package.json
  packages/core/package.json
  packages/hoprd/package.json
  packages/real/package.json
  packages/utils/package.json
Labels: release/riga

#4685 enhance dht and libp2p config
  CHANGELOG.md
  packages/connect/src/index.ts
  packages/connect/src/utils/addressSorters.ts
  packages/core/src/index.ts
  packages/core/src/main.ts
Labels: component:dht

#4692 Fix NAT detection when running in GCP
  CHANGELOG.md
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun/index.ts
  packages/connect/src/base/stun/types.ts
  packages/connect/src/base/stun/udp/client.ts
Labels: bug, release/riga

#4691 Revert PR 4687 as it has been created a new docker image
  packages/hoprd/Dockerfile
Labels: bug, devops, effort:small, complexity:easy

#4602 First script for performing load testing
  packages/test/k6/.babelrc
  packages/test/k6/.gitignore
  packages/test/k6/README.md
  packages/test/k6/assets/constant-traffic-local.json
  packages/test/k6/docker-compose.yml
  packages/test/k6/grafana-datasource.yaml
  packages/test/k6/package-lock.json
  packages/test/k6/package.json
  packages/test/k6/src/api/account-api.ts
  packages/test/k6/src/api/channels.api.ts
  packages/test/k6/src/api/hopr-entity-api.ts
  packages/test/k6/src/api/hoprd.types.ts
  packages/test/k6/src/api/index.ts
  packages/test/k6/src/api/messages.api.ts
  packages/test/k6/src/api/node.api.ts
  packages/test/k6/src/tests/constant-traffic-node.ts
  packages/test/k6/src/tests/constant-traffic.test.ts
  packages/test/k6/src/tests/test-helpers.ts
  packages/test/k6/tsconfig.json
  packages/test/k6/yarn.lock
Labels: feature, devops, testing

#4690 Create a hopli docker image
  DAPPNODE_PUBLISH.md
  cloudbuild.yaml
  packages/ethereum/Dockerfile.anvil
  packages/hopli/Dockerfile
  scripts/toolchain/Dockerfile
Labels: devops, toolchain

#4701 Fix export for metrics objects
  packages/utils/crates/utils-metrics/src/metrics.rs
Labels: effort:small, complexity:easy

#4703 Use native hopr stun servers
  packages/connect/src/base/listener.ts
  packages/connect/src/base/stun/index.ts
Labels: bug

#4725 [hotfix riga] Ensure we use ipv4 localhost during testing
  CHANGELOG.md
  packages/core/protocol-config.json
  packages/ethereum/contracts/foundry.toml
  packages/hoprd/README.md
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/hoprd/docs/README.md
  packages/hoprd/src/api/v2.ts
  scripts/api.sh
  scripts/get-hopr-address.sh
  scripts/qa.sh
  scripts/register-node.sh
  scripts/run-integration-tests-source.sh
  scripts/setup-local-cluster.sh
  scripts/utils.sh
Labels: testing, release/riga

#4738 Update network logic and fix inconsistencies
  packages/core/crates/core-network/src/network.rs
Labels: bug, component:heartbeat, effort:small, complexity:easy, release/bratislava

#4734 Refactor metrics, allow cross-WASM module metrics scraping
  CHANGELOG.md
  Cargo.lock
  packages/core/crates/core-mixer/Cargo.toml
  packages/core/crates/core-mixer/src/lib.rs
  packages/core/crates/core-network/Cargo.toml
  packages/core/crates/core-network/src/lib.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-network/src/ping.rs
  packages/core/src/index.ts
  packages/core/src/interactions/packet/forward.ts
  packages/hoprd/src/api/v2/paths/node/metrics.ts
  packages/utils/crates/utils-metrics/Cargo.toml
  packages/utils/crates/utils-metrics/README.md
  packages/utils/crates/utils-metrics/src/lib.rs
  packages/utils/crates/utils-metrics/src/metrics.rs
  packages/utils/crates/utils-storage/Cargo.toml
  packages/utils/src/index.ts
Labels: bug, effort:medium, complexity:normal, release/bratislava

#4721 ci: Fix path when running scripts
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  flake.lock
  flake.nix
  scripts/toolchain/install-toolchain.sh
Labels: toolchain

#4744 ci: Fix PATH usage when it includes spaces
  Makefile
  docs/hopr-documentation/docs/node/grafana-dashboards.md
  docs/hopr-documentation/versioned_docs/version-v1.92/node/grafana-dashboards.md
  docs/hopr-documentation/versioned_docs/version-v1.92/node/using-docker.md
  packages/core/src/index.ts
  packages/core/src/interactions/packet/forward.ts
  packages/hoprd/src/api/v2/paths/node/metrics.ts
  packages/utils/crates/utils-metrics/README.md
  packages/utils/src/index.ts
Labels: toolchain

#4749 Add log documentation
  packages/utils/crates/utils-log/README.md
Labels: package:core, effort:small, complexity:easy, release/bratislava

#4730 Add metric export for packet mixer throughput
  Cargo.lock
  packages/core/crates/core-mixer/Cargo.toml
  packages/core/crates/core-mixer/src/mixer.rs
  packages/hoprd/src/api/v2/paths/node/metrics.ts
  packages/utils/crates/utils-metrics/README.md
Labels: bug, effort:small, complexity:normal, release/bratislava

#4748 Update network objects to account for possibly failing inputs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-network/src/ping.rs
Labels: package:core, effort:small, complexity:easy, release/bratislava

#4760 ci: Add missing nix step
  .github/workflows/deploy.yaml
Labels: devops

#4762 docker: Remove deleted file from image
  packages/cover-traffic-daemon/Dockerfile
  packages/hoprd/Dockerfile
Labels: toolchain

#4764 docker: Don't build hopli in hoprd image
  .dockerignore
  Makefile
  packages/hoprd/Dockerfile
  shell.nix
Labels: toolchain

#4771 Move k6 load testing into the tests directory
  tests/k6/.babelrc
  tests/k6/.gitignore
  tests/k6/README.md
  tests/k6/assets/constant-traffic-local.json
  tests/k6/docker-compose.yml
  tests/k6/grafana-datasource.yaml
  tests/k6/package-lock.json
  tests/k6/package.json
  tests/k6/src/api/account-api.ts
  tests/k6/src/api/channels.api.ts
  tests/k6/src/api/hopr-entity-api.ts
  tests/k6/src/api/hoprd.types.ts
  tests/k6/src/api/index.ts
  tests/k6/src/api/messages.api.ts
  tests/k6/src/api/node.api.ts
  tests/k6/src/tests/constant-traffic-node.ts
  tests/k6/src/tests/constant-traffic.test.ts
  tests/k6/src/tests/test-helpers.ts
  tests/k6/tsconfig.json
  tests/k6/yarn.lock
Labels: effort:small, complexity:easy

#4770 compose: Add local dev setup
  Makefile
  scripts/build-docker.sh
  scripts/compose/docker-compose.local-dev.yml
  scripts/compose/prometheus/prometheus.local-dev.yml
Labels: toolchain, component:docker

#4773 Update .gitignore
  .gitignore
  setup.env
Labels: improvement

#4774 Update token for capabilities independently
  packages/hoprd/src/api/token.spec.ts
  packages/hoprd/src/api/token.ts
Labels: package:hoprd, effort:medium, complexity:normal, component:api, release/bratislava

#4778 Fix docker builds to allow local testing
  packages/ethereum/Dockerfile.anvil
  scripts/pluto/Dockerfile
Labels: bug, effort:small, complexity:easy, component:docker

#4795 git: Remove ignore line which prevented gcloud docker builds to succeed
  .gitignore
  Makefile
Labels: bug, toolchain

#4798 ci: Fix docs generation
  .actrc
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
  Makefile
Labels: toolchain

#4724 Add pre-commit hook for linter checks
  .githooks/pre-commit
  .github/workflows/deploy.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .prettierignore
  Makefile
  README.md
  packages/connect/crates/connect-relay/src/server.rs
  packages/connect/crates/connect-relay/src/streaming_iterable.rs
  packages/connect/crates/connect-relay/src/traits.rs
  packages/core/crates/core-crypto/src/derivation.rs
  packages/core/crates/core-crypto/src/dummy_rng.rs
  packages/core/crates/core-crypto/src/errors.rs
  packages/core/crates/core-crypto/src/iterated_hash.rs
  packages/core/crates/core-crypto/src/lib.rs
  packages/core/crates/core-crypto/src/parameters.rs
  packages/core/crates/core-crypto/src/prg.rs
  packages/core/crates/core-crypto/src/primitives.rs
  packages/core/crates/core-crypto/src/prp.rs
  packages/core/crates/core-crypto/src/random.rs
  packages/core/crates/core-crypto/src/shared_keys.rs
  packages/core/crates/core-crypto/src/types.rs
  packages/core/crates/core-misc/src/constants.rs
  packages/core/crates/core-misc/src/environment.rs
  packages/core/crates/core-mixer/src/future_extensions.rs
  packages/core/crates/core-mixer/src/lib.rs
  packages/core/crates/core-mixer/src/mixer.rs
  packages/core/crates/core-network/src/heartbeat.rs
  packages/core/crates/core-network/src/lib.rs
  packages/core/crates/core-network/src/network.rs
  packages/core/crates/core-network/src/ping.rs
  packages/core/crates/core-network/src/types.rs
  packages/core/crates/core-strategy/src/generic.rs
  packages/core/crates/core-strategy/src/passive.rs
  packages/core/crates/core-strategy/src/promiscuous.rs
  packages/core/crates/core-strategy/src/random.rs
  packages/core/crates/core-types/src/channels.rs
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/utils/crates/utils-log/src/lib.rs
  packages/utils/crates/utils-log/src/macros.rs
  packages/utils/crates/utils-metrics/src/metrics.rs
  packages/utils/crates/utils-misc/src/lib.rs
  packages/utils/crates/utils-storage/src/storage.rs
  packages/utils/crates/utils-types/src/errors.rs
  packages/utils/crates/utils-types/src/lib.rs
  packages/utils/crates/utils-types/src/primitives.rs
  packages/utils/crates/utils-types/src/traits.rs
  rustfmt.toml
Labels: toolchain

#4756 API: payment channel graph
  CHANGELOG.md
  packages/core/src/index.ts
  packages/hoprd/rest-api-v2-spec.yaml
  packages/hoprd/src/api/v2/paths/channels/index.integration.spec.ts
  packages/hoprd/src/api/v2/paths/channels/index.ts
  packages/utils/src/utils.ts
Labels: feature, effort:medium, complexity:normal, component:api, release/bratislava

#4819 Adding bratislava release
  packages/core/protocol-config.json
  packages/hoprd/releases.json
Labels: devops, effort:small, complexity:easy
