Repository hoprnet/hoprnet, pull requests merged in 2023-06, with the labels that each got.

#5125 rename oz 4.8.3 lib import
  packages/ethereum/contracts/src/Announcements.sol
Labels: bug, effort:small, complexity:easy, smart contract

#5126 Fix test requirements dependency conflict
  tests/requirements.txt
Labels: bug, testing, component:tests

#5129 Fix Darwin environment setup
  Makefile
  shell.nix
Labels: bug, toolchain

#5128 Improvements for migrate core ethereum db callbacks
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/test.yaml
  Cargo.lock
  Makefile
  packages/core-ethereum/crates/core-ethereum-db/Cargo.toml
  packages/core-ethereum/crates/core-ethereum-misc/Cargo.toml
  packages/core/crates/core-crypto/Cargo.toml
  packages/core/crates/core-packet/Cargo.toml
  shell.nix
Labels: toolchain

#5130 ci: Switch back to default runners
  .github/workflows/docs.yaml
  .github/workflows/test.yaml
Labels: bug

#5036 Introduce self-hosted runners for compute demanding activity
  .github/workflows/e2e.yaml
  .github/workflows/lint.yaml
Labels: devops, high priority, effort:medium, complexity:normal, improvement

#5149 compose: Fix env vars to work with bratislava
  scripts/compose/.env
  scripts/compose/docker-compose.yml
Labels: toolchain, component:docker

#5154 Adding temporary Rotsee
  packages/core/protocol-config.json
Labels: feature, devops, effort:small, complexity:easy

#5170 refactor real package for #5169
  packages/core/crates/core-misc/src/environment.rs
  packages/hoprd/crates/hoprd-misc/src/cli.rs
  packages/real/crates/real-base/Cargo.toml
  packages/real/crates/real-base/src/file.rs
  packages/real/crates/real-base/src/lib.rs
  packages/real/crates/real-base/src/real.rs
  packages/real/src/index.ts
  packages/real/src/io.spec.ts
  packages/real/src/io.ts
  packages/utils/crates/utils-misc/src/utils.rs
Labels: improvement

#5181 cleanup: Remove avado and cover-traffic-daemon
  CHANGELOG.md
  package.json
  packages/avado/.gitignore
  packages/avado/README.md
  packages/avado/avatar.png
  packages/avado/build/Dockerfile
  packages/avado/build/grafana/grafana.ini
  packages/avado/build/grafana/provisioning/dashboards/dashboard.yml
  packages/avado/build/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  packages/avado/build/grafana/provisioning/datasources/datasource.yml
  packages/avado/build/prometheus/prometheus.yml
  packages/avado/build/supervisord.conf
  packages/avado/dappnode_package.json
  packages/avado/docker-compose.yml
  packages/avado/releases.json
  packages/connect/src/base/addrs.ts
  packages/connect/src/base/stun/udp/client.ts
  packages/connect/src/filter.ts
  packages/cover-traffic-daemon/.gitignore
  packages/cover-traffic-daemon/Dockerfile
  packages/cover-traffic-daemon/README.md
  packages/cover-traffic-daemon/docs/.nojekyll
  packages/cover-traffic-daemon/docs/README.md
  packages/cover-traffic-daemon/docs/modules.md
  packages/cover-traffic-daemon/metrics.md
  packages/cover-traffic-daemon/package.json
  packages/cover-traffic-daemon/src/constants.ts
  packages/cover-traffic-daemon/src/healthcheck.ts
  packages/cover-traffic-daemon/src/index.spec.ts
  packages/cover-traffic-daemon/src/index.ts
  packages/cover-traffic-daemon/src/main.cts
  packages/cover-traffic-daemon/src/state.mock.ts
  packages/cover-traffic-daemon/src/state.spec.ts
  packages/cover-traffic-daemon/src/state.ts
  packages/cover-traffic-daemon/src/strategy.spec.ts
  packages/cover-traffic-daemon/src/strategy.ts
  packages/cover-traffic-daemon/src/unreleasedTokens.spec.ts
  packages/cover-traffic-daemon/src/utils.ts
  packages/cover-traffic-daemon/tsconfig.json
  packages/cover-traffic-daemon/unreleasedTokens.json
  packages/hoprd/Dockerfile
  packages/hoprd/src/index.ts
  packages/utils/src/network/addrs.ts
  packages/utils/src/network/constants.ts
  scripts/build-avado.sh
  tests/ct-test.sh
  yarn.lock
Labels: toolchain, component:avado
