Repository hoprnet/hoprnet, pull requests merged in 2024-10, with the labels that each got.

#6523 Fix the default min_redeem_hopr value to 0.09 wxHOPR
  logic/strategy/src/auto_redeeming.rs
Labels: crate:core-strategy

#6511 Add E2E tests for lowered winning probabilities
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  chain/indexer/Cargo.toml
  chain/indexer/src/handlers.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  common/primitive-types/Cargo.toml
  common/primitive-types/src/lib.rs
  crypto/packet/Cargo.toml
  crypto/packet/src/validation.rs
  db/api/Cargo.toml
  db/api/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/errors.rs
  db/sql/src/protocol.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  ethereum/contracts/contracts-addresses.json
  flake.nix
  hopli/src/main.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/example_cfg.yaml
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/network.rs
  nix/rust-package.nix
  scripts/run-local-anvil.sh
  tests/barebone-lower-win-prob.cfg.yaml
  tests/conftest.py
  tests/hopr.py
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
  tests/utils.py
  vendor/cargo/float-cmp-0.10.0/.cargo-checksum.json
  vendor/cargo/float-cmp-0.10.0/Cargo.toml
  vendor/cargo/float-cmp-0.10.0/LICENSE
  vendor/cargo/float-cmp-0.10.0/README.md
  vendor/cargo/float-cmp-0.10.0/src/eq.rs
  vendor/cargo/float-cmp-0.10.0/src/lib.rs
  vendor/cargo/float-cmp-0.10.0/src/macros.rs
  vendor/cargo/float-cmp-0.10.0/src/ratio.rs
  vendor/cargo/float-cmp-0.10.0/src/ulps.rs
  vendor/cargo/float-cmp-0.10.0/src/ulps_eq.rs
Labels: dependencies, toolchain, testing, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopli, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:chain-indexer, crate:hoprd-api, crate:hoprd, smart-contracts

#6522 Fix withdraw endpoint
  hoprd/rest-api/src/lib.rs
  tests/hopr.py
  tests/requirements.txt
  tests/test_integration.py
Labels: testing, crate:hoprd-api

#6527 Aliases stored in a separate db to enable persistancy
  Cargo.lock
  Cargo.toml
  db/entity/build.rs
  hoprd/.gitignore
  hoprd/db/api/Cargo.toml
  hoprd/db/api/src/aliases.rs
  hoprd/db/api/src/db.rs
  hoprd/db/api/src/errors.rs
  hoprd/db/api/src/lib.rs
  hoprd/db/entity/Cargo.toml
  hoprd/db/entity/build.rs
  hoprd/db/entity/src/codegen/mod.rs
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
  hoprd/db/entity/src/conversions/alias.rs
  hoprd/db/entity/src/conversions/mod.rs
  hoprd/db/entity/src/errors.rs
  hoprd/db/entity/src/lib.rs
  hoprd/db/entity/src/types.rs
  hoprd/db/migration/Cargo.toml
  hoprd/db/migration/README.md
  hoprd/db/migration/src/lib.rs
  hoprd/db/migration/src/m20240814_000001_metadata_create_db.rs
  hoprd/db/migration/src/main.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/lib.rs
  tests/test_integration.py
Labels: dependencies, testing, crate:hopr-db-entity, crate:hoprd-api, crate:hoprd

#6534 Log the `channel_id` when aggregation fails
  db/api/src/tickets.rs
Labels: improvement

#6543 docs: Rename Exit to Server in VPN design
  docs/design/vpn/components.mmd
Labels: documentation

#6540 Add feature to support building hoprd node with quic-v1
  hopr/hopr-lib/Cargo.toml
  hoprd/hoprd/Cargo.toml
  transport/api/Cargo.toml
  transport/api/src/config.rs
Labels: dependencies, crate:hopr-lib, crate:core-transport, crate:hoprd

#6526 Add check on safe module on start
  Cargo.lock
  chain/api/src/lib.rs
  chain/rpc/src/errors.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  chain/types/Cargo.toml
  chain/types/src/lib.rs
  chain/types/src/utils.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: dependencies, effort:medium, complexity:normal, status:in-progress, crate:hopr-lib, crate:chain-api, crate:chain-rpc, crate:chain-types

#6532 Allow PeerId and Address in API calls
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/peers.rs
  hoprd/rest-api/src/session.rs
  hoprd/rest-api/src/types.rs
  tests/conftest.py
  tests/hopr.py
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_websocket_api.py
  tests/utils.py
Labels: dependencies, testing, status:in-progress, crate:hopr-lib, crate:hoprd-api

#6539 Update API docs and examples
  hoprd/rest-api/src/account.rs
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/checks.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/network.rs
  hoprd/rest-api/src/node.rs
  hoprd/rest-api/src/tickets.rs
Labels: status:done, crate:hoprd-api

#6546 Increase the max number of streams for yamux
  transport/p2p/src/lib.rs
Labels: crate:core-p2p

#6554 Update readme on docker compose
  README.md
Labels: status:in-progress

#6555 Add audit report and response to audit
  docs/sc-audit-08-2024/docs/Response_to_audit_20240903.pdf
  docs/sc-audit-08-2024/docs/hopr_audit_20240826.pdf
Labels: documentation, smart contract

#6553 Fix nulls in peer endpoint
  db/api/src/peers.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/network/src/config.rs
Labels: effort:medium, complexity:normal, component:api, crate:hopr-db-api, crate:core-network, crate:core-transport

#6557 Fix updating of unredeemed value metric
  db/api/src/tickets.rs
Labels: status:sprint-backlog, crate:hopr-db-api

#6564 Fix withdraw endpoint
  chain/actions/src/payload.rs
Labels: crate:chain-actions

#6551 Pipeline improvements
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/generate-sdk.yaml
  .github/workflows/k8s.yaml
  .github/workflows/label.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/new-pr.yaml
  .github/workflows/open-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  nix/shell.nix
Labels: devops, toolchain, package:DAppNodePackage-Hopr-testnet

#6550 Improve logs to extract more information in a structured format
  chain/actions/src/action_queue.rs
  chain/actions/src/action_state.rs
  chain/actions/src/channels.rs
  chain/actions/src/node.rs
  chain/actions/src/redeem.rs
  chain/api/src/lib.rs
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  common/network-types/src/session/state.rs
  common/network-types/src/udp.rs
  crypto/packet/src/por.rs
  db/sql/src/info.rs
  db/sql/src/peers.rs
  db/sql/src/protocol.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
  logic/path/src/channel_graph.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/channel_finalizer.rs
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/api/src/network_notifier.rs
  transport/network/src/heartbeat.rs
  transport/network/src/ping.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/bloom.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/ticket_aggregation/processor.rs
  transport/protocol/src/timer.rs
  transport/session/src/types.rs
Labels: crate:core-strategy, crate:hopr-crypto-packet, crate:hopr-lib, crate:chain-actions, crate:chain-api, crate:chain-indexer, crate:chain-rpc, crate:core-network, crate:core-p2p, crate:core-protocol, crate:core-transport, crate:core-path, crate:hoprd-api, crate:hoprd

#6567 Replace wrong API parameters in scripts
  scripts/api.sh
Labels: toolchain

#6577 Fix backwards compatibility of the withdraw endpoint in currency
  hoprd/rest-api/src/lib.rs
Labels: bug, status:sprint-backlog, crate:hoprd-api

#6583 Fix the network heartbeat behavior to be more robust and work with /node/peers
  README.md
  hoprd/hoprd/example_cfg.yaml
  hoprd/rest-api/src/node.rs
  tests/barebone-lower-win-prob.cfg.yaml
  tests/barebone.cfg.yaml
  tests/default.cfg.yaml
  tests/node.py
  transport/api/src/lib.rs
  transport/network/src/config.rs
  transport/network/src/network.rs
Labels: testing, crate:core-network, crate:core-transport, crate:hoprd-api, crate:hoprd

#6566 Cherry-pick the fix on withdraw endpoint
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/payload.rs
Labels: dependencies, crate:chain-actions

#6570 Fix packet payload size checks
  .github/workflows/build-docker.yaml
  .github/workflows/deploy-nodes.yaml
  Cargo.lock
  common/internal-types/src/protocol.rs
  crypto/packet/Cargo.toml
  crypto/packet/src/chain.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  hopr/hopr-lib/src/lib.rs
  transport/api/src/lib.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/timer.rs
  transport/session/Cargo.toml
  transport/session/src/types.rs
Labels: bug, dependencies, toolchain, crate:hopr-internal-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:core-protocol, crate:core-transport
