Repository hoprnet/hoprnet, pull requests merged in 2024-12, with the labels that each got.

#6700 Update bug template
  .github/ISSUE_TEMPLATE/bug.md
Labels: toolchain

#6692 hopli: Cleanup unnecessary dependencies
  Cargo.lock
  hopli/Cargo.toml
  hopli/src/environment_config.rs
  hopli/src/win_prob.rs
Labels: dependencies, component:hopli, crate:hopli

#6704 Do not swallow strategy errors on winning tickets
  hopr/hopr-lib/src/lib.rs
Labels: crate:hopr-lib

#6691 nix: Fix cross-build on same platform
  flake.nix
  nix/rust-builder.nix
  nix/rust-package.nix
Labels: toolchain

#6707 Add endpoint for exporting Channel Graph in DOT format
  .gitignore
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
  logic/path/Cargo.toml
  logic/path/src/channel_graph.rs
  logic/path/src/selectors/legacy.rs
  nix/shell.nix
Labels: dependencies, crate:hopr-lib, crate:core-path, crate:hoprd-api

#6715 gha: Enable docker production build in PR
  .github/workflows/build-docker.yaml
  .github/workflows/build.yaml
Labels: toolchain, docker-production-build

#6706 Improve ticket redemption handling
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/action_queue.rs
  chain/actions/src/errors.rs
  chain/actions/src/redeem.rs
  chain/types/src/chain_events.rs
  common/internal-types/src/announcement.rs
  db/sql/Cargo.toml
  db/sql/src/db.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  logic/path/src/selectors/legacy.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/ticket_aggregation/processor.rs
  transport/protocol/tests/msg_ack_workflows.rs
Labels: dependencies, crate:core-strategy, crate:hopr-internal-types, crate:hopr-lib, crate:chain-actions, crate:chain-types, crate:core-p2p, crate:core-protocol, crate:core-transport, crate:core-path, docker-production-build

#6712 Add Loopback service to simplify usage for the CT
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/exit.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/session.rs
  tests/hopr.py
  tests/test_session.py
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/session/Cargo.toml
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, testing, crate:hopr-lib, crate:core-transport, crate:hoprd-api, crate:hoprd

#6728 Auto-path finding improvements
  Cargo.lock
  Cargo.toml
  common/primitive-types/src/primitives.rs
  db/sql/src/channels.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
  logic/path/Cargo.toml
  logic/path/src/channel_graph.rs
  logic/path/src/errors.rs
  logic/path/src/path.rs
  logic/path/src/selectors/dfs.rs
  logic/path/src/selectors/mod.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/api/src/network_notifier.rs
Labels: dependencies, crate:hopr-primitive-types, crate:hopr-lib, crate:core-transport, crate:core-path, crate:hoprd-api

#6746 Minor fixes to hopr-lib and hoprd
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/node.rs
  hoprd/rest-api/src/peers.rs
  transport/session/src/types.rs
Labels: status:product-backlog, crate:hopr-lib, crate:hoprd-api

#6690 docker: Set default session ip to random
  flake.nix
Labels: toolchain, status:in-progress

#6687 Adding more info to build dappNode
  .github/workflows/build-dappnode.yaml
Labels: toolchain

#6749 Output `Address` in the EIP-55 checksum format in the REST API
  Cargo.lock
  common/primitive-types/Cargo.toml
  common/primitive-types/src/primitives.rs
  crypto/types/Cargo.toml
  crypto/types/src/types.rs
  hopli/src/key_pair.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/account.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
Labels: dependencies, crate:hopr-primitive-types, crate:hopli, crate:hopr-crypto-types, crate:hoprd-api

#6747 Merge back bug fixes from 2.1.5
  hoprd/rest-api/src/account.rs
Labels: bug, crate:hoprd-api

#6750 Porting schema fixes from 2.1.5
  hoprd/rest-api/src/messages.rs
Labels: crate:hoprd-api

#6751 Fix backwards compatibility to 2.1.x in `ack` and `ticket_aggregation` protocol
  Cargo.lock
  chain/actions/src/redeem.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/legacy.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  crypto/types/src/types.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-crypto-types, crate:chain-actions, crate:core-p2p
