Repository hoprnet/hoprnet, pull requests merged in 2024-09, with the labels that each got.

#6475 Fix setup-local-cluster script execution
  scripts/setup-local-cluster.sh
Labels: bug, toolchain

#6478 Update default strategy execution interval handling
  Cargo.lock
  logic/strategy/Cargo.toml
  logic/strategy/src/strategy.rs
Labels: dependencies, status:sprint-backlog, crate:core-strategy

#6479 docs: Add vpn design diagrams
  docs/design/vpn/components.mmd
  docs/design/vpn/vpn_lifecycle_startup.mmd
  docs/design/vpn/vpn_lifecycle_teardown.mmd
Labels: documentation

#6492 Fix failing unit tests
  chain/rpc/src/indexer.rs
  logic/strategy/src/auto_redeeming.rs
Labels: crate:core-strategy, crate:chain-rpc

#6489 Response to audit 20240826
  ethereum/contracts/src/Channels.sol
  ethereum/contracts/src/Crypto.sol
  ethereum/contracts/src/NetworkRegistry.sol
  ethereum/contracts/src/node-stake/NodeSafeRegistry.sol
  ethereum/contracts/src/node-stake/permissioned-module/CapabilityPermissions.sol
  ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
  ethereum/contracts/src/proxy/SafeProxyForNetworkRegistry.sol
  ethereum/contracts/src/static/HoprToken.sol
  ethereum/contracts/src/static/stake/HoprBoost.sol
  ethereum/contracts/test/Crypto.t.sol
  ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  flake.lock
  flake.nix
Labels: toolchain, smart contract, smart-contracts

#6486 Ensure errors in Ping API are properly propagated
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/peers.rs
  tests/test_integration.py
  transport/api/src/errors.rs
  transport/api/src/lib.rs
  transport/network/Cargo.toml
  transport/network/src/errors.rs
  transport/network/src/heartbeat.rs
  transport/network/src/ping.rs
Labels: dependencies, testing, crate:hopr-lib, crate:core-network, crate:core-transport, crate:hoprd-api, crate:hoprd

#6494 Allow configurable winning probabilities
  Cargo.lock
  METRICS.md
  chain/indexer/src/handlers.rs
  common/internal-types/src/protocol.rs
  db/api/Cargo.toml
  db/api/src/info.rs
  db/api/src/protocol.rs
  db/migration/Cargo.toml
  db/migration/src/lib.rs
  db/migration/src/m20240917_000015_add_minimum_incoming_ticket_win_prob_column.rs
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  db/sql/src/info.rs
  db/sql/src/protocol.rs
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/protocol/src/config.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/msg_ack_workflows.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-db-api, crate:hopr-db-migration, crate:chain-indexer, crate:core-protocol, crate:core-transport

#6481 Session improvements
  .github/workflows/tests.yaml
  Cargo.lock
  Cargo.toml
  METRICS.md
  SETUP_LOCAL_CLUSTER.md
  chain/rpc/Cargo.toml
  common/network-types/Cargo.toml
  common/network-types/src/session/state.rs
  common/network-types/src/session/utils.rs
  common/network-types/src/types.rs
  common/network-types/src/udp.rs
  common/network-types/src/utils.rs
  common/primitive-types/src/bounded.rs
  deploy/compose/.env.sample
  flake.nix
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/session.rs
  tests/node.py
  tests/test_integration.py
  tests/test_session.py
  transport/api/Cargo.toml
  transport/api/src/constants.rs
  transport/api/src/lib.rs
  transport/session/Cargo.toml
  transport/session/src/types.rs
  vendor/cargo/nanorand-0.7.0/.cargo-checksum.json
  vendor/cargo/nanorand-0.7.0/Cargo.toml
  vendor/cargo/nanorand-0.7.0/LICENSE.md
  vendor/cargo/nanorand-0.7.0/README.md
  vendor/cargo/nanorand-0.7.0/README.tpl
  vendor/cargo/nanorand-0.7.0/deny.toml
  vendor/cargo/nanorand-0.7.0/enforce-conventional-commits.py
  vendor/cargo/nanorand-0.7.0/src/buffer.rs
  vendor/cargo/nanorand-0.7.0/src/crypto.rs
  vendor/cargo/nanorand-0.7.0/src/crypto/chacha.rs
  vendor/cargo/nanorand-0.7.0/src/entropy.rs
  vendor/cargo/nanorand-0.7.0/src/entropy/darwin.rs
  vendor/cargo/nanorand-0.7.0/src/entropy/linux.rs
  vendor/cargo/nanorand-0.7.0/src/entropy/windows.rs
  vendor/cargo/nanorand-0.7.0/src/entropy/windows_uwp.rs
  vendor/cargo/nanorand-0.7.0/src/gen.rs
  vendor/cargo/nanorand-0.7.0/src/lib.rs
  vendor/cargo/nanorand-0.7.0/src/rand.rs
  vendor/cargo/nanorand-0.7.0/src/rand/chacha.rs
  vendor/cargo/nanorand-0.7.0/src/rand/pcg64.rs
  vendor/cargo/nanorand-0.7.0/src/rand/wyrand.rs
  vendor/cargo/nanorand-0.7.0/src/tls.rs
Labels: dependencies, toolchain, testing, crate:hopr-primitive-types, crate:hopr-lib, crate:chain-rpc, crate:core-transport, crate:hoprd-api, crate:hoprd

#6497 log: Fix balance type in funding info line
  hopr/hopr-lib/src/lib.rs
Labels: crate:hopr-lib

#6500 Add HTTPS server communication tests
  tests/requirements.txt
  tests/test_session.py
Labels: testing

#6465 Improve hopli for better UX and new debug feature
  Cargo.lock
  Cargo.toml
  hopli/Cargo.toml
  hopli/src/environment_config.rs
  hopli/src/faucet.rs
  hopli/src/identity.rs
  hopli/src/key_pair.rs
  hopli/src/methods.rs
  hopli/src/network_registry.rs
  hopli/src/safe_module.rs
  hopli/src/utils.rs
  vendor/cargo/rpassword-7.3.1/.cargo-checksum.json
  vendor/cargo/rpassword-7.3.1/CONTRIBUTING.md
  vendor/cargo/rpassword-7.3.1/Cargo.toml
  vendor/cargo/rpassword-7.3.1/LICENSE-APACHE
  vendor/cargo/rpassword-7.3.1/README.md
  vendor/cargo/rpassword-7.3.1/src/lib.rs
  vendor/cargo/rpassword-7.3.1/tests/no-terminal.rs
  vendor/cargo/rtoolbox-0.0.2/.cargo-checksum.json
  vendor/cargo/rtoolbox-0.0.2/CONTRIBUTING.md
  vendor/cargo/rtoolbox-0.0.2/Cargo.toml
  vendor/cargo/rtoolbox-0.0.2/LICENSE-APACHE
  vendor/cargo/rtoolbox-0.0.2/README.md
  vendor/cargo/rtoolbox-0.0.2/src/atty.rs
  vendor/cargo/rtoolbox-0.0.2/src/fix_line_issues.rs
  vendor/cargo/rtoolbox-0.0.2/src/lib.rs
  vendor/cargo/rtoolbox-0.0.2/src/print_tty.rs
  vendor/cargo/rtoolbox-0.0.2/src/safe_string.rs
  vendor/cargo/rtoolbox-0.0.2/src/safe_string_serde.rs
  vendor/cargo/rtoolbox-0.0.2/src/safe_vec.rs
Labels: dependencies, effort:medium, complexity:normal, status:in-progress, crate:hopli

#6503 Improve Session UDP tests
  tests/test_session.py
Labels: testing

#6488 Fix peer list to always load the more active peers
  scripts/setup-local-cluster.sh
  transport/network/src/heartbeat.rs
  transport/network/src/network.rs
  transport/network/src/ping.rs
Labels: bug, toolchain, crate:core-network

#6501 Add contract for winning probability and hopli command to interact with the new contract
  Cargo.lock
  chain/api/src/config.rs
  chain/types/src/lib.rs
  ethereum/bindings/Cargo.toml
  ethereum/contracts/contracts-addresses.json
  ethereum/contracts/script/DeployAll.s.sol
  ethereum/contracts/script/utils/NetworkConfig.s.sol
  ethereum/contracts/src/WinningProbabilityOracle.sol
  ethereum/contracts/test/WinningProbabilityOracle.t.sol
  flake.nix
  hopli/Cargo.toml
  hopli/src/main.rs
  hopli/src/methods.rs
  hopli/src/network_registry.rs
  hopli/src/win_prob.rs
  hopr/hopr-lib/data/protocol-config.json
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/example_cfg.yaml
  hoprd/hoprd/src/config.rs
  scripts/protocol-config-anvil.json
Labels: dependencies, toolchain, smart contract, crate:hopli, crate:hopr-lib, crate:chain-api, crate:chain-types, crate:hoprd, smart-contracts, crate:bindings

#6499 ci: Run full rust workspace unit test suite
  .github/workflows/tests.yaml
  chain/types/src/lib.rs
  common/network-types/src/types.rs
  flake.nix
  nix/rust-package.nix
Labels: toolchain, crate:chain-types

#6512 Do not use the nightly features for rustfmt
  chain/indexer/src/constants.rs
  chain/indexer/src/handlers.rs
  rustfmt.toml
Labels: crate:chain-indexer

#6518 Fix failing sync due to missing winning probability SC address
  chain/indexer/src/handlers.rs
Labels: crate:chain-indexer

#6506 Add a separate test for wireguard tunnel
  Cargo.lock
  Cargo.toml
  METRICS.md
  common/network-types/Cargo.toml
  common/network-types/src/types.rs
  common/network-types/src/udp.rs
  common/network-types/src/utils.rs
  hoprd/rest-api/src/session.rs
  tests/hopr.py
  tests/node.py
  tests/test_integration.py
  tests/test_session.py
  transport/api/Cargo.toml
  transport/protocol/src/lib.rs
  transport/session/Cargo.toml
  transport/session/src/types.rs
  vendor/cargo/arrayvec-0.7.6/.cargo-checksum.json
  vendor/cargo/arrayvec-0.7.6/CHANGELOG.md
  vendor/cargo/arrayvec-0.7.6/Cargo.toml
  vendor/cargo/arrayvec-0.7.6/LICENSE-APACHE
  vendor/cargo/arrayvec-0.7.6/LICENSE-MIT
  vendor/cargo/arrayvec-0.7.6/README.md
  vendor/cargo/arrayvec-0.7.6/benches/arraystring.rs
  vendor/cargo/arrayvec-0.7.6/benches/extend.rs
  vendor/cargo/arrayvec-0.7.6/src/array_string.rs
  vendor/cargo/arrayvec-0.7.6/src/arrayvec.rs
  vendor/cargo/arrayvec-0.7.6/src/arrayvec_impl.rs
  vendor/cargo/arrayvec-0.7.6/src/char.rs
  vendor/cargo/arrayvec-0.7.6/src/errors.rs
  vendor/cargo/arrayvec-0.7.6/src/lib.rs
  vendor/cargo/arrayvec-0.7.6/src/utils.rs
  vendor/cargo/arrayvec-0.7.6/tests/borsh.rs
  vendor/cargo/arrayvec-0.7.6/tests/serde.rs
  vendor/cargo/arrayvec-0.7.6/tests/tests.rs
Labels: dependencies, testing, crate:core-protocol, crate:core-transport, crate:hoprd-api
