Repository hoprnet/hoprnet, pull requests merged in 2024-05, with the labels that each got.

#6223 Log RPC request/response JSON
  chain/rpc/src/client.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: crate:hopr-lib, crate:chain-rpc

#6228 Execute load tests on K8s staging
  .github/workflows/load-tests.yaml
Labels: devops, toolchain, improvement

#6227 chain: do not fetch logs if no topics are set
  chain/indexer/src/block.rs
  chain/indexer/src/constants.rs
  chain/indexer/src/handlers.rs
  chain/indexer/src/traits.rs
  db/api/src/info.rs
Labels: crate:hopr-db-api, crate:chain-indexer, bugfix

#6229 chain: replace hopr_boost topics with hopr_token topics
  chain/indexer/src/constants.rs
Labels: status:done, crate:chain-indexer, bugfix

#6226 Do not use ethers-rs pagination of `eth_getLogs`
  chain/indexer/src/block.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: improvement, crate:hopr-lib, crate:chain-indexer, crate:chain-rpc

#6230 Fail hard on failure to load the block number from RPC provider
  chain/indexer/src/block.rs
Labels: bug, crate:chain-indexer, bugfix

#6233 Fix subtraction operations on Durations to be saturating
  hoprd/hoprd/src/main.rs
  hoprd/inbox/src/inbox.rs
Labels: crate:hoprd, crate:hoprd-inbox

#6234 Update checksum printout
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

#6236 Update the assertiveness of coderabbit.ai
  .coderabbit.yaml
Labels: toolchain

#6235 Path finding should only consider nodes that proven to be reliable
  db/api/src/peers.rs
  hopr/hopr-lib/src/lib.rs
  logic/path/src/selectors/legacy.rs
  logic/strategy/src/promiscuous.rs
  transport/api/src/lib.rs
  transport/api/src/processes/indexer.rs
  transport/network/src/network.rs
Labels: bug, crate:core-strategy, crate:hopr-db-api, crate:hopr-lib, crate:core-network, crate:core-transport, crate:core-path

#6238 Increase the connection pool size of Peers DB
  db/api/src/db.rs
Labels: crate:hopr-db-api

#6237 The `/node/peers` API endpoint sometimes returned empty multiaddreses as `announced`
  db/api/src/accounts.rs
  db/api/src/peers.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/lib.rs
Labels: bug, crate:hopr-db-api, crate:hopr-lib, crate:core-transport, crate:hoprd-api

#6242 Add more connection pool parameters
  common/internal-types/src/account.rs
  db/api/src/db.rs
Labels: crate:hopr-internal-types, crate:hopr-db-api

#6043 changelog: Add changelog for v2.1.0
  Cargo.lock
  README.md
  docs/changelog/changelog-2.1.0.md
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/config.rs
  hoprd/rest-api/Cargo.toml
Labels: dependencies, documentation, crate:hopr-lib, crate:hoprd-api, crate:hoprd

#6254 Prepare version 2.1.1
  Cargo.lock
  hopr/hopr-lib/Cargo.toml
Labels: dependencies, crate:hopr-lib

#6239 Refactor the network configuration object and improve the constraints
  transport/api/src/config.rs
  transport/api/src/lib.rs
  transport/network/src/config.rs
  transport/network/src/constants.rs
  transport/network/src/lib.rs
  transport/network/src/network.rs
Labels: crate:core-network, crate:core-transport

#6259 Update the merge script dependencies
  flake.nix
Labels: toolchain

#6260 Merge back from saint-louis - 2024-05-13
  flake.nix
  transport/api/src/config.rs
  transport/api/src/lib.rs
  transport/network/src/config.rs
  transport/network/src/constants.rs
  transport/network/src/lib.rs
  transport/network/src/network.rs
Labels: toolchain, merge-back, crate:core-network, crate:core-transport

#6261 Update transports and their configurations
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
Labels: component:p2p

#6204 Introduce graceful shutdown and signal handling into hopr-lib and hoprd
  Cargo.lock
  Cargo.toml
  chain/actions/src/action_queue.rs
  chain/actions/src/channels.rs
  chain/actions/src/node.rs
  chain/actions/src/redeem.rs
  chain/api/Cargo.toml
  chain/api/src/config.rs
  chain/api/src/errors.rs
  chain/api/src/lib.rs
  chain/indexer/src/block.rs
  db/api/src/ticket_manager.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/config.rs
  hopr/hopr-lib/src/constants.rs
  hopr/hopr-lib/src/helpers.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/bin/hoprd-cfg.rs
  hoprd/hoprd/src/config.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/lib.rs
  logic/strategy/Cargo.toml
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/api/src/processes/indexer.rs
  transport/network/src/heartbeat.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
  vendor/cargo/signal-hook-0.3.17/.cargo-checksum.json
  vendor/cargo/signal-hook-0.3.17/CHANGELOG.md
  vendor/cargo/signal-hook-0.3.17/Cargo.lock
  vendor/cargo/signal-hook-0.3.17/Cargo.toml
  vendor/cargo/signal-hook-0.3.17/LICENSE-APACHE
  vendor/cargo/signal-hook-0.3.17/LICENSE-MIT
  vendor/cargo/signal-hook-0.3.17/README.md
  vendor/cargo/signal-hook-0.3.17/build.rs
  vendor/cargo/signal-hook-0.3.17/ci-check.sh
  vendor/cargo/signal-hook-0.3.17/examples/print.rs
  vendor/cargo/signal-hook-0.3.17/rustfmt.toml
  vendor/cargo/signal-hook-0.3.17/src/flag.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/backend.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/exfiltrator/mod.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/exfiltrator/origin.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/exfiltrator/raw.rs
  vendor/cargo/signal-hook-0.3.17/src/iterator/mod.rs
  vendor/cargo/signal-hook-0.3.17/src/lib.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/channel.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/extract.c
  vendor/cargo/signal-hook-0.3.17/src/low_level/mod.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/pipe.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/siginfo.rs
  vendor/cargo/signal-hook-0.3.17/src/low_level/signal_details.rs
  vendor/cargo/signal-hook-0.3.17/tests/default.rs
  vendor/cargo/signal-hook-0.3.17/tests/iterator.rs
  vendor/cargo/signal-hook-0.3.17/tests/shutdown.rs
Labels: dependencies, status:product-backlog, crate:core-strategy, crate:hopr-db-api, crate:hopr-lib, crate:chain-actions, crate:chain-api, crate:chain-indexer, crate:core-network, crate:core-protocol, crate:core-transport, crate:hoprd-api, crate:hoprd

#6263 ci: Extend the buffer size for git on docs generation
  .github/workflows/build-docs.yaml
Labels: toolchain

#6082 Limit possible usages of `keypair` crate to prevent from bad usage
  Cargo.lock
  hopli/Cargo.toml
  hopli/src/key_pair.rs
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/main.rs
  hoprd/keypair/Cargo.toml
  hoprd/keypair/src/errors.rs
  hoprd/keypair/src/key_pair.rs
Labels: dependencies, improvement, status:in-review, crate:hopli, crate:hoprd, crate:hoprd-keypair

#6277 Return `INVALID_INPUT` if channel open arguments are wrong
  hoprd/rest-api/src/lib.rs
Labels: bug, crate:hoprd-api

#6279 Update default strategy config: remove AutoFunding, lower single ticket AutoRedeem threshold
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/src/lib.rs
Labels: crate:core-strategy, crate:hoprd

#6266 Improve processes to streamline possible future daemonization
  Cargo.lock
  Cargo.toml
  README.md
  chain/actions/Cargo.toml
  chain/actions/src/action_queue.rs
  chain/actions/src/action_state.rs
  chain/api/Cargo.toml
  chain/api/src/executors.rs
  chain/api/src/lib.rs
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  db/api/src/protocol.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/bin/hoprd-cfg.rs
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/errors.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/lib.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  logic/strategy/src/strategy.rs
  tests/node.py
  tests/test_zzz_sanity_checks.py
  transport/api/Cargo.toml
  transport/api/src/adaptors/ping.rs
  transport/api/src/constants.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/api/src/processes/indexer.rs
  transport/network/Cargo.toml
  transport/network/src/ping.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/api.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: dependencies, testing, package:hoprd, crate:core-strategy, crate:hopr-db-api, crate:hopr-lib, crate:chain-actions, crate:chain-api, crate:chain-indexer, crate:core-network, crate:core-p2p, crate:core-protocol, crate:core-transport, crate:hoprd-api, crate:hoprd

#6287 Missing length check for send message packet
  tests/test_integration.py
  transport/api/src/lib.rs
Labels: bug, testing, crate:core-transport

#6281 Find hardware requirement limits on node
  .github/workflows/build-dappnode.yaml
  .github/workflows/close-release.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
Labels: devops, toolchain

#6299 Add support for reserved application tags
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  tests/conftest.py
  tests/test_integration.py
  transport/api/src/constants.rs
  transport/api/src/lib.rs
Labels: testing, crate:hopr-lib, crate:core-transport, crate:hoprd-api

#6302 Cleanup the stress test and rework it over the websocket
  tests/conftest.py
  tests/test_stress.py
  tests/test_websocket_api.py
Labels: testing

#6307 Update the docker compose based deployment
  deploy/README.md
  deploy/compose/.env.example
  deploy/compose/README.md
  deploy/compose/docker-compose.yml
  deploy/compose/grafana/config.monitoring
  deploy/compose/grafana/provisioning/dashboards/dashboard.yml
  deploy/compose/grafana/provisioning/dashboards/docker/docker-monitoring_rev1.json
  deploy/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  deploy/compose/grafana/provisioning/dashboards/system/node-exporter-full_rev29.json
  deploy/compose/grafana/provisioning/datasources/datasource.yml
  deploy/compose/hoprd.cfg.yaml
  deploy/compose/prometheus/prometheus.local-dev.yml
  deploy/compose/prometheus/prometheus.yml
  scripts/compose/docker-compose.local-dev.yml
  scripts/compose/docker-compose.yml
  scripts/keys/authorized_keys
  scripts/nat/start-nat-node.sh
  scripts/vm-nat-testing/.gitignore
  scripts/vm-nat-testing/README.md
  scripts/vm-nat-testing/Vagrantfile
  scripts/vm-nat-testing/docker-compose-nat.yaml
  scripts/vm-nat-testing/docker-compose-pub.yaml
  scripts/vm-nat-testing/docker-runner/Dockerfile
  scripts/vm-nat-testing/docker-runner/prepare-node.sh
  scripts/vm-nat-testing/faucet.sh
  scripts/vm-nat-testing/setup-vm.sh
  scripts/vm-nat-testing/startup-hoprd-nodes.sh
  scripts/vm-nat-testing/startup-network.sh
Labels: toolchain
