Repository hoprnet/hoprnet, pull requests merged in 2024-06, with the labels that each got.

#6311 scripts: Add peer connectivity check for TCP
  scripts/check_peer_tcp_connectivity.py
Labels: toolchain

#6321 Remove checking if variable is set
  Cargo.lock
  hopr/hopr-lib/Cargo.toml
  scripts/get-next-version.sh
Labels: dependencies, devops, toolchain, crate:hopr-lib

#6319 Publishing to docker hub
  .github/workflows/merge.yaml
Labels: devops, toolchain

#6322 Fix dAppNode packaging
  .github/workflows/build-dappnode.yaml
Labels: toolchain

#6323 Include hoprd-sdk-python repository in the promotion of releases
  .github/workflows/promote-release.yaml
Labels: devops, toolchain

#6313 Refactor HoprSwarm usage to improve readability and code composability
  Cargo.lock
  Cargo.toml
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  tests/conftest.py
  tests/test_integration.py
  transport/api/Cargo.toml
  transport/api/src/adaptors/mod.rs
  transport/api/src/constants.rs
  transport/api/src/lib.rs
  transport/api/src/multiaddrs.rs
  transport/api/src/network_notifier.rs
  transport/api/src/processes/indexer.rs
  transport/api/src/timer.rs
  transport/network/Cargo.toml
  transport/network/src/heartbeat.rs
  transport/network/src/network.rs
  transport/network/src/ping.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/api.rs
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/multiaddrs.rs
  transport/p2p/src/swarm.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/constants.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/processor.rs
Labels: dependencies, testing, crate:hopr-lib, crate:core-network, crate:core-p2p, crate:core-protocol, crate:core-transport

#6334 Fix validation checks on network objects
  transport/network/src/config.rs
Labels: bug, crate:core-network

#6335 Update ticket handling and add tests
  common/internal-types/src/tickets.rs
Labels: crate:hopr-internal-types

#6336 Merge back from saint-louis - 2024-06-18
  .github/workflows/build-dappnode.yaml
  .github/workflows/close-release.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  deploy/README.md
  deploy/compose/.env.example
  deploy/compose/README.md
  deploy/compose/docker-compose.yml
  deploy/compose/grafana/config.monitoring
  deploy/compose/grafana/provisioning/dashboards/dashboard.yml
  deploy/compose/grafana/provisioning/dashboards/docker/docker-monitoring_rev1.json
  deploy/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  deploy/compose/grafana/provisioning/dashboards/system/node-exporter-full_rev29.json
  deploy/compose/grafana/provisioning/datasources/datasource.yml
  deploy/compose/hoprd.cfg.yaml
  deploy/compose/prometheus/prometheus.local-dev.yml
  deploy/compose/prometheus/prometheus.yml
  docs/changelog/changelog-2.1.1.md
  hopr/hopr-lib/Cargo.toml
  hoprd/hoprd/example_cfg.yaml
  hoprd/rest-api/src/lib.rs
  logic/strategy/src/lib.rs
  scripts/compose/docker-compose.local-dev.yml
  scripts/compose/docker-compose.yml
  scripts/get-next-version.sh
  scripts/keys/authorized_keys
  scripts/merge-back.sh
  scripts/nat/start-nat-node.sh
  scripts/vm-nat-testing/.gitignore
  scripts/vm-nat-testing/README.md
  scripts/vm-nat-testing/Vagrantfile
  scripts/vm-nat-testing/docker-compose-nat.yaml
  scripts/vm-nat-testing/docker-compose-pub.yaml
  scripts/vm-nat-testing/docker-runner/Dockerfile
  scripts/vm-nat-testing/docker-runner/prepare-node.sh
  scripts/vm-nat-testing/faucet.sh
  scripts/vm-nat-testing/setup-vm.sh
  scripts/vm-nat-testing/startup-hoprd-nodes.sh
  scripts/vm-nat-testing/startup-network.sh
  tests/test_integration.py
  transport/api/src/lib.rs
  transport/network/src/config.rs
Labels: dependencies, toolchain, testing, documentation, merge-back, crate:core-strategy, crate:hopr-lib, crate:core-network, crate:core-transport, crate:hoprd-api, crate:hoprd

#6312 Add session state management and packet retransmission
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/src/errors.rs
  common/network-types/src/frame.rs
  common/network-types/src/lib.rs
  common/network-types/src/session/errors.rs
  common/network-types/src/session/frame.rs
  common/network-types/src/session/mod.rs
  common/network-types/src/session/protocol.rs
  common/network-types/src/session/state.rs
  common/network-types/src/session/utils.rs
  common/primitive-types/src/traits.rs
  hopr/hopr-lib/Cargo.toml
  vendor/cargo/test-log-0.2.16/.cargo-checksum.json
  vendor/cargo/test-log-0.2.16/CHANGELOG.md
  vendor/cargo/test-log-0.2.16/Cargo.toml
  vendor/cargo/test-log-0.2.16/LICENSE-APACHE
  vendor/cargo/test-log-0.2.16/LICENSE-MIT
  vendor/cargo/test-log-0.2.16/README.md
  vendor/cargo/test-log-0.2.16/src/lib.rs
  vendor/cargo/test-log-macros-0.2.16/.cargo-checksum.json
  vendor/cargo/test-log-macros-0.2.16/Cargo.toml
  vendor/cargo/test-log-macros-0.2.16/LICENSE-APACHE
  vendor/cargo/test-log-macros-0.2.16/LICENSE-MIT
  vendor/cargo/test-log-macros-0.2.16/src/lib.rs
Labels: feature, dependencies, high priority, effort:large, complexity:hard, improvement, protocol, crate:hopr-primitive-types, crate:hopr-lib

#6338 Add minimum ticket redeeming value configuration
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/lib.rs
Labels: dependencies, crate:core-strategy, crate:hoprd

#6329 SOCKS5 testing framework
  Cargo.lock
  hopr-socks/hopr-socks-server/Cargo.toml
  hopr-socks/hopr-socks-server/src/lib.rs
  hopr-socks/hopr-socks-server/src/main.rs
  hopr-socks/hopr-socks-server/tests/socks_server_tests.rs
Labels: dependencies, crate:hopr-socks

#6345 Fix SOCKS5 tests
  Cargo.lock
  hopr-socks/hopr-socks-server/Cargo.toml
  hopr-socks/hopr-socks-server/tests/socks_server_tests.rs
  vendor/cargo/tokio-socks-0.5.1/.cargo-checksum.json
  vendor/cargo/tokio-socks-0.5.1/CHANGELOG.md
  vendor/cargo/tokio-socks-0.5.1/Cargo.lock
  vendor/cargo/tokio-socks-0.5.1/Cargo.toml
  vendor/cargo/tokio-socks-0.5.1/LICENSE
  vendor/cargo/tokio-socks-0.5.1/README.md
  vendor/cargo/tokio-socks-0.5.1/examples/chainproxy.rs
  vendor/cargo/tokio-socks-0.5.1/examples/socket.rs
  vendor/cargo/tokio-socks-0.5.1/examples/tor.rs
  vendor/cargo/tokio-socks-0.5.1/rustfmt.toml
  vendor/cargo/tokio-socks-0.5.1/src/error.rs
  vendor/cargo/tokio-socks-0.5.1/src/lib.rs
  vendor/cargo/tokio-socks-0.5.1/src/tcp.rs
  vendor/cargo/tokio-socks-0.5.1/tests/common.rs
  vendor/cargo/tokio-socks-0.5.1/tests/integration_tests.sh
  vendor/cargo/tokio-socks-0.5.1/tests/long_username_password_auth.cfg
  vendor/cargo/tokio-socks-0.5.1/tests/long_username_password_auth.rs
  vendor/cargo/tokio-socks-0.5.1/tests/no_auth.cfg
  vendor/cargo/tokio-socks-0.5.1/tests/no_auth.rs
  vendor/cargo/tokio-socks-0.5.1/tests/username_auth.cfg
  vendor/cargo/tokio-socks-0.5.1/tests/username_auth.rs
Labels: dependencies, crate:hopr-socks

#6347 Fixing the docker compose deployment setup
  deploy/compose/.env-secrets.sample
  deploy/compose/.env.example
  deploy/compose/.gitignore
  deploy/compose/README.md
  deploy/compose/docker-compose.yml
  deploy/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  deploy/compose/grafana/provisioning/datasources/datasource.yml
  deploy/compose/hoprd.cfg.yaml
  deploy/compose/prometheus/metricspusher.sh
  deploy/compose/prometheus/prometheus.yml
  hopli/src/safe_module.rs
Labels: crate:hopli
