Repository hoprnet/hoprnet, pull requests merged in 2024-01, with the labels that each got.

#5839 docker: Reduce max memory limit for Node.js to 1.5GB
  packages/hoprd/Dockerfile
Labels: component:docker

#5841 docker: Increase libuv thread pool size from 4 to 16
  packages/hoprd/Dockerfile
Labels: improvement, component:docker

#5842 Pin the hoprd-sdk-python to a specific version
  tests/requirements.txt
Labels: testing, component:tests

#5846 Update nix installation instructions
  README.md
  flake.nix
Labels: documentation

#5853 Increase RPC page size
  packages/core-ethereum/crates/core-ethereum-rpc/src/rpc.rs
Labels: bug, package:core-ethereum, component:indexer, effort:small, complexity:easy

#5849 tests: Migrate smoke tests into python
  .actrc
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
  Makefile
  packages/core-ethereum/crates/core-ethereum-actions/src/payload.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/hoprd/crates/hopr-lib/data/protocol-config.json
  packages/hoprd/crates/hopr-lib/src/chain.rs
  packages/hoprd/crates/hopr-lib/src/lib.rs
  packages/hoprd/crates/hoprd-hoprd/src/config.rs
  scripts/fixture_local_test_setup.sh
  scripts/run-integration-tests-gcloud.sh
  scripts/utils.sh
  tests/conftest.py
  tests/hopr.py
  tests/identities/hopr-smoke-test-node_0.id
  tests/identities/hopr-smoke-test-node_1.id
  tests/identities/hopr-smoke-test-node_2.id
  tests/identities/hopr-smoke-test-node_3.id
  tests/identities/hopr-smoke-test-node_4.id
  tests/identities/hopr-smoke-test-node_5.id
  tests/identities/hopr-smoke-test-node_6.id
  tests/identities/hopr-smoke-test-node_7.id
  tests/node_5.cfg.yaml
  tests/test_integration.py
  tests/test_security.py
  tests/test_websocket_api.py
Labels: testing, improvement

#5856 Optimize sqlite DB parameters
  packages/utils/crates/utils-db/src/sqlite.rs
Labels: package:core, improvement, component:db

#5860 Fix Docker build with latest hopr-toolchain image
  packages/hoprd/.dockerignore
  packages/hoprd/Dockerfile
  scripts/toolchain/install-toolchain.sh
Labels: bug

#5861 Merge back Providence to master
  Cargo.lock
  docs/changelog/changelog-2.0.7.md
  packages/core-ethereum/crates/core-ethereum-db/src/db.rs
  packages/core-ethereum/crates/core-ethereum-indexer/src/handlers.rs
  packages/core/crates/core-p2p/src/lib.rs
  packages/hoprd/crates/hopr-lib/src/chain.rs
  packages/utils/crates/utils-db/src/rusty.rs
  scripts/toolchain/install-toolchain.sh
Labels: merge-back

#5832 Timestamp filtering in `peek-all`
  Cargo.lock
  chain/actions/src/lib.rs
  ethereum/bindings/Cargo.toml
  hoprd/inbox/src/inbox.rs
  hoprd/inbox/src/ring.rs
  hoprd/rest-api/src/bin/hoprd-api-schema.rs
  hoprd/rest-api/src/lib.rs
  tests/conftest.py
  tests/hopr.py
  tests/test_integration.py
Labels: component:api

#5855 Metrics improvements
  Cargo.lock
  Cargo.toml
  METRICS.md
  chain/actions/Cargo.toml
  chain/actions/src/action_queue.rs
  chain/indexer/src/block.rs
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  chain/types/Cargo.toml
  chain/types/src/actions.rs
  ethereum/bindings/Cargo.toml
  hopr/src/lib.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  logic/path/src/channel_graph.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/lib.rs
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
  misc/utils-db/Cargo.toml
  transport/api/src/lib.rs
  transport/network/src/heartbeat.rs
  transport/network/src/network.rs
  transport/network/src/ping.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: devops, improvement

#5867 Add missing commit and push script
  scripts/commit-and-push-all-changes.sh
Labels: bug, devops, toolchain

#5872 Update toolchain to Rust 1.75.0 and fix test workflow naming
  .github/workflows/tests.yaml
  ethereum/bindings/Cargo.toml
  flake.lock
  rust-toolchain.toml
  scripts/toolchain/install-toolchain.sh
Labels: toolchain, complexity:easy

#5893 hoprd-cfg: Add the configuration management utility
  hoprd/hoprd/src/bin/hoprd-cfg.rs
Labels: feature, toolchain, package:hoprd, effort:medium, complexity:easy, improvement

#5896 Remove `surf` client middleware logger
  Cargo.lock
  chain/indexer/src/block.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/Cargo.toml
Labels: package:core-ethereum, effort:small, improvement

#5897 Lint the entire codebase with cargo clippy
  .cargo/config.toml
  Makefile
  chain/actions/src/channels.rs
  chain/actions/src/node.rs
  chain/actions/src/payload.rs
  chain/actions/src/redeem.rs
  chain/api/src/lib.rs
  chain/db/src/db.rs
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  chain/types/src/actions.rs
  chain/types/src/chain_events.rs
  common/internal-types/src/acknowledgement.rs
  common/internal-types/src/announcement.rs
  common/internal-types/src/channels.rs
  common/internal-types/src/protocol.rs
  crypto/sphinx/src/prg.rs
  crypto/sphinx/src/prp.rs
  crypto/types/src/utils.rs
  hopli/src/create_safe_module.rs
  hopli/src/environment_config.rs
  hopli/src/faucet.rs
  hopli/src/identity.rs
  hopli/src/identity_input.rs
  hopli/src/initialize_node.rs
  hopli/src/key_pair.rs
  hopli/src/migrate_safe_module.rs
  hopli/src/move_node_to_safe_module.rs
  hopli/src/network_registry.rs
  hopli/src/password.rs
  hopli/src/process.rs
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/bin/hoprd-cfg.rs
  hoprd/rest-api/src/lib.rs
  logic/path/src/channel_graph.rs
  logic/path/src/path.rs
  logic/path/src/selectors/legacy.rs
  misc/metrics/src/lib.rs
  misc/utils-db/src/db.rs
  misc/utils-db/src/sqlite.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/network/src/network.rs
  transport/network/src/ping.rs
  transport/packet/src/packet.rs
  transport/packet/src/validation.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/chain.rs
  transport/protocol/src/msg/packet.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: toolchain, package:hoprd, effort:medium, complexity:normal, improvement, component:hopli

#5874 Fix timestamp e2e test using second precision in peer/send
  hoprd/hoprd/src/bin/hoprd-cfg.rs
  hoprd/inbox/src/inbox.rs
  hoprd/inbox/src/ring.rs
  tests/hopr.py
  tests/test_integration.py
Labels: bug, component:api, component:tests

#5877 Improve path selection algorithm
  Cargo.lock
  Cargo.toml
  common/primitive-types/Cargo.toml
  logic/path/Cargo.toml
  logic/path/src/path.rs
  logic/path/src/selectors/legacy.rs
  logic/path/src/selectors/mod.rs
  misc/metrics/Cargo.toml
  transport/api/src/lib.rs
Labels: bug

#5905 Fix stress tests to run with the refactored hoprd-api and fixtures
  tests/__init__.py
  tests/conftest.py
  tests/test_integration.py
  tests/test_stress.py
  tests/test_websocket_api.py
Labels: bug, testing, complexity:normal, component:tests

#5921 Generate the workspace index.html
  .github/workflows/build-docs.yaml
Labels: devops, toolchain, documentation

#5922 Add automatic formatting for Rust
  .vscode/settings.json
Labels: toolchain

#5923 Change the default RPC provider to https://gnosis-provider.rpch.tech/
  ethereum/README.md
  ethereum/contracts/Makefile
  ethereum/contracts/broadcast/DeployAll.s.sol/100/run-latest.json
  ethereum/contracts/foundry.toml
Labels: high priority, effort:small, complexity:easy, improvement, smart contract, blocker

#5868 Pipeline to auto generate python SDK on cutting release event
  .github/files/pr-python-sdk.md
  .github/workflows/generate-sdk.yaml
  .github/workflows/merge.yaml
  Makefile
  scripts/python-sdk-config.json
  scripts/python-sdk.patch
  tests/requirements.txt
Labels: toolchain, DO NOT MERGE, effort:small, component:api

#5933 Peer version check to Promiscuous strategy
  Cargo.lock
  chain/actions/src/action_queue.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
  misc/utils-db/src/sqlite.rs
  transport/network/src/network.rs
  transport/protocol/src/msg/processor.rs
Labels: feature, package:core

#5935 Limit the weak crypto option to test and debug builds
  Makefile
  hopli/src/key_pair.rs
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
  hoprd/hoprd/src/main.rs
  hoprd/keypair/src/key_pair.rs
  scripts/setup-local-cluster.sh
  scripts/vm-nat-testing/docker-compose-nat.yaml
  scripts/vm-nat-testing/docker-compose-pub.yaml
  tests/conftest.py
  tests/node_5.cfg.yaml
Labels: effort:small, complexity:normal, component:tests

#5936 Inlay the README.md into the Rust documentation
  .github/workflows/build-docs.yaml
  README.md
  flake.nix
Labels: documentation

#5932 Update config to fix issues and allow mergability of configuration files
  hopr/hopr-lib/src/config.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/config.rs
  hoprd/hoprd/src/main.rs
  hoprd/inbox/src/config.rs
  hoprd/rest-api/src/config.rs
  transport/api/src/adaptors/network.rs
  transport/api/src/config.rs
  transport/network/src/heartbeat.rs
  transport/protocol/src/config.rs
Labels: bug, high priority, package:hoprd, effort:small, complexity:easy, component:tests

#5879 Smoke-test configuration "pythonified"
  tests/conftest.py
  tests/hopr-smoke-test-node_5.cfg.yaml
  tests/hopr.py
  tests/node.py
  tests/test_integration.py
  tests/test_stress.py
  tests/test_websocket_api.py
Labels: improvement, component:tests

#5916 Improve Ticket related structures
  Cargo.lock
  chain/actions/src/action_queue.rs
  chain/actions/src/errors.rs
  chain/actions/src/payload.rs
  chain/actions/src/redeem.rs
  chain/api/src/executors.rs
  chain/db/src/db.rs
  chain/types/src/actions.rs
  common/internal-types/src/acknowledgement.rs
  common/internal-types/src/channels.rs
  crypto/sphinx/src/derivation.rs
  crypto/types/Cargo.toml
  crypto/types/src/types.rs
  crypto/types/src/vrf.rs
  transport/packet/src/validation.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: improvement

#5942 Fix retry queue counters and make contract call error logs more specific
  chain/rpc/src/client.rs
  chain/rpc/src/errors.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/src/chain.rs
Labels: bug, effort:small, complexity:easy

#5938 Update the README.md
  .github/workflows/build-docs.yaml
  .github/workflows/tests.yaml
  .vscode/settings.json
  README.md
  chain/indexer/src/block.rs
  chain/rpc/src/indexer.rs
  docs/changelog/changelog-1.75.0-2.0.0.md
  scripts/generate-identity.sh
Labels: effort:medium, complexity:easy, complexity:normal, documentation, improvement

#5957 Run the API immediately to allow checks before indexing
  .github/workflows/tests.yaml
  Cargo.lock
  Makefile
  chain/api/src/lib.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/errors.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/lib.rs
  vendor/cargo/atomic_enum-0.2.0/.cargo-checksum.json
  vendor/cargo/atomic_enum-0.2.0/Cargo.toml
  vendor/cargo/atomic_enum-0.2.0/README.md
  vendor/cargo/atomic_enum-0.2.0/src/lib.rs
  vendor/cargo/atomic_enum-0.2.0/tests/nostd.rs
Labels: package:hoprd, effort:medium, complexity:normal, improvement, component:api, blocker

#5953 Properly override boolean configuration files with CLI arguments
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
  hoprd/hoprd/src/main.rs
Labels: bug, high priority, package:hoprd, effort:medium, complexity:easy

#5895 bindings: Rewrite generation as cargo build script instead of make targets
  .cargo/config.toml
  .github/workflows/build-docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
  .gitignore
  Makefile
  ethereum/.gitignore
  ethereum/bindings/Cargo.toml
  ethereum/bindings/build.rs
  ethereum/bindings/src/lib.rs
  ethereum/contracts/Makefile
  ethereum/contracts/foundry.toml
  flake.nix
Labels: toolchain, high priority, effort:small, complexity:easy

#5948 Point to Safe transaction service production endpoint
  hopr/hopr-lib/src/config.rs
  hoprd/hoprd/src/config.rs
  tests/hopr-smoke-test-node_5.cfg.yaml
Labels: improvement

#5966 Tweaking tests for timestamp
  tests/test_integration.py
  tests/test_stress.py
Labels: testing

#5954 Improve smart contract unit test
  ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  ethereum/contracts/test/scripts/DeployAll.t.sol
Labels: effort:small, complexity:easy, smart contract

#5787 tests: Add integration tests for core-ethereum Indexer
  Cargo.lock
  chain/actions/src/channels.rs
  chain/actions/src/payload.rs
  chain/actions/src/redeem.rs
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  chain/types/Cargo.toml
  chain/types/src/lib.rs
  chain/types/src/utils.rs
  common/internal-types/src/channels.rs
  common/primitive-types/src/primitives.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: testing, package:core-ethereum, component:indexer, effort:medium, complexity:normal, component:tests

#5956 rpc: Replace custom finality tracking with TimeLag Provider from ethers.rs
  chain/indexer/src/block.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/inbox/src/ring.rs
  tests/conftest.py
  tests/node.py
  tests/test_integration.py
Labels: package:core-ethereum, effort:medium, complexity:normal, improvement

#5958 Add staking hub Ethereum address into onboarding log output
  hoprd/hoprd/src/main.rs
Labels: bug, documentation, improvement

#5968 docker: Update compose setup to use v2.1 and configuration file
  flake.nix
  scripts/compose/.env
  scripts/compose/.env-default
  scripts/compose/docker-compose.local-dev.yml
  scripts/compose/docker-compose.yml
  scripts/compose/hoprd.cfg.yaml
Labels: toolchain, component:docker

#5955 Fix readme on env variables
  README.md
  ethereum/contracts/.env.example
  scripts/generate-identity.sh
Labels: effort:small, complexity:easy, documentation

#5967 Unify object naming in the hoprd rest api
  .github/workflows/lint.yaml
  Makefile
  flake.nix
  hoprd/rest-api/src/lib.rs
  tests/hopr.py
  tests/requirements.txt
Labels: toolchain, effort:large, documentation, improvement, component:api

#5965 docker: Add hoprd debug image
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  ethereum/contracts/foundry.toml
  flake.nix
Labels: component:docker

#5952 strategy: Bump aggregation threshold from 100 to 300 tickets
  packages/core/crates/core-strategy/README.md
  packages/core/crates/core-strategy/src/aggregating.rs
  packages/core/crates/core-strategy/src/lib.rs
  scripts/pluto/Dockerfile
  tests/conftest.py
  tests/requirements.txt
Labels: effort:small, improvement, release:providence

#5972 make: Add manager-retry-register-nodes
  ethereum/contracts/Makefile
  ethereum/contracts/script/SingleAction.s.sol
Labels: package:ethereum

#5978 Fix parsing panic in `from_hex`
  chain/actions/src/action_queue.rs
  chain/actions/src/action_state.rs
  chain/db/src/db.rs
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  chain/rpc/src/client.rs
  chain/types/src/chain_events.rs
  common/internal-types/src/channels.rs
  common/primitive-types/src/traits.rs
  hopr/hopr-lib/src/lib.rs
  logic/path/src/channel_graph.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/strategy.rs
  misc/utils-db/src/sqlite.rs
  transport/api/src/lib.rs
  transport/api/src/timer.rs
  transport/packet/src/validation.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: bug

#5979 Optimized getLogs queries
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  chain/types/src/chain_events.rs
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: improvement

#5981 Remove deprecated docker images from workflows
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/merge.yaml
  .github/workflows/publish-release.yaml
Labels: bug, toolchain, effort:small, complexity:easy

#5631 Make Ledger properties public
  ethereum/contracts/src/Ledger.sol
Labels: smart contract

#5983 Do not re-announce on-chain if node has previously announced
  chain/actions/src/errors.rs
  chain/actions/src/node.rs
  common/internal-types/src/account.rs
  hopr/hopr-lib/src/lib.rs
Labels: bug, package:core, effort:small, complexity:easy
