Repository hoprnet/hoprnet, pull requests merged in 2024-02, with the labels that each got.

#5980 Fixes to code exeuction and real-world run optimizations
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/src/main.rs
Labels: bug, high priority, package:hoprd, complexity:normal, improvement

#5995 rlp: Strip first 2 bytes from encoded timestamp
  common/primitive-types/src/lib.rs
Labels: bug

#5993 Another batch of fixes to Saint Louis
  chain/actions/src/node.rs
  chain/actions/src/payload.rs
  chain/types/src/actions.rs
  common/internal-types/src/announcement.rs
  common/primitive-types/src/lib.rs
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/src/config.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/src/main.rs
  hoprd/inbox/src/inbox.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/config.rs
  transport/api/src/p2p.rs
Labels: bug

#6001 libp2p: Extend the new configuration to allow higher outbound connections counts
  transport/api/src/p2p.rs
  transport/p2p/src/lib.rs
  transport/protocol/src/constants.rs
Labels: bug, component:p2p

#6002 Fix the docker-compose setup to comply with 2.1
  METRICS.md
  scripts/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  scripts/compose/prometheus/prometheus.yml
  transport/network/src/heartbeat.rs
  transport/network/src/ping.rs
Labels: feature, toolchain, effort:medium, complexity:normal

#5988 Improve ChannelStatus logic
  chain/actions/src/action_queue.rs
  chain/actions/src/channels.rs
  chain/actions/src/node.rs
  chain/actions/src/redeem.rs
  chain/db/src/db.rs
  chain/indexer/src/handlers.rs
  common/internal-types/src/channels.rs
  common/primitive-types/src/traits.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/src/main.rs
  hoprd/inbox/src/ring.rs
  hoprd/rest-api/src/lib.rs
  logic/path/src/channel_graph.rs
  logic/path/src/path.rs
  logic/path/src/selectors/legacy.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
  misc/metrics/src/metrics.rs
  misc/platform/src/time.rs
  misc/utils-db/src/rusty.rs
  transport/api/src/adaptors/network.rs
  transport/api/src/lib.rs
  transport/api/src/timer.rs
  transport/network/src/heartbeat.rs
  transport/network/src/network.rs
  transport/network/src/ping.rs
  transport/packet/src/validation.rs
  transport/protocol/src/msg/chain.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: improvement

#6007 Version string fix for 2.1 metrics
  hopr/hopr-lib/src/lib.rs
Labels: effort:small

#6014 Divide the RTT time by 2 to get a single direction value
  transport/network/src/ping.rs
Labels: bug, effort:small, complexity:normal, improvement

#6009 Improve the API to be usable with the hopr-sdk in JS
  hoprd/rest-api/src/lib.rs
  transport/network/src/network.rs
Labels: high priority, package:hoprd, component:api

#6016 Fix duplicate redeem strategy configuration from the CLI
  hoprd/hoprd/src/config.rs
Labels: bug

#6006 Add example_cfg.yaml with documentation
  METRICS.md
  hopr/hopr-lib/src/config.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/example_cfg.yaml
  hoprd/hoprd/src/config.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
  transport/api/src/config.rs
  transport/network/src/network.rs
Labels: effort:small, complexity:easy, documentation, improvement

#6013 Do not initialize the identity, if it is passed by the config
  hoprd/hoprd/src/main.rs
  hoprd/keypair/src/key_pair.rs
Labels: bug

#6019 Annotate Bearer token auth in Swagger
  hoprd/rest-api/src/lib.rs
  tests/test_websocket_api.py
Labels: bug, effort:small, complexity:easy, component:api

#6021 fix randomly failing mixer test
  transport/protocol/src/msg/mixer.rs
Labels: bug

#6029 Update the nix environment and the package lock
  Cargo.lock
  flake.lock
Labels: toolchain, complexity:easy

#6037 Fixes for issues found in the hopr-sdk testing
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/lib.rs
  transport/network/src/ping.rs
Labels: bug, component:heartbeat, complexity:normal, component:api

#6033 Use smart default wherever reasonable
  Cargo.lock
  Cargo.toml
  chain/actions/Cargo.toml
  chain/actions/src/action_queue.rs
  chain/api/Cargo.toml
  chain/api/src/executors.rs
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
  chain/rpc/src/rpc.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/channels.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/config.rs
  hoprd/inbox/Cargo.toml
  hoprd/inbox/src/config.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/config.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
  transport/api/Cargo.toml
  transport/api/src/config.rs
  transport/network/Cargo.toml
  transport/network/src/heartbeat.rs
  transport/network/src/ping.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/config.rs
  transport/protocol/src/heartbeat/config.rs
  transport/protocol/src/msg/config.rs
  transport/protocol/src/msg/mixer.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/config.rs
  vendor/cargo/smart-default-0.7.1/.cargo-checksum.json
  vendor/cargo/smart-default-0.7.1/CHANGELOG.md
  vendor/cargo/smart-default-0.7.1/Cargo.lock
  vendor/cargo/smart-default-0.7.1/Cargo.toml
  vendor/cargo/smart-default-0.7.1/LICENSE
  vendor/cargo/smart-default-0.7.1/README.md
  vendor/cargo/smart-default-0.7.1/examples/example.rs
  vendor/cargo/smart-default-0.7.1/src/body_impl.rs
  vendor/cargo/smart-default-0.7.1/src/default_attr.rs
  vendor/cargo/smart-default-0.7.1/src/lib.rs
  vendor/cargo/smart-default-0.7.1/src/util.rs
  vendor/cargo/smart-default-0.7.1/tests/tests.rs
Labels: complexity:normal, improvement

#6047 Documentation updates and minor code cleanup
  chain/actions/src/action_queue.rs
  chain/actions/src/lib.rs
  chain/api/src/errors.rs
  chain/api/src/executors.rs
  chain/api/src/lib.rs
  chain/indexer/src/block.rs
  chain/indexer/src/config.rs
  chain/indexer/src/lib.rs
  chain/rpc/src/client.rs
  chain/rpc/src/errors.rs
  chain/rpc/src/helper.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  chain/types/src/actions.rs
  chain/types/src/chain_events.rs
  chain/types/src/lib.rs
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  transport/api/Cargo.toml
  transport/api/src/adaptors/network.rs
  transport/api/src/config.rs
  transport/api/src/constants.rs
  transport/api/src/errors.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/api/src/processes/indexer.rs
  transport/api/src/processes/mod.rs
  transport/api/src/timer.rs
  transport/network/src/constants.rs
  transport/network/src/errors.rs
  transport/network/src/heartbeat.rs
  transport/network/src/lib.rs
  transport/network/src/messaging.rs
  transport/network/src/network.rs
  transport/network/src/ping.rs
  transport/p2p/src/api.rs
  transport/p2p/src/constants.rs
  transport/p2p/src/errors.rs
  transport/p2p/src/lib.rs
  transport/protocol/src/ack/config.rs
  transport/protocol/src/config.rs
  transport/protocol/src/constants.rs
  transport/protocol/src/errors.rs
  transport/protocol/src/heartbeat/config.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/ticket_aggregation/config.rs
Labels: toolchain, effort:medium, complexity:normal, documentation, improvement

#6055 Relax the limitation to strictly check existence of the hoprd identity from the configuration
  hoprd/hoprd/src/config.rs
Labels: high priority, package:hoprd, effort:small, complexity:easy

#6056 Enforce strict configuration file parsing to deny unknown keys
  hopr/hopr-lib/src/config.rs
  hoprd/hoprd/src/config.rs
  hoprd/inbox/src/config.rs
  hoprd/rest-api/src/config.rs
  logic/strategy/src/strategy.rs
  tests/hopr-smoke-test-node_5.cfg.yaml
  transport/api/src/config.rs
  transport/network/src/heartbeat.rs
  transport/network/src/network.rs
  transport/protocol/src/config.rs
Labels: package:hoprd, effort:small, complexity:easy

#6057 Terminate Indexer processing loop on hard failure
  chain/rpc/src/indexer.rs
Labels: bug

#6059 Decrease the scope of some RwLocks
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  logic/strategy/src/aggregating.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/api/src/processes/indexer.rs
Labels: bug, high priority, package:hoprd, effort:medium, complexity:normal, improvement

#6058 Soft-restart indexer loop on error, expose `max_block_range` on the CLI
  Cargo.lock
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
  chain/rpc/src/errors.rs
  chain/rpc/src/helper.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/data/protocol-config.json
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
Labels: improvement

#6048 Add documentation in hopli
  hopli/README.md
  hopli/src/create_safe_module.rs
  hopli/src/environment_config.rs
  hopli/src/faucet.rs
  hopli/src/identity.rs
  hopli/src/key_pair.rs
  hopli/src/main.rs
  hopli/src/migrate_safe_module.rs
  hopli/src/move_node_to_safe_module.rs
  hopli/src/network_registry.rs
  hopli/src/process.rs
  hopli/src/sync_network_registry.rs
  hopli/src/utils.rs
Labels: complexity:easy, documentation

#6042 docker: Add bash to docker images
  flake.nix
Labels: improvement

#6063 Fix the hoprd-api-schema generation by directly executing the binary
  Makefile
Labels: toolchain

#6065 Better handling of missing block errors
  Cargo.lock
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
Labels: bug, effort:small, complexity:easy, improvement

#6066 Improve visbility into code hot paths using metrics and logs
  METRICS.md
  flake.nix
  transport/api/src/p2p.rs
  transport/p2p/src/api.rs
  transport/p2p/src/constants.rs
Labels: complexity:easy, complexity:normal, improvement

#6067 Separate `get_peer_with_quality` expression
  logic/strategy/src/promiscuous.rs
Labels: effort:small, complexity:easy, improvement

#6053 Add documentation to CurvePoint and PublicKey structs
  Cargo.lock
  chain/actions/src/payload.rs
  common/internal-types/src/acknowledgement.rs
  common/primitive-types/src/primitives.rs
  crypto/sphinx/src/derivation.rs
  crypto/types/Cargo.toml
  crypto/types/src/types.rs
  crypto/types/src/vrf.rs
Labels: documentation, improvement

#6069 Remove `Address::random()` function from production code
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/action_state.rs
  chain/actions/src/channels.rs
  chain/actions/src/node.rs
  chain/db/Cargo.toml
  chain/db/src/db.rs
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/rpc.rs
  common/internal-types/Cargo.toml
  common/primitive-types/Cargo.toml
  common/primitive-types/src/primitives.rs
  crypto/sphinx/Cargo.toml
  crypto/types/Cargo.toml
  logic/path/Cargo.toml
  logic/strategy/Cargo.toml
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/promiscuous.rs
  transport/packet/Cargo.toml
  transport/protocol/Cargo.toml
  transport/protocol/src/msg/chain.rs
  transport/protocol/src/msg/processor.rs
Labels: toolchain

#6074 Add more logs to debug double transaction transmission in mempool
  chain/rpc/src/client.rs
Labels: improvement

#5970 nix: Use native solc for macos-aarch
  flake.lock
  flake.nix
Labels: toolchain

#6079 Use exactly the amount of hops specified by the caller
  transport/api/src/lib.rs
Labels: bug, package:hoprd, complexity:easy, improvement

#6088 Collection of fixes to scoping and locks for the DB
  Cargo.lock
  transport/packet/Cargo.toml
  transport/packet/src/validation.rs
  transport/protocol/src/msg/processor.rs
Labels: bug

#6089 Fix multistrategy not defaulting values for hoprd config properly
  logic/strategy/src/strategy.rs
Labels: bug, high priority, effort:small, complexity:easy

#6084 Auto-redeem single tickets of value on closure initiation
  Cargo.lock
  chain/db/src/db.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/channel_finalizer.rs
  logic/strategy/src/lib.rs
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
  tests/hopr-smoke-test-node_5.cfg.yaml
Labels: bug, effort:medium, complexity:normal, improvement, component:strategy

#6093 Change github runners from Hetzner to GCP
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/generate-sdk.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/new-pr.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/renovate-cargo-update.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  scripts/get-next-version.sh
Labels: feature, devops
