Repository hoprnet/hoprnet, pull requests merged in 2024-11, with the labels that each got.

#6589 Alias to an existing peer_id or an existing alias should fail
  hoprd/db/api/src/aliases.rs
  hoprd/db/api/src/errors.rs
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/lib.rs
  tests/test_integration.py
Labels: bug, testing, crate:hoprd-api

#6592 tests: Cleanup the forgotten alias after test runs randomly breaking consequent alias tests
  tests/test_integration.py
Labels: bug, testing

#6590 Bump the rust version to 1.82 and update library dependencies
  flake.lock
  rust-toolchain.toml
Labels: toolchain

#6594 Fix obsolete commands in envrc
  .coderabbit.yaml
  .envrc
Labels: toolchain

#6591 gha: Add test run using Rust nightly
  .github/workflows/tests.yaml
Labels: toolchain

#6595 Fix backwards compatibility with the 2.1.x
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/peers.rs
  hoprd/rest-api/src/session.rs
  hoprd/rest-api/src/types.rs
Labels: dependencies, crate:hoprd-api

#6599 Fix prometheus dependencies and sanitize metrics paths
  Cargo.lock
  hopr/hopr-lib/Cargo.toml
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/prometheus.rs
  transport/p2p/Cargo.toml
Labels: dependencies, status:sprint-backlog, crate:hopr-lib, crate:core-p2p, crate:hoprd-api

#6603 Update renovate.json to remove the Dependency Dashboard issue
  .github/renovate.json
Labels: toolchain

#6607 Use the quic-v1 multiaddress as a default for announcement
  hoprd/hoprd/Cargo.toml
Labels: dependencies, crate:hoprd

#6602 Fix redeem actions tests to run on Nightly
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/redeem.rs
  chain/indexer/src/block.rs
Labels: dependencies, status:sprint-backlog, crate:chain-actions, crate:chain-indexer

#6609 Add constants for session protocol and transport config
  common/network-types/src/session/frame.rs
  common/network-types/src/session/protocol.rs
  transport/api/src/config.rs
Labels: crate:core-transport

#6612 Add auto-redeem strategy changes missed in the merge-back
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/lib.rs
Labels: crate:core-strategy, crate:hoprd

#6610 Handle restricted self registration
  hoprd/rest-api/src/checks.rs
Labels: bug, effort:small, complexity:normal, status:sprint-backlog, crate:hoprd-api, bugfix

#6614 Remove single ticket redeem bound in AutoRedeem strategy
  Cargo.lock
  chain/indexer/src/handlers.rs
  db/api/Cargo.toml
  db/api/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/tickets.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/lib.rs
Labels: dependencies, crate:core-strategy, crate:hopr-db-api, crate:chain-indexer

#6619 Add criterion benchmarks for crypto-packet crate
  Cargo.lock
  crypto/packet/Cargo.toml
  crypto/packet/benches/packet_crypto.rs
Labels: dependencies, crate:hopr-crypto-packet

#6621 db: Add index to improve log_status queries
  Cargo.lock
  db/migration/Cargo.toml
  db/migration/src/lib.rs
  db/migration/src/m20241112_000018_logs_add_index.rs
Labels: dependencies, crate:hopr-db-migration

#6624 Add data counters to WS Session adapter and log them
  hoprd/rest-api/src/session.rs
Labels: crate:hoprd-api

#6618 Enable explicit path routing feature
  Cargo.lock
  hoprd/hoprd/Cargo.toml
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
Labels: dependencies, crate:hoprd-api, crate:hoprd

#6626 Extend javascript websocket authentication to websocket sessions
  hoprd/rest-api/src/preconditions.rs
Labels: crate:hoprd-api

#6630 Remove ticket validation from the last hop
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  common/primitive-types/src/errors.rs
  common/primitive-types/src/lib.rs
  common/primitive-types/src/primitives.rs
  common/primitive-types/src/traits.rs
  crypto/packet/benches/packet_crypto.rs
  crypto/packet/src/chain.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/types/src/types.rs
  crypto/types/src/vrf.rs
  hoprd/rest-api/src/types.rs
  transport/network/src/messaging.rs
Labels: crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:core-network, crate:hoprd-api

#6628 `Network::get` should retrieve peer even if it is ignored
  Cargo.lock
  crypto/packet/src/validation.rs
  db/api/Cargo.toml
  db/api/src/peers.rs
  scripts/local-cluster-hoprd.cfg.yaml
  scripts/setup-local-cluster.sh
  transport/network/Cargo.toml
  transport/network/src/network.rs
Labels: dependencies, toolchain, crate:hopr-db-api, crate:hopr-crypto-packet, crate:core-network

#6633 Fix TagBloomFilter behavior after updating the crate to 2.0
  Cargo.lock
  common/internal-types/Cargo.toml
  common/internal-types/benches/bloom_filter.rs
  common/internal-types/src/protocol.rs
Labels: dependencies, crate:hopr-internal-types

#6636 Replace `ReaderStream` with `AsyncStreamReader` in WS Session handler
  common/network-types/src/session/state.rs
  common/network-types/src/session/utils.rs
  common/network-types/src/utils.rs
  hoprd/rest-api/src/session.rs
Labels: crate:hoprd-api

#6637 Properly remove Session from the list when it terminates spontaneously
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/src/udp.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/session.rs
  transport/session/Cargo.toml
  transport/session/src/manager.rs
Labels: dependencies, crate:hoprd-api

#6641 Update the logging in indexer block processing
  chain/indexer/src/block.rs
Labels: improvement, crate:chain-indexer

#6644 Fix bugs in log processing and fast-sync
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  chain/indexer/src/lib.rs
  db/sql/Cargo.toml
  db/sql/src/info.rs
Labels: dependencies, crate:chain-indexer

#6632 Fix websocket authentication
  SETUP_LOCAL_CLUSTER.md
  hoprd/rest-api/src/preconditions.rs
  scripts/setup-local-cluster.sh
Labels: toolchain, crate:hoprd-api

#6645 Fix Fast-Sync CLI parameters and behavior when full re-sync is required
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/config.rs
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
Labels: dependencies, crate:chain-indexer, crate:hoprd

#6648 Set own alias at startup only if absent
  hoprd/hoprd/src/main.rs
Labels: status:in-review, crate:hoprd

#6649 Improve some Logs DB queries
  chain/indexer/src/errors.rs
  chain/indexer/src/handlers.rs
  db/sql/src/logs.rs
Labels: crate:chain-indexer

#6655 Return backwards compatible configuration with 2.1.x versions
  hoprd/hoprd/example_cfg.yaml
  transport/network/Cargo.toml
  transport/network/src/config.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:core-network, crate:core-p2p, crate:hoprd

#6651 nix: Add patchelf step to cross-builds
  .github/workflows/build-binaries.yaml
  .github/workflows/build.yaml
  flake.nix
  hoprd/hoprd/build.rs
  nix/rust-package.nix
Labels: toolchain, crate:hoprd

#6654 scripts: Rely on word splitting to actually make the parameter expansion work
  scripts/setup-local-cluster.sh
Labels: toolchain

#6657 Early initialize lazy static metrics to prime them
  Cargo.lock
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
Labels: dependencies, crate:core-protocol

#6661 Add default session listen host option
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
  hoprd/hoprd/src/exit.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
  transport/api/src/config.rs
Labels: dependencies, crate:core-transport, crate:hoprd-api, crate:hoprd

#6666 Heartbeat improvements and configurability
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/network/Cargo.toml
  transport/network/src/config.rs
  transport/network/src/constants.rs
  transport/network/src/heartbeat.rs
Labels: dependencies, crate:core-network, crate:core-transport, crate:hoprd

#6658 Set specific error in case alias for self was already set
  hoprd/db/api/src/aliases.rs
  hoprd/db/api/src/errors.rs
  hoprd/hoprd/src/main.rs
Labels: status:in-review, crate:hoprd

#6668 Do not purge peers with records fresher than 5 mins from the DB on restart
  Cargo.lock
  README.md
  db/sql/Cargo.toml
  db/sql/src/db.rs
Labels: dependencies, component:db

#6669 Fix message API request bodies and session target acceptance
  Cargo.lock
  db/sql/src/db.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
  scripts/local-cluster-hoprd.cfg.yaml
  tests/test_websocket_api.py
Labels: dependencies, toolchain, testing, component:api, crate:hoprd-api

#6640 Change load testing to use the websocket implementation
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
Labels: toolchain, package:DAppNodePackage-Hopr-testnet

#6673 tokio: Pin main loop on heap
  chain/rpc/src/indexer.rs
  hoprd/hoprd/src/main.rs
Labels: crate:chain-rpc, crate:hoprd

#6680 Update the logging to remove the offline peer error on heartbeat
  transport/p2p/src/swarm.rs
Labels: crate:core-p2p

#6681 Allow to launch binaries manually
  .github/workflows/build-binaries.yaml
  .github/workflows/build.yaml
Labels: toolchain

#6675 Fix tokio stack overflow crash during indexing
  Cargo.lock
  README.md
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  db/api/Cargo.toml
  db/api/src/logs.rs
  db/sql/Cargo.toml
  db/sql/src/logs.rs
  hoprd/hoprd/src/main.rs
Labels: dependencies, crate:hopr-db-api, crate:chain-indexer, crate:chain-rpc, crate:hoprd

#6686 docker: Preset session listen host
  flake.nix
  nix/docker-builder.nix
Labels: toolchain
