Repository hoprnet/hoprnet, pull requests merged in 2024-04, with the labels that each got.

#6145 Fix minor logging issues to make the info output more readable
  tests/test_hopli.py
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/network/src/errors.rs
  transport/network/src/heartbeat.rs
  transport/network/src/ping.rs
Labels: testing, complexity:normal

#6146 Move the peers database purge immediately into the DB creation
  Cargo.lock
  db/api/Cargo.toml
  db/api/src/db.rs
  db/api/src/peers.rs
  db/api/src/ticket_manager.rs
  db/api/src/tickets.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/lib.rs
  transport/network/src/network.rs
Labels: dependencies

#6150 Reorder multistrategy to first start to happen only once the node is fully running
  db/api/src/ticket_manager.rs
  hopr/hopr-lib/src/lib.rs
  logic/strategy/src/aggregating.rs
  transport/api/src/p2p.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: bug

#6156 Make aggregation protocol backwards compatible with 2.0.8
  Cargo.lock
  common/internal-types/Cargo.toml
  common/internal-types/src/legacy.rs
  common/internal-types/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  logic/strategy/src/aggregating.rs
  transport/api/src/lib.rs
  transport/api/src/p2p.rs
  transport/p2p/src/lib.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: dependencies, status:in-progress

#6165 Fix error codes on certain API endpoints
  hoprd/rest-api/src/lib.rs
Labels: status:in-progress

#6166 Add log information when node gets registered
  chain/indexer/src/handlers.rs
Labels: improvement, status:in-progress

#6115 Fix nodes deployment
  .github/workflows/build.yaml
  .github/workflows/merge.yaml
Labels: bug, devops, toolchain

#6168 Fix arithmetic overflow on time substractions
  chain/indexer/src/handlers.rs
  common/internal-types/src/channels.rs
  common/primitive-types/src/lib.rs
  common/primitive-types/src/traits.rs
  hoprd/hoprd/src/main.rs
  hoprd/inbox/src/ring.rs
  hoprd/rest-api/src/lib.rs
  transport/network/src/heartbeat.rs
  transport/network/src/network.rs
  transport/network/src/ping.rs
  transport/protocol/src/msg/processor.rs
Labels: status:in-progress

#6151 Reduce hopli default provider tx poll interval from 7s to 10 ms
  hopli/src/environment_config.rs
  tests/test_hopli.py
Labels: testing

#6167 hopli: Configure contracts root in docker image by default
  flake.nix
  hopli/src/environment_config.rs
Labels: toolchain, component:hopli, status:in-progress

#6162 Deprecate CLI configuration of strategies
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
Labels: bug, status:in-progress

#6175 gha: Simplify labeler config
  .github/labeler.yml
  flake.nix
Labels: toolchain

#6174 Workaround version matching issue in Promiscuous strategy
  Cargo.lock
  logic/strategy/Cargo.toml
  logic/strategy/src/promiscuous.rs
Labels: bug, dependencies, crate:core-strategy

#6178 Open Release 2.1.0-rc.4
  Cargo.lock
  hopr/hopr-lib/Cargo.toml
Labels: dependencies, crate:hopr-lib

#6181 Add PeerID <-> Public key converter to hopli
  crypto/types/src/types.rs
  hopli/src/identity.rs
  hopli/src/key_pair.rs
  hopli/src/utils.rs
Labels: improvement, crate:hopli, crate:hopr-crypto-types

#6190 Fix issues with alias urldecoding
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
Labels: dependencies, crate:hoprd-api

#6188 Fix updating node info table
  db/api/src/info.rs
  hopr/hopr-lib/src/lib.rs
  logic/path/src/channel_graph.rs
  logic/strategy/src/promiscuous.rs
Labels: bug, crate:core-strategy, crate:hopr-db-api, crate:hopr-lib, crate:core-path

#6189 Fix the display of sync metric
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

#6193 Allow RPC provider to feed past blocks
  Cargo.lock
  chain/rpc/Cargo.toml
  chain/rpc/src/indexer.rs
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:core-strategy, crate:chain-rpc

#6197 Add log transaction checksum into Indexer
  chain/indexer/src/block.rs
  chain/indexer/src/config.rs
  chain/indexer/src/handlers.rs
  db/api/src/info.rs
  db/migration/src/lib.rs
  db/migration/src/m20240418_000016_add_rolling_tx_hash.rs
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: improvement, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-lib, crate:chain-indexer

#6198 Add metrics for logs processed by the Indexer
  METRICS.md
  chain/indexer/src/handlers.rs
Labels: improvement, crate:chain-indexer

#6192 Add support for yamux as default mux to libp2p swarm
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  tests/conftest.py
  tests/hopr-smoke-test-node_5.cfg.yaml
  tests/hopr-smoke-test-node_barebone.cfg.yaml
  tests/hopr-smoke-test-node_default.cfg.yaml
  tests/node.py
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_stress.py
  tests/test_websocket_api.py
  transport/api/src/p2p.rs
  transport/network/src/network.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/protocol/src/msg/processor.rs
  vendor/cargo/libp2p-yamux-0.45.1/.cargo-checksum.json
  vendor/cargo/libp2p-yamux-0.45.1/CHANGELOG.md
  vendor/cargo/libp2p-yamux-0.45.1/Cargo.toml
  vendor/cargo/libp2p-yamux-0.45.1/src/lib.rs
  vendor/cargo/libp2p-yamux-0.45.1/tests/compliance.rs
  vendor/cargo/yamux-0.12.1/.cargo-checksum.json
  vendor/cargo/yamux-0.12.1/Cargo.toml
  vendor/cargo/yamux-0.12.1/src/chunks.rs
  vendor/cargo/yamux-0.12.1/src/connection.rs
  vendor/cargo/yamux-0.12.1/src/connection/cleanup.rs
  vendor/cargo/yamux-0.12.1/src/connection/closing.rs
  vendor/cargo/yamux-0.12.1/src/connection/stream.rs
  vendor/cargo/yamux-0.12.1/src/error.rs
  vendor/cargo/yamux-0.12.1/src/frame.rs
  vendor/cargo/yamux-0.12.1/src/frame/header.rs
  vendor/cargo/yamux-0.12.1/src/frame/io.rs
  vendor/cargo/yamux-0.12.1/src/lib.rs
  vendor/cargo/yamux-0.12.1/src/tagged_stream.rs
  vendor/cargo/yamux-0.13.1/.cargo-checksum.json
  vendor/cargo/yamux-0.13.1/Cargo.toml
  vendor/cargo/yamux-0.13.1/src/chunks.rs
  vendor/cargo/yamux-0.13.1/src/connection.rs
  vendor/cargo/yamux-0.13.1/src/connection/cleanup.rs
  vendor/cargo/yamux-0.13.1/src/connection/closing.rs
  vendor/cargo/yamux-0.13.1/src/connection/rtt.rs
  vendor/cargo/yamux-0.13.1/src/connection/stream.rs
  vendor/cargo/yamux-0.13.1/src/connection/stream/flow_control.rs
  vendor/cargo/yamux-0.13.1/src/error.rs
  vendor/cargo/yamux-0.13.1/src/frame.rs
  vendor/cargo/yamux-0.13.1/src/frame/header.rs
  vendor/cargo/yamux-0.13.1/src/frame/io.rs
  vendor/cargo/yamux-0.13.1/src/lib.rs
  vendor/cargo/yamux-0.13.1/src/tagged_stream.rs
Labels: dependencies, testing, crate:hopr-lib, crate:core-network, crate:core-p2p, crate:core-protocol, crate:core-transport

#6202 Fix comparison of invalid balance types
  chain/actions/src/channels.rs
  chain/api/src/lib.rs
  chain/indexer/src/handlers.rs
  db/api/src/info.rs
  hopr/hopr-lib/src/lib.rs
  logic/strategy/src/promiscuous.rs
Labels: bug, crate:core-strategy, crate:hopr-db-api, crate:hopr-lib, crate:chain-actions, crate:chain-api, crate:chain-indexer

#6194 Fix hoprd persistence directory paths
  hopr/hopr-lib/src/constants.rs
  hopr/hopr-lib/src/lib.rs
  scripts/compose/docker-compose.yml
  scripts/compose/hoprd.cfg.yaml
Labels: toolchain, complexity:normal, crate:hopr-lib

#6203 Squash additional migrations to prior ones
  db/migration/src/lib.rs
  db/migration/src/m20240226_000005_index_create_chain_info.rs
  db/migration/src/m20240301_000011_tickets_create_ticket_stats.rs
  db/migration/src/m20240301_000013_initial_seed_tickets.rs
  db/migration/src/m20240301_000014_create_ticket_stats_with_channel_id.rs
  db/migration/src/m20240326_000015_recreate_ticket_stats.rs
  db/migration/src/m20240418_000016_add_rolling_tx_hash.rs
Labels: complexity:easy, improvement, component:db, status:product-backlog, crate:hopr-db-migration

#6206 Do not allow duplicate peer ID aliasing
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  tests/test_integration.py
  vendor/cargo/bimap-0.6.3/.cargo-checksum.json
  vendor/cargo/bimap-0.6.3/CHANGELOG.md
  vendor/cargo/bimap-0.6.3/CODE_OF_CONDUCT.md
  vendor/cargo/bimap-0.6.3/CONTRIBUTING.md
  vendor/cargo/bimap-0.6.3/Cargo.toml
  vendor/cargo/bimap-0.6.3/LICENSE_APACHE
  vendor/cargo/bimap-0.6.3/LICENSE_MIT
  vendor/cargo/bimap-0.6.3/README.md
  vendor/cargo/bimap-0.6.3/rustfmt.toml
  vendor/cargo/bimap-0.6.3/src/btree.rs
  vendor/cargo/bimap-0.6.3/src/hash.rs
  vendor/cargo/bimap-0.6.3/src/lib.rs
  vendor/cargo/bimap-0.6.3/src/mem.rs
  vendor/cargo/bimap-0.6.3/src/serde.rs
  vendor/cargo/bimap-0.6.3/tests/hello_world.rs
Labels: bug, dependencies, testing, crate:hoprd-api

#6211 Fix off-by-1 in the Indexer
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
Labels: bug, dependencies, status:in-progress, crate:chain-indexer

#6214 gha: tag docker image as pr only in prs
  .github/workflows/build.yaml
Labels: toolchain

#6213 Improves the aliases e2e test
  tests/test_integration.py
Labels: testing

#6210 Improve descriptions in the 2.1 API docs
  hoprd/rest-api/src/lib.rs
Labels: effort:small, crate:hoprd-api

#6215 Make set_alias e2e test stable again
  tests/test_integration.py
Labels: bug, testing

#6217 toolchain: add CodeRabbit configuration
  .coderabbit.yaml
  .github/labeler.yml
Labels: toolchain

#6218 Fix Indexer checksum computation
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/handlers.rs
  db/api/src/info.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
Labels: bug, dependencies, crate:hopr-db-api, crate:hopr-lib, crate:chain-indexer

#6220 Increase size of the DB connection pool
  db/api/src/db.rs
Labels: improvement, crate:hopr-db-api
