Repository hoprnet/hoprnet, pull requests merged in 2024-07, with the labels that each got.

#6354 Fix log output to be only a single line
  hoprd/hoprd/src/main.rs
Labels: bug, deploy_nodes, crate:hoprd

#6363 Remove unnecessary safety check for HOPR Safe Balance
  Cargo.lock
  chain/indexer/src/handlers.rs
  hopr/hopr-lib/src/lib.rs
Labels: bug, dependencies, crate:hopr-lib, crate:chain-indexer

#6356 Add a generic API to allow session client and session server from hopr-lib
  Cargo.lock
  common/network-types/src/session/state.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  transport/api/Cargo.toml
  transport/api/src/constants.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/api/src/processes/indexer.rs
  transport/api/src/processes/mod.rs
  transport/network/Cargo.toml
  transport/network/src/network.rs
  transport/protocol/src/bloom.rs
  transport/protocol/src/constants.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/processor.rs
  transport/session/Cargo.toml
  transport/session/src/lib.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-lib, crate:core-network, crate:core-protocol, crate:core-transport, crate:hoprd-api

#6369 Unify updating channels in the DB via an API to allow caching
  Cargo.lock
  chain/actions/src/channels.rs
  chain/actions/src/redeem.rs
  chain/api/src/lib.rs
  chain/indexer/Cargo.toml
  chain/indexer/src/errors.rs
  chain/indexer/src/handlers.rs
  common/internal-types/src/channels.rs
  common/internal-types/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/accounts.rs
  db/sql/src/cache.rs
  db/sql/src/channels.rs
  db/sql/src/db.rs
  db/sql/src/info.rs
  db/sql/src/protocol.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/processor.rs
Labels: dependencies, component:db, status:in-progress, crate:hopr-internal-types, crate:chain-actions, crate:chain-api, crate:chain-indexer, crate:core-protocol

#6364 Update the websocket operations
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/constants.rs
  transport/api/src/lib.rs
Labels: crate:hopr-lib, crate:core-transport, crate:hoprd-api

#6379 Add check for immutable file commit
  .github/scripts/immutable-files-check.sh
  flake.nix
Labels: toolchain

#6378 Improve state management timing in the Session protocol
  Cargo.toml
  common/network-types/src/session/state.rs
Labels: dependencies

#6374 Build dappnode package on Pull requests
  .github/workflows/build-dappnode.yaml
  .github/workflows/build.yaml
  .github/workflows/generate-dappnode-pr.yaml
Labels: toolchain, package:DAppNodePackage-Hopr-testnet

#6365 Document load testing executions
  .github/files/pr-close-patch.md
  .github/files/pr-close-release.md
  .github/workflows/merge.yaml
  .processes/release.md
Labels: devops, toolchain

#6382 Add indexer state to NodeInfoResponse
  METRICS.md
  chain/indexer/src/block.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
Labels: component:api, crate:hopr-lib, crate:chain-indexer, crate:hoprd-api

#6386 Disable optimize_on_close in SQLite configuration
  db/api/src/db.rs
Labels: crate:hopr-db-api

#6306 Fix cluster script
  Makefile
  README.md
  SETUP_LOCAL_CLUSTER.md
  scripts/api.sh
  scripts/run-local-anvil.sh
  scripts/setup-local-cluster.sh
  scripts/utils.sh
Labels: toolchain

#6387 docs: fix build and index page
  Cargo.lock
  chain/actions/src/lib.rs
  common/internal-types/src/tickets.rs
  crypto/packet/src/packet.rs
  db/api/src/peers.rs
  db/api/src/tickets.rs
  flake.nix
  hopli/src/environment_config.rs
  logic/path/src/path.rs
  nix/rust-package.nix
  nix/shell.nix
  transport/api/Cargo.toml
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/network/src/config.rs
  transport/p2p/Cargo.toml
Labels: dependencies, toolchain, crate:hopr-internal-types, crate:hopli, crate:hopr-db-api, crate:hopr-crypto-packet, crate:chain-actions, crate:core-network, crate:core-p2p, crate:core-transport, crate:core-path

#6388 gha: use bigger runner in more workflows
  .github/workflows/build-binaries.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build.yaml
Labels: toolchain

#6400 Add swagger-codegen back to devShell packages
  nix/shell.nix
Labels: status:done

#6397 Fix API withdraw endpoint
  hoprd/rest-api/src/account.rs
  hoprd/rest-api/src/lib.rs
  tests/hopr.py
  tests/test_integration.py
Labels: testing, status:done, crate:hoprd-api

#6410 strategy: set minimum redeem value to 30 HOPR
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/lib.rs
Labels: crate:core-strategy, crate:hoprd

#6418 Notify ronny when there are changes in deploy folder
  .github/workflows/merge.yaml
Labels: toolchain

#6420 Allow incremental workload load testing
  .github/workflows/load-tests.yaml
Labels: toolchain
