Repository hoprnet/hoprnet, pull requests merged in 2024-03, with the labels that each got.

#6097 Migrate hoprd nodes to GCP
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/merge.yaml
  scripts/get-next-version.sh
Labels: devops, improvement

#6101 Migrate `chain-indexer` to new DB
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/errors.rs
  chain/api/src/lib.rs
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/errors.rs
  chain/indexer/src/handlers.rs
  chain/indexer/src/traits.rs
  db/api/src/accounts.rs
  db/api/src/channels.rs
  db/api/src/db.rs
  db/api/src/lib.rs
  db/api/src/tickets.rs
  ethereum/contracts/foundry.toml
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  transport/protocol/src/msg/processor.rs
Labels: component:db

#6100 Fix commit hash labeling docker images
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/merge.yaml
  scripts/get-next-version.sh
Labels: bug, devops

#6099 Update identity password from CLI
  hopli/README.md
  hopli/src/identity_update.rs
  hopli/src/key_pair.rs
  hopli/src/main.rs
  hopli/src/password.rs
  hopli/src/utils.rs
Labels: feature

#6113 Fix return code for set alias API call
  hoprd/rest-api/src/lib.rs
Labels: bug, effort:small, improvement, component:api

#6114 fix: missing serialization info in `ClosureFinalizerStrategyConfig`
  logic/strategy/src/channel_finalizer.rs
Labels: bug

#6107 `chain-actions` and `core-strategy` migration to the new DB
  Cargo.lock
  Cargo.toml
  chain/actions/Cargo.toml
  chain/actions/src/action_queue.rs
  chain/actions/src/channels.rs
  chain/actions/src/errors.rs
  chain/actions/src/lib.rs
  chain/actions/src/node.rs
  chain/actions/src/redeem.rs
  chain/api/src/lib.rs
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  common/internal-types/src/account.rs
  db/api/Cargo.toml
  db/api/src/accounts.rs
  db/api/src/channels.rs
  db/api/src/db.rs
  db/api/src/info.rs
  db/api/src/peers.rs
  db/api/src/registry.rs
  db/api/src/resolver.rs
  db/api/src/ticket_manager.rs
  db/api/src/tickets.rs
  db/migration/src/m20240226_000002_index_create_account.rs
  ethereum/contracts/foundry.toml
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/chain.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/lib.rs
  logic/path/src/channel_graph.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/channel_finalizer.rs
  logic/strategy/src/errors.rs
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
  transport/api/src/errors.rs
  transport/api/src/lib.rs
  transport/network/src/network.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: component:db

#6119 Add support for PR labeling
  .github/labeler.yml
  .github/workflows/label.yaml
Labels: toolchain

#6124 Saint Louis fixes from practical testing session
  .github/workflows/label.yaml
  .github/workflows/lint.yaml
  chain/rpc/src/indexer.rs
  db/api/src/tickets.rs
  hoprd/rest-api/src/lib.rs
  tests/requirements.txt
  transport/api/src/lib.rs
  transport/protocol/src/msg/mixer.rs
Labels: toolchain, testing

#6130 ci: Allow longer docs builds
  .github/workflows/build-docs.yaml
Labels: toolchain

#6129 Improve chain event processing from logs
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  chain/indexer/src/traits.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  common/internal-types/src/acknowledgement.rs
  db/api/src/lib.rs
Labels: bug, dependencies, improvement, status:in-progress

#6132 Add caching and query DB less frequently
  Cargo.lock
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  common/internal-types/src/lib.rs
  crypto/types/src/types.rs
  db/api/Cargo.toml
  db/api/src/accounts.rs
  db/api/src/cache.rs
  db/api/src/db.rs
  db/api/src/errors.rs
  db/api/src/info.rs
  db/api/src/lib.rs
  db/api/src/resolver.rs
  db/api/src/ticket_manager.rs
  db/api/src/tickets.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/tests/chain_integration_tests.rs
  logic/path/Cargo.toml
  logic/strategy/Cargo.toml
  transport/api/Cargo.toml
  transport/network/Cargo.toml
  transport/network/src/lib.rs
  transport/network/src/traits.rs
  transport/protocol/Cargo.toml
Labels: dependencies, effort:medium, complexity:normal, improvement, component:db, component:tests, status:in-progress

#6133 Add per-channel ticket statistics into the DB
  db/api/src/tickets.rs
  db/migration/src/lib.rs
  db/migration/src/m20240301_000014_create_ticket_stats_with_channel_id.rs
  transport/api/src/lib.rs
Labels: improvement, component:api, component:db

#6136 Act softer on HTTP 504 (Gateway timeout) thrown by the RPC provider
  chain/rpc/src/client.rs
Labels: package:core-ethereum, improvement

#6134 Add ticket aggregation tests and refactoring
  chain/indexer/src/handlers.rs
  db/api/src/accounts.rs
  db/api/src/cache.rs
  db/api/src/db.rs
  db/api/src/info.rs
  db/api/src/lib.rs
  db/api/src/protocol.rs
  db/api/src/resolver.rs
  db/api/src/tickets.rs
  hoprd/rest-api/src/lib.rs
  transport/api/src/lib.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/msg/packet.rs
  transport/protocol/src/msg/processor.rs
Labels: improvement, component:db

#6135 Improvements to ticket metrics and deprecation of ticket displaying API endpoints
  Cargo.lock
  db/api/Cargo.toml
  db/api/src/protocol.rs
  db/api/src/tickets.rs
  db/migration/src/lib.rs
  db/migration/src/m20240326_000015_recreate_ticket_stats.rs
  hopr/hopr-lib/Cargo.toml
  hoprd/rest-api/src/lib.rs
  tests/requirements.txt
  tests/test_integration.py
  transport/api/src/lib.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: dependencies, testing

#6139 Add 503 as retryable HTTP code per-default, add global min retries
  chain/rpc/src/client.rs
  hopr/hopr-lib/src/chain.rs
Labels: bug, improvement

#6140 Fix ticket aggregation criteria
  db/api/src/tickets.rs
  db/entity/src/conversions/tickets.rs
  logic/strategy/src/aggregating.rs
  transport/api/src/lib.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: bug, effort:medium, complexity:normal, component:db, component:strategy, status:in-progress

#6141 Fix on channel close aggregation criteria
  db/api/src/tickets.rs
  logic/strategy/src/aggregating.rs
Labels: bug, effort:small, complexity:easy, component:strategy, status:in-progress
