Repository hoprnet/hoprnet, pull requests merged in 2024-08, with the labels that each got.

#6425 make: Add target to run local stress test
  Makefile
  README.md
  tests/test_stress.py
Labels: testing

#6394 API: add "/eligiblez" endpoint to get node eligibility via a direct RPC call
  chain/api/src/lib.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/checks.rs
  hoprd/rest-api/src/lib.rs
Labels: status:done, crate:hopr-lib, crate:chain-api, crate:chain-rpc, crate:hoprd-api

#6429 Add support for opentelemetry into hoprd
  deploy/compose/.env.example
  deploy/compose/docker-compose.yml
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/lib.rs
  hoprd/hoprd/src/main.rs
  scripts/setup-local-cluster.sh
  tests/node.py
Labels: dependencies, toolchain, testing, crate:hoprd

#6432 Fix REST API schema example values to not run into privileged tag error
  hoprd/rest-api/src/messages.rs
Labels: crate:hoprd-api

#6433 Remove tickets that are within an aggregated ticket prior to sending aggregation request
  Cargo.lock
  chain/actions/src/redeem.rs
  db/api/src/ticket_manager.rs
  db/api/src/tickets.rs
Labels: dependencies, crate:hopr-db-api, crate:chain-actions

#6430 Do not sort the heartbeat peers ascending by last seen date
  transport/network/src/network.rs
Labels: bug, crate:core-network, bugfix

#6436 Allow relayer scenario for load testing
  .github/workflows/README.md
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
Labels: toolchain

#6437 Change default minimum ticket value to 30 HOPR in auto redeeming
  logic/strategy/src/auto_redeeming.rs
  tests/hopr-smoke-test-node_default.cfg.yaml
Labels: testing, crate:core-strategy

#6438 Properly initialize Prometheus metrics for ticket statistics
  METRICS.md
  db/api/src/ticket_manager.rs
  db/api/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
Labels: crate:hopr-db-api, crate:hopr-lib

#6439 Generate and use Python SDK within DevShell
  nix/shell.nix
  tests/requirements.txt
Labels: testing

#6442 Neglect tickets with lower index after redeeming & skip aggregating tickets with lower index than on channel
  chain/indexer/src/handlers.rs
  db/api/src/errors.rs
  db/api/src/tickets.rs
  logic/strategy/src/aggregating.rs
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: crate:core-strategy, crate:hopr-db-api, crate:chain-indexer, crate:core-protocol

#6445 Add sender sceanario and hysteresis workload on load testing
  .github/workflows/README.md
  .github/workflows/load-tests.yaml
Labels: toolchain

#6444 Modify info api endpoint to return last block before the update of checksum
  Makefile
  README.md
  SETUP_LOCAL_CLUSTER.md
  chain/indexer/src/block.rs
  db/api/src/info.rs
  db/api/src/peers.rs
  db/migration/src/lib.rs
  db/migration/src/m20240810_000013_index_extend_chain_info_with_pre_checksum_block.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/rest-api/src/lib.rs
  scripts/api.sh
  scripts/local-cluster-hoprd.cfg.yaml
  scripts/run-local-anvil.sh
  scripts/setup-local-cluster.sh
  scripts/utils.sh
Labels: toolchain, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-lib, crate:chain-indexer, crate:hoprd-api

#6448 Migrating core-team dufour nodes to production
  .github/workflows/build-docker.yaml
  .github/workflows/merge.yaml
Labels: toolchain

#6415 Expose winning probability in the API
  common/internal-types/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/network.rs
  tests/hopr.py
  tests/requirements.txt
  tests/test_integration.py
Labels: testing, status:done, crate:hopr-internal-types, crate:hopr-lib, crate:hoprd-api

#6431 Cleanup the p2p mechanism and introduce network behavior that mimics p2p discovery internally in the swarm
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  METRICS.md
  common/internal-types/src/protocol.rs
  common/network-types/src/session/state.rs
  db/api/src/errors.rs
  db/api/src/protocol.rs
  db/sql/src/db.rs
  db/sql/src/protocol.rs
  db/sql/src/ticket_manager.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/config.rs
  hopr/hopr-lib/src/errors.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/token_authentication.rs
  logic/path/src/selectors/legacy.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  logic/strategy/src/errors.rs
  logic/strategy/src/strategy.rs
  tests/hopr.py
  tests/node.py
  tests/test_stress.py
  tests/test_websocket_api.py
  transport/api/Cargo.toml
  transport/api/README.md
  transport/api/src/config.rs
  transport/api/src/errors.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/api/src/network_notifier.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/behavior/discovery.rs
  transport/p2p/src/behavior/heartbeat.rs
  transport/p2p/src/behavior/mod.rs
  transport/p2p/src/behavior/ticket_aggregation.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/bloom.rs
  transport/protocol/src/errors.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/packet.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
  transport/protocol/src/timer.rs
  transport/protocol/tests/msg_ack_workflows.rs
Labels: dependencies, testing, crate:core-strategy, crate:hopr-internal-types, crate:hopr-db-api, crate:hopr-lib, crate:core-p2p, crate:core-protocol, crate:core-transport, crate:core-path, crate:hoprd-api, crate:hoprd

#6451 Improve the msg-ack hot path using more CPU offloading
  db/sql/src/protocol.rs
  hoprd/hoprd/example_cfg.yaml
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/ack/config.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/config.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/config.rs
  transport/protocol/src/msg/mod.rs
Labels: crate:core-p2p, crate:core-protocol, crate:hoprd

#6455 Fix neglecting and redeeming metrics updates
  db/sql/src/tickets.rs
Labels: bug

#6457 Merge-back from 2.1.4 Saint Louis
  METRICS.md
  Makefile
  chain/actions/src/redeem.rs
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  db/api/src/peers.rs
  db/api/src/tickets.rs
  db/migration/src/lib.rs
  db/migration/src/m20240810_000014_index_extend_chain_info_with_pre_checksum_block.rs
  db/sql/src/db.rs
  db/sql/src/errors.rs
  db/sql/src/info.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  docs/changelog/changelog-2.1.2.md
  docs/changelog/changelog-2.1.3.md
  docs/changelog/changelog-2.1.4.md
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/rest-api/src/node.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
  scripts/local-cluster-hoprd.cfg.yaml
  scripts/setup-local-cluster.sh
  tests/hopr-smoke-test-node_default.cfg.yaml
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: toolchain, testing, documentation, crate:core-strategy, crate:hopr-db-api, crate:hopr-db-migration, crate:hopr-lib, crate:chain-actions, crate:chain-indexer, crate:core-protocol, crate:hoprd-api
