Repository hoprnet/hoprnet, pull requests merged in 2025-10, with the labels that each got.

#7549 fix(hopr-lib): consider network registry enabled state
  Cargo.lock
  chain/indexer/src/handlers.rs
  db/sql/Cargo.toml
  db/sql/src/registry.rs
Labels: dependencies, crate:hopr-db-sql

#7544 chore(hopr-lib): adapt interfaces for more ergonomy in edgli and external usage
  Cargo.lock
  Cargo.toml
  chain/api/Cargo.toml
  chain/api/build.rs
  chain/api/src/config.rs
  chain/api/src/lib.rs
  db/entity/build.rs
  db/entity/src/codegen/mod.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/Cargo.toml
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/api/src/socket.rs
Labels: dependencies, crate:hopr-lib, crate:hoprd, crate:hopr-chain-api, crate:hopr-transport

#7530 fix(hopr-lib): Ignore private/local ip addresses
  Cargo.lock
  README.md
  common/network-types/Cargo.toml
  common/network-types/src/addr.rs
  common/network-types/src/lib.rs
  common/network-types/src/types.rs
  common/network-types/src/utils.rs
  flake.nix
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  nix/mkShell.nix
  transport/api/src/lib.rs
  transport/network/Cargo.toml
  transport/network/src/network.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/behavior/discovery.rs
  transport/p2p/src/swarm.rs
  transport/protocol/Cargo.toml
Labels: dependencies, toolchain, crate:hopr-lib, crate:hoprd-api, docker-production-build, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport, crate:hopr-transport-protocol

#7554 fix: verbose metrics (#7553)
  .github/workflows/k8s.yaml
  Cargo.lock
  METRICS.md
  common/network-types/Cargo.toml
  common/network-types/src/udp.rs
  db/node/src/protocol.rs
  db/node/src/ticket_manager.rs
  db/node/src/tickets.rs
  deploy/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  hoprd/hoprd/Cargo.toml
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/middleware/prometheus.rs
  logic/path/Cargo.toml
  logic/path/src/channel_graph.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
Labels: dependencies, toolchain, crate:hopr-lib, crate:hoprd-api, crate:hoprd, crate:hopr-transport-protocol, crate:hopr-path

#7557 fix: balancer level update should not happen once the receiver has been closed
  Cargo.lock
  transport/session/Cargo.toml
  transport/session/src/balancer/controller.rs
Labels: dependencies, crate:hopr-transport-session

#7489 fix(ci): adapt load test and adding profiling changes
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/checks-performance.yaml
  .github/workflows/checks.yaml
  .github/workflows/close-release.yaml
  .github/workflows/create-release.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
Labels: toolchain, docker-profile-build

#7564 fix(hopr-lib): backport network registry changes
  Cargo.lock
  chain/indexer/src/handlers.rs
  db/sql/Cargo.toml
  db/sql/src/registry.rs
Labels: dependencies, crate:hopr-chain-indexer, crate:hopr-db-sql

#7563 fix(hopr-lib): cherry-pick wrong rotsee winprob contract address
  ethereum/contracts/contracts-addresses.json
Labels: smart-contracts

#7562 fix(hopr-lib): bring back the correct rotsee deployment address
  ethereum/contracts/contracts-addresses.json
Labels: effort:small, complexity:easy, smart-contracts
