Repository hoprnet/hoprnet, pull requests merged in 2025-08, with the labels that each got.

#7381 feat: dedicated table for corrupted channels
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/indexer/Cargo.toml
  chain/indexer/src/handlers.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/lib.rs
  db/entity/Cargo.toml
  db/entity/src/conversions/channels.rs
  db/entity/src/errors.rs
  db/migration/src/lib.rs
  db/migration/src/m20250808_000030_index_create_corrupted_channel.rs
  db/sql/Cargo.toml
  db/sql/src/channels.rs
  db/sql/src/corrupted_channels.rs
  db/sql/src/lib.rs
  hoprd/rest-api/src/channels.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-db-entity, crate:hopr-db-migration, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-db-sql

#7407 fix: serialization of strategy parameter
  Cargo.lock
  deploy/nfpm/hoprd-sample.cfg.yaml
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  transport/network/src/config.rs
  uv.lock
Labels: dependencies, crate:hoprd, crate:hopr-transport-network, crate:hopr-strategy

#7413 fix: v1 tags should be limited to 61-bits
  protocols/app/Cargo.toml
  protocols/app/src/lib.rs
  protocols/app/src/v1.rs
Labels: dependencies

#7419 feat: updated Lioness wide-block cipher implementation
  Cargo.lock
  crypto/sphinx/Cargo.toml
  crypto/sphinx/src/ec_groups.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/types/Cargo.toml
  crypto/types/benches/lioness_bench.rs
  crypto/types/src/lib.rs
  crypto/types/src/lioness.rs
Labels: dependencies, crate:hopr-crypto-sphinx, crate:hopr-crypto-types

#7425 feat: extend the size of the KeepAlive's additional data
  protocols/start/Cargo.toml
  protocols/start/src/lib.rs
  transport/protocol/hopr.lua
Labels: dependencies, crate:hopr-transport-protocol
