Repository hoprnet/hoprnet, pull requests merged in 2025-03, with the labels that each got.

#6896 Define gas prices
  Cargo.lock
  Cargo.toml
  chain/api/src/lib.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/middleware.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hopr/hopr-lib/tests/node_integration_tests.rs
Labels: dependencies, effort:small, complexity:normal, crate:hopr-lib, crate:chain-rpc, crate:hopr-chain-api, crate:hopr-chain-rpc

#6919 Bump also Cargo.toml dependencies, not only the Cargo.lock
  .github/renovate.json
Labels: toolchain

#6920 Migrates deploy-nodes workflow to new repository and updates load tes…
  .github/workflows/k8s.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
Labels: toolchain

#6726 Create a Docker image for Pluto
  .github/workflows/merge.yaml
  ethereum/contracts/Makefile
  ethereum/contracts/script/DeployAll.s.sol
  flake.nix
  nix/shell.nix
  scripts/run-local-cluster.sh
  scripts/utils.sh
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
Labels: toolchain, smart-contracts

#6923 Update nix derivations to allow upload of Pluto Docker image
  flake.nix
Labels: toolchain

#6925 tests: Fix per-test teardown
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/pytest.ini
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_rest_api.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
Labels: testing, component:tests

#6930 db: Fix channel/ticket state mismatch on startup
  Cargo.lock
  chain/actions/src/action_queue.rs
  chain/indexer/src/handlers.rs
  db/api/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  db/sql/src/channels.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
  tests/test_websocket_api.py
Labels: dependencies, testing, component:db, crate:core-strategy, crate:hopr-db-api, crate:hopr-lib, crate:chain-actions, crate:chain-indexer, crate:hoprd

#6938 db: Fix ticket aggregation balance threshold
  Cargo.lock
  db/sql/Cargo.toml
  db/sql/src/tickets.rs
Labels: dependencies, component:db, bugfix

#6943 ci: Prepare docker compose first
  .github/workflows/build-dappnode.yaml
Labels: toolchain

#6944 ci: Allow sudo in dappnode build
  .github/workflows/build-dappnode.yaml
Labels: toolchain

#6931 Split API endpoints by content type
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  sdk/python/api/hopr.py
  tests/test_rest_api.py
Labels: dependencies, testing, crate:hoprd-api

#6941 Rename pluto docker image to follow naming conventions
  .github/workflows/merge.yaml
  flake.nix
Labels: toolchain

#6945 p2p: Fall back to TCP on dappnode
  Cargo.lock
  Cargo.toml
  README.md
  transport/api/Cargo.toml
  transport/api/src/config.rs
  transport/p2p/src/swarm.rs
  vendor/cargo/temp-env-0.3.6/.cargo-checksum.json
  vendor/cargo/temp-env-0.3.6/Cargo.toml
  vendor/cargo/temp-env-0.3.6/LICENSE-APACHE
  vendor/cargo/temp-env-0.3.6/LICENSE-MIT
  vendor/cargo/temp-env-0.3.6/README.md
  vendor/cargo/temp-env-0.3.6/src/lib.rs
Labels: dependencies, crate:core-p2p, crate:core-transport, docker-production-build

#6958 ci: Fix prefix match in dappnode action
  .github/workflows/build-dappnode.yaml
Labels: toolchain

#6954 ci: Fix flake update action
  .github/workflows/update-flake-lock.yaml
  flake.lock
Labels: toolchain

#6953 ci: Fix docker image cleanup
  .github/workflows/cleanup.yaml
  flake.lock
  nix/shell.nix
  pyproject.toml
  scripts/clean-docker-images.py
  uv.lock
Labels: toolchain
