Repository hoprnet/hoprnet, pull requests merged in 2025-05, with the labels that each got.

#7070 ci: Cleanup the nix shells and speed up CI builds
  .github/workflows/build-docker.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/tests.yaml
  .github/workflows/zizmor.yaml
  Cargo.toml
  chain/rpc/src/client.rs
  flake.nix
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hopr/hopr-lib/tests/common/mod.rs
  hopr/hopr-lib/tests/node_integration_tests.rs
  nix/ciShell.nix
  nix/ciTestShell.nix
  nix/devShell.nix
  nix/mkShell.nix
  nix/rust-builder.nix
  nix/rust-package.nix
  nix/shell.nix
  nix/testShell.nix
  scripts/clean-docker-images.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
  tests/conftest.py
Labels: dependencies, toolchain, testing, crate:hopr-lib, crate:hopr-chain-rpc

#7109 deps: Update cargo dependencies
  Cargo.lock
  Cargo.toml
  crypto/types/Cargo.toml
Labels: dependencies, crate:hopr-crypto-types

#7112 Use bench without the testing feature
  common/network-types/Cargo.toml
  common/network-types/benches/session.rs
  common/network-types/src/session/mod.rs
Labels: dependencies

#6921 Introduce WinningProbability type
  Cargo.lock
  chain/actions/src/payload.rs
  chain/actions/src/redeem.rs
  chain/api/src/lib.rs
  chain/indexer/src/handlers.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/errors.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  crypto/packet/Cargo.toml
  crypto/packet/src/packet.rs
  crypto/packet/src/validation.rs
  db/api/Cargo.toml
  db/api/src/info.rs
  db/api/src/protocol.rs
  db/api/src/tickets.rs
  db/entity/src/conversions/tickets.rs
  db/sql/src/cache.rs
  db/sql/src/info.rs
  db/sql/src/protocol.rs
  db/sql/src/tickets.rs
  hopli/src/win_prob.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
  hoprd/rest-api/src/network.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_redeeming.rs
  tests/test_integration.py
  tests/test_win_prob.py
  tests/utils.py
  transport/api/src/lib.rs
  transport/protocol/src/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/ticket-aggregation/src/lib.rs
Labels: dependencies, testing, crate:hopr-internal-types, crate:hopli, crate:hopr-db-entity, crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:hoprd-api, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-transport, crate:hopr-transport-protocol, crate:hopr-strategy, crate:hopr-chain-actions

#7122 deps: Update and clean
  Cargo.lock
  Cargo.toml
  common/network-types/Cargo.toml
  db/api/Cargo.toml
  hoprd/rest-api/Cargo.toml
  transport/network/Cargo.toml
  transport/protocol/Cargo.toml
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: dependencies, crate:hopr-db-api, crate:hoprd-api, crate:hopr-transport-network, crate:hopr-transport-protocol

#7088 Introduce Return path and SURB balancing in Sessions
  Cargo.lock
  Cargo.toml
  METRICS.md
  README.md
  common/async-runtime/src/lib.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/tickets.rs
  common/network-types/Cargo.toml
  common/network-types/src/types.rs
  crypto/packet/Cargo.toml
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/por.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/lib.rs
  crypto/sphinx/src/packet.rs
  crypto/sphinx/src/routing.rs
  crypto/sphinx/src/shared_keys.rs
  crypto/sphinx/src/surb.rs
  crypto/types/src/types.rs
  db/api/Cargo.toml
  db/api/src/errors.rs
  db/api/src/protocol.rs
  db/sql/src/cache.rs
  db/sql/src/errors.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/src/config.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/hoprd/example_cfg.yaml
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
  logic/path/Cargo.toml
  logic/path/src/lib.rs
  logic/path/src/selectors/dfs.rs
  sdk/python/api/hopr.py
  sdk/python/api/request_objects.py
  sdk/python/api/response_objects.py
  tests/test_integration.py
  tests/test_session.py
  transport/api/src/config.rs
  transport/api/src/errors.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/session/Cargo.toml
  transport/session/src/balancer/controller.rs
  transport/session/src/balancer/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/errors.rs
  transport/session/src/initiation.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, testing, crate:hopr-internal-types, crate:hopr-db-api, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hoprd-api, crate:hoprd, crate:hopr-transport, crate:hopr-transport-protocol, crate:hopr-path

#7130 audit: Fix deps
  .cargo/audit.toml
  Cargo.lock
  Cargo.toml
  chain/rpc/Cargo.toml
  chain/rpc/src/client.rs
  chain/rpc/src/errors.rs
  chain/rpc/src/lib.rs
Labels: dependencies, crate:hopr-chain-rpc

#7072 Return only objects from API
  Makefile
  flake.nix
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
  sdk/python/api/hopr.py
  sdk/python/api/pyproject.toml
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/pyproject.toml
  sdk/python/localcluster/snapshot.py
  uv.lock
Labels: toolchain, crate:hoprd-api

#7124 Introduce NAT server functionality
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/config.rs
Labels: dependencies, crate:hoprd, crate:hopr-transport-p2p, crate:hopr-transport, crate:hopr-transport-protocol

#7131 tests: Allow smoke tests to run in parallel
  .github/workflows/tests.yaml
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/constants.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/conftest.py
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_stress.py
  tests/test_win_prob.py
Labels: toolchain, testing

#7133 deps: Fix inconsistent Cargo.lock
  Cargo.lock
Labels: dependencies

#7078 Improve smart contract documentation
  ethereum/README.md
  ethereum/contracts/src/node-stake/permissioned-module/NodeManagementModule.sol
Labels: smart-contracts

#7138 protocol: Bump heartbeat protocol version to disallow connections to previous versions
  Cargo.lock
  transport/p2p/Cargo.toml
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:hopr-transport-p2p

#7144 Fix return-path Session with Loopback
  Cargo.lock
  crypto/types/src/types.rs
  transport/session/Cargo.toml
  transport/session/src/errors.rs
  transport/session/src/initiation.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-crypto-types

#7149 Add binding check ci
  .github/workflows/check-bindings.yaml
Labels: toolchain

#7154 toolchain: Update Rust to 1.87
  Cargo.toml
  flake.lock
  logic/path/src/channel_graph.rs
  rust-toolchain.toml
Labels: dependencies, toolchain, crate:hopr-path

#7157 deps: Remove surf and surf-governor
  Cargo.toml
  hoprd/hoprd/src/main.rs
Labels: dependencies, crate:hoprd

#7092 Fix pluto build
  .github/workflows/merge.yaml
  flake.nix
Labels: toolchain

#7158 Add musl-based static binary builds for supported platforms
  flake.nix
  nix/rust-builder.nix
  nix/rust-package.nix
Labels: toolchain, docker-production-build

#7160 ci: Fix log upload
  .github/workflows/cleanup.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  hopr/hopr-lib/data/protocol-config.json
Labels: toolchain, crate:hopr-lib

#7161 nix: Full reformat according to RFC 166
  flake.nix
  nix/cargo-bench.nix
  nix/ciShell.nix
  nix/ciTestShell.nix
  nix/devShell.nix
  nix/docker-builder.nix
  nix/mkShell.nix
  nix/rust-builder.nix
  nix/rust-package.nix
  nix/testShell.nix
Labels: toolchain

#7111 Avoid adding release-latest tag on PR not target to them
  .github/scripts/.gitignore
  .github/scripts/workflow-stats.sh
  .github/workflows/build-docker.yaml
Labels: toolchain

#7128 Remove Message Inbox and refactor E2E tests using Sessions
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  common/internal-types/src/tickets.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/validation.rs
  ethereum/contracts/contracts-addresses.json
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/example_cfg.yaml
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/config.rs
  hoprd/hoprd/src/main.rs
  hoprd/inbox/.cargo-ok
  hoprd/inbox/.gitignore
  hoprd/inbox/Cargo.toml
  hoprd/inbox/src/config.rs
  hoprd/inbox/src/inbox.rs
  hoprd/inbox/src/lib.rs
  hoprd/inbox/src/ring.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/session.rs
  sdk/python/api/hopr.py
  sdk/python/api/protocol.py
  sdk/python/api/response_objects.py
  sdk/python/localcluster/constants.py
  tests/conftest.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_session.py
  tests/test_win_prob.py
  tests/utils.py
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/protocol/src/lib.rs
  transport/session/src/initiation.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, toolchain, testing, crate:hopr-internal-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hoprd-api, crate:hoprd, smart-contracts, crate:hopr-transport, crate:hopr-transport-protocol

#7163 api: resolve specs warnings
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/account.rs
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/checks.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/network.rs
  hoprd/rest-api/src/node.rs
  hoprd/rest-api/src/peers.rs
  hoprd/rest-api/src/session.rs
  hoprd/rest-api/src/tickets.rs
  hoprd/rest-api/src/types.rs
  hoprd/rest-api/tests/test_openapi_spec_validation.rs
Labels: dependencies, crate:hoprd-api

#7165 Remove aliases and metadata db
  Cargo.lock
  Cargo.toml
  hoprd/db/api/Cargo.toml
  hoprd/db/api/src/aliases.rs
  hoprd/db/api/src/db.rs
  hoprd/db/api/src/errors.rs
  hoprd/db/api/src/lib.rs
  hoprd/db/entity/Cargo.toml
  hoprd/db/entity/build.rs
  hoprd/db/entity/src/codegen/mod.rs
  hoprd/db/entity/src/codegen/sqlite/aliases.rs
  hoprd/db/entity/src/codegen/sqlite/mod.rs
  hoprd/db/entity/src/codegen/sqlite/prelude.rs
  hoprd/db/entity/src/conversions/alias.rs
  hoprd/db/entity/src/conversions/mod.rs
  hoprd/db/entity/src/errors.rs
  hoprd/db/entity/src/lib.rs
  hoprd/db/entity/src/types.rs
  hoprd/db/migration/Cargo.toml
  hoprd/db/migration/README.md
  hoprd/db/migration/src/lib.rs
  hoprd/db/migration/src/m20240814_000001_metadata_create_db.rs
  hoprd/db/migration/src/main.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/lib.rs
  scripts/api.sh
  scripts/local-cluster-hoprd.cfg.yaml
  scripts/setup-local-cluster.sh
  scripts/topologies/full_interconnected_cluster.sh
  sdk/python/api/hopr.py
  sdk/python/api/request_objects.py
  sdk/python/api/response_objects.py
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  tests/conftest.py
  tests/find_port.py
  tests/test_hopli.py
  tests/test_integration.py
  tests/test_redeeming.py
  tests/test_session.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
  tests/utils.py
  uv.lock
Labels: dependencies, toolchain, testing, crate:hoprd-api, crate:hoprd

#7168 session: Add more tracing logs
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/src/session/frame.rs
  common/network-types/src/session/state.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
Labels: dependencies, crate:hopr-transport-protocol

#7169 Remove PeerID from API
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/account.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
  hoprd/rest-api/src/peers.rs
  hoprd/rest-api/src/session.rs
  hoprd/rest-api/src/types.rs
  sdk/python/api/hopr.py
  sdk/python/api/pyproject.toml
  sdk/python/api/response_objects.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/node.py
  tests/test_integration.py
  tests/test_session.py
  tests/test_stress.py
  tests/test_websocket_api.py
  tests/test_win_prob.py
  tests/utils.py
  uv.lock
Labels: dependencies, testing, crate:hoprd-api

#7173 Integrate binding check into Nix checks
  .github/workflows/check-bindings.yaml
  flake.nix
Labels: toolchain

#7176 tests: Fix chain tests in nightly
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/redeem.rs
  chain/indexer/src/block.rs
Labels: dependencies, crate:hopr-chain-indexer, crate:hopr-chain-actions

#7171 Migrate alloy to v1
  Cargo.lock
  Cargo.toml
  Makefile
  chain/actions/src/payload.rs
  chain/indexer/src/handlers.rs
  chain/rpc/src/client.rs
  chain/rpc/src/rpc.rs
  chain/types/src/lib.rs
  chain/types/src/utils.rs
  ethereum/bindings/Cargo.toml
  ethereum/bindings/src/codegen/hoprannouncements.rs
  ethereum/bindings/src/codegen/hoprannouncementsevents.rs
  ethereum/bindings/src/codegen/hoprboost.rs
  ethereum/bindings/src/codegen/hoprcapabilitypermissions.rs
  ethereum/bindings/src/codegen/hoprchannels.rs
  ethereum/bindings/src/codegen/hoprchannelsevents.rs
  ethereum/bindings/src/codegen/hoprcrypto.rs
  ethereum/bindings/src/codegen/hoprdummyproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprledger.rs
  ethereum/bindings/src/codegen/hoprnetworkregistry.rs
  ethereum/bindings/src/codegen/hoprnetworkregistryevents.rs
  ethereum/bindings/src/codegen/hoprnodemanagementmodule.rs
  ethereum/bindings/src/codegen/hoprnodesaferegistry.rs
  ethereum/bindings/src/codegen/hoprnodesaferegistryevents.rs
  ethereum/bindings/src/codegen/hoprnodestakefactory.rs
  ethereum/bindings/src/codegen/hoprnodestakefactoryevents.rs
  ethereum/bindings/src/codegen/hoprsafeproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprstakingproxyfornetworkregistry.rs
  ethereum/bindings/src/codegen/hoprticketpriceoracle.rs
  ethereum/bindings/src/codegen/hoprticketpriceoracleevents.rs
  ethereum/bindings/src/codegen/hoprtoken.rs
  ethereum/bindings/src/codegen/hoprwinningprobabilityoracle.rs
  ethereum/bindings/src/codegen/hoprwinningprobabilityoracleevents.rs
  ethereum/contracts/Makefile
  ethereum/contracts/soldeer.lock
  ethereum/contracts/test/Channels.t.sol
  ethereum/contracts/test/Ledger.t.sol
  ethereum/contracts/test/node-stake/NodeSafeRegistry.t.sol
  ethereum/contracts/test/static/stake/HoprStakeBase.t.sol
  flake.lock
  flake.nix
  hopli/src/environment_config.rs
  hopli/src/methods.rs
  hopli/src/win_prob.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hopr/hopr-lib/tests/common/mod.rs
  justfile
Labels: dependencies, toolchain, effort:medium, crate:hopli, crate:hopr-lib, smart-contracts, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-chain-types, crate:hopr-chain-actions, crate:hopr-bindings

#7180 Fix clippy warnings
  chain/actions/src/channels.rs
  chain/actions/src/node.rs
  chain/actions/src/redeem.rs
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  chain/rpc/src/client.rs
  chain/rpc/src/indexer.rs
  chain/rpc/src/rpc.rs
  common/internal-types/src/tickets.rs
  common/network-types/benches/session.rs
  common/network-types/src/session/protocol.rs
  common/network-types/src/session/state.rs
  common/network-types/src/session/utils.rs
  crypto/packet/benches/packet_benches.rs
  crypto/packet/benches/por_benches.rs
  crypto/packet/src/lib.rs
  crypto/packet/src/packet.rs
  crypto/packet/src/types.rs
  crypto/sphinx/src/derivation.rs
  crypto/sphinx/src/surb.rs
  crypto/types/src/vrf.rs
  db/sql/src/channels.rs
  db/sql/src/peers.rs
  db/sql/src/tickets.rs
  hopli/src/environment_config.rs
  hopli/src/key_pair.rs
  hopli/src/methods.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hopr/hopr-lib/tests/common/mod.rs
  hoprd/keypair/src/key_pair.rs
  hoprd/rest-api/src/node.rs
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_funding.rs
  transport/mixer/src/channel.rs
  transport/ticket-aggregation/src/lib.rs
Labels: crate:hopr-internal-types, crate:hopli, crate:hopr-crypto-sphinx, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:hoprd-api, crate:hoprd-keypair, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-strategy, crate:hopr-chain-actions

#7178 tests: Create assertion out of flaky test
  tests/test_integration.py
Labels: testing

#7188 deps: Update older dependencies
  Cargo.lock
  Cargo.toml
  hoprd/rest-api/Cargo.toml
Labels: dependencies, crate:hoprd-api

#7192 Test PR to check allowance on forked PR
  .github/workflows/audit-pr.yaml
  .github/workflows/build.yaml
  .github/workflows/checks.yaml
  .github/workflows/lint.yaml
Labels: toolchain, DO NOT MERGE

#7183 metrics: Add hopr_last_time and rename hopr_up
  Cargo.lock
  METRICS.md
  deploy/compose/grafana/provisioning/dashboards/hopr/hoprd-grafana-dashboard.json
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/prometheus.rs
Labels: dependencies, crate:hopr-lib, crate:hoprd-api

#7203 Improve the tag organization for v3 packet payload format
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/session_integration_tests.rs
  hoprd/rest-api/src/prometheus.rs
  hoprd/rest-api/src/session.rs
  transport/api/src/lib.rs
  transport/packet/Cargo.toml
  transport/packet/src/errors.rs
  transport/packet/src/lib.rs
  transport/packet/src/v1.rs
  transport/probe/src/probe.rs
  transport/session/Cargo.toml
  transport/session/src/errors.rs
  transport/session/src/initiation.rs
  transport/session/src/lib.rs
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, crate:hopr-lib, crate:hoprd-api, crate:hopr-transport, crate:hopr-transport-packet, crate:hopr-transport-probe, crate:hopr-transport-session

#7167 ci: Add pre build step
  .github/workflows/tests.yaml
Labels: toolchain

#7205 Update renovate.json to group updates
  .github/renovate.json
Labels: toolchain

#7204 Lower the TX transmission timeout
  Cargo.lock
  chain/actions/src/action_queue.rs
  chain/api/Cargo.toml
  chain/api/src/executors.rs
  db/sql/src/logs.rs
Labels: dependencies, crate:hopr-chain-api, crate:hopr-chain-actions, crate:hopr-db-sql
