Repository hoprnet/hoprnet, pull requests merged in 2025-01, with the labels that each got.

#6755 Ensure consistency of the Logs DB
  Cargo.lock
  chain/indexer/src/block.rs
  db/api/Cargo.toml
  db/api/src/errors.rs
  db/api/src/logs.rs
  db/migration/src/lib.rs
  db/migration/src/m20250107_000019_logs_meta_table.rs
  db/sql/Cargo.toml
  db/sql/src/logs.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-db-migration, crate:chain-indexer

#6754 cfg: Cleanup the example configuration
  hoprd/hoprd/example_cfg.yaml
Labels: crate:hoprd

#6753 Add back challenge into the send_message endpoint
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/messages.rs
Labels: bug, dependencies, crate:hoprd-api

#6758 rest-api: Fix recursion in error conversion
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
Labels: dependencies, crate:hoprd-api

#6762 Fix ticket deletion check
  Cargo.lock
  db/sql/Cargo.toml
  db/sql/src/ticket_manager.rs
Labels: dependencies

#6757 Include `apiVersion` into `node/version` endpoint
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/node.rs
Labels: dependencies, crate:hoprd-api

#6770 Fix downloading binary
  scripts/download-workflow-binaries.sh
Labels: toolchain, release, binary:x86_64-linux, binary:aarch64-linux, binary:aarch64-darwin, binary:x86_64-darwin, binary:armv7l-linux

#6778 Open patch 2.2.1
  Cargo.lock
  hopr/hopr-lib/Cargo.toml
Labels: dependencies, crate:hopr-lib

#6765 Cleanup transport crates to create better interfaces and isolate P2P behavior
  Cargo.lock
  Cargo.toml
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  transport/api/Cargo.toml
  transport/api/src/config.rs
  transport/api/src/errors.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/api/src/proxy.rs
  transport/identity/.cargo-ok
  transport/identity/.gitignore
  transport/identity/Cargo.toml
  transport/identity/README.md
  transport/identity/src/errors.rs
  transport/identity/src/lib.rs
  transport/identity/src/multiaddrs.rs
  transport/network/Cargo.toml
  transport/network/src/network.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/behavior/discovery.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/Cargo.toml
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/ack/processor.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/packet.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/src/ticket_aggregation/processor.rs
  transport/protocol/tests/common/mod.rs
  transport/protocol/tests/msg_ack_workflows.rs
  vendor/cargo/bytesize-1.3.0/.cargo-checksum.json
  vendor/cargo/bytesize-1.3.0/Cargo.toml
  vendor/cargo/bytesize-1.3.0/LICENSE
  vendor/cargo/bytesize-1.3.0/README.md
  vendor/cargo/bytesize-1.3.0/src/lib.rs
  vendor/cargo/bytesize-1.3.0/src/parse.rs
  vendor/cargo/serde_repr-0.1.19/.cargo-checksum.json
  vendor/cargo/serde_repr-0.1.19/Cargo.toml
  vendor/cargo/serde_repr-0.1.19/LICENSE-APACHE
  vendor/cargo/serde_repr-0.1.19/LICENSE-MIT
  vendor/cargo/serde_repr-0.1.19/README.md
  vendor/cargo/serde_repr-0.1.19/src/lib.rs
  vendor/cargo/serde_repr-0.1.19/src/parse.rs
  vendor/cargo/serde_repr-0.1.19/tests/compiletest.rs
  vendor/cargo/serde_repr-0.1.19/tests/test.rs
  vendor/cargo/serde_repr-0.1.19/tests/ui/empty_enum.rs
  vendor/cargo/serde_repr-0.1.19/tests/ui/empty_enum.stderr
  vendor/cargo/serde_repr-0.1.19/tests/ui/missing_repr.rs
  vendor/cargo/serde_repr-0.1.19/tests/ui/missing_repr.stderr
  vendor/cargo/serde_repr-0.1.19/tests/ui/multiple_others.rs
  vendor/cargo/serde_repr-0.1.19/tests/ui/multiple_others.stderr
  vendor/cargo/serde_repr-0.1.19/tests/ui/non_unit_variant.rs
  vendor/cargo/serde_repr-0.1.19/tests/ui/non_unit_variant.stderr
  vendor/cargo/serde_repr-0.1.19/tests/ui/not_enum.rs
  vendor/cargo/serde_repr-0.1.19/tests/ui/not_enum.stderr
  vendor/cargo/serde_repr-0.1.19/tests/ui/repr_c.rs
  vendor/cargo/serde_repr-0.1.19/tests/ui/repr_c.stderr
Labels: dependencies, crate:hopr-lib, crate:core-network, crate:core-p2p, crate:core-protocol, crate:core-transport

#6767 Extension alias endpoints to return ETH addresses in addition to PeerIds
  Cargo.lock
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/lib.rs
  sdk/python/api/hopr.py
  sdk/python/api/response_objects.py
  tests/test_integration.py
Labels: dependencies, testing, crate:hoprd-api

#6698 `hoprd` and `hopli` documentation improvements for the `hoprd` v2.2 release
  hopli/README.md
Labels: crate:hopli

#6701 mixer: Improve the throughput, code maintainability and algorithmic logic
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  transport/api/Cargo.toml
  transport/api/src/constants.rs
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/mixer/.cargo-ok
  transport/mixer/.gitignore
  transport/mixer/Cargo.toml
  transport/mixer/benches/mixer_throughput.rs
  transport/mixer/src/channel.rs
  transport/mixer/src/config.rs
  transport/mixer/src/data.rs
  transport/mixer/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/protocol/Cargo.toml
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/mixer.rs
  transport/protocol/src/msg/mod.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/common/mod.rs
Labels: dependencies, crate:core-p2p, crate:core-protocol, crate:core-transport, docker-production-build

#6787 Fix public key prefix bug
  crypto/sphinx/src/routing.rs
  crypto/types/src/keypairs.rs
Labels: crate:hopr-crypto-sphinx, crate:hopr-crypto-types

#6600 Remove API held for backwards compatibility to 2.x branches in peer_id addressing
  hoprd/rest-api/src/alias.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/messages.rs
Labels: crate:hoprd-api

#6565 Remove deprecated WebSocket support for 3.0
  Cargo.lock
  Cargo.toml
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/messages.rs
  hoprd/rest-api/src/preconditions.rs
  tests/test_websocket_api.py
  vendor/cargo/async-broadcast-0.7.1/.cargo-checksum.json
  vendor/cargo/async-broadcast-0.7.1/CHANGELOG.md
  vendor/cargo/async-broadcast-0.7.1/Cargo.toml
  vendor/cargo/async-broadcast-0.7.1/LICENSE-APACHE
  vendor/cargo/async-broadcast-0.7.1/LICENSE-MIT
  vendor/cargo/async-broadcast-0.7.1/README.md
  vendor/cargo/async-broadcast-0.7.1/benches/broadcast_bench.rs
  vendor/cargo/async-broadcast-0.7.1/src/lib.rs
  vendor/cargo/async-broadcast-0.7.1/tests/test.rs
Labels: dependencies, testing, DO NOT MERGE, crate:hoprd-api, crate:hoprd

#6788 Remove RLP from the message encoding
  Cargo.lock
  METRICS.md
  common/primitive-types/Cargo.toml
  common/primitive-types/src/lib.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/messages.rs
Labels: dependencies, crate:hopr-primitive-types, crate:hopr-lib, crate:hoprd-api, crate:hoprd

#6791 Fix network issues
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/peers.rs
  transport/api/Cargo.toml
  transport/api/src/network_notifier.rs
  transport/network/Cargo.toml
  transport/network/src/config.rs
  transport/network/src/constants.rs
  transport/network/src/ping.rs
  transport/protocol/src/heartbeat/config.rs
  transport/protocol/src/lib.rs
Labels: dependencies, crate:core-network, crate:core-protocol, crate:core-transport, crate:hoprd-api, crate:hoprd, package:DAppNodePackage-Hopr

#6793 Fix network issues to accomodate the larger network size (#6791)
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/peers.rs
  transport/api/Cargo.toml
  transport/api/src/network_notifier.rs
  transport/network/Cargo.toml
  transport/network/src/config.rs
  transport/network/src/constants.rs
  transport/network/src/ping.rs
  transport/protocol/src/heartbeat/config.rs
  transport/protocol/src/lib.rs
Labels: dependencies, crate:core-network, crate:core-protocol, crate:core-transport, crate:hoprd-api, crate:hoprd

#6772 Remove the `python-sdk` auto-generation
  .github/workflows/generate-sdk.yaml
  Makefile
  README.md
  scripts/generate-python-sdk.sh
  scripts/python-sdk.patch
Labels: toolchain

#6789 Allow tracking fast-sync progress and Indexer data source
  METRICS.md
  chain/indexer/src/block.rs
Labels: crate:chain-indexer

#6679 Guidelines on how to start a node on rotsee
  deploy/compose/README.md
  deploy/compose/hoprd_data/hoprd.cfg.yaml
  hopli/README.md
Labels: crate:hopli

#6785 Improve config files examples coherency
  README.md
  deploy/compose/hoprd_data/hoprd.cfg.yaml
  hoprd/hoprd/example_cfg.yaml
  sdk/default.cfg.yaml
Labels: crate:hoprd

#6805 Allow high traffic throughput communication for VPN like traffic
  transport/p2p/src/lib.rs
Labels: crate:core-p2p

#6807 Allow dynamic setting of outgoing ticket winning probability
  Cargo.lock
  README.md
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/api/hopr.py
  sdk/python/localcluster/node.py
  transport/protocol/Cargo.toml
  transport/protocol/src/config.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/msg_ack_workflows.rs
Labels: dependencies, status:sprint-backlog, crate:hopr-db-api, crate:hopr-lib, crate:chain-api, crate:chain-rpc, crate:core-protocol, crate:hoprd

#6812 Match actual error message
  hoprd/rest-api/src/checks.rs
Labels: complexity:easy, crate:hoprd-api

#6815 Update libp2p config to account for dufour size and ct requirements
  transport/p2p/src/constants.rs
  transport/p2p/src/swarm.rs
Labels: crate:core-p2p

#6818 Allow manual configuration of the ticket price
  chain/api/src/lib.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  crypto/packet/src/validation.rs
  db/api/src/protocol.rs
  db/sql/src/protocol.rs
  hopr/hopr-lib/src/lib.rs
  transport/api/src/lib.rs
  transport/protocol/src/config.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/msg_ack_workflows.rs
Labels: crate:hopr-db-api, crate:hopr-crypto-packet, crate:hopr-lib, crate:chain-api, crate:chain-rpc, crate:core-protocol, crate:core-transport

#6823 Make auto-path finding quality threshold configurable
  transport/api/src/lib.rs
  transport/network/src/config.rs
Labels: crate:core-network, crate:core-transport

#6820 Fix CI workflow to be able to create/use snapshots
  .github/workflows/tests.yaml
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/localcluster/cluster.py
Labels: toolchain, status:in-review

#6824 Fix CI workflow to be able to create/use snapshots
  .github/workflows/tests.yaml
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
Labels: toolchain

#6825 Use QUIC as a default transport announcement
  hoprd/hoprd/Cargo.toml
Labels: dependencies, crate:hoprd, package:DAppNodePackage-Hopr-testnet, docker-production-build

#6808 Update strategy defaults
  Cargo.lock
  deploy/compose/hoprd_data/hoprd.cfg.yaml
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/channel_finalizer.rs
  logic/strategy/src/lib.rs
  logic/strategy/src/promiscuous.rs
  logic/strategy/src/strategy.rs
Labels: dependencies, crate:core-strategy, crate:hoprd

#6821 Update the default hoprd announce to QUIC and add basic p2p transport integration test for QUIC
  .github/workflows/tests.yaml
  Cargo.lock
  hoprd/hoprd/Cargo.toml
  transport/identity/src/lib.rs
  transport/network/src/ping.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/swarm.rs
  transport/p2p/tests/p2p_transport_test.rs
Labels: dependencies, toolchain, crate:hoprd, crate:hopr-transport-network, crate:hopr-transport-p2p

#6836 Cap on aggregation batch size and fix swarm notifiers
  Cargo.lock
  db/sql/Cargo.toml
  db/sql/src/tickets.rs
  transport/network/Cargo.toml
  transport/network/src/ping.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/swarm.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/ticket_aggregation/processor.rs
Labels: dependencies, crate:core-network, crate:core-p2p, crate:core-protocol
