Repository hoprnet/hoprnet, pull requests merged in 2025-09, with the labels that each got.

#7432 fix: use faster ECDSA/ECDH library for secp256k1
  Cargo.lock
  common/internal-types/src/tickets.rs
  crypto/packet/benches/packet_benches.rs
  crypto/packet/benches/por_benches.rs
  crypto/types/Cargo.toml
  crypto/types/benches/lioness_bench.rs
  crypto/types/benches/signature_bench.rs
  crypto/types/benches/vrf_bench.rs
  crypto/types/src/signing.rs
  crypto/types/src/types.rs
  crypto/types/src/utils.rs
  crypto/types/src/vrf.rs
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  db/sql/src/protocol.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hopr-db-sql

#7440 fix: cache PeerId -> OffchainPublicKey conversion inside the packet pipeline
  Cargo.lock
  crypto/types/Cargo.toml
  crypto/types/benches/pubkey_bench.rs
  crypto/types/src/seal.rs
  crypto/types/src/types.rs
  db/api/src/peers.rs
  db/sql/src/peers.rs
  hopli/src/identity.rs
  hopr/hopr-lib/Cargo.toml
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/exit.rs
  logic/strategy/src/promiscuous.rs
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/api/src/network_notifier.rs
  transport/probe/Cargo.toml
  transport/probe/src/probe.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
  transport/protocol/src/processor.rs
  transport/ticket-aggregation/Cargo.toml
  transport/ticket-aggregation/src/lib.rs
Labels: dependencies, crate:hopli, crate:hopr-db-api, crate:hopr-crypto-types, crate:hopr-lib, crate:hoprd, crate:hopr-transport, crate:hopr-transport-protocol, crate:hopr-strategy, crate:hopr-db-sql, crate:hopr-transport-probe, crate:hopr-transport-ticket-aggregation

#7453 fix: end correctly the socket and processes once the entire UDP connection is dropped
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/src/udp.rs
  transport/session/src/manager.rs
Labels: dependencies

#7447 chore(deps): update github workflow actions
  .github/workflows/bencher.yaml
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/cache-deps.yaml
  .github/workflows/checks-audit.yaml
  .github/workflows/checks-lint.yaml
  .github/workflows/checks-pre-commit.yaml
  .github/workflows/checks-zizmor.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/create-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-pr.yaml
  .github/workflows/open-release.yaml
  .github/workflows/package.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  Cargo.lock
  flake.lock
Labels: dependencies, toolchain

#7458 feat(hoprd): Switch to mimalloc as default allocator
  Cargo.lock
  Cargo.toml
  crypto/packet/Cargo.toml
  crypto/packet/benches/packet_benches.rs
  crypto/packet/benches/por_benches.rs
  crypto/packet/benches/validation_bench.rs
  crypto/types/Cargo.toml
  crypto/types/benches/lioness_bench.rs
  crypto/types/benches/pubkey_bench.rs
  crypto/types/benches/signature_bench.rs
  crypto/types/benches/vrf_bench.rs
  flake.nix
  hopli/Cargo.toml
  hopli/src/main.rs
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
  nix/cargo-bench.nix
  nix/rust-package.nix
  protocols/session/Cargo.toml
  protocols/session/benches/socket_bench.rs
  transport/session/Cargo.toml
  transport/session/benches/session_bench.rs
Labels: dependencies, toolchain, crate:hopli, crate:hopr-crypto-types, crate:hopr-crypto-packet, crate:hoprd-api, crate:hoprd, crate:hopr-transport-session

#7462 fix: add missing columns to the NetworkPeer table
  Cargo.lock
  db/migration/Cargo.toml
  db/migration/src/lib.rs
  db/migration/src/m20250909_000031_peer_store_add_indices.rs
  db/sql/src/peers.rs
  transport/api/Cargo.toml
  transport/api/src/network_notifier.rs
  transport/network/Cargo.toml
  transport/network/src/network.rs
Labels: dependencies, crate:hopr-db-migration

#7446 refactor: Use `docker-builder.nix` for pluto and consecutive API ports
  .github/workflows/build-docker.yaml
  .gitignore
  flake.nix
  nix/docker-builder.nix
  scripts/run-local-cluster.sh
  sdk/python/api/hopr.py
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/constants.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/test_session.py
  tests/test_stress.py
  transport/p2p/src/constants.rs
  uv.lock
Labels: toolchain, crate:hopr-transport-p2p

#7479 chore(deps): update 20250915
  .github/workflows/bencher.yaml
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/cache-deps.yaml
  .github/workflows/checks-audit.yaml
  .github/workflows/checks-lint.yaml
  .github/workflows/checks-pre-commit.yaml
  .github/workflows/checks-zizmor.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/create-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-pr.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  Cargo.lock
  Cargo.toml
  flake.lock
  hoprd/hoprd/Cargo.toml
  hoprd/rest-api/Cargo.toml
  protocols/app/Cargo.toml
  pyproject.toml
  sdk/python/api/pyproject.toml
  transport/bloom/Cargo.toml
  uv.lock
Labels: dependencies, toolchain, crate:hoprd-api, crate:hoprd, crate:hopr-transport-bloom

#7492 fix(api): update schema value types for max_surb_upstream and response buffer
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/session.rs
Labels: crate:hoprd-api

#7495 feat: add chain operations traits into the new hopr-traits crate
  Cargo.lock
  Cargo.toml
  common/api/Cargo.toml
  common/api/src/chain/accounts.rs
  common/api/src/chain/channels.rs
  common/api/src/chain/keys.rs
  common/api/src/chain/misc.rs
  common/api/src/chain/mod.rs
  common/api/src/chain/tickets.rs
  common/api/src/lib.rs
Labels: dependencies

#7499 fix(chain): Adjust request timeout
  Cargo.lock
  Cargo.toml
  chain/api/Cargo.toml
  chain/api/src/executors.rs
  chain/rpc/src/rpc.rs
Labels: dependencies, crate:hopr-chain-api

#7511 fix: redemption on winning
  Cargo.lock
  logic/strategy/Cargo.toml
  logic/strategy/src/auto_redeeming.rs
Labels: dependencies, crate:hopr-strategy

#7503 fix: update default AutoRedeeming strategy config
  deploy/compose/hoprd/conf/hoprd.cfg.yaml
  deploy/nfpm/hoprd-sample.cfg.yaml
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/src/auto_redeeming.rs
  logic/strategy/src/lib.rs
  sdk/default.cfg.yaml
Labels: crate:hoprd, crate:hopr-strategy

#7519 fix: rejected ticket metric
  Cargo.lock
  db/sql/Cargo.toml
  db/sql/src/tickets.rs
  tests/test_win_prob.py
Labels: dependencies, bugfix, crate:hopr-db-sql

#7527 feat(chain-config): Add non-version-checked constructor
  Cargo.lock
  hopr/chain-config/Cargo.toml
  hopr/chain-config/src/lib.rs
Labels: dependencies

#7521 chore(deps): update Rust, crate dependencies and the flake.lock
  Cargo.lock
  Cargo.toml
  chain/indexer/Cargo.toml
  chain/indexer/src/snapshot/download.rs
  common/primitive-types/Cargo.toml
  common/primitive-types/src/traits.rs
  flake.lock
  rust-toolchain.toml
Labels: dependencies, toolchain, crate:hopr-primitive-types, crate:hopr-chain-indexer
