Repository hoprnet/hoprnet, pull requests merged in 2025-07, with the labels that each got.

#7280 feat(ci): add pre-commit checks
  .github/workflows/checks-pre-commit.yaml
  .github/workflows/checks.yaml
Labels: toolchain

#7277 feat(ci): Add package support to archlinux variant
  .github/workflows/bencher.yaml
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build.yaml
  .github/workflows/close-release.yaml
  .github/workflows/merge.yaml
  .github/workflows/package.yaml
  Cargo.lock
  README.md
  deploy/compose/prometheus/metricspusher.sh
  deploy/nfpm/README.md
  deploy/nfpm/hoprd.initd
  deploy/nfpm/install-hoprd-package.sh
  deploy/nfpm/nfpm.yaml
  deploy/nfpm/package-post-install.sh
  deploy/nfpm/test-package-tool.sh
  hopr/hopr-lib/Cargo.toml
  justfile
  scripts/notify-matrix.sh
Labels: dependencies, crate:hopr-lib

#7291 feat: add Wireshark dissector and custom capture format
  .github/workflows/build-docker.yaml
  Cargo.lock
  README.md
  db/api/src/protocol.rs
  flake.nix
  hopr/hopr-lib/Cargo.toml
  hoprd/hoprd/Cargo.toml
  transport/api/Cargo.toml
  transport/mixer/src/channel.rs
  transport/probe/Cargo.toml
  transport/probe/src/content.rs
  transport/probe/src/probe.rs
  transport/protocol/Cargo.toml
  transport/protocol/hopr.lua
  transport/protocol/src/capture.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/processor.rs
Labels: dependencies, crate:hopr-db-api, crate:hopr-transport-protocol, crate:hopr-transport-mixer, docker-profile-build

#7298 Testing MacOs packaging
  .github/workflows/build-binaries.yaml
  .github/workflows/create-release.yaml
Labels: binary:x86_64-linux, binary:aarch64-darwin, binary:x86_64-darwin

#7312 Close release 3.0.0-rc.1
  .github/workflows/bencher-nightly.disabled
  .github/workflows/close-release.yaml
  .github/workflows/open-release.yaml
  .github/workflows/publish-release.yaml
  README.md
  docs/changelog/changelog-3.0.0-rc.1.md
  releases.json
Labels: release, documentation, binary:x86_64-linux, binary:aarch64-darwin, binary:x86_64-darwin

#7315 ci: Add pluto build flag
  .github/workflows/build-docker.yaml
Labels: toolchain

#7317 fix: Using wrong branch when creating release
  .github/workflows/create-release.yaml
  scripts/download-workflow-binaries.sh
Labels: toolchain

#7318 ci: Close release 3.0.0-rc.1
  docs/changelog/changelog-3.0.0-rc.1.md
Labels: release, documentation, binary:x86_64-linux, binary:aarch64-darwin, binary:x86_64-darwin

#7320 feat: add configurable limits for transport packet handling and stream open timeout
  Cargo.lock
  README.md
  transport/protocol/Cargo.toml
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-protocol

#7319 fix: Fixing different bugs on create release
  .github/workflows/create-release.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  docs/changelog/changelog-3.0.0-rc.1.md
Labels: toolchain, release, binary:x86_64-linux, binary:aarch64-linux, binary:aarch64-darwin, binary:x86_64-darwin

#7273 chore(deps): Bi-weekly update 20250701
  .github/renovate.json
  .github/workflows/bencher.yaml
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/cache-deps.yaml
  .github/workflows/checks-audit.yaml
  .github/workflows/checks-lint.yaml
  .github/workflows/checks-pre-commit.yaml
  .github/workflows/checks-zizmor.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/create-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-pr.yaml
  .github/workflows/open-release.yaml
  .github/workflows/package.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  Cargo.lock
  Cargo.toml
  chain/api/src/config.rs
  chain/api/src/lib.rs
  chain/indexer/src/handlers.rs
  chain/types/src/chain_events.rs
  chain/types/src/utils.rs
  common/network-types/Cargo.toml
  common/network-types/src/session/state.rs
  common/network-types/src/types.rs
  common/primitive-types/src/balance.rs
  flake.lock
  hopli/src/faucet.rs
  hopli/src/identity.rs
  hopli/src/key_pair.rs
  hopli/src/methods.rs
  hopli/src/network_registry.rs
  hopli/src/safe_module.rs
  hopli/src/win_prob.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/main.rs
  hoprd/keypair/src/key_pair.rs
  hoprd/rest-api/src/middleware/preconditions.rs
  logic/path/src/selectors/dfs.rs
  misc/platform/src/file.rs
  pyproject.toml
  rust-toolchain.toml
  sdk/python/api/pyproject.toml
  transport/protocol/tests/common/mod.rs
  transport/session/src/balancer/rate_limiting.rs
  transport/session/src/initiation.rs
  transport/session/src/manager.rs
Labels: dependencies, toolchain, crate:hopr-primitive-types, crate:hopli, crate:hopr-lib, crate:hoprd-api, crate:hoprd, crate:hoprd-keypair, crate:hopr-platform, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-transport-protocol, crate:hopr-chain-types, crate:hopr-path, crate:hopr-transport-session

#7324 fix: Incorrect coderabbit suggestion on #7322
  docs/changelog/changelog-3.0.0-rc.1.md
  scripts/download-workflow-binaries.sh
Labels: toolchain, release, documentation, binary:x86_64-linux, binary:aarch64-linux, binary:aarch64-darwin, binary:x86_64-darwin

#7326 fix(localcluster): update python deps to make local cluster work again
  pyproject.toml
  uv.lock
Labels: dependencies

#7327 feat: allow pcap upload in workflows
  .github/workflows/tests.yaml
  hoprd/hoprd/example_cfg.yaml
Labels: toolchain, crate:hoprd

#7336 fix: increase reply opener cache timeout and enforce the maximum session limit
  .envrc
  Cargo.lock
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  nix/mkShell.nix
  transport/api/src/lib.rs
  transport/session/Cargo.toml
  transport/session/src/errors.rs
  transport/session/src/manager.rs
Labels: dependencies, crate:hopr-transport, crate:hopr-db-sql, crate:hopr-transport-session

#7335 fix: improve messages metrics
  Cargo.lock
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
Labels: dependencies, crate:hopr-transport-protocol

#7333 feat: Add signature and hash to linux packages
  .github/workflows/build-binaries.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build.yaml
  .github/workflows/create-release.yaml
  .github/workflows/package.yaml
  .github/workflows/tests.yaml
  deploy/nfpm/README.md
  deploy/nfpm/nfpm.yaml
  deploy/nfpm/package-post-install.sh
  flake.nix
  justfile
  scripts/download-workflow-binaries.sh
Labels: toolchain

#7346 fix(hopr-lib): decrease the amount of connections to 1 on the index db
  db/sql/Cargo.toml
  db/sql/src/db.rs
Labels: docker-production-build, crate:hopr-db-sql

#7308 refactor: Canonize openapi.json spec output
  Cargo.lock
  README.md
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
  sdk/python/api/hopr.py
  tests/test_integration.py
Labels: dependencies, testing, crate:hoprd-api

#7296 feat(hopr-lib): add corrupted state to channels
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/handlers.rs
  common/internal-types/Cargo.toml
  common/internal-types/src/channels.rs
  db/entity/Cargo.toml
  db/entity/src/conversions/channels.rs
  db/entity/src/errors.rs
  db/migration/Cargo.toml
  db/migration/src/lib.rs
  db/migration/src/m20250709_000029_channels_add_corrupted_state.rs
  db/sql/src/channels.rs
  db/sql/src/errors.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/src/channels.rs
  hoprd/rest-api/src/lib.rs
  hoprd/rest-api/src/node.rs
  logic/path/Cargo.toml
  logic/path/src/selectors/dfs.rs
  logic/path/src/selectors/mod.rs
  transport/api/Cargo.toml
  transport/api/src/helpers.rs
Labels: dependencies, crate:hopr-internal-types, crate:hopr-db-entity, crate:hopr-db-migration, crate:hopr-lib, crate:hoprd-api, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-transport, crate:hopr-path, crate:hopr-db-sql

#7357 feat: add number of surbs into the dissector
  common/network-types/src/types.rs
  transport/protocol/hopr.lua
  transport/protocol/src/capture.rs
  transport/protocol/src/lib.rs
Labels: crate:hopr-transport-protocol

#7361 fix: remove ticket manager db connection per-packet
  Cargo.lock
  common/internal-types/src/tickets.rs
  crypto/packet/src/por.rs
  crypto/packet/src/validation.rs
  db/sql/Cargo.toml
  db/sql/src/accounts.rs
  db/sql/src/channels.rs
  db/sql/src/info.rs
  db/sql/src/protocol.rs
  db/sql/src/ticket_manager.rs
  transport/protocol/src/lib.rs
Labels: crate:hopr-internal-types, crate:hopr-crypto-packet, crate:hopr-transport-protocol, crate:hopr-db-sql

#7363 fix: allow multi-layered reply openers
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  db/sql/src/protocol.rs
  transport/probe/src/probe.rs
Labels: dependencies, crate:hopr-db-sql, crate:hopr-transport-probe

#7365 feat(nix): Add capture-enabled binaries
  README.md
  flake.nix
Labels: toolchain

#7366 fix(chain): Raise error on reverted transactions
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/executors.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/errors.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  hopr/hopr-lib/src/lib.rs
Labels: dependencies, crate:hopr-lib, crate:hopr-chain-api, crate:hopr-chain-rpc
