Repository hoprnet/hoprnet, pull requests merged in 2025-06, with the labels that each got.

#7208 api: Fix CORS layer in checks
  hoprd/rest-api/src/lib.rs
Labels: crate:hoprd-api, bugfix, docker-production-build

#7218 Fix merge workflow by casting variables into numbers
  .github/workflows/merge.yaml
Labels: toolchain

#7209 v3: Improvements from testing sessions
  Cargo.lock
  sdk/python/localcluster/node.py
  tests/test_win_prob.py
  transport/api/src/constants.rs
  transport/api/src/lib.rs
  transport/api/src/network_notifier.rs
  transport/network/src/config.rs
  transport/network/src/network.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/behavior/discovery.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/probe/src/ping.rs
  transport/probe/src/probe.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/stream.rs
Labels: dependencies, testing, docker-production-build, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-transport, crate:hopr-transport-protocol, crate:hopr-transport-probe

#7247 feat(runtime): make spawned tasks abortable through futures mechanism
  Cargo.lock
  chain/api/Cargo.toml
  chain/api/src/lib.rs
  chain/indexer/src/block.rs
  common/async-runtime/Cargo.toml
  common/async-runtime/src/lib.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/session.rs
  transport/api/Cargo.toml
  transport/api/src/lib.rs
  transport/probe/Cargo.toml
  transport/probe/src/probe.rs
  transport/protocol/Cargo.toml
  transport/protocol/src/lib.rs
  transport/session/Cargo.toml
  transport/session/src/manager.rs
Labels: dependencies, crate:hopr-lib, crate:hoprd-api, crate:hoprd, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-transport, crate:hopr-transport-protocol, crate:hopr-transport-probe, crate:hopr-transport-session

#7213 refactor(hopr-lib): Reduce required on-chain logs in the indexer (revisited)
  Cargo.lock
  chain/actions/Cargo.toml
  chain/actions/src/action_state.rs
  chain/api/src/lib.rs
  chain/indexer/Cargo.toml
  chain/indexer/src/block.rs
  chain/indexer/src/constants.rs
  chain/indexer/src/handlers.rs
  chain/indexer/src/traits.rs
  chain/rpc/Cargo.toml
  chain/rpc/src/indexer.rs
  chain/rpc/src/lib.rs
  chain/rpc/src/rpc.rs
  chain/types/src/lib.rs
  db/migration/Cargo.toml
  db/migration/src/lib.rs
  db/migration/src/m20250603_000024_index_reset.rs
  db/migration/src/m20250603_000025_peers_reset.rs
  db/migration/src/m20250603_000026_logs_reset.rs
  db/migration/src/m20250604_000027_index_initial_seed.rs
  db/sql/Cargo.toml
  db/sql/src/cache.rs
  ethereum/contracts/script/DeployAll.s.sol
  ethereum/contracts/test/scripts/DeployAll.t.sol
  ethereum/contracts/test/scripts/DeployNodeManagement.t.sol
  hopli/src/methods.rs
  hopli/src/network_registry.rs
  hopr/hopr-lib/src/lib.rs
  hopr/hopr-lib/tests/chain_integration_tests.rs
  hoprd/hoprd/src/main.rs
  hoprd/rest-api/src/session.rs
  logic/strategy/src/aggregating.rs
  scripts/run-local-anvil.sh
  sdk/python/localcluster/anvil.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  sdk/python/localcluster/snapshot.py
  tests/test_win_prob.py
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
  transport/api/src/network_notifier.rs
  transport/bloom/src/persistent.rs
  uv.lock
Labels: dependencies, toolchain, testing, crate:hopli, crate:hopr-db-migration, crate:hopr-lib, crate:hoprd-api, crate:hoprd, smart-contracts, docker-production-build, crate:hopr-chain-api, crate:hopr-chain-indexer, crate:hopr-chain-rpc, crate:hopr-transport, crate:hopr-strategy, crate:hopr-chain-types, crate:hopr-chain-actions, crate:hopr-db-sql, crate:hopr-transport-bloom

#7254 fix(indexer): key-binding errors
  chain/indexer/src/handlers.rs
  db/sql/src/accounts.rs
  db/sql/src/cache.rs
Labels: crate:hopr-chain-indexer, crate:hopr-db-sql

#7007 feat(ci): Use a commit github action
  .github/workflows/latexcompile.yaml
  scripts/commit-and-push-all-changes.sh
Labels: toolchain

#7258 feat(hoprd): introduce Session pooling at the API
  Cargo.lock
  hopr/hopr-lib/src/lib.rs
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/session.rs
  transport/api/src/lib.rs
  transport/session/Cargo.toml
  transport/session/src/errors.rs
  transport/session/src/manager.rs
Labels: dependencies, crate:hopr-lib, crate:hoprd-api, crate:hopr-transport, crate:hopr-transport-session

#7264 fix(hopr-lib): Include Network Registry status in peer discovery announce
  hopr/hopr-lib/src/lib.rs
  scripts/protocol-config-anvil.json
  sdk/python/localcluster/main_process.py
  transport/api/src/lib.rs
  transport/p2p/src/behavior/discovery.rs
Labels: toolchain, crate:hopr-lib, crate:hopr-transport-p2p, crate:hopr-transport

#7268 fix(hopr-lib): Cherry pick fixes for localcluster connectivity
  hopr/hopr-lib/src/lib.rs
  scripts/protocol-config-anvil.json
  sdk/python/localcluster/main_process.py
  transport/api/src/lib.rs
  transport/p2p/src/behavior/discovery.rs
  transport/probe/src/probe.rs
  transport/protocol/src/stream.rs
Labels: toolchain, crate:hopr-lib, bugfix, crate:hopr-transport-p2p, crate:hopr-transport, crate:hopr-transport-protocol, crate:hopr-transport-probe

#7275 Fix content permissions on checks
  .github/workflows/checks.yaml
Labels: toolchain

#7270 feat(ci): enable a fast cidevshell build
  flake.nix
Labels: toolchain

#7276 fix(ci): Fixing merge pipeline
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/cache-deps.yaml
  .github/workflows/checks-audit.yaml
  .github/workflows/checks-lint.yaml
  .github/workflows/checks-zizmor.yaml
  .github/workflows/checks.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-pr.yaml
  .github/workflows/tests.yaml
Labels: toolchain
