Repository hoprnet/hoprnet, pull requests merged in 2025-02, with the labels that each got.

#6838 Fix hopr_session_num_active_sessions metric
  Cargo.lock
  METRICS.md
  transport/session/Cargo.toml
  transport/session/src/manager.rs
Labels: dependencies

#6841 Fix winning probability comparison when preparing ticket aggregation
  Cargo.lock
  common/internal-types/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/tickets.rs
Labels: dependencies, crate:hopr-internal-types, docker-production-build

#6843 Change the ticket aggregation batch size to 500
  db/sql/src/tickets.rs
Labels: docker-production-build

#6848 Lower the frame expiration age
  transport/session/src/types.rs
Labels: docker-production-build

#6849 Remove chain head query from fast-sync
  chain/indexer/src/block.rs
Labels: crate:chain-indexer, docker-production-build

#6842 Fix check eligibility
  chain/rpc/src/rpc.rs
  chain/types/src/lib.rs
  chain/types/src/utils.rs
  hoprd/rest-api/src/checks.rs
Labels: crate:chain-rpc, crate:chain-types, crate:hoprd-api

#6855 Adjust default maximum mixer delay
  README.md
  chain/rpc/src/rpc.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/mixer.rs
  transport/protocol/src/msg/processor.rs
  transport/protocol/tests/msg_ack_workflows.rs
Labels: crate:chain-rpc, crate:core-protocol, docker-production-build

#6854 Make the allowlist of Session targets empty in default configs
  deploy/compose/hoprd_data/hoprd.cfg.yaml
  hoprd/hoprd/example_cfg.yaml
  hoprd/hoprd/src/config.rs
  hoprd/hoprd/src/exit.rs
  hoprd/hoprd/src/main.rs
  logic/strategy/src/channel_finalizer.rs
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
Labels: crate:core-strategy, crate:hoprd

#6853 gha: Fix merge workflow to not run on closed
  .github/workflows/merge.yaml
Labels: toolchain

#6859 Forward ports of 2.2.2 changes to master
  .github/workflows/merge.yaml
  Cargo.lock
  METRICS.md
  chain/indexer/src/block.rs
  common/internal-types/src/tickets.rs
  db/sql/Cargo.toml
  db/sql/src/tickets.rs
  deploy/compose/docker-compose.yml
  deploy/compose/hoprd_data/hoprd.cfg.yaml
  hoprd/hoprd/example_cfg.yaml
  hoprd/hoprd/src/config.rs
  hoprd/hoprd/src/exit.rs
  hoprd/hoprd/src/main.rs
  logic/strategy/src/channel_finalizer.rs
  sdk/barebone-lower-win-prob.cfg.yaml
  sdk/barebone.cfg.yaml
  sdk/default.cfg.yaml
  transport/network/Cargo.toml
  transport/network/src/ping.rs
  transport/p2p/src/swarm.rs
  transport/protocol/src/ticket_aggregation/processor.rs
  transport/session/Cargo.toml
  transport/session/src/manager.rs
  transport/session/src/types.rs
Labels: dependencies, toolchain, crate:hopr-internal-types, crate:hoprd, crate:hopr-transport-network, crate:hopr-transport-p2p, crate:hopr-chain-indexer, crate:hopr-transport-protocol, crate:hopr-strategy

#6858 Path selector refactoring
  Cargo.lock
  logic/path/Cargo.toml
  logic/path/src/selectors/dfs.rs
  logic/path/src/selectors/mod.rs
  transport/api/Cargo.toml
  transport/api/src/helpers.rs
  transport/api/src/lib.rs
Labels: dependencies, crate:core-transport, crate:core-path

#6862 Fix debug/prod docker build pipeline
  .github/workflows/build-binaries.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
  Cargo.lock
  chain/rpc/src/client.rs
  ethereum/bindings/build.rs
  flake.lock
  flake.nix
  hoprd/hoprd/Cargo.toml
  nix/rust-builder.nix
  nix/rust-package.nix
  nix/shell.nix
  scripts/bump-version.sh
Labels: dependencies, toolchain, crate:chain-rpc, crate:hoprd, crate:bindings

#6867 strategy: Improve ticket aggregation defaults, config validation and logging
  db/sql/src/tickets.rs
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/aggregating.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:core-strategy, crate:core-p2p, crate:hoprd, package:DAppNodePackage-Hopr, docker-production-build

#6872 Set the aggregation ticket threshold to the middle of configuration range
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/src/aggregating.rs
Labels: crate:core-strategy, crate:hoprd

#6873 Fix the cache cleaning of multiaddresses on peer dial
  Cargo.lock
  transport/p2p/Cargo.toml
  transport/p2p/src/behavior/discovery.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
Labels: dependencies, DO NOT MERGE, crate:core-p2p, package:DAppNodePackage-Hopr, docker-production-build

#6875 swarm: Add network info logs
  Cargo.lock
  transport/p2p/Cargo.toml
  transport/p2p/src/swarm.rs
Labels: dependencies, crate:core-p2p

#6876 Port fix check eligibility
  chain/rpc/src/rpc.rs
  chain/types/src/lib.rs
  chain/types/src/utils.rs
  hoprd/rest-api/src/checks.rs
  logic/strategy/src/channel_finalizer.rs
Labels: crate:hoprd-api, crate:hopr-chain-rpc, crate:hopr-strategy, crate:hopr-chain-types

#6882 db: Add more indices
  db/migration/src/lib.rs
  db/migration/src/m20250219_000020_logs_add_index.rs
  db/migration/src/m20250219_000021_channels_add_index.rs
  db/sql/src/logs.rs
Labels: crate:hopr-db-migration, docker-production-build

#6884 docker: Fix entrypoint script
  flake.nix
Labels: toolchain, docker-production-build

#6885 Updates to Promiscuous strategy
  Cargo.lock
  chain/actions/src/channels.rs
  db/sql/src/channels.rs
  logic/strategy/Cargo.toml
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:core-strategy, crate:chain-actions

#6890 Update the flake and rust
  README.md
  chain/indexer/src/block.rs
  common/internal-types/src/protocol.rs
  common/internal-types/src/tickets.rs
  common/network-types/src/session/frame.rs
  common/network-types/src/session/protocol.rs
  common/network-types/src/session/state.rs
  common/primitive-types/src/primitives.rs
  db/sql/src/accounts.rs
  db/sql/src/channels.rs
  db/sql/src/db.rs
  db/sql/src/logs.rs
  db/sql/src/resolver.rs
  db/sql/src/ticket_manager.rs
  db/sql/src/tickets.rs
  flake.lock
  flake.nix
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/src/cli.rs
  hoprd/hoprd/src/lib.rs
  rust-toolchain.toml
Labels: toolchain, crate:hopr-internal-types, crate:hopr-primitive-types, crate:hopr-lib, crate:hoprd, crate:hopr-chain-indexer

#6891 Remove multiaddress drop on request response
  vendor/cargo/libp2p-swarm-0.46.0/.cargo-checksum.json
  vendor/cargo/libp2p-swarm-0.46.0/src/behaviour/peer_addresses.rs
Labels: dependencies

#6889 Improve channel graph node scoring
  Cargo.lock
  common/primitive-types/Cargo.toml
  common/primitive-types/src/sma.rs
  crypto/packet/src/chain.rs
  hopr/hopr-lib/src/constants.rs
  hopr/hopr-lib/src/lib.rs
  hoprd/hoprd/example_cfg.yaml
  hoprd/rest-api/Cargo.toml
  hoprd/rest-api/src/node.rs
  logic/path/Cargo.toml
  logic/path/src/channel_graph.rs
  logic/path/src/path.rs
  logic/path/src/selectors/dfs.rs
  transport/api/src/lib.rs
  transport/api/src/network_notifier.rs
  transport/network/src/config.rs
  transport/protocol/tests/msg_ack_workflows.rs
Labels: dependencies, crate:hopr-primitive-types, crate:hopr-crypto-packet, crate:hopr-lib, crate:core-network, crate:core-protocol, crate:core-transport, crate:core-path, crate:hoprd-api, crate:hoprd

#6892 Update defaults of Promiscuous strategy
  Cargo.lock
  logic/strategy/Cargo.toml
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:core-strategy

#6887 Delete closed foreign channels from the database
  Cargo.lock
  chain/indexer/Cargo.toml
  chain/indexer/src/handlers.rs
  common/internal-types/src/channels.rs
  db/sql/Cargo.toml
  db/sql/src/channels.rs
Labels: dependencies, crate:hopr-internal-types, crate:chain-indexer

#6895 Fix incorrectly filtered out offline peers and other tweaks in Promiscuous strategy defaults
  Cargo.lock
  hoprd/hoprd/example_cfg.yaml
  logic/strategy/Cargo.toml
  logic/strategy/src/auto_funding.rs
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:core-strategy, crate:hoprd

#6898 Add initial delay and improve peer pings handling in strategy
  Cargo.lock
  logic/strategy/Cargo.toml
  logic/strategy/src/promiscuous.rs
Labels: dependencies, crate:core-strategy, docker-production-build

#6903 ci: Fix renovate
  .github/renovate.json
Labels: toolchain
