Repository hoprnet/hoprnet, pull requests merged in 2025-04, with the labels that each got.

#6928 Add support for libp2p_stream into the swarm object
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  README.md
  transport/api/Cargo.toml
  transport/api/src/constants.rs
  transport/api/src/lib.rs
  transport/p2p/Cargo.toml
  transport/p2p/src/constants.rs
  transport/p2p/src/lib.rs
  transport/p2p/src/swarm.rs
  transport/p2p/tests/p2p_transport_test.rs
  transport/protocol/Cargo.toml
  transport/protocol/benches/protocol_throughput_emulated.rs
  transport/protocol/src/ack/codec.rs
  transport/protocol/src/ack/mod.rs
  transport/protocol/src/lib.rs
  transport/protocol/src/msg/codec.rs
  transport/protocol/src/msg/mod.rs
  transport/protocol/src/stream.rs
Labels: dependencies, crate:hopr-transport-p2p, crate:hopr-transport, crate:hopr-transport-protocol

#6929 Follow Prometheus metrics naming convention
  METRICS.md
  chain/indexer/src/handlers.rs
  transport/session/src/manager.rs
Labels: crate:hopr-chain-indexer

#6950 [StepSecurity] ci: Harden GitHub Actions
  .github/workflows/build-binaries.yaml
  .github/workflows/build-dappnode.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build.yaml
  .github/workflows/clean-pr.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/close-release.yaml
  .github/workflows/deploy-nodes.yaml
  .github/workflows/generate-dappnode-pr.yaml
  .github/workflows/k8s.yaml
  .github/workflows/latexcompile.yaml
  .github/workflows/lint.yaml
  .github/workflows/load-tests.yaml
  .github/workflows/merge.yaml
  .github/workflows/open-release.yaml
  .github/workflows/promote-release.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-flake-lock.yaml
  .github/workflows/zizmor.yaml
Labels: toolchain

#7000 ci: Fix flake lock action
  .github/workflows/update-flake-lock.yaml
Labels: toolchain

#6902 ci: Cache used cargo packages in a crates.io proxy
  .github/workflows/build-binaries.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/cache-deps.yaml
  .github/workflows/merge.yaml
  .github/workflows/renovate-cargo-update.yaml
  flake.lock
Labels: toolchain

#7004 Fix missing schema definition in the REST API
  Cargo.lock
  hoprd/rest-api/src/lib.rs
Labels: dependencies, crate:hoprd-api

#6972 Add Auditing code
  .github/workflows/audit-pr.yaml
  .github/workflows/build.yaml
  Cargo.lock
  flake.nix
  hoprd/hoprd/Cargo.toml
  nix/shell.nix
Labels: dependencies, toolchain, crate:hoprd

#7006 ci: Update the `cache-deps` naming convention
  .github/workflows/cache-deps.yaml
Labels: toolchain

#6998 Add Bencher pipeline
  .github/workflows/bencher.yaml
  .github/workflows/merge.yaml
  .github/workflows/tests.yaml
  .github/workflows/zizmor.yaml
Labels: toolchain

#7008 ci: Remove the remnant after physical vendoring inside the repo
  .github/workflows/renovate-cargo-update.yaml
Labels: toolchain

#6979 Backport python tests and expose cluster to local network
  .gitignore
  Makefile
  flake.nix
  scripts/run-local-cluster.sh
  sdk/python/api/hopr.py
  sdk/python/localcluster.params.yml
  sdk/python/localcluster/__main__.py
  sdk/python/localcluster/cluster.py
  sdk/python/localcluster/main_process.py
  sdk/python/localcluster/node.py
  tests/test_integration.py
  tests/test_rest_api.py
Labels: toolchain, testing

#7017 deps: Update dependencies 20250409
  Cargo.lock
  Cargo.toml
  hoprd/hoprd/Cargo.toml
  hoprd/hoprd/src/main.rs
  transport/api/Cargo.toml
  transport/protocol/Cargo.toml
Labels: dependencies, crate:hoprd, crate:hopr-transport, crate:hopr-transport-protocol

#7020 Change Zulip channel
  .github/workflows/merge.yaml
Labels: toolchain

#7021 ci: Update renovate configuration
  .github/renovate.json
Labels: toolchain

#7030 Change Zulip notification
  .github/workflows/merge.yaml
Labels: toolchain

#7071 renovate: Update the ignore list
  .github/renovate.json
  Cargo.toml
  uv.lock
Labels: dependencies, toolchain

#7019 Publishing benchmarks
  .github/workflows/bencher-nightly.yaml
  .github/workflows/bencher.yaml
  .github/workflows/merge.yaml
  Cargo.lock
  common/network-types/Cargo.toml
  common/network-types/benches/session.rs
  crypto/packet/benches/packet_benches.rs
  flake.nix
  nix/cargo-bench.nix
  nix/rust-package.nix
  nix/shell.nix
  transport/mixer/benches/mixer_throughput.rs
  transport/protocol/benches/protocol_throughput_emulated.rs
Labels: dependencies, toolchain, crate:hopr-crypto-packet, crate:hopr-transport-protocol

#7085 Fix benchmark testbed
  .github/workflows/bencher.yaml
Labels: toolchain
